<script>
    (function(algolia) {
        'use strict';

        algolia.instantSearchMainTemplate = function instantSearchMainTemplate( html, data ) {
            return html `<div class="ais-page">
        {%- comment -%}<h1 class="ais-h2">${algolia.translations.searchTitle}</h1>{%- endcomment -%}

        <div class="ais-input" style="display:none;">
          <div class="ais-search-box-container"></div>
          <div class="ais-input-button">
            <div class="ais-clear-input-icon"></div>
          </div>
        </div>
        <div class="ais-facets-button">
          Show filters
        </div>
        <div class="ais-facets">
            <div class="ais-facet-header">Filters</div>
          <div class="ais-clear-refinements-container"></div>
          <div class="ais-current-refined-values-container"></div>

           <div class="ais-key-area ais-facet-dropdown-wrapper">
                <div class="ais-facet--header icon-key-header">Icon Key</div>
                <div class="icon-filtering-contain">
                    <div class="icon-filtering" data-filtername="Package" ><div class="icon-wrap" style="font-size: 18px;"><i style="color: rgb(212, 140, 0); margin-left: -3px;" class="fa-sharp fa-regular fa-box-open"></i></div><div class="icon-name">Available in a Package</div><div class="icon-description">Get everything you need with a starter package!</div></div>
                    <div class="icon-filtering" data-filtername="Clearance / Overstock" ><div class="icon-wrap" style="font-size: 18px;"><i class="fa-sharp fa-solid fa-tags"></i></div><div class="icon-name">Clearance / Overstock</div><div class="icon-description">Buy now before they are gone!</div></div>
                    <div class="icon-filtering" data-filtername="Environmentally Responsible" ><div class="icon-wrap" style="font-size: 20px;"><i style="color: rgb(1, 154, 0);" class="fa-solid fa-recycle"></i></div><div class="icon-name">Environmentally Responsible</div><div class="icon-description">Reduce impact on the environment.</div></div>
                    <div class="icon-filtering" data-filtername="Free Shipping" ><div class="icon-wrap" style="font-size: 18px;"><i class="fa-duotone fa-solid fa-truck-fast"></i></div><div class="icon-name">Free Shipping</div><div class="icon-description">Anywhere in the continental US.</div></div>
                    <div class="icon-filtering" data-filtername="Gold Medal Winner" ><div class="icon-wrap"><i class="fa-duotone fa-solid fa-medal"></i></div><div class="icon-name">Gold Medal Winner</div><div class="icon-description">Reliable machines at affordable prices.</div></div>
                    <div class="icon-filtering" data-filtername="On Sale" ><div class="icon-wrap" style="font-size: 18px;"><i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i></div><div class="icon-name">Hot Deal</div><div class="icon-description">Shop now and save!</div></div>
                    <div class="icon-filtering" data-filtername="Made in the USA" ><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="Made in the United States"></img></div><div class="icon-name">Made in the USA</div><div class="icon-description">Support American Workers.</div></div>
                    <div class="icon-filtering" data-filtername="Not Returnable" ><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'not-returnable-icon.png' | file_img_url }}" alt="Not Returnable"></img></div><div class="icon-name">Not Returnable</div><div class="icon-description">Due to the nature of this product, it can not be returned.</div></div>
                    <div class="icon-filtering" data-filtername="Refurbished / Used Model" ><div class="icon-wrap" style="font-size: 18px;"><i class="fa-duotone fa-solid fa-screwdriver-wrench"></i></div><div class="icon-name">Refurbished / Used Model</div><div class="icon-description">Tested & approved to be in good working order!</div></div>
                    <div class="icon-filtering" data-filtername="Discontinued" ><div class="icon-wrap" style="font-size: 20px;"><i class="fa-solid fa-ban"></i></div><div class="icon-name">Unavailable / Discontinued</div><div class="icon-description">This product has been discontinued.</div></div>
                </div>
            </div>



          ${data.facets.map( facet =>
                html`<div class="ais-facet-dropdown-wrapper ais-facet-${facet.type} ais-facet-${facet.escapedName}">
              <label for="${facet.escapedName}" class="ais-range-slider--header ais-facet--header ais-header">
              ${facet.title == "Vendor" ? "Brand" : facet.title}
                <span class="collection-filters__filter-icon open">{% render 'icon-chevron-down-small' %}</span>
              </label>
              <input class="ais-dropdown-checkbox" type="checkbox" id="${facet.escapedName}" name="dropdown" checked />
              <div class="ais-facet-${facet.escapedName}-container ais-facet-dropdown-container"></div>
              <div class="is-showItems"></div>
            </div>`
            )}
        </div>
        <div class="ais-block">
          <div class="ais-search-header">

            {% assign thisPadCategory = "" %}

            {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com" -%}
                {% if collection.handle == "floor-scrubbing-pads" %}
                    {% assign thisPadCategory = "scrubbing" %}
                {% elsif collection.handle == "floor-polishing-pads" %}
                    {% assign thisPadCategory = "polishing" %}
                {% elsif collection.handle == "floor-stripping-pads" %}
                    {% assign thisPadCategory = "stripping" %}
                {% endif %}
            {% endif %}
            {% if thisPadCategory != "" %}
                {%
                render 'pad-charts',
                category: thisPadCategory
                %}
            {% endif %}


          {% if collection.metafields.custom.brand_description %}
          <div class="brand-desc-area">
            <div class="brand-img"><img src="{{ collection.metafields.custom.brand_logo.value | image_url }}" alt="{{ collection.title }} Logo"/></div>
            <div class="brand-desc">{{ collection.metafields.custom.brand_description }}</div>
          </div>
          {% elsif collection.metafields.custom.question %}
          <div class="custom-additional-info">
            <div class="left-col">
                <div class="question"><h3>{{ collection.metafields.custom.question }}</h3></div>
                <div class="answer">{{ collection.metafields.custom.answer | metafield_tag }}</div>
            </div>
            <div class="right-col">
                <div class="areas-of-use">
                    <h3>Areas of Use</h3>
                    <p>
                    {% for area_of_use in collection.metafields.custom.area_of_use.value %}
                        - {{ area_of_use }}<br/>
                    {% endfor %}
                    </p>
                </div>
            </div>
            <div class="clearer"></div>
          </div>
          {% endif %}
            <div class="ais-stats-container"></div>
            <div class="ais-change-display">
                <span class="ais-change-display-block"><i class="fa fa-th-large"></i></span>
                <span class="ais-change-display-list ais-change-display-selected"><i class="fa fa-th-list"></i></span>
            </div>
            <div class="ais-sort">
              ${data.multipleSortOrders ?
                html`${algolia.translations.sortBy} <span class="ais-sort-orders-container"></span>`
                : html`${algolia.translations.sortBy} ${algolia.translations.relevance}`
            }
            </div>
          </div>
          <div class="ais-hits-container ais-results-as-list" itemscope itemtype="http://schema.org/ItemList"></div>
        </div>
        <div class="ais-pagination-container"></div>
        {%- if request.path == '/collections/demoed-refurbished-equipment' -%}
          <div class="discontinued-link">Looking for examples of old refurbished units that we have sold in the past?<br/>View our past <a href="/collections/sold-demos">Sold Used & Refurbished Products</a> for Specs, Manuals, and SDS sheets on unavailable items.</div>
        {%- elsif request.path != '/collections/discontinued' -%}
            <div class="discontinued-link">Looking for info on an old product?<br/>View our <a href="/collections/discontinued">discontinued products</a> for Specs, Manuals, and SDS sheets on unavailable items.</div>
        {%- endif -%}
      </div>`
        };
    })(window.algoliaShopify);

    {%- if template == 'collection' or template == 'search' -%}

        $( document ).ready(function() {
            setTimeout(()=> {
                DecodeThis(); // Decode html on load
                adaAlgoliaFixes();

                //Collapse filters and options within filters
                var counter = 1;
                $( ".ais-facet-dropdown-wrapper" ).each(function( index ) {

                    if($(this).find( ".ais-facet--header" ).text() == "Tags"){
                        setTimeout(()=> {
                            {%- if request.path == '/collections/discontinued' -%}
                                $(this).find( ".ais-RefinementList-item" ).each(function( index ) {
                                    var labelTextcheck = $(this).clone().find('.ais-RefinementList-count').remove().end().text().trim();
                                    if(labelTextcheck == "Discontinued"){
                                        showallicons = "false";
                                        if ($('.ais-page .ais-key-area .icon-filtering[data-filtername="' + "Discontinued" + '"]').length) {
                                            $('.ais-page .ais-key-area').addClass('showicon');
                                            $('.ais-page .ais-key-area .icon-filtering[data-filtername="' + "Discontinued" + '"]').addClass('showicon');
                                        }
                                    }
                                });
                            {%- else -%}
                                $(this).find(".ais-RefinementList-item").each(function (index) {
                                    var labelText = $(this).clone().find('.ais-RefinementList-count').remove().end().text().trim();
                                    if ($('.ais-page .ais-key-area .icon-filtering[data-filtername="' + labelText + '"]').length) {
                                        $('.ais-page .ais-key-area').addClass('showicon');
                                        $('.ais-page .ais-key-area .icon-filtering[data-filtername="' + labelText + '"]').addClass('showicon');
                                    }
                                });
                            {%- endif -%}
                        }, "800");
                    }

                    if(counter <= 3){
                        $(this).find( ".ais-dropdown-checkbox" ).prop( "checked", false );
                        $(this).find( ".collection-filters__filter-icon" ).addClass('productgrid--sidebar-button-active');
                    }else{
                        $(this).find( ".ais-dropdown-checkbox" ).prop( "checked", true );
                    }

                    var optioncounter = 1;
                    $(this).find( ".ais-RefinementList-item" ).each(function( index ) {
                        if(optioncounter > 4){
                            $(this).hide();
                        }
                        optioncounter++;
                    });
                    if(optioncounter > 5){
                        $(this).find( ".is-showItems" ).html("Show More");
                        if(counter > 3){
                            $(this).find( ".is-showItems" ).hide();
                        }
                    }
                    counter++;
                });

                //hide show "show more" depending on if attribute is expanded
                $( ".ais-dropdown-checkbox" ).click(function( index ) {
                    if($(this).is(':checked')){
                        $(this).parent(".ais-facet-dropdown-wrapper").find( ".is-showItems" ).hide();
                        $(this).parent(".ais-facet-dropdown-wrapper").find( ".collection-filters__filter-icon" ).removeClass('productgrid--sidebar-button-active');
                    }else{
                        $(this).parent(".ais-facet-dropdown-wrapper").find( ".is-showItems" ).show();
                        $(this).parent(".ais-facet-dropdown-wrapper").find( ".collection-filters__filter-icon" ).addClass('productgrid--sidebar-button-active');
                    }
                });

                //show more items when there are more than 4
                $( ".is-showItems" ).click(function( index ) {
                    if($(this).html() == "Show More"){
                        $(this).parent(".ais-facet-dropdown-wrapper").find(".ais-RefinementList-item").show();
                        $(this).html("Show Less");
                    }else{
                        var optioncounter = 1;
                        $(this).parent(".ais-facet-dropdown-wrapper").find(".ais-RefinementList-item").each(function( index ) {
                            if(optioncounter > 4){
                                $(this).hide();
                            }
                            optioncounter++;
                        });
                        $(this).html("Show More");
                    }
                });

                $( ".search-finance-wrapper" ).click(function( e ) {
                    e.stopPropagation();
                });

                //Link to bundles from parent popup (code duplicated in algolia_instant_search.js)
                var bndpopCounter = 0;
                $( ".bnd-pop-algolia" ).click(function( e ) {
                    e.stopPropagation();
                    if(bndpopCounter == 0){
                        bndpopCounter++
                        const handleArr = $(this).data('bndhandle').split(", ");
                        $('.popup-container .content').append("<h2 style='margin-top:0;'>Package Options</h2>");
                        var counter = 0;
                        if($(this).hasClass("bnd-pop-2col")){
                            var max = 2;
                            $('.popup-container .content').append("<div class='package-option-container contain-2col'></div>");
                        }else{
                            var max = 1;
                            $('.popup-container .content').append("<div class='package-option-container'></div>");
                        }
                        if($(this).hasClass("bnd-pop-extra")){
                            const currHandle = $(this).data('currhandle')
                            var randomNum = Math.floor(Math.random() * 100);
                            $('.popup-container .content').append("<div class='package-extra'><a href='/products/"+currHandle+"?"+randomNum+"#bundles'>View More <i class='fa-solid fa-arrow-right-to-bracket'></i></a></div>");
                        }
                        $.each ( handleArr, function (indexes, handle){
                            if(handle != "undefined" && handle != "" && counter < max){
                                var fetchUrl = `${window.Theme.routes.all_products_collection_url}/products/${handle}?view=bundle-pop`;
                                $.get(fetchUrl).then(response => {
                                    if (response) {
                                        $('.popup-container .content .package-option-container').append(response);
                                    }else{
                                        console.log('product not returned');
                                    }
                                })
                                counter++
                            }
                        });

                        setTimeout(() => {
                            if($(this).hasClass("bnd-pop-2col")){
                                $('.popup-container').addClass('widepop');
                            }
                            $('.popup-container').removeClass('hidden');
                            $(".pop-grad").removeClass('hidden');
                            bndpopCounter = 0;
                        }, "500");
                    }
                });


                $( ".icon-filtering" ).click(function( e ) {
                    var filtername = $(this).data('filtername');
                    $('label.ais-facet--label:contains('+filtername+')').trigger("click");
                });

                //watch for changes in dropdown to reload stuff
                const target = document.querySelector('.ais-facet-dropdown-container');
                const observer = new MutationObserver(function(mutations) {
                    // console.log('observer updated');
                    DecodeThis(); //Trigger Decode
                    filterTrigger(); //trigger hide/show for filter and options.
                    adaAlgoliaFixes();

                });
                // Configure and start the observer
                const config = { subtree: true, childList: true };
                observer.observe(target, config);


                $( ".ais-product[data-inbundles-off]").each(function( index ) {
                    var inbundlesArr =$(this).data("inbundles").split(' ');
                    var inbundlesLength = inbundlesArr.length;
                    var htmladd = ""
                    var counter = 1;
                    for (var i = 0; i < inbundlesLength; i++) {
                        if (inbundlesArr[i] != "undefined" && inbundlesArr[i] != "") {
                            // $(".ais-product[data-handle='"+inbundlesArr[i]+"']").addClass('bnd-format');
                            // htmladd = htmladd+$(".ais-product[data-handle='"+inbundlesArr[i]+"']").html();
                            var fetchUrl = `${window.Theme.routes.all_products_collection_url}/products/${inbundlesArr[i]}?view=bundle-algolia-area`;
                            $.get(fetchUrl).then(response2 => {
                                if (response2) {
                                   $(this).find(".bnd-area").addClass('bnd-area-vis').append(response2);
                                    $(this).addClass('hasbnds');
                                    if(counter > 1 ){
                                        $(this).find(".inbndtitle").text('In Bundles')
                                    }
                                    counter++;
                                }else{
                                    console.log('product not returned');
                                }
                            })

                        }
                    }
                    // $(this).find(".bnd-area").html(htmladd);
                    // $(this).addClass('has-bnd-area');

                });
            },300);


            //Trigger when filter is selected
            function filterTrigger(){
                setTimeout(()=> {
                    $( ".ais-facet-dropdown-wrapper .is-showItems" ).hide();
                    $(".ais-facet-dropdown-wrapper:visible").each(function( index ) {
                        var optioncounter = 1;
                        $(this).find(".ais-RefinementList-item:visible").each(function( index ) {
                            if(optioncounter > 4){
                                $(this).hide();
                            }
                            optioncounter++;
                        });
                        if(optioncounter > 4){
                            $(this).find( ".is-showItems" ).html("Show More").show();
                        }
                    });
                },300);
            }

            //convert html------------------------>
            function DecodeThis(){
                setTimeout(()=> {
                    // console.log('decoding now')
                    DecodeHTMLarea(".product-description-raw");
                    DecodeHTMLarea(".customhot-raw");
                    DecodeHTMLarea(".sx-status-other-raw");
                    DecodeHTMLarea(".is-review-raw");
                    DecodeHTMLarea(".is-review-raw");
                    DecodeHTMLarea(".finance-raw");
                },300);
            }

            function DecodeHTMLarea(elementClass){
                $( elementClass ).each(function( index ) {
                    var visElement = elementClass.replace('-raw','')+'[data-objid="'+$(this).data("objid")+'"]';
                    var decodeDesc = DecodeHTML($(this).html());
                    $(visElement).html(decodeDesc);
                });
            }

            function DecodeHTML(encodedString) {
                var textArea = document.createElement('textarea');
                textArea.innerHTML = encodedString;
                return textArea.value;
            }
            function adaAlgoliaFixes(encodedString) {
                $(".ais-SortBy-select").prop('title', 'Sorted By Dropdown'); // add title to sort by dropdown for ADA compliance
                $(".rheostat-handle-lower").prop('title', 'lower range'); // add title to sort by dropdown for ADA compliance
                $(".rheostat-handle-upper").prop('title', 'upper range'); // add title to sort by dropdown for ADA compliance
            }
        });

    {% endif %}


</script>
