{%- assign product = product-%}


{%- assign stockcheck = "" -%}
{%- assign stockisthesame = true -%}
{%- assign soldoutitems = false -%}


    {%- assign bproducts = product.metafields.plytix.package_products | split: "," %}
    {%- assign freeproducts = product.metafields.plytix.packaged_free_product | split: "," %}

    <section class="bundled-products-grid">
        <table class="custom-bundle">
            <tbody>
                <tr class="bundle-title"><th></th><th class="item-name">Product Name</th><th class="item-qty">Qty</th><th class="item-price">Price</th></tr>

            {% for bproduct in bproducts %}
                {% assign attr = bproduct | split: "#" %}
                {%- assign bundlep = attr[0] | strip %}
                {% assign pkgqnty = attr[1] %}
                {%- assign sellable = true %}
                {%- if all_products[bundlep].available == false -%}
                    {% comment %}soldout{% endcomment %}
                    {%- assign sellable = false -%}
                    {%- assign soldoutitems = true -%}
                {%- endif -%}
                <tr class="bnd-product-row {% if sellable == false %}sold-product{% endif %}" itemtype="https://schema.org/Product" itemscope>
                    <td class="custom-bundle-col-img">
                        <div class="p-image">
                            <img class="img-responsive" src="{{ all_products[bundlep].featured_image | img_url: '100x100' }}" alt="{{ all_products[bundlep].featured_image.alt }}"/>
                        </div>
                    </td>
                    <td class="custom-bundle-col-prod">

                        <meta itemprop="mpn" content="{{ all_products[bundlep].metafields.plytix.erp_sku }}" />
                        <meta itemprop="name" content="{{ all_products[bundlep].title |  escape }}" />
                        <link itemprop="image" href="{{ all_products[bundlep].featured_image | img_url: '300x300' }}" />
                        <meta itemprop="description" content="{{ all_products[bundlep].metafields.plytix.short_description | escape }}" />
                        {% comment %}reviews{% endcomment %}
                        {% if all_products[bundlep].metafields.reviews.rating_count %}
                            <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
                                <meta itemprop="reviewCount" content="{{ all_products[bundlep].metafields.reviews.rating_count }}" />
                                <meta itemprop="ratingValue" content="{{ all_products[bundlep].metafields.reviews.rating.value }}" />
                            </div>
                        {% endif %}
                        <meta itemprop="sku" content="{{ all_products[bundlep].metafields.plytix.erp_sku }}" />
                        <div itemprop="offers" itemtype="https://schema.org/Offer" itemscope>
                            {%- if all_products[bundlep].price_min == all_products[bundlep].price_max -%}
                                <meta itemprop="price" content="{{ all_products[bundlep].price | money_without_currency | remove: ',' }}" />
                            {%- else -%}
                                <meta itemprop="lowPrice" content="{{ all_products[bundlep].price_min | money_without_currency | remove: ',' }}" />
                                <meta itemprop="highPrice" content="{{ all_products[bundlep].price_max | money_without_currency | remove: ',' }}" />
                            {%- endif -%}
                            <meta itemprop="priceCurrency" content="USD" />
                        </div>
                        <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                            <meta itemprop="name" content="{{ all_products[bundlep].vendor }}" />
                        </div>
                        {% comment %}end of structured data{% endcomment %}

                        <div class="bundle-name child-name-pop" data-popthis="bund-pop-{{ all_products[bundlep].id }}">
                            {{ all_products[bundlep].title |  escape }}
                        </div>
                        <div class="stock-status">
                            {% comment %}Get stock status for logging in order at time of order --------------------------------------------------------------------{% endcomment %}

                            {% assign stockStatusMain = "" %}
                            {% assign stockStatusSub = "" %}
                            {% assign fservice = all_products[bundlep].selected_or_first_available_variant.fulfillment_service %}
                            {% assign leadTime = all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sxerp_lead_time %}
                            {% assign inventoryQuantity = all_products[bundlep].selected_or_first_available_variant.inventory_quantity %}
                            {% assign inventoryQuantity = inventoryQuantity | plus: 0 %}
                            {% assign leadTime = leadTime | plus: 0 %}

                            {% if all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' %}
                                {% assign stockStatusMain = "Ships Direct from Manufacturer" %}
                                {% assign stockStatusSub = "May Have Extended Lead Times" %}
                            {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantity <  1 %}
                                {% assign stockStatusMain = "Temporarily On Backorder" %}
                                {% if leadTime < 22  %}
                                    {% assign stockStatusSub = "Estimated Ship Date 1 – 3 wks" %}
                                {% elsif leadTime < 29 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 2 – 4 wks" %}
                                {% elsif leadTime < 36 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 3 – 5 wks" %}
                                {% elsif leadTime < 43 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 4 –6 wks" %}
                                {% elsif leadTime < 50 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 5 – 7 wks" %}
                                {% elsif leadTime < 57 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 6 – 8 wks" %}
                                {% elsif leadTime < 64 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 7 – 9 wks" %}
                                {% elsif leadTime < 71 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 8 – 10 wks" %}
                                {% elsif leadTime < 78 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 9 – 11 wks" %}
                                {% elsif leadTime < 85 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 10 – 12 wks" %}
                                {% elsif leadTime < 121 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 3 – 4 mths" %}
                                {% elsif leadTime < 151 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 4 – 5 mths" %}
                                {% elsif leadTime < 181 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 5 – 6 mths" %}
                                {% elsif leadTime < 211 %}
                                    {% assign stockStatusSub = "Estimated Ship Date 6 – 7 mths" %}
                                {% elsif leadTime < 1000 %}
                                    {% assign stockStatusSub = "Estimated Ship Date over 7 mths" %}
                                {% endif %}
                            {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_management == nil and leadTime %}
                                {% assign stockStatusMain = "Special Order Item" %}
                                {% if leadTime < 22  %}
                                    {% assign stockStatusSub = "Expected to ship in 1 – 3 wks" %}
                                {% elsif leadTime < 29 %}
                                    {% assign stockStatusSub = "Expected to ship in 2 – 4 wks" %}
                                {% elsif leadTime < 36 %}
                                    {% assign stockStatusSub = "Expected to ship in 3 – 5 wks" %}
                                {% elsif leadTime < 43 %}
                                    {% assign stockStatusSub = "Expected to ship in 4 – 6 wks" %}
                                {% elsif leadTime < 50 %}
                                    {% assign stockStatusSub = "Expected to ship in 5 – 7 wks" %}
                                {% elsif leadTime < 57 %}
                                    {% assign stockStatusSub = "Expected to ship in 6 – 8 wks" %}
                                {% elsif leadTime < 64 %}
                                    {% assign stockStatusSub = "Expected to ship in 7 – 9 wks" %}
                                {% elsif leadTime < 71 %}
                                    {% assign stockStatusSub = "Expected to ship in 8 – 10 wks" %}
                                {% elsif leadTime < 78 %}
                                    {% assign stockStatusSub = "Expected to ship in 9 – 11 wks" %}
                                {% elsif leadTime < 85 %}
                                    {% assign stockStatusSub = "Expected to ship in 10 – 12 wks" %}
                                {% elsif leadTime < 121 %}
                                    {% assign stockStatusSub = "Expected to ship in 3 – 4 mths" %}
                                {% elsif leadTime < 151 %}
                                    {% assign stockStatusSub = "Expected to ship in 4 – 5 mths" %}
                                {% elsif leadTime < 181 %}
                                    {% assign stockStatusSub = "Expected to ship in 5 – 6 mths" %}
                                {% elsif leadTime < 211 %}
                                    {% assign stockStatusSub = "Expected to ship in 6 – 7 mths" %}
                                {% elsif leadTime < 1000 %}
                                    {% assign stockStatusSub = "Expected to ship in over 7 mths" %}
                                {% endif %}
                            {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_quantity > 0 %}
                                {% assign stockStatusMain = '<div class="product-detail-stock-and-shipping"><i class="fa-regular fa-circle-check"></i>&nbsp;<div class="stock-message main-notice">In Stock</div></div>' %}
                            {% endif %}

                            {% if stockStatusSub != "" %}
                                {%- capture stockStatusNote -%}<span class="status"><strong>{{ stockStatusMain }}</strong></span><br/><span class="substatus">({{ stockStatusSub }})</span>{%- endcapture -%}
                            {% else %}
                                {%- capture stockStatusNote -%}<span class="status"><strong>{{ stockStatusMain }}</strong></span>{%- endcapture -%}
                            {% endif %}

                            {% if sellable == true %}
                                <div>{{ stockStatusNote }}</div>
                            {% else %}
                                <div class="soldout">Sold Out</div>
                            {% endif %}

                                {% comment %}End of stock status logic ----------------------------------------------------------------------------------------------- {% endcomment %}

                            {% if stockcheck == "" %}
                                {%- assign stockcheck = stockStatusMain -%}
                            {% elsif stockcheck != stockStatusMain %}
                                {%- assign stockisthesame = false -%}
                            {% endif %}
                        </div>
                        <div class="bund-pop-{{ all_products[bundlep].id }} child-details-pop" style="display:none;">
                            <div class="bundle-child-details">
                                <div class="pop-image"><img class="img-responsive" src="{{ all_products[bundlep].featured_image | img_url: '100x100' }}" alt="{{ all_products[bundlep].featured_image.alt }}"/></div>
                                <div class="pop-title">{{ all_products[bundlep].title |  escape }}</div>
                                <div class="pop-pricing"><span>{{ all_products[bundlep].price | money }}</span></div>
                                <div class="pop-stock">{{ stockStatusNote }}</div>
                                <div class="pop-short"><ul><li>Package Quantity: {{ pkgqnty }}</li></ul>{{ all_products[bundlep].metafields.plytix.short_description }}</div>
                                <div class="pop-icons">
                                    {%
                                            render 'product-icons',
                                            product: all_products[bundlep]
                                    %}
                                </div>
                                {% if all_products[bundlep].metafields.plytix.hide_product != 'true' %}
                                    <div class="pop-link"><a class="add-to-cart-btn" href="{{ all_products[bundlep].url }}">VIEW PRODUCT</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td class="custom-bundle-col-qty">
                        <span class="qty-holder">
                            <label for="bundle-option-75-406-qty-input">
                            </label>
                            <input disabled="disabled" class="input-text qty qty-disabled form-control" type="text" value="{{ pkgqnty }}">
                        </span>
                    </td>
                    <td class="custom-bundle-col-price">
                        <div class="price">
                            {% assign pkgqnty = pkgqnty | plus: 0 %}
                                <div class="full-p">{{ all_products[bundlep].price | times: pkgqnty | money }}</div>
                            {% comment %}list
                            {% if all_products[bundlep].plytix.list_price != blank %}
                                    <div class="markdown-p">{{ all_products[bundlep].plytix.list_price | times: pkgqnty | money }}</div>
                                {% endif %}
                            {% endcomment %}
                        </div>
                    </td>
                </tr>
            {% endfor %}



                {% for bproduct in freeproducts %}
                    {% assign attr = bproduct | split: "#" %}
                    {%- assign bundlep = attr[0] | strip %}
                    {% assign pkgqnty = attr[1] %}
                    {% assign sellable = true %}
                    {%- if all_products[bundlep].available == false -%}
                        {% comment %}soldout{% endcomment %}
                        {%- assign sellable = false -%}
                        {%- assign soldoutitems = true -%}
                    {%- endif -%}
                    <tr class="bnd-product-row {% if sellable == false %}sold-product{% else %}freegift{% endif %}" itemtype="https://schema.org/Product" itemscope>
                        <td class="custom-bundle-col-img">
                            <div class="p-image">
                                <img class="img-responsive" src="{{ all_products[bundlep].featured_image | img_url: '100x100' }}" alt="{{ all_products[bundlep].featured_image.alt }}"/>
                            </div>
                        </td>
                        <td class="custom-bundle-col-prod">
                            {% comment %}structured data{% endcomment %}
                            <meta itemprop="mpn" content="{{ all_products[bundlep].metafields.plytix.erp_sku }}" />
                            <meta itemprop="name" content="{{ all_products[bundlep].title |  escape }}" />
                            <link itemprop="image" href="{{ all_products[bundlep].featured_image | img_url: '300x300' }}" />
                            <meta itemprop="description" content="{{ all_products[bundlep].metafields.plytix.short_description | escape }}" />
                            {% comment %}reviews{% endcomment %}
                            {% if all_products[bundlep].metafields.reviews.rating_count %}
                                <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
                                    <meta itemprop="reviewCount" content="{{ all_products[bundlep].metafields.reviews.rating_count }}" />
                                    <meta itemprop="ratingValue" content="{{ all_products[bundlep].metafields.reviews.rating.value }}" />
                                </div>
                            {% endif %}
                            <meta itemprop="sku" content="{{ all_products[bundlep].metafields.plytix.erp_sku }}" />

                            <div itemprop="offers" itemtype="https://schema.org/Offer" itemscope>
                                <meta itemprop="price" content="0" />
                                <meta itemprop="priceCurrency" content="USD" />
                            </div>

                            <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                                <meta itemprop="name" content="{{ all_products[bundlep].vendor }}" />
                            </div>
                            {% comment %}end of structured data{% endcomment %}

                            <div class="bundle-name child-name-pop" data-popthis="bund-pop-{{ all_products[bundlep].id }}">
                                {{ all_products[bundlep].title |  escape }}
                            </div>
                            <div class="stock-status">
                                {% comment %}Get stock status for logging in order at time of order --------------------------------------------------------------------{% endcomment %}

                                {% assign stockStatusMain = "" %}
                                {% assign stockStatusSub = "" %}
                                {% assign fservice = all_products[bundlep].selected_or_first_available_variant.fulfillment_service %}
                                {% assign leadTime = all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sxerp_lead_time %}
                                {% assign inventoryQuantity = all_products[bundlep].selected_or_first_available_variant.inventory_quantity %}
                                {% assign inventoryQuantity = inventoryQuantity | plus: 0 %}
                                {% assign leadTime = leadTime | plus: 0 %}

                                {% if all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' %}
                                    {% assign stockStatusMain = "Ships Direct from Manufacturer" %}
                                    {% assign stockStatusSub = "May Have Extended Lead Times" %}
                                {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantity <  1 %}
                                    {% assign stockStatusMain = "Temporarily On Backorder" %}
                                    {% if leadTime < 22  %}
                                        {% assign stockStatusSub = "Estimated Ship Date 1 – 3 wks" %}
                                    {% elsif leadTime < 29 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 2 – 4 wks" %}
                                    {% elsif leadTime < 36 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 3 – 5 wks" %}
                                    {% elsif leadTime < 43 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 4 –6 wks" %}
                                    {% elsif leadTime < 50 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 5 – 7 wks" %}
                                    {% elsif leadTime < 57 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 6 – 8 wks" %}
                                    {% elsif leadTime < 64 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 7 – 9 wks" %}
                                    {% elsif leadTime < 71 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 8 – 10 wks" %}
                                    {% elsif leadTime < 78 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 9 – 11 wks" %}
                                    {% elsif leadTime < 85 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 10 – 12 wks" %}
                                    {% elsif leadTime < 121 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 3 – 4 mths" %}
                                    {% elsif leadTime < 151 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 4 – 5 mths" %}
                                    {% elsif leadTime < 181 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 5 – 6 mths" %}
                                    {% elsif leadTime < 211 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 6 – 7 mths" %}
                                    {% elsif leadTime < 1000 %}
                                        {% assign stockStatusSub = "Estimated Ship Date over 7 mths" %}
                                    {% endif %}
                                {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_management == nil and leadTime %}
                                    {% assign stockStatusMain = "Special Order Item" %}
                                    {% if leadTime < 22  %}
                                        {% assign stockStatusSub = "Expected to ship in 1 – 3 wks" %}
                                    {% elsif leadTime < 29 %}
                                        {% assign stockStatusSub = "Expected to ship in 2 – 4 wks" %}
                                    {% elsif leadTime < 36 %}
                                        {% assign stockStatusSub = "Expected to ship in 3 – 5 wks" %}
                                    {% elsif leadTime < 43 %}
                                        {% assign stockStatusSub = "Expected to ship in 4 – 6 wks" %}
                                    {% elsif leadTime < 50 %}
                                        {% assign stockStatusSub = "Expected to ship in 5 – 7 wks" %}
                                    {% elsif leadTime < 57 %}
                                        {% assign stockStatusSub = "Expected to ship in 6 – 8 wks" %}
                                    {% elsif leadTime < 64 %}
                                        {% assign stockStatusSub = "Expected to ship in 7 – 9 wks" %}
                                    {% elsif leadTime < 71 %}
                                        {% assign stockStatusSub = "Expected to ship in 8 – 10 wks" %}
                                    {% elsif leadTime < 78 %}
                                        {% assign stockStatusSub = "Expected to ship in 9 – 11 wks" %}
                                    {% elsif leadTime < 85 %}
                                        {% assign stockStatusSub = "Expected to ship in 10 – 12 wks" %}
                                    {% elsif leadTime < 121 %}
                                        {% assign stockStatusSub = "Expected to ship in 3 – 4 mths" %}
                                    {% elsif leadTime < 151 %}
                                        {% assign stockStatusSub = "Expected to ship in 4 – 5 mths" %}
                                    {% elsif leadTime < 181 %}
                                        {% assign stockStatusSub = "Expected to ship in 5 – 6 mths" %}
                                    {% elsif leadTime < 211 %}
                                        {% assign stockStatusSub = "Expected to ship in 6 – 7 mths" %}
                                    {% elsif leadTime < 1000 %}
                                        {% assign stockStatusSub = "Expected to ship in over 7 mths" %}
                                    {% endif %}
                                {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_quantity > 0 %}
                                    {% assign stockStatusMain = '<div class="product-detail-stock-and-shipping"><i class="fa-regular fa-circle-check"></i>&nbsp;<div class="stock-message main-notice">In Stock</div></div>' %}
                                {% endif %}

                                {% if stockStatusSub != "" %}
                                    {%- capture stockStatusNote -%}<span class="status"><strong>{{ stockStatusMain }}</strong></span><br/><span class="substatus">({{ stockStatusSub }})</span>{%- endcapture -%}
                                {% else %}
                                    {%- capture stockStatusNote -%} <span class="status"><strong>{{ stockStatusMain }}</strong></span>{%- endcapture -%}
                                {% endif %}
                                {% if sellable == true %}
                                    <div>{{ stockStatusNote }}</div>
                                {% else %}
                                    <div class="soldout">Sold Out</div>
                                {% endif %}
                                {% comment %}End of stock status logic ----------------------------------------------------------------------------------------------- {% endcomment %}

                                {% if stockcheck == "" %}
                                    {%- assign stockcheck = stockStatusMain -%}
                                {% elsif stockcheck != stockStatusMain %}
                                    {%- assign stockisthesame = false -%}
                                {% endif %}
                            </div>
                            <div class="bund-pop-{{ all_products[bundlep].id }} child-details-pop" style="display:none;">
                                <div class="bundle-child-details">
                                    <div class="pop-image"><img class="img-responsive" src="{{ all_products[bundlep].featured_image | img_url: '100x100' }}" alt="{{ all_products[bundlep].featured_image.alt }}"/></div>
                                    <div class="pop-title">{{ all_products[bundlep].title |  escape }}</div>
                                    <div class="pop-pricing"><span>{{ all_products[bundlep].price | money }}</span></div>
                                    <div class="pop-stock">{{ stockStatusNote }}</div>
                                    <div class="pop-short"><ul><li>Package Quantity: <span class="pk-free">{{ pkgqnty }} for FREE!</span></li></ul>{{ all_products[bundlep].metafields.plytix.short_description }}</div>

                                    <div class="pop-icons">
                                        {%
                                                render 'product-icons',
                                                product: all_products[bundlep]
                                        %}
                                    </div>
                                    {% if all_products[bundlep].metafields.plytix.hide_product != 'true' %}
                                        <div class="pop-link"><a class="add-to-cart-btn" href="{{ all_products[bundlep].url }}">VIEW PRODUCT</a></div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="custom-bundle-col-qty">
                        <span class="qty-holder">
                            <label for="bundle-option-75-406-qty-input">
                            </label>
                            <input disabled="disabled" class="input-text qty qty-disabled form-control" type="text" value="{{ pkgqnty }}">
                        </span>
                        </td>
                        <td class="custom-bundle-col-price">
                            <div class="price">
                                {% assign pkgqnty = pkgqnty | plus: 0 %}
                                <div class="free-tag">FREE!</div>
                                <div class="full-p value"><span class="disount">{{ all_products[bundlep].price | times: pkgqnty | money }}</span> Value</div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody></table>
    </section>
<style>
    .bundled-products-grid table .stock-status{height: 0; overflow: hidden; transition: all 1.5s ease-in-out;}
    .bundled-products-grid table .stock-status.showme{height: unset; }
    .stock-gen-bundle{cursor:pointer};
</style>

{% if stockisthesame  %}
    <script>
        $(document).ready(function($) {
            $('.bundle-status-area').html('<div>{{ stockcheck  }}</div>');
        });
    </script>
{% else %}
    <script>
        $(document).ready(function($) {
            $('.bundle-status-area').html('<div class="stock-gen-bundle" onclick="showstock();"><strong>Click to display individual stock status details.</strong></div>');
        });
    </script>
{% endif %}

{%- if soldoutitems == true -%}
    <div class="crawlcheck crawlcheck-bnd-sold"><!-- check product bundle for sold out --></div>
{%- endif -%}
<script>
    $(document).ready(function($) {
        $( ".child-name-pop" ).on( "click", function() {
            $('.popup-container').removeClass('hidden');
            var popthis = $(this).data('popthis');
            //html from .child-details-pop
            var thisHtml = $('.'+popthis).html();
            $('.popup-container .content').html(thisHtml);
            $(".pop-grad").removeClass('hidden');
        });

        {%- if soldoutitems == true -%}
        $('.product-form--regular .product-form--atc').css("font-size","17px").html('<div style="background-color:#fff4c7; padding:10px; border:1px solid #ccc; border-radius: 10px;"><div><strong>Sold Out</strong></div><div class="soldoutbundle-dir">Please contact support at <strong>{{ shop.phone }}</strong> to order the bundle with an available replacement item.</div></div>');
        {%- endif -%}
    });


    function showstock(){
        if($('.stock-gen-bundle strong').hasClass('hidestock')){
            $('.stock-gen-bundle strong').removeClass('hidestock');
            $('.stock-gen-bundle strong').text('Click to display individual stock status details.');
            $('.bundled-products-grid table .stock-status').removeClass('showme');
            $('.bundled-products-grid table .bnd-product-row').removeClass('sold-product');

        }else{
            $('.stock-gen-bundle strong').text('Click to hide stock status details.');
            $('.stock-gen-bundle strong').addClass('hidestock');

            $('.bundled-products-grid table .stock-status').addClass('showme');
            $('.bundled-products-grid table .bnd-product-row').each(function(){
                if($(this).find(".stock-status").text().trim() != "In Stock"){
                    $(this).addClass('sold-product');
                }
            });
            $([document.documentElement, document.body]).animate({
                scrollTop: $(".bundled-products-grid").offset().top -100
            }, 1000);
        }



    }



</script>