{% assign compare_at_price = 0 %}
{% assign available = 999999 %}
{% comment %}to style like a superfreak addon{% endcomment %}
{% assign sf_addon = sf_addon %}

{%- assign pclearance = false -%}
{%- assign noreturn = false -%}
{%- for c in product.collections -%}
    {%- if c.handle == "clearance" -%}
        {%- assign pclearance = true -%}
    {%- endif -%}
{%- endfor -%}

{% for variant in item.product.variants %}
  {% if variant.id == item.variant.id and variant.compare_at_price > item.price %}
    {% assign compare_at_price = variant.compare_at_price %}
    {% if variant.inventory_management == 'middleware-fulfillment' and  variant.inventory_quantity >  1 %}
      {% assign available = variant.inventory_quantity %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}

{%- assign item_has_discounts = false -%}
{%- if item.line_level_discount_allocations.size > 0 -%}
  {%- assign item_has_discounts = true -%}
{%- endif -%}

{%- assign product_bundle = '' -%}
{%- assign pstep = '' -%}
{%- assign fgbogo = false -%}
{%- assign fgbogo-rule = false -%}
{%- assign sf_eligible = false -%}
{% unless item.properties == empty %}
  {% for property in item.properties %}
    {% if property.first == '_bundle_product' %}
      {% assign product_bundle = property.last %}
    {% endif %}
    {% if property.first == 'Status' %}
      {% assign stock_status = property.last %}
    {% endif %}
    {% if property.first == '_product_step' %}
      {% assign pstep = property.last %}
    {% endif %}
    {% if property.first == '_sf_eligible' %}
            {% assign sf_eligible = true %}
    {% endif %}
    {% if property.first == '_bogorule' %}
      {%- assign fgbogo-rule = property.last -%}
    {% endif %}
    {% if property.first == '_tiered_pricing' %}
        {%- assign tiered_pricing = property.last -%}
          {% if property.last == 'fg-bogo' %}
            {%- assign fgbogo = true -%}
          {% endif %}
          {% if property.last == 'fg-1000' %}
            {%- assign fgbogo = true -%}
          {% endif %}
    {% endif %}
      {% if property.first == '_org_price' %}
          {%- assign org_price = property.last | plus: 0 -%}
      {% endif %}
  {% endfor %}
{% endunless %}

<li
        class="cart-item {% if sf_addon == 0 %}sf-cart-addon{% elsif sf_addon > 0 %}has-sf-cart-addon{% endif %} {% if product_bundle != '' %}{{ product_bundle | escape  }}{% endif %} {% if pstep != '' %}stepValItem{% endif %} {% if fgbogo-rule %}{{ fgbogo-rule }}{% endif %}"
        id="lineitem-{{ item.variant_id }}"
        data-cartitem
        data-cartitem-id="{{ item.variant_id }}"
        data-cartitem-key="{{ item.key }}"
        data-cartitem-price="{{ item.price }}"
        data-cartitem-step="{{ pstep }}"
>
  <figure class="cart-item--image-wrapper">
    <a href="{{ item.url }}">
      {% if item.image %}
        {% if sf_addon == 0 %}
          <img src="{{ 'superfreak-logo-sm.png' | file_img_url  }}" alt="Superfreak" />
        {% else %}
          {%
                  render 'rimg',
                  img: item.image,
                  alt: item.title,
                  size: '120x'
          %}
        {% endif %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
      {% endif %}
    </a>
  </figure>

  <div class="cart-item--inner">

    {% assign sf_sku = "" %}
    {% unless item.properties == empty %}
      {% for property in item.properties %}
        {% if property.first == 'SuperFreak Item' %}
          {% assign sf_sku = property.last %}
        {% endif %}
      {% endfor %}
    {% endunless %}

    <div class="cart-item--content">
      <h2 class="cart-item--content-title">
        <a href="{{ item.url }}">
          {{ item.product.title }}{% if sf_sku != "" %} for "{{ sf_sku }}"{% endif %}
        </a>
      </h2>

      {% unless item.product.has_only_default_variant %}
        {% for option in item.product.options %}
          <div class="cart-item--product-options">
            <span class="cart-item--option-name">{{ option }}</span>
            {{ item.variant.options[forloop.index0] }}
          </div>
        {% endfor %}
      {% endunless %}
      {% if product_bundle != '' %}
        <div class="cart-item--product-options">
          {%- assign current_variant = all_products[product_bundle].selected_or_first_available_variant -%}
          Part of package <a style="color: inherit;" href="{{ all_products[product_bundle].url }}">{{ current_variant.sku }}</a>
        </div>
      {% endif %}

      {% if item.selling_plan_allocation.selling_plan %}
        {% if item.sku == 'SUPERFREAK' %}
          <span class="cart-item--line-item-subscriptions">{{ item.selling_plan_allocation.selling_plan.name | replace:"Delivery every year","Renews annually. Cancel anytime. <a target='_blank' href='/pages/superfreak-terms'>See terms</a>."}}</span>
        {% else %}
          <span class="cart-item--line-item-subscriptions">{{ item.selling_plan_allocation.selling_plan.name }}</span>
        {% endif %}
      {% endif %}
      {% if item_has_discounts == false -%}
          {%- comment -%} Old way
        <div class="cart-item--content-price">
        <span class="cart-item--price-title">
          {{ 'cart.general.price' | t }}
        </span>

          {% if compare_at_price > item.price or item.original_price > item.final_price or org_price > item.price %}
            <span class="visually-hidden">{{ 'product_price.price.original' | t }}</span>
            <s class="cart-item--sale-price money">
              {%- if item_has_discounts -%}
                {{ item.original_price | money }}
            {%- elsif org_price > item.price -%}
                    {{ org_price  | money }}
              {%- else -%}
                {{ compare_at_price | money }}
              {%- endif %}
            </s>
            <span class="visually-hidden">{{ 'product_price.price.current' | t }}</span>
          {% endif %}

          <span class="money {% if item_has_discounts %}cart-item--discount-price{% endif %}">
          {%- if item_has_discounts -%}
            {{ item.final_line_price | divided_by: item.quantity | money }}
            {% comment %}{{ item.final_price | money }}{% endcomment %}
          {%- else -%}
            {{ item.original_price | money }}
          {%- endif %}

          {% if item.sku =="SUPERFREAK" %}per machine{% endif %}

        </span>
        </div>
          {%- endcomment -%}
      {% endif %}
      {% capture total_quantity %}<span class="cart-item--total-quantity" data-total-quantity>{{ item.unit_price_measurement.quantity_value }}{{ item.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
      {% capture unit_price %}<span class="cart-item--unit-price-amount money" data-unit-price-amount>{{ item.unit_price | money }}</span>{% endcapture %}
      {% capture unit_measure %}<span class="cart-item--unit-price-measure" data-unit-price-measure>{%- if item.unit_price_measurement.reference_value != 1 -%}{{ item.unit_price_measurement.reference_value }}{%- endif %}{{ item.unit_price_measurement.reference_unit }}</span>{% endcapture %}

      {% if item.unit_price_measurement %}
        <div class="cart-item--unit-price">
          {{ 'product.general.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
        </div>
      {% endif %}

      {% if show_sku %}
        <div class="cart-item--sku {% if item.sku == empty %}cart-item--sku-empty{% endif %}">
          {{ 'product.general.sku_html' | t: sku: item.sku | strip_newlines }}
        </div>
      {% endif %}

      {% comment %} Using other stock status instead
      {% if settings.inventory_status %}
        {% if item.variant.inventory_quantity > 0 and item.variant.inventory_quantity <= settings.low_stock_threshold %}
          {%
                  render 'product-stock-level',
                  inventory_display: settings.inventory_display,
                  inventory_transfer: settings.inventory_transfer_notice,
                  variant: item.variant,
                  verbose: false
          %}
        {% endif %}
      {% endif %}
      {% endcomment %}

      {% if stock_status %}
        <div class="cart-item--stockstatus">
          <strong>Status:</strong> {{ stock_status }}
        </div>
      {% endif %}
        {% if 1==1 %}
          <div class="cart-item--pricing-details cart-item--content-price">
              {%- assign display_orgprice = item.original_price -%}
              {%- assign discounted = false -%}
              {%- comment -%}
              item.price: {{ item.price }}<br/>
              item.original_price: {{ item.original_price }}<br/>
              product_price.price.original: {{ product_price.price.original }}<br/>
              Compare_at_price: {{ compare_at_price }}<br/>
              org_price: {{ org_price }}<br/><br/>
              {%- endcomment -%}
              {% if org_price > item.price %}
                  {%- assign display_orgprice = org_price -%}
                  {%- assign discounted = true -%}
              {% elsif item.original_price > item.price %}
                  {%- assign display_orgprice = item.original_price -%}
                  {%- assign discounted = true -%}
              {% elsif compare_at_price > item.price %}
                  {%- assign display_orgprice = compare_at_price -%}
                  {%- assign discounted = true -%}
              {% endif %}

              <div class="cart-item--content-price">
                <span class="cart-item--price-title">
                  Price:
                </span>

                  {%- if discounted -%}
                      <span class="visually-hidden">Original price</span>
                      <s class="cart-item--sale-price money">{{ display_orgprice | money }}</s>
                  {%- endif -%}
                  <span class="visually-hidden">Current price</span>
                  <span class="money ">{{  item.price | money }} x {{ item.quantity }}</span>
              </div>
          </div>

            <ul class="discount-list" aria-label="{{ 'product.general.discounts' | t }}">
                {%- if compare_at_price > item.price -%}
                    {%- assign specialDiscount = compare_at_price | minus: item.price -%}
                        <li class="discount-list-item">
                            {% comment %}{% render 'icon-library', id: 'icon-sale-tag' %}{% endcomment %}
                            {% if item.product.metafields.plytix.clearance_overstock == 'true' or pclearance == true %}
                                <i class="fa-sharp fa-solid fa-tags"></i> Clearance / Overstock (you saved {{ specialDiscount |  money }})
                            {% elsif item.product.selected_or_first_available_variant.sku contains "-DEMO" -%}
                                <i class="fa-duotone fa-solid fa-screwdriver-wrench"></i> Refurbished / Used Model (you saved {{ specialDiscount |  money }})
                            {% else %}
                                <i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i> Hot Deal (you saved {{ specialDiscount |  money }})
                            {% endif %}
                        </li>
                {% endif %}

                {% comment %}--- Tier Area---------------------------------------------------------------------------{% endcomment %}
                {%- if settings.enable_transform_discount_code or 1 == 1 -%}

                    {%- assign valid_tier = 0  -%}
                    {%- assign valid_tier_count = 0  -%}
                    {%- assign tiermessage = ""  -%}

                    {%- assign next_tier = "NA"  -%}
                    {%- assign next_tier_price = 0 -%}
                    {%- assign next_tier_trigger = 0 -%}
                    {%- assign next_valid_tier_count = 0  -%}

                    {%- if tiered_pricing contains ":" -%}
                        {%- assign tiered_pricing_sections_arr = tiered_pricing | split: ":"  -%}
                        {%- assign tiered_pricing_arry = tiered_pricing_sections_arr[0] | split: "|"  -%}

                        {%- for tier in tiered_pricing_arry -%}
                            {%- assign tier_int = tier | plus: 0  -%}

                            {%- if forloop.index0 == 0 -%}
                                {% comment %}get next tier for first tier{% endcomment %}
                                {%- assign next_tier = tier  -%}
                                {%- assign next_valid_tier_count = forloop.index0 | plus: 1  -%}
                                {%- assign next_tier_trigger = 2 -%}
                            {%- endif -%}

                            {%- if item.quantity >=  tier_int -%}
                                {%- assign valid_tier = tier  -%}
                                {%- assign valid_tier_count = forloop.index0 | plus: 1  -%}
                                {%- assign next_tier_trigger = 1 -%}

                            {%- elsif next_tier_trigger == 1 -%}
                                {% comment %}get values for next tier to show deal notice{% endcomment %}
                                {%- assign next_tier = tier  -%}
                                {%- assign next_valid_tier_count = forloop.index0 | plus: 1  -%}
                                {%- assign next_tier_trigger = 2 -%}
                            {%- endif -%}



                        {%- endfor -%}
                        {%- assign tier_doll_off = tiered_pricing_sections_arr[1] | times: valid_tier_count -%}
                        {%- assign discount = tier_doll_off | times: item.quantity -%}
                        {%- assign next_tier_doll_off = tiered_pricing_sections_arr[1] | times: next_valid_tier_count -%}
                        {%- assign next_discount = tier_doll_off | times: next_tier -%}

                        {%- capture tiermessage -%}
                            {{  tier_doll_off | times:100 | money}} off for {{ valid_tier }}+ (you saved <span class="money">{{ discount | times: 100 | money }}</span>)
                        {%- endcapture -%}
                    {%- elsif tiered_pricing contains "fg" and product_bundle != '' -%}
                        {%- assign discount = org_price  | times: item.quantity -%}
                        {%- capture tiermessage -%}
                            Free gift with bundle! (you saved <span class="money">{{ discount | money }}</span>)
                        {%- endcapture -%}
                    {%- elsif tiered_pricing contains "fg" -%}
                        {%- assign discount = org_price  | times: item.quantity -%}
                        {%- capture tiermessage -%}
                            Free gift! (you saved <span class="money">{{ discount | money }}</span>)
                        {%- endcapture -%}
                    {%- endif -%}

                    {%- if valid_tier != 0 and  tiermessage != "" -%}
                        <ul class="discount-list" aria-label="{{ 'product.general.discounts' | t }}">
                            <li class="discount-list-item">
                                <i class="fa-solid fa-sack-dollar" style="color:#8F6A46;"></i>
                                {{ tiermessage }}
                            </li>
                        </ul>
                    {%- elsif tiered_pricing contains "fg" and  tiermessage != "" -%}
                        <ul class="discount-list" aria-label="{{ 'product.general.discounts' | t }}">
                            <li class="discount-list-item">
                                <i class="fa-sharp fa-solid fa-tags"></i>
                                {{ tiermessage }}
                            </li>
                        </ul>
                    {%- endif -%}

                {%- endif -%}

                {%- if item_has_discounts -%}
                    <ul class="discount-list" aria-label="{{ 'product.general.discounts' | t }}">
                        {% for discount_allocation in item.line_level_discount_allocations %}
                            <li class="discount-list-item">
                                <i class="fa-sharp fa-solid fa-tags"></i>
                                {{ discount_allocation.discount_application.title }}
                                (you saved <span class="money">{{ discount_allocation.amount | money }}</span>)
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% comment %}--- other icons --------------------------------------------------------------------------------------------------------{% endcomment %}
                {%- if item.product.metafields.plytix.eco_friendly -%}
                <li><i style="color: #019a00" class="fa-solid fa-recycle"></i> Environmentally Responsible</li>
                {%- endif -%}
                {%- if item.product.metafields.plytix.free_shipping -%}
                    <li><i class="fa-duotone fa-solid fa-truck-fast"></i> Free Shipping</li>
                {%- endif -%}
                {%- if item.product.metafields.plytix.gold_medal_winner -%}
                    <li><i class="fa-duotone fa-solid fa-medal"></i> Gold Medal Winner</li>
                {%- endif -%}
                {%- if item.product.metafields.plytix.made_in_USA -%}
                    <li><img style="margin-left:-1px; margin-bottom:-2px" width="15" height="15" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="Made in the United States"/> Made in USA</li>
                {%- endif -%}
            </ul>

        {% comment %}----------------------start of in stock qty check <br/>{% endcomment %}
        {%- comment -%}get instock{%- endcomment -%}
        {%- if stock_status == 'In Stock' -%}
          {%- assign showWarning = 1 -%}
          {% if item.metafields.plytix.clearance_overstock == 'true' %}
            {%- assign showWarning = 0 -%}
          {% elsif item.sku contains "-DEMO"  %}
            {%- assign showWarning = 0 -%}
          {% endif %}

          {%- if showWarning == 1 -%}
            <div style="display:none" class="cart-stock-backorder-notice qtyavail-{{ item.id }}" data-itemid="{{ item.id }}" data-qtyavailable="{{ item.variant.inventory_quantity  }}"></div>
          {%- endif -%}
        {%- endif -%}
        {% comment %}--------------------------------------------------------end of in stock qty check {% endcomment %}

      {% endif %}
      {% if item.product.metafields.plytix.freq_bought %}
          {% comment %}check items other than "undefined"{% endcomment %}
          {%- assign freqarray =  item.product.metafields.plytix.freq_bought | split: ", " -%}
          {%- assign hasitems = false -%}
          {%- for freq in freqarray -%}
            {% if freq != "undefined" %}
              {%- assign hasitems =  true -%}{% break %}
            {% endif %}
          {% endfor %}
          {% if hasitems == true %}
            {% if item.product.metafields.plytix.general_product_type == "Machine" %}
              <div data-prod="{{ item.product.id }}" data-lineid="{{ item.id }}" data-handle="{{ item.product.handle }}" class="cart-upsell-btn main-atc-button outlinebtn thinbtn productitem--action-trigger productitem--action-atc" tabindex="0" ><span>+</span> Accessories</div>
            {% endif %}
          {% endif %}
       {% endif %}

      {% if sf_eligible == true and sf_addon < 0 %}

          {% comment %}<div onclick="sf_atc(this,'cart');" data-plan-qty="{{ item.quantity }}" data-plan-item="{{ item.sku }}" data-plan-item-handle="{{ item.product.handle }}" class="sf-atc-btn cart-upsell-btn add-to-cart-btn productitem--action-trigger productitem--action-atc" tabindex="0"><span>+</span> SuperFreak Plan</div></td>{% endcomment %}
        {% if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" %}
          {% assign sf_item_id = "43956946534612" %}
          {% assign sf_plan = "3287122132" %}
        {% elsif shop.permanent_domain contains "cleanfreak-prod.myshopify.com" %}
          {% assign sf_item_id = "42413671612596" %}
          {% assign sf_plan = "1220608180" %}
        {% elsif shop.permanent_domain contains "airmovers-dev.myshopify.com" %}
          {% assign sf_item_id = "47125098594586" %}
          {% assign sf_plan = "8983281946" %}
        {% elsif shop.permanent_domain contains "airmovers-prod.myshopify.com" %}
          {% assign sf_item_id = "41930992386253" %}
          {% assign sf_plan = "1020854477" %}
        {% elsif shop.permanent_domain contains "carpetextractors-dev1.myshopify.com" %}
          {% assign sf_item_id = "47272142307640" %}
          {% assign sf_plan = "693056930104" %}
        {% elsif shop.permanent_domain contains "carpetextractors.myshopify.com" %}
          {% assign sf_item_id = "44214778626282" %}
          {% assign sf_plan = "31247302890" %}
        {% elsif shop.permanent_domain contains "floorbuffers-dev.myshopify.com" %}
          {% assign sf_item_id = "47289865011479" %}
          {% assign sf_plan = "689912742167" %}
        {% elsif shop.permanent_domain contains "floorbuffers-prod.myshopify.com" %}
          {% assign sf_item_id = "44158887395548" %}
          {% assign sf_plan = "28449734876" %}
        {% elsif shop.permanent_domain contains "floorscrubbers-dev.myshopify.com" %}
          {% assign sf_item_id = "47255628316965" %}
          {% assign sf_plan = "689859363109" %}
        {% elsif shop.permanent_domain contains "floorscrubbers-prod.myshopify.com" %}
          {% assign sf_item_id = "44506347798694" %}
          {% assign sf_plan = "1651736742" %}
        {% endif %}

        <div class="atc-sf-area" >
          <div class="sf-main-text"><img src="{{ 'superfreak-logo-sm.png' | file_img_url  }}" alt="Superfreak" />Protect & Save with SuperFreak.</div>
          <table class="sf-details">
            <tr>
              <td class="sf-price">$99.99</td>
              <td class="sf-details-text">Get peace of mind with your purchase. Save 10%. Unlimited service. Add & save now! <span class="sf-info-pop" onclick="sf_info_pop()" >Learn more <i class="fa-solid fa-arrow-right"></i></span></td>
              <td class="sf-atc"><div onclick="sf_atc(this,'cart',{{ sf_plan }});" data-at="{{ sf_item_id }}" data-plan-qty="{{ item.quantity }}" data-plan-item="{{ item.sku }}" data-plan-item-handle="{{ item.product.handle }}" class="sf-atc-btn main-atc-button thinbtn productitem--action-trigger productitem--action-atc" tabindex="0"><span>+</span> SuperFreak</div></td>
              </td>
            </tr>
          </table>
        </div>
      {% endif %}
    </div>

    <div class="cart-item--info {% if product_bundle != '' %} bundle-item {% endif %}">
      <div
              class="cart-item--quantity form-fields--qty"
              data-quantity-wrapper
      >
        {% comment %}
        {% if pstep == '' %}
        <div class="form-field form-field--qty-select {% if item.quantity < 10 %}visible{% else %}hidden{% endif %}">
          <div class="form-field-select-wrapper ">
            <select
                    class="form-field-input form-field-select form-field-filled"
                    id="quantity_{{ item.key | replace: ':', '_' }}"
                    {% if item.quantity >= 10 %}tabindex="-1"{% endif %}
                    aria-label="{{ 'general.general.quantity' | t }}"
                    data-quantity-select
                    data-cartitem-quantity
                    {% if available < 999999 %}  data-available-qty = "{{ available }}" {% endif %}
                    {% if product_bundle != '' or fgbogo == true or sf_addon == 0%} disabled {% endif %}
            >
              {% if available < 10 %}
                {% for i in (1..available) %}
                  <option {% if i == item.quantity %}selected {% endif %}value="{{ i }}">
                  {{ i }}
                  </option>
                {% endfor %}
              {% else %}
                {% for i in (1..9) %}
                  <option {% if i == item.quantity %}selected {% endif %}value="{{ i }}">
                    {{ i }}
                  </option>
                {% endfor %}
                <option value="10">
                  10+
                </option>
              {% endif %}
            </select>
            <label class="form-field-title" for="quantity_{{ item.key | replace: ':', '_' }}">
              {{ 'general.general.quantity' | t }}
            </label>
            {% render 'icon-chevron-down-small' %}
          </div>
        </div>
        {% endif %}
        {% if pstep != '' %}
          <div id="qtInfo{{ item.key | replace: ':', '' }}"></div>
          <div class="form-field form-field--qty-input visible">
        {% else %}
          <div class="form-field form-field--qty-input {% if item.quantity < 10 %}hidden{% else %}visible{% endif %}">
        {% endif %}


          <input
                  class="form-field-input form-field-number form-field-filled"
                  value="{{ item.quantity }}"
                  name="updates[]"
                  id="updates_{{ item.key }}"
                  data-qtkey="qtInfo{{ item.key }}"
                  data-original="{{ item.quantity }}"
                  data-step="{{ pstep }}"
                  type="text"
                  pattern="\d*"
                  {% if item.quantity < 10 %}tabindex="-1"{% endif %}
                  {% if product_bundle != '' or fgbogo == true or sf_addon == 0%} disabled {% endif %}
                  {% if available < 999999 %}  data-available-qty = "{{ available }}" {% endif %}
                  aria-label="{{ 'general.general.quantity' | t }}"
                  data-quantity-input
                  data-cartitem-quantity>
          <label class="form-field-title" for="updates_{{ item.key }}">
            {{ 'general.general.quantity' | t }}
          </label>
        </div>
           {% endcomment %}
          {% assign editable = true %}
          {% if product_bundle != '' %}
              {% assign editable = false %}
          {% elsif fgbogo == true %}
              {% assign editable = false %}
          {% endif %}

          {% if editable == true %}
            <div class="qtybox cart-qty-form-field form-field form-field--qty-input visible {% if editable == false %}qtyonly{% endif %}">
                <input type="button" {% if editable == true %}onClick="qtyAdjust('{{ item.key }}','minus','{{ pstep }}')"{% endif %} value="−" data-step="{{ pstep }}" class="qtyminus" data-field="quantity">
              <input
                      class="product-quantity-input form-field-input form-field-number form-field-filled"
                      value="{{ item.quantity }}"
                      name="updates[]"
                      id="updates_{{ item.key }}"
                      data-qtkey="qtInfo{{ item.key }}"
                      data-original="{{ item.quantity }}"
                      data-step="{{ pstep }}"
                      type="text"
                      pattern="\d*"
                      {% if item.quantity < 10 %}tabindex="-1"{% endif %}
                      {% if product_bundle != '' or fgbogo == true or sf_addon == 0%} disabled {% endif %}
                      {% if available < 999999 %}  data-available-qty = "{{ available }}" {% endif %}
                      aria-label="{{ 'general.general.quantity' | t }}"
                      data-quantity-input
                      data-cartitem-quantity>
                <input type="button" {% if editable == true %}onClick="qtyAdjust('{{ item.key }}','plus','{{ pstep }}')"{% endif %} value="+" class="qtyplus" data-step="{{ pstep }}" data-field="quantity">

              {% comment %}<label class="form-field-title" for="updates_{{ item.key }}">
                {{ 'general.general.quantity' | t }}
              </label>{% endcomment %}
            </div>
          {% else %}
              <div class="product-quantity-disabled">
                {{ item.quantity }}
              </div>
          {% endif %}

          {% if editable == true %}<a class="line-update" onClick="updateCart();"><i class="fa-solid fa-arrows-rotate"></i> Update</a>{% endif %}



            {% if available < 999999 %}
              <span class="package-qt-info" style="display:none;">
                Limited Quantity Available. Please adjust your quantity to or below {{ available }}.
            </span>
            {% endif %}
        {% if product_bundle != '' %}
          <span class="package-qt-info">
            Item is not editable because it is part of a package
          </span>
        {% elsif fgbogo == true %}
          <span class="package-qt-info">
              Item is not editable because it is a free gift.
          </span>
        {% endif %}

          {%- assign buy_x_more = next_tier | minus: item.quantity -%}
          {% if buy_x_more > 0  %}

              {%- assign addsavings = tiered_pricing_sections_arr[1] | times: 100 -%}
              <div class="tier_upsell">
                  Buy <strong>{{ buy_x_more }}</strong> more &<br/>Save an Additional<br/><strong>{{ addsavings | money }}</strong> per Item
              </div>
              <a class="line-update" onclick="updateQtyTo({{ next_tier }},'{{ item.key }}');"><i class="fa-solid fa-plus"></i> Add {{ buy_x_more }} More</a>
          {% endif %}
        {%- comment -%}
             for testing
             next_discount {{ next_discount }}<br/>
             next_tier_doll_off {{ next_tier_doll_off }}<br/>
             next_tier {{ next_tier }}<br/>
             next_valid_tier_count: {{ next_valid_tier_count }}<br/>
        {%- endcomment -%}

     </div>

     <div class="cart-item--total">
       <span class="visually-hidden-cart">
           Price:
           {% comment %}{{ 'cart.general.total_line_price' | t }}{% endcomment %}
       </span>
         {%- comment -%}
         {%- if org_price > item.price -%}
               <s class="original-price money">{{ org_price | times: item.quantity | money }}</s>

         {%- elsif compare_at_price > item.price -%}
             <s class="original-price money">{{ compare_at_price | times: item.quantity | money }}</s>
         {%- elsif item_has_discounts -%}
               <span class="visually-hidden">{{ 'product_price.price.original' | t }}</span>
               <s class="original-price money">{{ item.original_line_price | money }}</s>
               <span class="visually-hidden">{{ 'product_price.price.current' | t }}</span>
           {%- endif -%}
       {%- endcomment -%}
       <span
               class="money {% if item_has_discounts %}cart-item--discount-price{% endif %}"
               aria-live="polite"
               data-cartitem-total
       >
         {{ item.final_line_price | money }}
       </span>
     </div>

     <div class="cart-item--remove">
       {% if product_bundle == '' and  fgbogo-rule == false %}
         <a
                 href="{{ routes.cart_change_url }}?line={{ item_index }}&amp;quantity=0"
                 class="cart-item--remove-link"
                 data-cartitem-remove
                 data-no-instant
                 aria-label="remove {{ item.product.title | escape }}"
         >
           {%
                   render 'icon-library',
                   id: 'icon-remove'
           %}
         </a>

       {% elsif fgbogo-rule != false %}

         <a
                 data-gall="{{ fgbogo-rule }}"
                 data-name="Free Gift Promo"
                 class="bundle-remove cart-item--remove-popup cart-item--remove-link"
                 href="#">
           {%
                   render 'icon-library',
                   id: 'icon-remove'
           %}
         </a>

       {% else %}
         {%- assign bName = all_products[product_bundle].title | remove: '"' -%}
         <a
                 data-gall="{{ product_bundle | escape  }}"
                 data-name="{{ bName }}"
                 class="bundle-remove cart-item--remove-popup cart-item--remove-link"
                 href="#">
           {%
                   render 'icon-library',
                   id: 'icon-remove'
           %}
         </a>
       {% endif %}
     </div>

   </div>
 </div>
</li>
