{% assign compare_at_price = 0 %}
{% comment %}to style like a superfreak addon{% endcomment %}
{% assign sf_addon = sf_addon %}

{% for variant in item.product.variants %}
  {% if variant.id == item.variant.id and variant.compare_at_price > item.price %}
    {% assign compare_at_price = variant.compare_at_price %}
    {% break %}
  {% endif %}
{% endfor %}

{%- assign item_has_discounts = false -%}
{%- if item.line_level_discount_allocations.size > 0 -%}
  {%- assign item_has_discounts = true -%}
{%- endif -%}

{%- assign product_bundle = '' -%}
{%- assign pstep = '' -%}
{%- assign fgbogo = false -%}
{%- assign sf_eligible = false -%}
{% unless item.properties == empty %}
  {% for property in item.properties %}
    {% if property.first == '_bundle_product' %}
      {% assign product_bundle = property.last %}
    {% endif %}
    {% if property.first == 'Status' %}
      {% assign stock_status = property.last %}
    {% endif %}
    {% if property.first == '_product_step' %}
      {% assign pstep = property.last %}
    {% endif %}
    {% if property.first == '_sf_eligible' %}
      {% assign sf_eligible = true %}
    {% endif %}
    {% if property.first == '_tiered_pricing' %}
      {% if property.last == 'fg-bogo' %}
        {%- assign fgbogo = true -%}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endunless %}

<li
        class="cart-item {% if sf_addon == 0 %}sf-cart-addon{% elsif sf_addon > 0 %}has-sf-cart-addon{% endif %} {% if product_bundle != '' %}{{ product_bundle | escape  }}{% endif %} {% if pstep != '' %}stepValItem{% endif %}"
        data-cartitem
        data-cartitem-id="{{ item.variant_id }}"
        data-cartitem-key="{{ item.key }}"
        data-cartitem-price="{{ item.price }}"
        data-cartitem-step="{{ pstep }}"
>
  <figure class="cart-item--image-wrapper">
    <a href="{{ item.url }}">
      {% if item.image %}
        {%
                render 'rimg',
                img: item.image,
                alt: item.title,
                size: '120x'
        %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
      {% endif %}
    </a>
  </figure>

  <div class="cart-item--inner">

    {% assign sf_sku = "" %}
    {% unless item.properties == empty %}
      {% for property in item.properties %}
        {% if property.first == '_sf_item' %}
          {% assign sf_sku = property.last %}
        {% endif %}
      {% endfor %}
    {% endunless %}

    <div class="cart-item--content">
      <h2 class="cart-item--content-title">
        <a href="{{ item.url }}">
          {{ item.product.title }}{% if sf_sku != "" %} for "{{ sf_sku }}"{% endif %}
        </a>
      </h2>

      {% unless item.product.has_only_default_variant %}
        {% for option in item.product.options %}
          <div class="cart-item--product-options">
            <span class="cart-item--option-name">{{ option }}</span>
            {{ item.variant.options[forloop.index0] }}
          </div>
        {% endfor %}
      {% endunless %}
      {% if product_bundle != '' %}
        <div class="cart-item--product-options">
          {%- assign current_variant = all_products[product_bundle].selected_or_first_available_variant -%}
          Part of package <a style="color: inherit;" href="{{ all_products[product_bundle].url }}">{{ current_variant.sku }}</a>
        </div>
      {% endif %}

      {% if item.selling_plan_allocation.selling_plan %}
        <span class="cart-item--line-item-subscriptions">{{ item.selling_plan_allocation.selling_plan.name }}</span>
      {% endif %}
      {% if item_has_discounts == false -%}
        <div class="cart-item--content-price">
        <span class="cart-item--price-title">
          {{ 'cart.general.price' | t }}
        </span>

          {% if compare_at_price > item.price or item.original_price > item.final_price %}
            <span class="visually-hidden">{{ 'product_price.price.original' | t }}</span>
            <s class="cart-item--sale-price money">
              {%- if item_has_discounts -%}
                {{ item.original_price | money }}
              {%- else -%}
                {{ compare_at_price | money }}
              {%- endif %}
            </s>
            <span class="visually-hidden">{{ 'product_price.price.current' | t }}</span>
          {% endif %}

          <span class="money {% if item_has_discounts %}cart-item--discount-price{% endif %}">
          {%- if item_has_discounts -%}
            {{ item.final_line_price | divided_by: item.quantity | money }}
            {% comment %}{{ item.final_price | money }}{% endcomment %}
          {%- else -%}
            {{ item.original_price | money }}
          {%- endif %}

          {% if item.sku =="SUPERFREAK" %}per unit{% endif %}

        </span>
        </div>
      {% endif %}
      {% capture total_quantity %}<span class="cart-item--total-quantity" data-total-quantity>{{ item.unit_price_measurement.quantity_value }}{{ item.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
      {% capture unit_price %}<span class="cart-item--unit-price-amount money" data-unit-price-amount>{{ item.unit_price | money }}</span>{% endcapture %}
      {% capture unit_measure %}<span class="cart-item--unit-price-measure" data-unit-price-measure>{%- if item.unit_price_measurement.reference_value != 1 -%}{{ item.unit_price_measurement.reference_value }}{%- endif %}{{ item.unit_price_measurement.reference_unit }}</span>{% endcapture %}

      {% if item.unit_price_measurement %}
        <div class="cart-item--unit-price">
          {{ 'product.general.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
        </div>
      {% endif %}

      {%- if item_has_discounts -%}
        <ul class="discount-list" aria-label="{{ 'product.general.discounts' | t }}">
          {% for discount_allocation in item.line_level_discount_allocations %}
            <li class="discount-list-item">
              {% render 'icon-library', id: 'icon-sale-tag' %}
              {{ discount_allocation.discount_application.title }}
              (you saved <span class="money">{{ discount_allocation.amount | money }}</span>)
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if show_sku %}
        <div class="cart-item--sku {% if item.sku == empty %}cart-item--sku-empty{% endif %}">
          {{ 'product.general.sku_html' | t: sku: item.sku | strip_newlines }}
        </div>
      {% endif %}


      {% comment %} Using other stock status instead
      {% if settings.inventory_status %}
        {% if item.variant.inventory_quantity > 0 and item.variant.inventory_quantity <= settings.low_stock_threshold %}
          {%
                  render 'product-stock-level',
                  inventory_display: settings.inventory_display,
                  inventory_transfer: settings.inventory_transfer_notice,
                  variant: item.variant,
                  verbose: false
          %}
        {% endif %}
      {% endif %}
      {% endcomment %}
      {% if stock_status %}
        <div class="cart-item--stockstatus">
          <strong>Status:</strong> {{ stock_status }}
        </div>
      {% endif %}

      {% if item.product.metafields.plytix.freq_bought %}
          {% comment %}check items other than "undefined"{% endcomment %}
          {%- assign freqarray =  item.product.metafields.plytix.freq_bought | split: ", " -%}
          {%- assign hasitems = false -%}
          {%- for freq in freqarray -%}
            {% if freq != "undefined" %}
              {%- assign hasitems =  true -%}{% break %}
            {% endif %}
          {% endfor %}
          {% if hasitems == true %}
            {% if item.product.metafields.plytix.general_product_type == "Machine" %}
              <div data-prod="{{ item.product.id }}" data-handle="{{ item.product.handle }}" class="cart-upsell-btn add-to-cart-btn productitem--action-trigger productitem--action-atc" tabindex="0" ><span>+</span> Accessories</div>
            {% endif %}
          {% endif %}
       {% endif %}

      {% if sf_eligible == true and sf_addon < 0 %}
        {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com" -%}
          <div onclick="sf_atc(this,'cart');" data-plan-qty="{{ item.quantity }}" data-plan-item="{{ item.sku }}" data-plan-item-handle="{{ item.product.handle }}" class="sf-atc-btn cart-upsell-btn add-to-cart-btn productitem--action-trigger productitem--action-atc" tabindex="0"><span>+</span> SuperFreak Plan</div></td>


        <div class="atc-sf-area" >
          <div class="sf-main-text">Protect this item with a SuperFreak service plan.</div>
          <table class="sf-details">
            <tr>
              <td class="sf-price">$99.99</td>
              <td class="sf-details-text">includes Extended Service Plan 2 Yr with Accidental Coverage - Starts Day of Purchase</td>
              <td class="sf-atc"><div onclick="sf_atc(this,'cart');" data-plan-qty="{{ item.quantity }}" data-plan-item="{{ item.sku }}" data-plan-item-handle="{{ item.product.handle }}" class="sf-atc-btn cart-upsell-btn add-to-cart-btn productitem--action-trigger productitem--action-atc" tabindex="0"><span>+</span> SuperFreak Plan</div></td>
              </td>
            </tr>
          </table>
        </div>



        {% endif %}
      {% endif %}

    </div>

    <div class="cart-item--info {% if product_bundle != '' %} bundle-item {% endif %}">
      <div
              class="cart-item--quantity form-fields--qty"
              data-quantity-wrapper
      >
        {% if pstep == '' %}
        <div class="form-field form-field--qty-select {% if item.quantity < 10 %}visible{% else %}hidden{% endif %}">
          <div class="form-field-select-wrapper ">
            <select
                    class="form-field-input form-field-select form-field-filled"
                    id="quantity_{{ item.key | replace: ':', '_' }}"
                    {% if item.quantity >= 10 %}tabindex="-1"{% endif %}
                    aria-label="{{ 'general.general.quantity' | t }}"
                    data-quantity-select
                    data-cartitem-quantity
            {% if product_bundle != '' or fgbogo == true or sf_addon == 0%} disabled {% endif %}>
              {% for i in (1..9) %}
                <option {% if i == item.quantity %}selected {% endif %}value="{{ i }}">
                  {{ i }}
                </option>
              {% endfor %}
              <option value="10">
                10+
              </option>
            </select>
            <label class="form-field-title" for="quantity_{{ item.key | replace: ':', '_' }}">
              {{ 'general.general.quantity' | t }}
            </label>
            {% render 'icon-chevron-down-small' %}
          </div>
        </div>
        {% endif %}
        {% if pstep != '' %}
          <div id="qtInfo{{ item.key | replace: ':', '' }}"></div>
          <div class="form-field form-field--qty-input visible">
        {% else %}
          <div class="form-field form-field--qty-input {% if item.quantity < 10 %}hidden{% else %}visible{% endif %}">
        {% endif %}


          <input
                  class="form-field-input form-field-number form-field-filled"
                  value="{{ item.quantity }}"
                  name="updates[]"
                  id="updates_{{ item.key }}"
                  data-qtkey="qtInfo{{ item.key }}"
                  data-original="{{ item.quantity }}"
                  data-step="{{ pstep }}"
                  type="text"
                  pattern="\d*"
                  {% if item.quantity < 10 %}tabindex="-1"{% endif %}
                  {% if product_bundle != '' %} disabled {% endif %}
                  aria-label="{{ 'general.general.quantity' | t }}"
                  data-quantity-input
                  data-cartitem-quantity>
          <label class="form-field-title" for="updates_{{ item.key }}">
            {{ 'general.general.quantity' | t }}
          </label>
        </div>
        {% if product_bundle != '' %}
          <span class="package-qt-info">
            Item is not editable because it is part of a package
          </span>
        {% elsif fgbogo == true %}
          <span class="package-qt-info">
              Item is not editable because it is a free gift.
          </span>
        {% endif %}
      </div>

      <div class="cart-item--total">
        <span class="visually-hidden">{{ 'cart.general.total_line_price' | t }}</span>
        {%- if item_has_discounts -%}
          <span class="visually-hidden">{{ 'product_price.price.original' | t }}</span>
          <s class="original-price money">{{ item.original_line_price | money }}</s>
          <span class="visually-hidden">{{ 'product_price.price.current' | t }}</span>
        {%- endif -%}
        <div
                class="money {% if item_has_discounts %}cart-item--discount-price{% endif %}"
                aria-live="polite"
                data-cartitem-total
        >
          {{ item.final_line_price | money }}
        </div>
      </div>

      <div class="cart-item--remove">
        {% if product_bundle == '' %}
          <a
                  href="{{ routes.cart_change_url }}?line={{ item_index }}&amp;quantity=0"
                  class="cart-item--remove-link"
                  data-cartitem-remove
                  data-no-instant
                  aria-label="remove {{ item.product.title | escape }}"
          >
            {%
                    render 'icon-library',
                    id: 'icon-remove'
            %}
          </a>

        {% else %}
          {%- assign bName = all_products[product_bundle].title | remove: '"' -%}
          <a
                  data-gall="{{ product_bundle | escape  }}"
                  data-name="{{ bName }}"
                  class="bundle-remove cart-item--remove-popup cart-item--remove-link"
                  href="#">
            {%
                    render 'icon-library',
                    id: 'icon-remove'
            %}
          </a>
        {% endif %}
      </div>

    </div>
  </div>
</li>
