{% assign category = category %}

{% if category == "scrubbing" %}
  {% comment %}---------------------------------------------------------------------Scrubbing----------------------------------------------------------------------------------------------------------------{% endcomment %}

  {% assign padCat = "Scrubbing Pads" %}
  {% assign padCatPath = "/products/" %}
  <div class="pad-grid">
    <table class="pad-grid-table scrubbing-pads-grid">
      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=White">Melamine</a></td>
        <td class="pad-image"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=White"><img src="{{ shop.url }}/cdn/shop/files/pad-page-white_small.png" alt="White {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Light duty scrub pad. For cleaning tile and grout without the use of harsh chemicals. Will not remove finish.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}rotary-melamine-floor-cleaning-pads?variant=41986190016692">17"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}rotary-melamine-floor-cleaning-pads?variant=41986190082228">20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}oscillating-melamine-floor-cleaning-pads?variant=41986197553332">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}oscillating-melamine-floor-cleaning-pads?variant=41986197618868">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}oscillating-melamine-floor-cleaning-pads?variant=41986197651636">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}oscillating-melamine-floor-cleaning-pads?variant=41986197520564">14"x28"</a></td>
      </tr>

      <tr class="odd">
        <td class="pad-color"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Red">Red</a></td>
        <td class="pad-image"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Red"><img src="{{ shop.url }}/cdn/shop/files/pad-page-red_small.png" alt="Red {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">For light cleaning and buffing. Removes light scuff marks and dirt while producing a high gloss shine.</span>
          </div>
        </td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}pacific-6-inch-red-baseboard-buffing-pads">6.5"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}motorscrubber-8-inch-red-floor-buffing-pads">8"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}10-inch-red-scrubbing-floor-pads">10"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}12-inch-red-floor-wax-buffing-pads">12"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}13-inch-red-commercial-floor-buffing-pad">13"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}14-inch-red-buffing-pad">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-red-buffing-scrubbing-pads">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-red-floor-scrubbing-pads">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-red-floor-buffing-scrubbing-pads">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-red-light-duty-scrub-pads">18"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}19-inch-red-light-duty-scrub-pads">19"</a></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}20-inch-red-floor-buffing-pad">20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}12x18-inch-red-buffing-spacer-pad">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}red-buffing-square-scrub-pads">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-24-inch-red-rectangular-floor-scrubbing-and-buffing-pads">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-red-buffing-pads">14"x28"</a></td>
      </tr>

      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Pink">Flamingo</a></td>
        <td class="pad-image"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Pink"><img src="{{ shop.url }}/cdn/shop/files/pad-page-pink_small.png" alt="Flamingo {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">For everyday scrubbing with auto scrubbers. Cleans light dirt and scuff marks, including black heel marks, and prepares floors for burnishing.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-round-12-to-20-inch?variant=42995882098868">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-round-12-to-20-inch?variant=42995882131636">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-round-12-to-20-inch?variant=42995882164404">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-round-12-to-20-inch?variant=42995882197172">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-round-12-to-20-inch?variant=42995882229940">18"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}20-inch-flamingo-auto-scrubber-pads?variant=42995882262708">20"</a></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-rectangular-14-x-20-and-14-x-28?variant=41986216657076">14"x20"</a></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}flamingo-auto-scrubber-floor-cleaning-pads-rectangular-14-x-20-and-14-x-28?variant=41986216722612">14"x28"</a></td>
      </tr>


      <tr class="odd">
        <td class="pad-color"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Teal w%2F Yellow Strip">SmartScrub</a></td>
        <td class="pad-image"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Teal w%2F Yellow Strip"><img src="{{ shop.url }}/cdn/shop/files/pad-teal-w-strip.png" alt="SmartScrub {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Dual purpose scrubbing and polishing pad for daily floor maintenance. Can be used chemical free w/ low speed machines.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241364148">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241429684">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241495220">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241593524">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241626292">18"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241757364">20"</a></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
      </tr>


      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Blue">Blue</a></td>
        <td class="pad-image"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Blue"><img src="{{ shop.url }}/cdn/shop/files/pad-page-blue_small.png" alt="Blue {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">For routine scrubbing. Removes dirt and scuff marks from heavily soiled floors prior to recoating.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}motorscrubber-8-inch-blue-medium-duty-floor-scrubbing-pads">8"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}blue-floor-scrubbing-10-inch-pads">10"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}12-inch-blue-cleaning-pad">12"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}13-inch-blue-floor-wax-cleaning-pad">13"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}14-inch-blue-floor-scrubbing-pad">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-blue-floor-clean-scrub-pad">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-blue-175-rpm-cleaning-pad">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-blue-cleaning-scrubbing-pads">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-blue-auto-scrubber-floor-pads">18"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}20-inch-blue-floor-scrubbing-pads">20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}12x18-blue-scrub-pads-square">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x20-blue-dry-floor-scrub-pads">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-24-inch-blue-medium-duty-cleaning-and-scrubbing-floor-pads">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-blue-scrubbing-pads">14"x28"</a></td>
      </tr>
      <tr class="odd">
        <td class="pad-color"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Green">Green</a></td>
        <td class="pad-image"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.color][0]=Green"><img src="{{ shop.url }}/cdn/shop/files/pad-page-green_small.png" alt="Green {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">For heavy duty scrubbing or light stripping. Removes heavy dirt and scuff marks prior to recoating.</span>
          </div>
        </td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}pacific-6-inch-green-baseboard-scrubbing-pads">6.5"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}motorscrubber-8-inch-green-heavy-duty-floor-scrubbing-pads">8"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}10-inch-deep-scrubbing-green-floor-pads">10"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}12-inch-green-top-layer-removal-pad">12"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}13-inch-green-deep-scrubbing-pad">13"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}14-inch-green-commercial-hd-scrub-pads">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-175-rpm-green-scrubbing-pad">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-green-deep-scrubbing-floor-pads">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-green-deep-scrubbing-buffer-pads">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-green-heavy-duty-floor-scrub-pad">18"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}20-inch-green-rotary-scrubbing-pad">20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}12x18-green-square-scrub-pads">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}green-top-coat-scrub-strip-pad">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-24-inch-green-rectangular-deep-scrubbing-pads">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-green-heavy-duty-scrubbing-pads">14"x28"</a></td>
      </tr>

    </table>
  </div>


{% elsif category == "polishing" %}
  {% comment %}---------------------------------------------------------------------polishing----------------------------------------------------------------------------------------------------------------{% endcomment %}

  {% assign padCat = "Polishing Pads" %}
  {% assign padCatPath = "/products/" %}

  <div class="pad-grid">
    <table class="pad-grid-table polishing-pads-grid">

      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=White&refinementList[meta.plytix.material][0]=Microfiber">Microfiber</a></td>
        <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=White&refinementList[meta.plytix.material][0]=Microfiber"><img src="{{ shop.url }}/cdn/shop/files/pad-page-pad-microfiber.png" alt="Microfiber {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">UHS microfiber burnishing pad can only be used on one side. Manufactured from soft, fine fibers that will not damage the finish on uneven floors. They also reduce airborne dust and improve the indoor air quality.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}20-inch-microfiber-burnishing-bonnet">20"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-microfiber-burnishing-bonnet">24"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-microfiber-high-speed-floor-bonnet">27"</a></td>
        <td class="pad-size-circle last"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
      </tr>

            <tr class="odd">
              <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=White">White</a></td>
              <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=White"><img src="{{ shop.url }}/cdn/shop/files/pad-page-white_small.png" alt="White {{ padCat }}"/></a></td>
              <td class="pad-hint">
                <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                  <span class="tooltiptext">Extra fine pad for polishing clean dry floors. Use to buff soft finishes and low traffic areas. Ideal for marble floors.</span>
                </div>
              </td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}pacific-6-inch-white-baseboard-buffing-pads">6.5"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}motorscrubber-8-inch-white-floor-buffing-and-polishing-pads">8"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}10-inch-white-polishing-and-buffing-pads">10"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}12-inch-white-floor-polish-buff-pads">12"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}rotary-floor-machine-polishing-pad">13"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}14-inch-white-scrub-polish-pads">14"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-175-rpm-floor-buffing-pads">15"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-white-floor-buffing-and-polishing-pads">16"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-white-commercial-floor-buff-pads">17"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-white-floor-maintenance-pad">18"</a></td>
              <td class="pad-size-circle "><a href="{{ padCatPath }}20-inch-floor-scrubber-polishing-pads">20"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}21-inch-white-propane-floor-polishing-pads">21"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-white-propane-burnisher-floor-polishing-pads">24"</a></td>
              <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-white-high-speed-floor-burnishing-pads">27"</a></td>
              <td class="pad-size-circle last"><a href="{{ padCatPath }}28-white-propane-floor-burnisher-pads">28"</a></td>
              <td class="pad-size-square"><a href="{{ padCatPath }}12x18-inch-white-square-scrub-pads">12"x18"</a></td>
              <td class="pad-size-square"><a href="{{ padCatPath }}14x20-inch-white-rectangular-pad">14"x20"</a></td>
              <td class="pad-size-square"><a href="{{ padCatPath }}14-x-24-inch-white-rectangular-polishing-and-buffing-pads">14"x24"</a></td>
              <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-white-polishing-pads">14"x28"</a></td>
            </tr>

                  <tr class="even">
                    <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Teal w%2F Yellow Strip">SmartScrub</a></td>
                    <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Teal w%2F Yellow Strip"><img src="{{ shop.url }}/cdn/shop/files/pad-teal-w-strip.png" alt="SmartScrub {{ padCat }}"/></a></td>
                    <td class="pad-hint">
                      <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                        <span class="tooltiptext">Dual purpose scrubbing and polishing pad for daily floor maintenance. Can be used chemical free w/ low speed machines.</span>
                      </div>
                    </td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241364148">14"</a></td>
                    <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241429684">15"</a></td>
                    <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241495220">16"</a></td>
                    <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241593524">17"</a></td>
                    <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241626292">18"</a></td>
                    <td class="pad-size-circle"><a href="{{ padCatPath }}smartscrub-1-step-clean-and-shine-floor-conditioning-pads?variant=41986241757364">20"</a></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle"></td>
                    <td class="pad-size-circle last"></td>

                    <td class="pad-size-square"></td>
                    <td class="pad-size-square"></td>
                    <td class="pad-size-square"></td>
                    <td class="pad-size-square"></td>
                  </tr>

                        <tr class="odd">
                          <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Blue">Luster Lite</a></td>
                          <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Blue"><img src="{{ shop.url }}/cdn/shop/files/pad-page-blue-lust_small.png" alt="Luster Lite {{ padCat }}"/></a></td>
                          <td class="pad-hint">
                            <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                              <span class="tooltiptext">For thermal buffing and burnishing. Specially designed for use on all floor finishes. Ideally suited for top dressing highly polished floors.</span>
                            </div>
                          </td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-luster-lite-high-shine-floor-burnishing-pads">17"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-luster-lite-blue-high-gloss-floor-burnishing-pads">20"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}21-inch-luster-lite-blue-propane-floor-burnisher-polishing-pads">21"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-luster-lite-blue-uhs-propane-floor-burnishing-pads">24"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-luster-lite-blue-ultra-high-speed-uhs-propane-floor-polishing-pads">27"</a></td>
                          <td class="pad-size-circle last"><a href="{{ padCatPath }}28-inch-luster-lite-blue-propane-burnisher-floor-polishing-pads">28"</a></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                        </tr>


                        <tr class="even">
                          <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=White %2F Black Blend">Combo</a></td>
                          <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=White %2F Black Blend"><img src="{{ shop.url }}/cdn/shop/files/pad-page-combo_small.png" alt="Combo {{ padCat }}"/></a></td>
                          <td class="pad-hint">
                            <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                              <span class="tooltiptext">Blended polyester and natural fibers for an extra high gloss when buffing or burnishing with an ultra high speed machine.</span>
                            </div>
                          </td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-combo-poly-and-natural-fibers-floor-burnishing-pads">17"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-combo-extreme-shine-floor-burnishing-pads-poly-and-natural-fibers">20"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}21-inch-propane-combo-fibers-poly-and-natural-high-speed-floor-polishing-pads">21"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-propane-floor-burnisher-combo-poly-and-natural-fibers-polishing-pads">24"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-combo-floor-burnishing-pads-for-propane-machines">27"</a></td>
                          <td class="pad-size-circle last"><a href="{{ padCatPath }}28-inch-extreme-gloss-combo-pads-for-floor-burnishing">28"</a></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                        </tr>




                        <tr class="odd">
                          <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Champagne">Champagne</a></td>
                          <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Champagne"><img src="{{ shop.url }}/cdn/shop/files/pad-page-champagne_small.png?v=10877256736739075318" alt="Champagne {{ padCat }}"/></a></td>
                          <td class="pad-hint">
                            <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                              <span class="tooltiptext">UHS burnishing pad with a unique highly rubberized binder. Recommended for soft to medium floor finishes.</span>
                            </div>
                          </td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-champagne-high-speed-soft-floor-burnishing-pads">15"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-champagne-floor-burnishing-pads">17"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-champagne-floor-polishing-pads">20"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}21-inch-champagne-propane-buffer-pads">21"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-champagne-high-speed-pad">24"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-propane-polishing-pads">27"</a></td>
                          <td class="pad-size-circle last"><a href="{{ padCatPath }}28-champagne-propane-floor-burnisher-pads">28"</a></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                        </tr>

                        <tr class="even">
                          <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Aqua">Aqua</a></td>
                          <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Aqua"><img src="{{ shop.url }}/cdn/shop/files/pad-page-aqua_small.png" alt="Aqua {{ padCat }}"/></a></td>
                          <td class="pad-hint">
                            <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                              <span class="tooltiptext">Ideal for frequent burnishing. Recommended for soft to medium floor finishes.</span>
                            </div>
                          </td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-aqua-high-gloss-floor-polishing-pads">15"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-ultra-high-speed-burnishing-pads">17"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-high-gloss-floor-burnishing-pad">20"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}21-inch-propane-burnisher-aqua-pad">21"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-aqua-high-speed-burnishing-pads">24"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-propane-burnisher-pad">27"</a></td>
                          <td class="pad-size-circle last"><a href="{{ padCatPath }}28-aqua-universal-propane-burnisher-floor-polishing-pads">28"</a></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                        </tr>
                        <tr class="odd">
                          <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Black %2F Gray">Natural Hair</a></td>
                          <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Black %2F Gray"><img src="{{ shop.url }}/cdn/shop/files/pad-page-gray_small.png" alt="Gray {{ padCat }}"/></a></td>
                          <td class="pad-hint">
                            <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                              <span class="tooltiptext">A blend of hog hair for aggressive thermal buffing and burnishing. Natural fiber blend for use on high solid and hard finishes.</span>
                            </div>
                          </td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-natural-hair-blend-extreme-high-speed-floor-polishing-pads">15"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-animal-hair-burnisher-pads">17"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-hog-hair-burnishing-pads">20"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}21-inch-animal-hair-propane-buffer-pads">21"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}24-hog-hair-propane-burnishing-pads">24"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-porko-extreme-hair-burnisher-pad">27"</a></td>
                          <td class="pad-size-circle last"><a href="{{ padCatPath }}28-animal-hair-high-shine-propane-burnisher-floor-pads">28"</a></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                        </tr>
                        <tr class="even">
                          <td class="pad-color"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Pink">Pink</a></td>
                          <td class="pad-image"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.color][0]=Pink"><img src="{{ shop.url }}/cdn/shop/files/pad-page-pink_small.png" alt="Pink {{ padCat }}"/></a></td>
                          <td class="pad-hint">
                            <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
                              <span class="tooltiptext">UHS burnishing pad with a special binder formulation that allows the pad to effectively remove black marks and restore gloss. Designed for medium to hard floor finishes.</span>
                            </div>
                          </td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-pink-eraser-ultra-aggressive-top-shine-burnisher-pads">15"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-pink-top-shine-pad">17"</a></td>
                          <td class="pad-size-circle"></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-pink-hard-finish-burnishing-pad">20"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}21-pink-remover-propane-burnisher-pads">21"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}24-inch-propane-top-shine-polishing-pad">24"</a></td>
                          <td class="pad-size-circle"><a href="{{ padCatPath }}27-inch-pink-eraser-floor-polishing-pads">27"</a></td>
                          <td class="pad-size-circle last"><a href="{{ padCatPath }}28-pink-ultra-aggressive-propane-floor-burnisher-pads">28"</a></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                          <td class="pad-size-square"></td>
                        </tr>

    </table>
  </div>

{% elsif category == "stripping" %}
  {% comment %}---------------------------------------------------------------------Stripping----------------------------------------------------------------------------------------------------------------{% endcomment %}

  {% assign padCat = "Stripping Pads" %}
  {% assign padCatPath = "/products/" %}

  <div class="pad-grid">
    <table class="pad-grid-table stripping-pads-grid">

      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Brown">Brown</a></td>
        <td class="pad-image"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Brown">

            <img src="{{ shop.url }}/cdn/shop/files/pad-page-brown_small.png" alt="Brown {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Removes dirt and old finish build-up. Cleans down to original surface. For wet or dry stripping. Slightly less aggressive than black pads.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}cleanfreak-15-inch-brown-wet-and-dry-floor-stripping-pads">15"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}cleanfreak-17-inch-brown-wet-and-dry-floor-stripping-pads">17"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}cleanfreak-20-inch-brown-wet-and-dry-floor-stripping-pads">20"</a></td>
        <td class="pad-size-circle last"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
      </tr>

      <tr class="odd">
        <td class="pad-color"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Black">Black</a></td>
        <td class="pad-image"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Black"><img src="{{ shop.url }}/cdn/shop/files/pad-page-black_small.png" alt="Black {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Removes dirt and old finish build-up. Cleans down to the original surface. For wet stripping only. More aggressive than brown pads.</span>
          </div>
        </td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}pacific-6-inch-black-baseboard-wax-stripping-pads">6.5"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}motorscrubber-8-inch-black-floor-stripping-pads-case-of-10">8"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}10-inch-black-strip-pads">10"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}12-inch-black-commercial-floor-strip-pad">12"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}13-inch-buffer-black-stripping-pads">13"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}14-inch-black-stripping-pads">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-black-rotary-floor-stripping-pad">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-black-stripping-pad">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-black-stripping-floor-pads">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-black-floor-stripping-pads">18"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}19-inch-black-rotary-floor-stripping-pads">19"</a></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}20-inch-black-floor-wax-stripping-pads">20"</a></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}24-inch-black-floor-stripping-pads">24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}12x18-black-strip-square-pads">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}20-inch-black-rectangular-stripping-pads">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-24-inch-black-orbital-heavy-duty-stripping-pads">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-black-wet-stripping-pads">14"x28"</a></td>
      </tr>

      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Maroon"><span>Maroon</span> EcoPrep</a></td>
        <td class="pad-image"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Maroon"><img src="{{ shop.url }}/cdn/shop/files/pad-page-maroon_small.png" alt="Maroon EcoPrep {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Removes dirt and old finish build-up. Cleans down to original surface. For wet or dry stripping.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}maroon-ecoprep-pads-17-inch">17"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}20-inch-maroon-dry-floor-strip-pads">20"</a></td>
        <td class="pad-size-circle last"></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}12x18-maroon-eco-prep-dry-strip-pads">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}20-inch-rectangular-dry-strip-pads">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-24-chemical-free-maroon-dry-stripping-floor-pads">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-eco-prep-maroon-dry-strip-pad">14"x28"</a></td>
      </tr>


      <tr class="odd">
        <td class="pad-color"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Maroon">Maroon X</a></td>
        <td class="pad-image"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Maroon"><img src="{{ shop.url }}/cdn/shop/files/pad-page-maroon_small.png" alt="Maroon X {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Extra-aggressive, heavy-duty pad for demanding stripping and restoration projects. For wet or dry stripping.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">18"</a></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}19-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">19"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}20-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">20"</a></td>
        <td class="pad-size-circle last"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x20-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">14"x20"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x24-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">14"x24"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14x28-inch-maroon-x-extreme-floor-heavy-duty-stripping-pads">14"x28"</a></td>
      </tr>

      <tr class="even">
        <td class="pad-color"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Burgundy">Dominator</a></td>
        <td class="pad-image"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Burgundy"><img src="{{ shop.url }}/cdn/shop/files/pad-page-burgundy_small.png" alt="Burgundy {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">For the heaviest duty stripping tasks. Extra heavy denier fiber, more abrasive grit and more open weave produce the ultimate stripping pad. Remove years of dirt and finish buildup.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}12-inch-cleanfreak-dominator-burgundy-floor-stripping-pads">12"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}dominator-burgundy-13-inch-floor-stripping-pads">13"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-cleanfreak-dominator-performance-floor-stripping-pads">15"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-high-performance-stripping-pad">17"</a></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}20-inch-high-perf-wax-stripping-pads">20"</a></td>
        <td class="pad-size-circle last"><a href="{{ padCatPath }}cleanfreak-24-inch-dominator-burgundy-high-performance-floor-stripping-pads">24"</a></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"></td>
      </tr>


      <tr class="odd">
        <td class="pad-color"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Black %2F Gray">Titan</a></td>
        <td class="pad-image"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.color][0]=Black %2F Gray"><img src="{{ shop.url }}/cdn/shop/files/pad-page-titan_small.png" alt="Titan Black Extreme {{ padCat }}"/></a></td>
        <td class="pad-hint">
          <div class="tooltip"><i class="fa-solid fa-circle-question"></i>
            <span class="tooltiptext">Removes multiple coats of floor finish. Ideal for quick stripping. For wet stripping.</span>
          </div>
        </td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}13-inch-cleanfreak-titan-black-extreme-stripping-pads">13"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}14-inch-cleanfreak-titan-black-extreme-stripping-pads">14"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}15-inch-cleanfreak-titan-black-extreme-stripping-pads">15"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}16-inch-cleanfreak-titan-black-extreme-stripping-pads">16"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}17-inch-cleanfreak-titan-black-extreme-stripping-pads">17"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}18-inch-cleanfreak-titan-black-extreme-stripping-pads">18"</a></td>
        <td class="pad-size-circle"><a href="{{ padCatPath }}19-inch-cleanfreak-titan-black-extreme-stripping-pads">19"</a></td>
        <td class="pad-size-circle "><a href="{{ padCatPath }}20-inch-cleanfreak-titan-black-extreme-stripping-pads">20"</a></td>
        <td class="pad-size-circle last"></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}12-x-18-inch-cleanfreak-titan-black-extreme-stripping-pads">12"x18"</a></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-20-inch-cleanfreak-titan-black-extreme-stripping-pads">14"x20"</a></td>
        <td class="pad-size-square"></td>
        <td class="pad-size-square"><a href="{{ padCatPath }}14-x-28-inch-cleanfreak-titan-black-extreme-stripping-pads">14"x28"</a></td>
      </tr>
    </table>
  </div>
{% endif %}
