{% assign product = product %}

{% assign pclearance = false %}
{% assign pdiscontinued = false %}
{% for c in product.collections %}
    {% if c.handle == "clearance" %}
        {% assign pclearance = true %}
    {% elsif c.handle == "discontinued" %}
        {% assign pdiscontinued = true %}
    {% endif %}
{% endfor %}



<div class="product-icons-area">
    <div class="product-icons">
        <div class="ship-made">


            {% assign current_variant_id = product.selected_or_first_available_variant.id %}

            {% for variant in product.variants %}
                <div class="masterqty-container var-specs var{{ variant.id }}" {% if current_variant_id != variant.id %}style="display:none;"{% endif %}>
                    {% if variant.metafields.plytix.clearance_overstock == 'true' %}
                        {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                            <a href="/collections/clearance"><div class="sm-row">
                                    <div class="icon-wrap" style="font-size: 23px;">
                                        <i class="fa-solid fa-tag"></i>
                                    </div>
                                    <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                                        <span class="sm-text">Buy now before they are gone!</span></div>
                                </div></a>
                        {%- else -%}
                            <div class="sm-row">
                                <div class="icon-wrap" style="font-size: 23px;">
                                    <i class="fa-solid fa-tag"></i>
                                </div>
                                <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                                    <span class="sm-text">Buy now before they are gone!</span></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}




            {% if pdiscontinued == true %}

                {% if product.selected_or_first_available_variant.sku contains "-DEMO" %}
                    {% comment %}on discontinued demos, replace wording with diff than normal discontinued{% endcomment %}
                    <div class="sm-row"><div class="icon-wrap" style="font-size: 22px;"><i class="fa-solid fa-ban"></i></div> <div class="sm-row-text"><span>Unavailable</span><br/><span class="sm-text">This Unit has Been Sold</span></div></div>
                {% else %}
                    <div class="sm-row"><div class="icon-wrap" style="font-size: 22px;"><i class="fa-solid fa-ban"></i></div> <div class="sm-row-text"><span>Discontinued</span><br/><span class="sm-text">This Product has Been Discontinued</span></div></div>
                {% endif %}
            {% else %}
                {% if product.selected_or_first_available_variant.compare_at_price %}
                    {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
                        {% assign specialSavings = product.compare_at_price | minus: product.price %}
                        {% assign endDate = product.selected_or_first_available_variant.metafields.plytix.special_enddate | date: '%s' %}
                        {% assign startDate = product.selected_or_first_available_variant.metafields.plytix.special_startdate | date: '%s' %}
                        {% assign nowTimestamp = 'now' | date: '%s' %}

                        {% assign enddiffSeconds = endDate | minus: nowTimestamp %}
                        {% assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 %}

                        {% assign startdiffSeconds = startDate | minus: nowTimestamp %}
                        {% assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 %}

                        {% if enddiffDays >= -1 and  startdiffDays < 0 %}
                            {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                                <a href="/collections/current-sales"><div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-sharp fa-solid fa-tags"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and <strong>Save {{ specialSavings | money }}</strong></span></div></div></a>
                            {% else %}
                                <div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-sharp fa-solid fa-tags"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and <strong>Save {{ specialSavings | money }}</strong></span></div></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if product.metafields.plytix.custom_hot_deal_message %}

                    {% assign endDate = product.selected_or_first_available_variant.metafields.plytix.special_enddate | date: '%s' %}
                    {% assign startDate = product.selected_or_first_available_variant.metafields.plytix.special_startdate | date: '%s' %}
                    {% assign nowTimestamp = 'now' | date: '%s' %}

                    {% assign enddiffSeconds = endDate | minus: nowTimestamp %}
                    {% assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 %}

                    {% assign startdiffSeconds = startDate | minus: nowTimestamp %}
                    {% assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 %}

                    {% if enddiffDays >= -1 and  startdiffDays < 0 %}
                        {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                           {{ diffDays }} <a href="/collections/current-sales"><div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-sharp fa-solid fa-tags"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and {{ product.metafields.plytix.custom_hot_deal_message }}</span></div></div></a>
                        {% endif %}
                    {% endif %}



                {% endif %}
                {% if product.metafields.plytix.bundle_special_data %}
                    {%- assign bundle_spec_data_array = product.metafields.plytix.bundle_special_data |split: "," -%}
                    {%- assign bundsavings = bundle_spec_data_array[0] | times: 100 -%}

                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/current-sales"><div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-sharp fa-solid fa-tags"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ bundle_spec_data_array[1] }}</strong> and <strong>Save {{ bundsavings | money }}</strong></span></div></div></a>
                    {% else %}
                        <div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-sharp fa-solid fa-tags"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ bundle_spec_data_array[1] }}</strong> and <strong>Save {{ bundsavings | money }}</strong></span></div></div>
                    {% endif %}

                {% endif %}
                {% if product.metafields.plytix.made_in_USA %}
                    <a href="/collections/all?refinementList%5Btags%5D%5B0%5D=Made%20in%20the%20USA "><div class="sm-row"><div class="icon-wrap" style="font-size: 23px"><i class="fa-solid fa-flag-usa"></i></div> <div class="sm-row-text"><span>Made in USA</span><br/><span class="sm-text">Supporting American Workers</span></div></div></a>
                {% endif %}
                {% if product.metafields.plytix.free_shipping %}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/free-shipping"><div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-solid fa-truck-fast"></i></div> <div class="sm-row-text"><span>Free Shipping</span><br/><span class="sm-text">Anywhere in the Continental US</span></div></div></a>
                    {% else %}
                        <a href="/collections/all?refinementList%5Btags%5D%5B0%5D=Free%20Shipping "><div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-solid fa-truck-fast"></i></div> <div class="sm-row-text"><span>Free Shipping</span><br/><span class="sm-text">Anywhere in the Continental US</span></div></div></a>
                    {% endif %}
                {% endif %}
                {% if product.metafields.plytix.custom_free_shipping %}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        {% assign endDate = product.selected_or_first_available_variant.metafields.plytix.special_enddate | date: '%s' %}
                        {% assign startDate = product.selected_or_first_available_variant.metafields.plytix.special_startdate | date: '%s' %}
                        {% assign nowTimestamp = 'now' | date: '%s' %}

                        {% assign enddiffSeconds = endDate | minus: nowTimestamp %}
                        {% assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 %}

                        {% assign startdiffSeconds = startDate | minus: nowTimestamp %}
                        {% assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 %}

                         {% if enddiffDays >= -1 and  startdiffDays < 0 %}
                             <a href="/collections/all?refinementList[tags][0]=Free Shipping Special"><div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-solid fa-truck-fast"></i></div> <div class="sm-row-text"><span>Free Shipping Special</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and get <strong>Free Shipping</strong></span></div></div></a>
                         {% endif %}
                    {% endif %}
                {% endif %}
                {% if product.metafields.plytix.eco_friendly %}
                    <a href="/collections/all?refinementList%5Btags%5D%5B0%5D=Environmentally%20Responsible "><div class="sm-row">
                        <div class="icon-wrap" style="font-size: 20px;"><i style="color: #019a00" class="fa-solid fa-recycle"></i></div>
                        <div class="sm-row-text"><span>Environmentally Responsible</span><br/><span class="sm-text">Reduced Impact on the Environment</span></div>
                    </div></a>
                {% endif %}
                {% if product.metafields.plytix.gold_medal_winner %}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/gold-medal-winners"><div class="sm-row">
                            <div class="icon-wrap">
                                <img width="20" height="25" src="https://files.plytix.com/api/v1.1/file/public_files/pim/assets/87/f0/a9/62/62a9f0875d155f1bc7e49b84/images/07/c2/52/63/6352c2072fc607028a3dd10b/gold-medal.png" alt="gold medal winner">
                            </div>
                            <div class="sm-row-text"><span>Gold Medal Winner</span><br/><span class="sm-text">It's that Awesome!</span></div>
                        </div></a>
                    {%- else -%}
                        <div class="sm-row">
                            <div class="icon-wrap">
                                <img width="20" height="25" src="https://files.plytix.com/api/v1.1/file/public_files/pim/assets/87/f0/a9/62/62a9f0875d155f1bc7e49b84/images/07/c2/52/63/6352c2072fc607028a3dd10b/gold-medal.png" alt="gold medal winner">
                            </div>
                            <div class="sm-row-text"><span>Gold Medal Winner</span><br/><span class="sm-text">It's that Awesome!</span></div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if product.metafields.plytix.in_these_bundles %}

                    {%- assign in_bundles_arr = product.metafields.plytix.in_these_bundles | split: ", " -%}
                    {%- assign counter = 0 -%}
                    {%- assign onlyhandle = "" -%}
                    {% for bundlehandle in in_bundles_arr %}
                        {% if bundlehandle != "" and bundlehandle != "undefined" %}
                            {%- assign counter = counter | plus: 1 -%}
                            {%- assign onlyhandle = bundlehandle -%}
                        {% endif %}
                    {% endfor %}

                    {% if counter > 0 %}
                            <div class="sm-row bnd-pop {% if counter == 2 %}bnd-pop-2col{% endif %}" style="cursor:pointer" data-bndhandle="{{ product.metafields.plytix.in_these_bundles }}">
                                <div class="icon-wrap" style="font-size: 23px;"><i style="color:#d48c00; margin-left:-5px;" class="fa-sharp fa-regular fa-box-open"></i></div>
                                <div class="sm-row-text"><span>Available in a Bundle</span><br/><span class="sm-text">Get everything you need with a starter package!</span></div>
                            </div>
                    {% endif %}

                {% endif %}

{% comment %}
                {% if product.metafields.plytix.clearance_overstock == 'true' or pclearance == true %}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/clearance"><div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                            <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                                <span class="sm-text">Buy now before they are gone!</span></div>
                            </div></a>
                    {%- else -%}
                        <div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                            <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                          <span class="sm-text">Buy now before they are gone!</span></div>
                        </div>
                    {% endif %}
                {% endif %}
                {% endcomment %}
                {% if product.selected_or_first_available_variant.sku contains "-DEMO" %}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/demoed-refurbished-equipment"><div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-regular fa-screwdriver-wrench"></i>
                            </div>
                            <div class="sm-row-text"><span>Used / Refurbished Model</span><br/>
                                <span class="sm-text">Tested & approved to be in good working order!</span>
                            </div>
                        </div></a>
                    {%- else -%}
                        <div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-regular fa-screwdriver-wrench"></i>
                            </div>
                            <div class="sm-row-text"><span>Used / Refurbished Model</span><br/>
                                <span class="sm-text">Tested & approved to be in good working order!</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            {% endif %}
            {% if product.metafields.plytix.package_products == blank %}
                {% if product.metafields.plytix.hide_product != 'true' and product.metafields.plytix.hide_pricing != "Hide Button Only" and product.metafields.plytix.hide_pricing != "Hide Price and Button" %}
                    {% render 'hulkapps-wishlist-product-btn' %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="prod-promo-image">
        {% assign today_date = 'now' | date: '%s' %}
        {%- assign bannerObj = shop.metaobjects.product_banner.values | sort: 'prioritystring'  -%}
        {% for banner in bannerObj %}
            {% assign start = banner.startdate | date: '%s' %}

            {% comment %}//add one day to the end date{% endcomment %}
            {% assign date = banner.enddate | date: '%s' %}
            {% assign seconds = 1 | times: 24 | times: 60 | times: 60 %}
            {% assign end = date | date: "%s" | plus: seconds | date: "%s" %}

                {% comment %}if not active, skip{% endcomment %}
            {% if today_date < start or today_date > end %}
                {% continue %}
            {% endif %}


            {%- assign showBanner = false -%}
            {% comment %}// check collections{% endcomment %}
            {% for bannerColl in banner.collections.value  %}
                {% for collection in product.collections %}
                    {% if collection.id == bannerColl.id  %}
                        {%- assign showBanner = true -%}
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% if showBanner == true %}
                    {% break %}
                {% endif %}
            {% endfor %}

            {% comment %}// check products{% endcomment %}
            {% if showBanner == false  %}
                {% for bannerProd in banner.products.value  %}
                    {% if product.id == bannerProd.id  %}
                        {%- assign showBanner = true -%}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if showBanner == true %}
                {% if banner.linkurl  %}
                    {% if banner.promo_code  %}
                        <a style="cursor:pointer;" title="Apply '{{ banner.promo_code }}' Promo" onclick="promoRedirect('{{ banner.promo_code }}','{{ banner.linkurl }}')" >{{ banner.banner | image_url: width: 300 | image_tag: class: 'img-responsive' }}</a>
                    {% else %}
                        <a href="{{ banner.linkurl }}">{{ banner.banner | image_url: width: 300 | image_tag: class: 'img-responsive' }}</a>
                    {% endif %}
                {% else %}
                    {{ banner.banner | image_url: width: 300 | image_tag: class: 'img-responsive' }}
                {% endif %}
                {% comment %}Name: {{ banner.name }}<br/>
                Link: {{ banner.linkurl }}<br/>
                Products: {{ banner.products }}<br/>
                Collections: {{ banner.collections }}<br/>
                Priority: {{ banner.prioritystring }}<br/>
                Start: {{ banner.startdate }}<br/>
                End: {{ banner.enddate }}<br/><br/><br/>{% endcomment %}
                {% break %}
            {% endif %}

        {% endfor %}
    </div>
    <div class="clearer"></div>
</div>