{%- comment -%}
  @param product

  @param selected_variant

  @param show_dynamic_checkout_button {Boolean}
    If true, show dynamic checkout button
{%- endcomment -%}
{% assign isBundle = false %}
{% if product.metafields.plytix.package_products != blank or product.metafields.plytix.packaged_free_product != blank %}
  {% assign isBundle = true %}

  {% comment %}for fgwp and warning pop{% endcomment %}
  {%- assign today_date = 'now' | date: '%s' %}
  {%- assign fgwp_Obj = shop.metaobjects.free_gift_with_product.values  -%}
  {%- assign warning_pops_avaliable = 0 -%}
  {%- assign fgwp_pops_avaliable = 0 -%}

{% endif %}

{%- comment -%}
Cleanfreak update: remove default functionality for add to cart on bundles (remove from) and add just a button. Fixes issue with bundles adding to cart at $0 when JS is turned off.
{%- endcomment -%}
{%- if isBundle == false -%}
  {%- if is_product_modal and show_dynamic_checkout_button -%}
    {%- assign quickshop_smart_buttons = true -%}
  {%- endif -%}

  {%- if is_product_modal == false and show_dynamic_checkout_button -%}
    {%- assign product_smart_buttons = true -%}
  {%- endif -%}

  {%- if product.selling_plan_groups.size > 0 -%}
    {%- assign show_dynamic_checkout_button = false -%}
  {%- endif -%}

  {%- if selected_variant.available == false -%}
    {%- assign quickshop_smart_buttons = false -%}
    {%- assign product_smart_buttons = false -%}
  {%- endif %}

  {%- assign product_form_class = '' -%}

  {%- if show_dcb -%}
    {%- if product_smart_buttons or quickshop_smart_buttons -%}
      {%- assign product_form_class = 'smart-payment-enabled' -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign pstep = 1 -%}
  {%- assign current_variant_id = product.selected_or_first_available_variant.id -%}
  {%- if product.selected_or_first_available_variant.metafields.plytix.product_step -%}
    {%- assign pstep = product.selected_or_first_available_variant.metafields.plytix.product_step -%}
  {%- endif -%}
  {% form 'product', product, class: product_form_class, data-product-form: '' %}
    {% if pstep > 1 %}
      <input type="hidden" class="product_step" value="{{ pstep }}">
    {% endif %}
    <input type="hidden" class="erp_sku" value="{{ product.metafields.plytix.erp_sku }}">
    <input type="hidden" class="pid" value="{{product.id}}">
    <input type="hidden" class="ptitle" value="{{product.title | remove: "'" | remove: '"'}}">
    <input type="hidden" class="pprice" value="{{product.variants.first.price | times: 0.01}}">
    <input type="hidden" class="pbrand" value="{{product.vendor | remove: "'" | remove: '"'}}">
    <input type="hidden" class="ptype" value="{{product.type | remove: "'" | remove: '"'}}">
    <input type="hidden" class="pcategory_id" value="{{ product.collections.first.id }}">
    <input type="hidden" class="pcategory_name" value="{{ product.collections.first.title | remove: "'" | remove: '"' }}">
    <input type="hidden" class="pvtitle" value="{{ product.variants.first.title | remove: "'" | remove: '"' }}">
    <input type="hidden" class="psku" value="{{ product.variants.first.sku }}">
    <input type="hidden" class="atc_loc" value="Product Page">
    {%- comment -%}
      Display variant options for a product

      @param product
      @param selected_variant
      @param style

      @param enable_swatches
      @param swatches_shape
      @param swatches_option_trigger
      @param swatches_option_style
      @param swatches_product_page_size
      @param swatch_colors

      @param select_main_classes
      @param select_classes
      @param input_select_wrapper_classes
      @param input_select_classes
      @param input_select_label_classes
      @param input_select_chevron_classes

      @param radios_classes
      @param option_header_classes
      @param option_name_classes
      @param option_values_classes
      @param option_value_classes
      @param option_value_label_classes
      @param option_value_input_classes
      @param option_value_name_classes

      @param swatches_classes
      @param option_swatch_wrapper_classes
      @param option_swatch_classes
      @param option_swatch_inner_classes
    {%- endcomment -%}
    {%- assign product = product -%}
    {%- assign selected_variant = selected_variant -%}
    {%- assign style = settings.product_option_style -%}
    {%- assign enable_swatches = settings.swatches_enable -%}
    {%- assign sold_out_options = settings.sold_out_options -%}
    {%- assign swatches_shape = settings.swatches_shape -%}
    {%- assign swatches_option_trigger = settings.swatches_swatch_trigger -%}
    {%- assign swatches_option_style = settings.swatches_option_style -%}
    {%- assign swatches_product_page_size = settings.swatches_product_page_size -%}
    {%- assign swatches_custom_colors = settings.swatches_custom_colors -%}
    {%- assign swatch_file_type = 'files' -%}
    {%- assign select_main_classes = 'form-options' -%}
    {%- assign select_classes = 'form-field form-options' -%}
    {%- assign input_select_wrapper_classes = 'form-field-select-wrapper' -%}
    {%- assign input_select_classes = 'form-field-input form-field-select' -%}
    {%- assign input_select_label_classes = 'form-field-title' -%}
    {%- assign radios_classes = 'form-options form-options-selectable-boxes' -%}
    {%- assign option_header_classes = 'options-selection__option-header' -%}
    {%- assign option_name_classes = 'options-selection__option-name' -%}
    {%- assign option_values_classes = 'options-selection__option-values' -%}
    {%- assign option_value_classes = 'options-selection__option-value' -%}
    {%- assign option_value_label_classes = 'options-selection__option-value-label' -%}
    {%- assign option_value_input_classes = 'options-selection__option-value-input' -%}
    {%- assign option_value_name_classes = 'options-selection__option-value-name' -%}
    {%- assign swatches_classes = 'form-options form-options-swatches' -%}
    {%- assign option_swatch_wrapper_classes = 'option-value-name option-value-swatch-wrapper' -%}
    {%- assign option_swatch_classes = 'swatch' -%}
    {%- assign option_swatch_inner_classes = 'swatch-inner' -%}

    {%- comment -%}Get stock status for logging in order at time of order --------------------------------------------------------------------{%- endcomment -%}

    {%- assign stockStatusMain = "" -%}
    {%- assign stockStatusSub = "" -%}
    {%- assign fservice = selected_variant.fulfillment_service -%}
    {%- assign leadTime = selected_variant.metafields.plytix.sxerp_lead_time -%}
    {%- assign inventoryQuantity = selected_variant.inventory_quantity -%}
    {%- assign inventoryQuantity = inventoryQuantity | plus: 0 -%}
    {%- assign leadTime = leadTime | plus: 0 -%}

    {%- if selected_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' and  inventoryQuantity <  1 -%}
      {%- assign stockStatusMain = "Ships Direct from Manufacturer" -%}
      {%- assign stockStatusSub = "May Have Extended Lead Times" -%}
    {%- elsif selected_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantity <  1 -%}

      {%- comment -%}Look at po date instead of lead time{%- endcomment -%}
      {%- if selected_variant.metafields.plytix.sxerp_po_date -%}
        {%- assign dateStart = selected_variant.metafields.plytix.sxerp_po_date | date: '%s' -%}
        {%- assign nowTimestamp = 'now' | date: '%s' -%}
        {%- assign diffSeconds = dateStart | minus: nowTimestamp -%}
        {%- assign leadTime = diffSeconds | divided_by: 3600 | divided_by: 24 -%}
      {%- endif -%}

      {%- assign stockStatusMain = "Temporarily On Backorder" -%}
      {%- if leadTime < 22  -%}
        {%- assign stockStatusSub = "Estimated Ship Date 1 – 3 wks" -%}
      {%- elsif leadTime < 29 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 2 – 4 wks" -%}
      {%- elsif leadTime < 36 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 3 – 5 wks" -%}
      {%- elsif leadTime < 43 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 4 –6 wks" -%}
      {%- elsif leadTime < 50 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 5 – 7 wks" -%}
      {%- elsif leadTime < 57 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 6 – 8 wks" -%}
      {%- elsif leadTime < 64 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 7 – 9 wks" -%}
      {%- elsif leadTime < 71 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 8 – 10 wks" -%}
      {%- elsif leadTime < 78 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 9 – 11 wks" -%}
      {%- elsif leadTime < 85 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 10 – 12 wks" -%}
      {%- elsif leadTime < 121 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 3 – 4 mths" -%}
      {%- elsif leadTime < 151 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 4 – 5 mths" -%}
      {%- elsif leadTime < 181 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 5 – 6 mths" -%}
      {%- elsif leadTime < 211 -%}
        {%- assign stockStatusSub = "Estimated Ship Date 6 – 7 mths" -%}
      {%- elsif leadTime < 1000 -%}
        {%- assign stockStatusSub = "Estimated Ship Date over 7 mths" -%}
      {%- endif %}
    {%- elsif selected_variant.inventory_management == nil and leadTime -%}
      {%- assign stockStatusMain = "Special Order Item" -%}
      {%- if leadTime < 22  -%}
        {%- assign stockStatusSub = "Expected to ship in 1 – 3 wks" -%}
      {%- elsif leadTime < 29 -%}
        {%- assign stockStatusSub = "Expected to ship in 2 – 4 wks" -%}
      {%- elsif leadTime < 36 -%}
        {%- assign stockStatusSub = "Expected to ship in 3 – 5 wks" -%}
      {%- elsif leadTime < 43 -%}
        {%- assign stockStatusSub = "Expected to ship in 4 – 6 wks" -%}
      {%- elsif leadTime < 50 -%}
        {%- assign stockStatusSub = "Expected to ship in 5 – 7 wks" -%}
      {%- elsif leadTime < 57 -%}
        {%- assign stockStatusSub = "Expected to ship in 6 – 8 wks" -%}
      {%- elsif leadTime < 64 -%}
        {%- assign stockStatusSub = "Expected to ship in 7 – 9 wks" -%}
      {%- elsif leadTime < 71 -%}
        {%- assign stockStatusSub = "Expected to ship in 8 – 10 wks" -%}
      {%- elsif leadTime < 78 -%}
        {%- assign stockStatusSub = "Expected to ship in 9 – 11 wks" -%}
      {%- elsif leadTime < 85 -%}
        {%- assign stockStatusSub = "Expected to ship in 10 – 12 wks" -%}
      {%- elsif leadTime < 121 -%}
        {%- assign stockStatusSub = "Expected to ship in 3 – 4 mths" -%}
      {%- elsif leadTime < 151 -%}
        {%- assign stockStatusSub = "Expected to ship in 4 – 5 mths" -%}
      {%- elsif leadTime < 181 -%}
        {%- assign stockStatusSub = "Expected to ship in 5 – 6 mths" -%}
      {%- elsif leadTime < 211 -%}
        {%- assign stockStatusSub = "Expected to ship in 6 – 7 mths" -%}
      {%- elsif leadTime < 1000 -%}
        {%- assign stockStatusSub = "Expected to ship in over 7 mths" -%}
      {%- endif %}
    {%- elsif selected_variant.inventory_quantity > 0 -%}
      {%- assign stockStatusMain = "In Stock" -%}
    {%- endif -%}

    {% if stockStatusSub != "" %}
      {% capture stockStatusNote %}{{ stockStatusMain }} ({{ stockStatusSub }}){% endcapture %}
    {% else %}
      {% capture stockStatusNote %}{{ stockStatusMain }}{% endcapture %}
    {% endif %}
    {% if selected_variant.sku == "SUPERFREAK" %}
      {% assign stockStatusNote = ""  %}
    {% endif %}

    {%- comment -%}End of stock status logic ----------------------------------------------------------------------------------------------- {%- endcomment -%}

    {%- comment -%}Inject @pixelunion/shopify-variants-ui/variant-selection begin{%- endcomment -%}
    {%- comment -%}
      Display variant options for a product

      @param product
      @param selected_variant
      @param variant_selection_id
      @param sold_out_options
      @param style

      @param enable_swatches
      @param swatches_shape
      @param swatches_option_trigger
      @param swatches_option_style
      @param swatches_product_page_size
      @param swatches_custom_colors
    {%- endcomment -%}
    {%- if pstep > 1 -%}
      <input type="hidden" name="properties[_product_step]" value="{{ pstep }}" />
    {%- endif -%}

    {%- assign isSpecial = false -%}
    {%- if product.selected_or_first_available_variant.compare_at_price -%}
      {%- if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price -%}
        {% comment %}{%- assign endDate = product.selected_or_first_available_variant.metafields.plytix.special_enddate | date: '%s' -%}{% endcomment %}
        {% comment %}{%- assign nowTimestamp = 'now' | date: '%s' -%}{% endcomment %}
        {% comment %}{%- assign diffSeconds = endDate | minus: nowTimestamp -%}{% endcomment %}
        {% comment %}{%- assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 -%}{% endcomment %}
        {% comment %}{%- if diffDays >= -1 -%}{% endcomment %}
          {%- assign isSpecial = true -%}
        {% comment %}{%- endif -%}{% endcomment %}
      {%- endif -%}
    {%- endif -%}

    {% comment %}B2b pricing{% endcomment %}
    {%- if shop.name contains "CleanFreak B2B"-%}
      {%- assign varorgprice = product.selected_or_first_available_variant.metafields.plytix.org-price-4-b2b | times: 100 -%}
      {%- assign varorgpriceb4special = product.selected_or_first_available_variant.metafields.plytix.org-price-b4-special | times: 100 -%}
      {%- if varorgprice > product.selected_or_first_available_variant.price -%}
        {%- assign isSpecial = true -%}
      {%- elsif varorgpriceb4special > product.selected_or_first_available_variant.price -%}
        {%- assign isSpecial = true -%}
      {%- endif -%}
    {%- endif -%}


    <input type="hidden" name="properties[_erp_sku]" value="{{ product.metafields.plytix.erp_sku }}" />

    {%- if product.metafields.plytix.general_product_type == "Machine" -%}
      <input type="hidden" name="properties[_sf_eligible]" value="true" />
    {%- endif -%}

    {%- if isSpecial == false -%}
      {%- if product.metafields.plytix.tiered_pricing != blank and product.metafields.plytix.tiered_pricing_dollar_off != blank -%}
        <input type="hidden" name="properties[_tiered_pricing]" value="{{ product.metafields.plytix.tiered_pricing }}:{{ product.metafields.plytix.tiered_pricing_dollar_off | times: 100.00 | money_without_currency | replace: ",",""  }}" />
      {%- else -%}
        <input type="hidden" name="properties[_tiered_pricing]" value="{{ product.metafields.plytix.tiered_pricing }}" />
      {%- endif -%}
    {%- endif -%}
    <input type="hidden" name="properties[_org_price]" value="{{ selected_variant.price }}" />
    <variant-selection
            {% if variant_selection_id != blank %}id="{{ variant_selection_id }}"{% endif %}
            class="variant-selection"
            product-url="{{ product.url }}.js"
            variant="{% if selected_variant %}{{ selected_variant.id }}{% else %}not-selected{% endif %}"
            data-variant-selection
    >

      {%- if product.has_only_default_variant -%}
        <input
                class="variant-selection__variants variant-selection__variants--default"
                name="id"
                type="hidden"
                value="{{ product.variants.first.id }}"
                data-variants
        />
        <input type="hidden" name="properties[_erp_sku]" value="{{ selected_variant.metafields.plytix.erp_sku }}" />
        <input type="hidden" name="properties[Sku]" value="{{ selected_variant.sku }}" />
        {%- if stockStatusNote != "" -%}
          <input type="hidden" name="properties[Status]" value="{{ stockStatusNote }}" />
        {%- endif -%}
        {%- if isSpecial == false -%}
          {%- if selected_variant.metafields.plytix.tiered_pricing_dollar_off != blank and selected_variant.metafields.plytix.tiered_pricing_dollar_off != blank -%}
            <input type="hidden" name="properties[_tiered_pricing]" value="{{ selected_variant.metafields.plytix.tiered_pricing }}:{{ selected_variant.metafields.plytix.tiered_pricing_dollar_off | times: 100.00 | money_without_currency | replace: ",","" }}" />
          {%- else -%}
            <input type="hidden" name="properties[_tiered_pricing]" value="{{ selected_variant.metafields.plytix.tiered_pricing }}" />
          {%- endif -%}
        {%- endif -%}
        {%- comment -%}lineitem for available qty at time of cart to pass for email notice if shipments are split{%- endcomment -%}
        <input type="hidden" name="properties[_available_qty]" value="{{ selected_variant.inventory_quantity }}" />

        {%- if pstep > 1 -%}
          <input type="hidden" name="properties[_product_step]" value="{{ pstep }}" />
        {%- endif -%}

      {%- else -%}
        <input type="hidden" name="properties[_erp_sku]" value="{{ selected_variant.metafields.plytix.erp_sku }}" />
        <input type="hidden" name="properties[Sku]" value="{{ selected_variant.sku }}" />

        {%- if stockStatusNote != "" -%}
          <input type="hidden" name="properties[Status]" value="{{ stockStatusNote }}" />
        {%- endif -%}


        {%- assign isSpecialSelectVar = false -%}
        {%- if selected_variant.compare_at_price -%}
          {%- if selected_variant.price < selected_variant.compare_at_price -%}
            {% comment %}{%- assign endDate = selected_variant.metafields.plytix.special_enddate | date: '%s' -%}{% endcomment %}
            {% comment %}{%- assign nowTimestamp = 'now' | date: '%s' -%}{% endcomment %}
            {% comment %}{%- assign diffSeconds = endDate | minus: nowTimestamp -%}{% endcomment %}
            {% comment %}{%- assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 -%}{% endcomment %}
            {% comment %}{%- if diffDays >= -1 -%}{% endcomment %}
              {%- assign isSpecialSelectVar = true -%}
            {% comment %}{%- endif -%}{% endcomment %}
          {%- endif -%}
        {%- endif -%}

        {% comment %}B2b pricing{% endcomment %}

          {%- assign varorgprice = selected_variant.metafields.plytix.org-price-4-b2b | times: 100 -%}
          {%- if varorgprice > selected_variant.price -%}
            {%- assign isSpecialSelectVar = true -%}
          {%- endif -%}


        {%- if isSpecialSelectVar == false -%}
          {%- if selected_variant.metafields.plytix.tiered_pricing_dollar_off != blank and selected_variant.metafields.plytix.tiered_pricing_dollar_off != blank -%}
            <input type="hidden" name="properties[_tiered_pricing]" value="{{ selected_variant.metafields.plytix.tiered_pricing }}:{{ selected_variant.metafields.plytix.tiered_pricing_dollar_off | times: 100.00 | money_without_currency | replace: ",",""  }}" />
          {%- else -%}
            <input type="hidden" name="properties[_tiered_pricing]" value="{{ selected_variant.metafields.plytix.tiered_pricing }}" />
          {%- endif -%}
        {%- endif -%}

        {%- comment -%}lineitem for available qty at time of cart to pass for email notice if shipments are split{%- endcomment -%}
        <input type="hidden" name="properties[_available_qty]" value="{{ selected_variant.inventory_quantity }}" />

        {%- comment -%}<input type="hidden" name="properties[_tiered_pricing]" value="{{ selected_variant.metafields.plytix.tiered_pricing }}" />{%- endcomment -%}

        {%- if pstep > 1 -%}
          <input type="hidden" name="properties[_product_step]" value="{{ pstep }}" />
        {%- endif -%}

        <noscript>
          <style>
            .variant-selection__variants {
              display: block !important;
            }
          </style>
        </noscript>
        <select
                class="variant-selection__variants"
                name="id"
                style="display: none"
                data-variants
        >
          <option
                  value="not-selected"
                  disabled
                  {% if selected_variant == blank %}selected{% endif %}
          >
            {{ 'product.variants.choose_variant' | t }}
          </option>
          {%- for variant in product.variants -%}
            <option
                    {% if selected_variant and selected_variant.id == variant.id %}selected{% endif %}
                    value="{{ variant.id }}"
                    data-variant-option-metafield="{{  variant.metafields.plytix.erp_sku }}"
              {% unless variant.available %}disabled{% endunless %}
            >
              {{ variant.title }} - {{ variant.price | money }}
            </option>
          {%- endfor -%}
        </select>

        {%- comment -%}Inject @pixelunion/shopify-variants-ui/options-selection begin{%- endcomment -%}
        {%- comment -%}
          Display variant options for a product

          @param product
          @param selected_variant
          @param variant_selection_id
          @param sold_out_options
          @param style

          @param enable_swatches
          @param swatches_shape
          @param swatches_option_trigger
          @param swatches_option_style
          @param swatches_product_page_size
          @param swatches_custom_colors
          @param swatch_file_type
        {%- endcomment -%}

        <options-selection
                {% if variant_selection_id != blank %}variant-selection="{{ variant_selection_id }}"{% endif %}
                style="display: none;"
          {% if sold_out_options == 'disabled' %}disable-unavailable{% endif %}
          {% if sold_out_options == 'hidden' %}remove-unavailable{% endif %}
                data-options-selection
        >
          <script>
            (function() {
              const scriptTag = document.scripts[document.scripts.length - 1];
              const parentTag = scriptTag.parentNode;

              parentTag.style.display = '';
            })()
          </script>

          {%- for option in product.options_with_values -%}
            {%- assign option_index = forloop.index0 -%}
            {%- assign show_swatches = false -%}
            {%- if enable_swatches -%}
              {%- assign swatches_option_trigger = swatches_option_trigger | strip | downcase -%}
              {%- assign option_name = option.name | strip | downcase -%}

              {%- if option_name == swatches_option_trigger -%}
                {%- assign show_swatches = true -%}
                {%- assign swatch_option_key = 'option' | append: forloop.index -%}
              {%- endif -%}
            {%- endif -%}

            {%- if style == 'select' and show_swatches == false -%}
              {%
                      render 'options-select',
                      product: product,
                      selected_variant: selected_variant,
                      option: option,
                      option_index: option_index
              %}
            {%- elsif style == 'radio' or show_swatches == true -%}
              {%
                      render 'options-radios',
                      product: product,
                      selected_variant: selected_variant,
                      option: option,
                      option_index: option_index,
                      show_swatches: show_swatches,
                      swatch_option_key: swatch_option_key,
                      swatch_size: swatches_product_page_size,
                      swatches_option_style: swatches_option_style,
                      swatch_file_type: swatch_file_type,
                      swatches_custom_colors: swatches_custom_colors,
                      swatches_shape: swatches_shape
              %}
            {%- endif -%}
          {%- endfor -%}
        </options-selection>
        {%- comment -%}Inject @pixelunion/shopify-variants-ui/options-selection end{%- endcomment -%}

      {% endif %}
    </variant-selection>
    {%- comment -%}Inject @pixelunion/shopify-variants-ui/variant-selection end{%- endcomment -%}

    <div class="qtyMsg" style="font-weight: 900;"></div>
    <div class="product-form--atc">
      <div class="tierqtydiv qtydiv" data-quantity-wrapper>
        <div class="rside">
          {%- comment -%} Quantity Discount Tieres{%- endcomment -%}

          {%- assign pdiscontinued = false -%}
          {%- for c in product.collections -%}
            {%- if c.handle == "discontinued" -%}
              {%- assign pdiscontinued = true %}
            {%- endif -%}
          {%- endfor -%}



    {%- for variant in product.variants -%}

          {%- if variant.metafields.plytix.tiered_pricing != blank and variant.metafields.plytix.tiered_pricing_dollar_off  != blank and pdiscontinued == false and isSpecial == false -%}
              {% comment %}new dollar off way{% endcomment %}
              {%- assign pprice = variant.price | divided_by: 100.00 -%}
              <div class="discount-info-wrap-v3 dollaroff var-specs var{{ variant.id }}" {% if current_variant_id != variant.id %}style="display:none;"{% endif %}>
                <div class="discount-info-wrap-v2-header">Quantity Discounts</div>
                {%- assign tierArr = variant.metafields.plytix.tiered_pricing | split: '|' -%}
                <div class="tier-area tier-{{ tierArr.size | plus: 1 }}-levels">
                  {%- assign positionCount = 1 -%}

                  <div class="tierlevel selected default" data-tierprice="{{ pprice | times: 100 | money }}" data-tierSaved="0" data-tierNum="1">
                    <div class="tierNum">Buy 1+</div><div class="at-text"> at </div>
                    <div class="tierPerItem"><strong>{{ pprice | times: 100 | money }}/ea</strong></div>
                  </div>

                  {%- for tierNum in tierArr -%}
                    {%- assign totalSaved = variant.metafields.plytix.tiered_pricing_dollar_off | times: positionCount -%}
                    <div class="tierlevel {% if forloop.last %}lastTier{% endif %}" data-tierprice="{{ pprice | minus: totalSaved | times: 100 | money }}" data-tierSaved="{{ totalSaved | times: 100 | money }}" data-tierNum="{{ tierNum }}">
                      <div class="tierNum">Buy {{ tierNum }}+</div><div class="at-text"> at </div>
                      <div class="tierPerItem"><strong>{{ pprice | minus: totalSaved | times: 100 | money }}/ea</strong></div>
                      <div class="tierSaved">({{ totalSaved | times: 100 | money }}<span> off</span>)</div>

                    </div>
                    {%- assign positionCount = positionCount | plus: 1 -%}
                  {%- endfor -%}

                </div>
              </div>
          {%- endif -%}
      {%- endfor -%}
          {%- comment -%} Quantity Discount Tieres END{%- endcomment -%}
        </div>
      </div>

{%- comment -%}start of inventory check for qty notice: check with AME-403020{%- endcomment -%}
      {%- for variant in product.variants -%}
          {%- assign fservice = variant.fulfillment_service -%}
          {%- assign leadTime = variant.metafields.plytix.sxerp_lead_time -%}
          {%- assign inventoryQuantity = variant.inventory_quantity -%}
          {%- assign inventoryQuantity = inventoryQuantity | plus: 0 -%}
          {%- assign leadTime = leadTime | plus: 0 -%}

          {%- comment -%}get instock{%- endcomment -%}
          {%- if variant.metafields.plytix.sx_erp_is_drop_ship == 'true' -%}
              {%- comment -%}<span class="status-desc main-notice">Ships Direct from Manufacturer</span>{%- endcomment -%}
          {%- elsif variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantity <  1 -%}
              {%- comment -%}<span class="status-desc main-notice">Temporarily On Backorder</span>{%- endcomment -%}
          {%- elsif variant.inventory_management == nil and leadTime -%}
              {%- comment -%}<span class="status-desc main-notice">Special Order Item</span>{%- endcomment -%}
          {%- elsif variant.inventory_quantity > 0 -%}

            {%- assign showWarning = 1 -%}
            {%- if variant.metafields.plytix.clearance_overstock == 'true' -%}
              {%- assign showWarning = 0 -%}
            {%- elsif variant.sku contains "-DEMO"  -%}
              {%- assign showWarning = 0 -%}
            {%- endif -%}

            {%- if showWarning == 1 -%}
              {%- assign totalItems = 0 -%}
              {%- for cartitem in cart.items -%}
                  {%- if cartitem.id == variant.id -%}
                    {%- assign totalItems = totalItems | plus: cartitem.quantity -%}
                  {%- endif -%}
                {%- comment -%}In cart: {{ cartitem.id }}/{{ cartitem.quantity }}<br/>{%- endcomment -%}
              {%- endfor -%}

              <div style="display:none;" id="qtyavail-v{{ variant.id }}" data-incart="{{ totalItems }}" data-qtyavailable="{{ variant.inventory_quantity }}"></div>
            {%- endif -%}

          {%- endif -%}
      {%- endfor -%}


      {%- comment -%}Removing this for now. may add back later{%- endcomment -%}
      {%- comment -%}
      <div id="stock-backorder-notice" style="display:none"></div>
      <script>
        $(document).ready(function() {
          checkQty();
          $('#qtybox input').on('click', function(){
              checkQty();
          });

          $('.product-form--atc-button').on('click', function(){
            // update stock on data element
            var addedStock = $('#qtybox #product-quantity-input').val();
            var getstockqtyid = "#qtyavail-" + $('.product-block .product-detail-sku:visible').attr('id');
            var getCartStock= $(getstockqtyid).attr('data-incart');
            var newCartStock = parseInt(getCartStock) + parseInt(addedStock);
            $(getstockqtyid).attr('data-incart', newCartStock);
            checkQty();
          });

          $('.options-selection__input-select').change(function(e){
            setTimeout(()=>{
              checkQty();
            }, 200)
          });

        });

        function checkQty(newCartStock){
          setTimeout(()=>{
            var getstockqtyid = "#qtyavail-" + $('.product-block .product-detail-sku:visible').attr('id');
            var getcurrentstock = $(getstockqtyid).data('qtyavailable');

            if (getcurrentstock === undefined) {
              $('#stock-backorder-notice').hide().text("");
            }else{
              var requestStock = $('#qtybox #product-quantity-input').val();
              if(newCartStock){
                var getCartStock= newCartStock;
              }else{
                var getCartStock= $(getstockqtyid).attr('data-incart');
              }
              var totalRequest = parseInt(requestStock) + parseInt(getCartStock);
              // console.log("Request:" + totalRequest + "("+ requestStock+"/"+getCartStock +")" + "/Current stock:" + getcurrentstock);
              if (totalRequest > getcurrentstock) {
                $('#stock-backorder-notice').show().text("This item has limited stock. Your order may be split into multiple shipments.");
              } else {
                $('#stock-backorder-notice').hide().text("");
              }
            }
          }, 200)
        }
      </script>
{%- endcomment -%}

{%- comment -%}end of inventory check for qty notice{%- endcomment -%}

      <div class="cart-buttons">

        <div class="qtydiv" data-quantity-wrapper>
          <div class="lside">
            {%- if pdiscontinued == false -%}
              <label for="Quantity" class="quantity-selector">Quantity</label>
              <div class="qtybox" id="qtybox">
                <input type='button' value='−' data-step="{{ pstep }}" class='qtyminus' data-field='quantity' />


                <input
                        type='text'
                        name='quantity'
                        id="product-quantity-input"
                        class="form-field-input form-field-number form-field-filled qty"
                        value="{{ pstep }}"
                        data-step="{{ pstep }}"
                        pattern="\d*"
                        aria-label="{{ 'general.general.quantity' | t }}"
                        data-quantity-input
                />
                <input type='button' value='+' class='qtyplus' data-step="{{ pstep }}" data-field='quantity' />
              </div>
            {%- endif -%}
          </div>

        </div>

        <div data-prod-upd>
          <input type="hidden"
                 name="updates[{{ product.handle }}]"
                 class="quantity field"
                 data-bundle-subproduct
                 data-id="{{ product.selected_or_first_available_variant.id }}"
                 data-erpSku="{{ product.metafields.plytix.erp_sku }}"
                 data-step="{{ pstep }}"
                 data-tieredPricing=""/>
        </div>




        {%- if product.metafields.plytix.hide_pricing != "Hide Button Only" and product.metafields.plytix.hide_pricing != "Hide Price and Button" -%}

          {%
                  render 'warning-pop',
                  product: product,
                  area:'main',
                  varid:'mainatc'
          %}

                    <button class=" product-form--atc-button main-atc-button {% if selected_variant and selected_variant.available == false %} disabled {% endif %}"
                            id="p-atc"
                            type="submit"
                            {% if selected_variant and selected_variant.available == false %}
                              disabled
                            {% endif %}
                            data-product-atc
                            {% if product.template_suffix contains 'pre-order' %}
                              data-product-atc-preorder
                            {% endif %}
                    >

                      <span class="atc-button--text">
                        {%- comment -%}<i class="fa-regular fa-cart-shopping"></i>{%- endcomment -%}
                        <span class="atc-plus">+</span>
                        {% unless selected_variant and selected_variant.available == false %}
                          {% if product.template_suffix contains 'pre-order' %}
                            {{ 'product.buttons.pre_order' | t }}
                          {% else %}
                            {{ 'product.buttons.add_to_cart' | t }}
                          {% endif %}
                        {% else %}
                          {{ 'product.buttons.sold_out' | t }}
                        {% endunless %}
                      </span>
                      <span class="atc-button--icon">
                        {%- render 'icon-spinner' -%}
                      </span>
                    </button>
                    {% comment %}\

                      {%- if show_dynamic_checkout_button -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                    {% endcomment %}
                  {%- endif -%}
                </div>
              </div>
              {%- if pdiscontinued == false -%}
                {%- if shop.name contains "CleanFreak B2B" or selected_variant.sku contains "-DEMO"  -%}
                  {% comment %}do nothing{% endcomment %}
                {%- else -%}
                  <div class="financing-contain">
                    {%- if selected_variant.price < 100000 -%}
                      <div class="default-text"><a href="/pages/financing-options">Financing available for orders over $1000 <img style="width:105px; float:right; margin-top:1px" src="{{ 'quickspark-v2.png' | file_url }}" alt="QuickSpark Financing"/></a></div>
                    {%- else -%}
                      {% comment %}<div class="finance-wrapper"></div>{% endcomment %}


                      <style>
                        .finance-info {
                          text-align:left;
                        }


                        .finance-info h2{border-bottom:1px solid #C0D3D8; padding-bottom:15px; margin-bottom:20px;}
                        .finance-info .finance-info-option{}
                        .finance-info .finance-info-option ul{padding-left:15px; margin:10px 0 15px 0;}
                        .finance-info .finance-info-option .finance-info-upto{font-size:14px;}
                        .finance-info .finance-info-option .finance-info-left{text-align:left; float:left;}
                        .finance-info .finance-info-option .finance-info-right{width:130px; float:right;}
                        .finance-info .finance-info-option .finance-info-img img{margin:unset; max-width:150px;}
                        .finance-info .finance-info-option .finance-info-list{clear:both;padding: 1px 0 15px 0;}
                      </style>
                      <script>

                        $(document).ready(function () {
                          $('.finance-info-trigger').on('click', function () {
                            $('.finance-info').slideToggle(500); // 500ms animation

                            if($('.finance-info-trigger').hasClass('showthis')){
                              $('.finance-info-trigger').removeClass('showthis').addClass('hidethis').html('Hide financing options <i style="font-size:14px;" class="fa-solid fa-chevron-up"></i>');
                            }else{
                              $('.finance-info-trigger').removeClass('hidethis').addClass('showthis').html('See financing options <i style="font-size:14px;" class="fa-solid fa-chevron-right"></i>');
                            }
                          });
                          $('.shoppaycheckout').on('click', function () {
                            $('.product-form--atc #p-atc').click();
                          });
                        });



                      </script>
                      <div class="finance-wrapper-drop">
                        <div class="finance-info-trigger fake-link showthis" style="padding-top:5px">See financing options <i style="font-size:14px;" class="fa-solid fa-chevron-right"></i></div>

                        <div class="finance-info" style="display: none;">
                          <h2>Financing Options</h2>
                          <div class="finance-info-option quickspark">
                            <div class="finance-info-left">
                              <div class="finance-info-img"><img src="{{ shop.url }}/cdn/shop/files/quickspark-v2.png?v=1747072990" class="img-responsive" alt="QuickSpark Logo"></div>
                              <div class="finance-info-upto">Up to $5,000,000</div>
                            </div>
                            <div class="finance-info-right">
                              {% comment %}<div style="width:120px" class="financebtn product-form--atc-button main-atc-button thinbtn" onclick="" >Apply Now</div>{% endcomment %}

                              <div class="finance-wrapper"></div>

                            </div>
                            <div class="finance-info-list">
                              <ul>
                                <li>Terms up to 60 months</li>
                                <li>Will analyze your application, and route it to the best lenders</li>
                                <li>Up to 3 lenders may work your application at a time</li>
                                <li>Lenders compete, so they are motivated to work quickly and present their best offers</li>
                                <li>Choose the best term from up to 3 competing lenders</li>
                                <li>Business accounts only – including start-ups</li>
                              </ul>
                            </div>
                          </div>


                          <div class="finance-info-option shoppay">
                            <div class="finance-info-left">
                              <div class="finance-info-img"><img src="{{ shop.url }}/cdn/shop/files/shop-pay-trans.png?v=1668624779" style="margin:0 0 0 -8px" class="img-responsive" alt="Shop pay Logo"></div>
                              <div class="finance-info-upto">Up to $17,500</div>
                            </div>
                            <div class="finance-info-right">
                              <div style="width:120px" class="financebtn shoppaycheckout product-form--atc-button main-atc-button thinbtn" >Check Out</div>
                            </div>
                            <div class="finance-info-list">
                              <ul>
                                <li>Four interest-free payments every two weeks for orders between $50.00 <br>and $999.99 before shipping and taxes</li>
                                <li>Monthly payment options (3, 6, or 12-month) available, <br>for orders between $150.00 and $17,500.00 with a 0% - 36% APR interest rate<a href="/pages/financing-options#notes">**</a></li>
                                <li>Checking eligibility has no impact to credit</li>
                              </ul>
                            </div>

                          </div>

                          <div class="finance-more-info" style="width:100%; text-align:right; padding-bottom:25px;">
                            <a href="/pages/financing-options">View More Financing Options <i class="fa-solid fa-arrow-right"></i></a>
                          </div>

                        </div>

                      </div>






                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endif -%}

              <div data-payment-terms-reference style="display: none;">
                {{ form | payment_terms }}
              </div>

              {%- if enable_local_pickup -%}
                <div class="surface-pick-up" data-surface-pick-up></div>
              {%- endif -%}
            {% endform %}
          {%- else -%}
          {%- comment -%}Start of bundle logic ---------------------------------------------------------------------------{%- endcomment -%}

              {% comment %}{%- assign bundle_products = product.metafields.plytix.package_products | split: "," %}{% endcomment %}

                {%- if product.metafields.plytix.package_products != blank -%}
                  {%- assign bundle_products = product.metafields.plytix.package_products | split: "," -%}
                {%- else -%}
                  {% comment %}add main item if no main items found{% endcomment %}
                  {%- assign bundle_products = product.handle | append: "#1" -%}
                {%- endif -%}


              {%- assign free_products = product.metafields.plytix.packaged_free_product | split: "," %}
              <div data-bundle-subproducts>
                {%- for bundle_product_entry in bundle_products -%}
                  {%- assign bundle_product_entry_parts = bundle_product_entry | split: "#" -%}
                  {%- assign bundle_product_handle = bundle_product_entry_parts[0] | strip -%}
                  {%- assign bundle_product = all_products[bundle_product_handle] -%}
                  {%- comment -%}Get stock status for bundle non-free logging in order at time of order --------------------------------------------------------------------{%- endcomment -%}
                  {%- assign stockStatusBunMain = "" -%}
                  {%- assign stockStatusBunSub = "" -%}
                  {%- assign fserviceBun = bundle_product.selected_or_first_available_variant.fulfillment_service -%}
                  {%- assign leadTimeBun = bundle_product.selected_or_first_available_variant.metafields.plytix.sxerp_lead_time -%}
                  {%- assign inventoryQuantityBun = bundle_product.selected_or_first_available_variant.inventory_quantity -%}
                  {%- assign inventoryQuantityBun = inventoryQuantityBun | plus: 0 -%}
                  {%- assign leadTimeBun = leadTimeBun | plus: 0 -%}

                  {%- if bundle_product.selected_or_first_available_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' and  inventoryQuantityBun <  1 -%}
                    {%- assign stockStatusBunMain = "Ships Direct from Manufacturer" -%}
                    {%- assign stockStatusBunSub = "May Have Extended Lead Times" -%}
                  {%- elsif bundle_product.selected_or_first_available_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantityBun <  1 -%}

                    {%- comment -%}Look at po date instead of lead time{%- endcomment -%}
                    {%- if bundle_product.selected_or_first_available_variant.metafields.plytix.sxerp_po_date -%}
                      {%- assign dateStart = bundle_product.selected_or_first_available_variant.metafields.plytix.sxerp_po_date | date: '%s' -%}
                      {%- assign nowTimestamp = 'now' | date: '%s' -%}
                      {%- assign diffSeconds = dateStart | minus: nowTimestamp -%}
                      {%- assign leadTimeBun = diffSeconds | divided_by: 3600 | divided_by: 24 -%}
                    {%- endif -%}

                    {%- assign stockStatusBunMain = "Temporarily On Backorder" -%}
                    {%- if leadTimeBun < 22  -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 1 – 3 wks" -%}
                    {%- elsif leadTimeBun < 29 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 2 – 4 wks" -%}
                    {%- elsif leadTimeBun < 36 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 3 – 5 wks" -%}
                    {%- elsif leadTimeBun < 43 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 4 –6 wks" -%}
                    {%- elsif leadTimeBun < 50 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 5 – 7 wks" -%}
                    {%- elsif leadTimeBun < 57 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 6 – 8 wks" -%}
                    {%- elsif leadTimeBun < 64 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 7 – 9 wks" -%}
                    {%- elsif leadTimeBun < 71 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 8 – 10 wks" -%}
                    {%- elsif leadTimeBun < 78 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 9 – 11 wks" -%}
                    {%- elsif leadTimeBun < 85 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 10 – 12 wks" -%}
                    {%- elsif leadTimeBun < 121 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 3 – 4 mths" -%}
                    {%- elsif leadTimeBun < 151 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 4 – 5 mths" -%}
                    {%- elsif leadTimeBun < 181 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 5 – 6 mths" -%}
                    {%- elsif leadTimeBun < 211 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date 6 – 7 mths" -%}
                    {%- elsif leadTimeBun < 1000 -%}
                      {%- assign stockStatusBunSub = "Estimated Ship Date over 7 mths" -%}
                    {%- endif -%}
                  {% elsif bundle_product.selected_or_first_available_variant.inventory_management == nil and leadTimeBun %}
                    {%- assign stockStatusBunMain = "Special Order Item" -%}
                    {%- if leadTimeBun < 22  -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 1 – 3 wks" -%}
                    {%- elsif leadTimeBun < 29 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 2 – 4 wks" -%}
                    {%- elsif leadTimeBun < 36 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 3 – 5 wks" -%}
                    {%- elsif leadTimeBun < 43 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 4 – 6 wks" -%}
                    {%- elsif leadTimeBun < 50 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 5 – 7 wks" -%}
                    {%- elsif leadTimeBun < 57 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 6 – 8 wks" -%}
                    {%- elsif leadTimeBun < 64 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 7 – 9 wks" -%}
                    {%- elsif leadTimeBun < 71 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 8 – 10 wks" -%}
                    {%- elsif leadTimeBun < 78 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 9 – 11 wks" -%}
                    {%- elsif leadTimeBun < 85 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 10 – 12 wks" -%}
                    {%- elsif leadTimeBun < 121 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 3 – 4 mths" -%}
                    {%- elsif leadTimeBun < 151 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 4 – 5 mths" -%}
                    {%- elsif leadTimeBun < 181 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 5 – 6 mths" -%}
                    {%- elsif leadTimeBun < 211 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in 6 – 7 mths" -%}
                    {%- elsif leadTimeBun < 1000 -%}
                      {%- assign stockStatusBunSub = "Expected to ship in over 7 mths" -%}
                    {% endif %}
                  {% elsif bundle_product.selected_or_first_available_variant.inventory_quantity > 0 %}
                    {% assign stockStatusBunMain = "In Stock" %}
                  {% endif %}

                  {%- if stockStatusBunSub != "" -%}
                    {% capture stockStatusBunNote %}{{ stockStatusBunMain }} ({{ stockStatusBunSub }}){% endcapture %}
                  {%- else -%}
                    {% capture stockStatusBunNote %}{{ stockStatusBunMain }}{% endcapture %}
                  {%- endif -%}
                  {%- comment -%}End of bundle non-free stock status logic ----------------------------------------------------------------------------------------------- {%- endcomment -%}

                  <input type="hidden"
                         name="updates[{{ bundle_product_handle }}]"
                         class="quantity field"
                         data-bundle-subproduct
                         data-id="{{ bundle_product.selected_or_first_available_variant.id }}"
                         data-vissku="{{ bundle_product.selected_or_first_available_variant.sku }}"
                         data-status="{{ stockStatusBunNote}}"
                         data-erpSku="{{ bundle_product.metafields.plytix.erp_sku }}"
                          {% if bundle_product.metafields.plytix.general_product_type == "Machine" %}
                            data-sfeligible="true"
                          {% endif %}
                         data-step="{{ pstep }}"
                         data-tieredPricing=""
                         data-availqty="{{ bundle_product.selected_or_first_available_variant.inventory_quantity }}"
                         data-qty="{{ bundle_product_entry_parts[1] }}"
                         data-price="{{ bundle_product.price }}"
                         data-parentid="{{ bundle_product.id }}"
                         data-title="{{ bundle_product.title | escape }}"
                         data-vartitle="{{ bundle_product.selected_or_first_available_variant.title | escape }}"
                         data-type="{{ bundle_product.type | escape }}"
                         data-brand="{{ bundle_product.vendor | escape }}"
                         value="{{ bundle_product_entry_parts[1] }}" />


                  {% comment %}free gift and warning pop{% endcomment %}
                  {%- for fgwp in fgwp_Obj -%}
                    {%- assign show_fgwp = false -%}
                    {%- assign start = fgwp.start_date | date: '%s' -%}
                    {%- comment -%}//add one day to the end date{%- endcomment -%}
                    {%- assign date = fgwp.end_date | date: '%s' -%}
                    {%- assign seconds = 1 | times: 24 | times: 60 | times: 60 -%}
                    {%- assign end = date | date: "%s" | plus: seconds | date: "%s" -%}

                    {%- comment -%}if not active, skip{%- endcomment -%}
                    {%- if today_date < start or today_date > end -%}
                      {% continue %}
                    {%- endif -%}

                    {%- comment -%}find by product{%- endcomment -%}

                    {%- for find_product in fgwp.buy_this_product.value -%}
                      {% if find_product.url == bundle_product.url %}
                        {%- assign show_fgwp = true -%}
                      {% endif %}
                    {% endfor %}
                    {%- comment -%}find by tag{%- endcomment -%}
                    {%- for this_tag in fgwp.buy_product_tagged_as.value -%}
                      {% if bundle_product.tags contains this_tag %}
                        {%- assign show_fgwp = true -%}
                      {% endif %}
                    {% endfor %}

                    {%- if show_fgwp == true -%}
                      {%- assign fgwp_pops_avaliable = fgwp_pops_avaliable | plus: 1 -%}
                    {% endif %}
                  {% endfor %}

                  {% if bundle_product.metafields.plytix.warning_title %}
                    {%- assign warning_pops_avaliable = warning_pops_avaliable | plus: 1 -%}
                  {% endif %}

                  {% capture packagevarid %}{{ bundle_product.variants.first.id }}bundle{% endcapture %}
                  <div class="bundle-warn-fgwp-pop">
                  {%
                          render 'warning-pop',
                          product: bundle_product,
                          area:'mainbundle',
                          varid: packagevarid
                  %}
                  </div>
                  {% comment %}end free gift and warning pop{% endcomment %}

                {%- endfor -%}
                {%- for free_product_entry in free_products -%}
                  {%- assign free_product_entry_parts = free_product_entry | split: "#" -%}
                  {%- assign free_product_handle = free_product_entry_parts[0] | strip -%}
                  {%- assign free_product = all_products[free_product_handle] -%}


                  {%- comment -%}Get stock status for bundle free logging in order at time of order --------------------------------------------------------------------{%- endcomment -%}
                  {%- assign stockStatusFreeMain = "" -%}
                  {%- assign stockStatusFreeSub = "" -%}
                  {%- assign fserviceFree = free_product.selected_or_first_available_variant.fulfillment_service -%}
                  {%- assign leadTimeFree = free_product.selected_or_first_available_variant.metafields.plytix.sxerp_lead_time -%}
                  {%- assign inventoryQuantityFree = free_product.selected_or_first_available_variant.inventory_quantity -%}
                  {%- assign inventoryQuantityFree = inventoryQuantityFree | plus: 0 -%}
                  {%- assign leadTimeFree = leadTimeFree | plus: 0 -%}

                  {%- if free_product.selected_or_first_available_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' and  inventoryQuantityFree <  1 -%}
                    {%- assign stockStatusFreeMain = "Ships Direct from Manufacturer" -%}
                    {%- assign stockStatusFreeSub = "May Have Extended Lead Times" -%}
                  {%- elsif free_product.selected_or_first_available_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantityFree <  1 -%}
                    {%- comment -%}Look at po date instead of lead time{%- endcomment -%}
                    {%- if free_product.selected_or_first_available_variant.metafields.plytix.sxerp_po_date -%}
                      {%- assign dateStart = free_product.selected_or_first_available_variant.metafields.plytix.sxerp_po_date | date: '%s' -%}
                      {%- assign nowTimestamp = 'now' | date: '%s' -%}
                      {%- assign diffSeconds = dateStart | minus: nowTimestamp -%}
                      {%- assign leadTimeFree = diffSeconds | divided_by: 3600 | divided_by: 24 -%}
                    {%- endif -%}

                    {%- assign stockStatusFreeMain = "Temporarily On Backorder" -%}
                    {%- if leadTimeFree < 22  -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 1 – 3 wks" -%}
                    {%- elsif leadTimeFree < 29 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 2 – 4 wks" -%}
                    {%- elsif leadTimeFree < 36 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 3 – 5 wks" -%}
                    {%- elsif leadTimeFree < 43 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 4 –6 wks" -%}
                    {%- elsif leadTimeFree < 50 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 5 – 7 wks" -%}
                    {%- elsif leadTimeFree < 57 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 6 – 8 wks" -%}
                    {%- elsif leadTimeFree < 64 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 7 – 9 wks" -%}
                    {%- elsif leadTimeFree < 71 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 8 – 10 wks" -%}
                    {%- elsif leadTimeFree < 78 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 9 – 11 wks" -%}
                    {%- elsif leadTimeFree < 85 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 10 – 12 wks" -%}
                    {%- elsif leadTimeFree < 121 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 3 – 4 mths" -%}
                    {%- elsif leadTimeFree < 151 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 4 – 5 mths" -%}
                    {%- elsif leadTimeFree < 181 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 5 – 6 mths" -%}
                    {%- elsif leadTimeFree < 211 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date 6 – 7 mths" -%}
                    {%- elsif leadTimeFree < 1000 -%}
                      {%- assign stockStatusFreeSub = "Estimated Ship Date over 7 mths" -%}
                    {%- endif -%}
                  {%- elsif free_product.selected_or_first_available_variant.inventory_management == nil and leadTimeFree -%}
                    {%- assign stockStatusFreeMain = "Special Order Item" -%}
                    {%- if leadTimeFree < 22  -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 1 – 3 wks" -%}
                    {%- elsif leadTimeFree < 29 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 2 – 4 wks" -%}
                    {%- elsif leadTimeFree < 36 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 3 – 5 wks" -%}
                    {%- elsif leadTimeFree < 43 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 4 – 6 wks" -%}
                    {%- elsif leadTimeFree < 50 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 5 – 7 wks" -%}
                    {%- elsif leadTimeFree < 57 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 6 – 8 wks" -%}
                    {%- elsif leadTimeFree < 64 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 7 – 9 wks" -%}
                    {%- elsif leadTimeFree < 71 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 8 – 10 wks" -%}
                    {%- elsif leadTimeFree < 78 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 9 – 11 wks" -%}
                    {%- elsif leadTimeFree < 85 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 10 – 12 wks" -%}
                    {%- elsif leadTimeFree < 121 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 3 – 4 mths" -%}
                    {%- elsif leadTimeFree < 151 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 4 – 5 mths" -%}
                    {%- elsif leadTimeFree < 181 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 5 – 6 mths" -%}
                    {%- elsif leadTimeFree < 211 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in 6 – 7 mths" -%}
                    {%- elsif leadTimeFree < 1000 -%}
                      {%- assign stockStatusFreeSub = "Expected to ship in over 7 mths" -%}
                    {%- endif -%}
                  {%- elsif free_product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                    {%- assign stockStatusFreeMain = "In Stock" -%}
                  {%- endif -%}

                  {%- if stockStatusFreeSub != "" -%}
                    {%- capture stockStatusFreeNote -%}{{ stockStatusFreeMain }} ({{ stockStatusFreeSub }}){%- endcapture -%}
                  {%- else -%}
                    {%- capture stockStatusFreeNote -%}{{ stockStatusFreeMain }}{%- endcapture -%}
                  {%- endif -%}
                  {%- comment -%}End of bundle free stock status logic ----------------------------------------------------------------------------------------------- {%- endcomment -%}


                  <input type="hidden"
                         name="updates[{{ free_product_handle }}]"
                         class="quantity field"
                         data-bundle-subproduct-free
                         data-step="{{ pstep }}"
                         data-id="{{ free_product.selected_or_first_available_variant.id }}"
                         data-erpSku="{{ free_product.metafields.plytix.erp_sku }}"
                         data-vissku="{{ free_product.selected_or_first_available_variant.sku }}"
                         data-availqty="{{ free_product.selected_or_first_available_variant.inventory_quantity }}"
                         data-status="{{ stockStatusFreeNote }}"
                         data-tieredPricing="fg"
                         data-qty="{{ free_product_entry_parts[1] }}"
                         data-price="{{ free_product.price }}"
                         value="{{ free_product_entry_parts[1] }}" />
                {%- endfor -%}
              </div>
              <div class="product-form--atc">
                <div class="cart-buttons">
                  <button class="product-form--atc-button main-atc-button" id="p-atc" type="submit" data-bundle-product-atc data-bundle="{{ product.handle }}">
                          <span class="atc-button--text">
                            {%- comment -%}<i class="fa-regular fa-cart-shopping"></i>{%- endcomment -%}
                            <span class="atc-plus">+</span>
                            {{ 'product.buttons.add_to_cart' | t }}
                          </span>
                    <span class="atc-button--icon">
                            {%- render 'icon-spinner' -%}
                          </span>
                  </button>

                  {%- comment -%}start if warning pop -------------------------------------------------------------------------------{%- endcomment -%}
                  {%- if warning_pops_avaliable > 0 or fgwp_pops_avaliable > 0-%}
                  {%- if warning_pops_avaliable > 0 -%}
                    <div onclick="warningpopbundle()" class="product-form--atc-button main-atc-button mdc-ripple-surface mdc-ripple-upgraded" id="p-atc-agree-bundle">
                      <span class="atc-button--text"><span class="atc-plus">+</span> Add to cart</span>
                      <span class="atc-button--icon">{%- render 'icon-spinner' -%}</span>
                    </div>
                    <div class="warningpop-text-freq" style="display:none;">
                      <div class="warning-pop-freq-data"></div>
                      <div class="warning-actions">
                        <div style="margin-top:10px; text-align:center">
                          <div style="max-width:200px; margin:3px;" class="product-form--atc-button outlinebtn main-atc-button" onclick="event.stopPropagation(); closechildPop('bund-pop-')" >Cancel</div>
                          <div style="max-width:200px; margin:3px;" class="product-form--atc-button main-atc-button agree-btn agree-freq" onclick="agreecheckbundle()" >Agree</div>
                        </div>
                      </div>
                    </div>
                  {%- elsif fgwp_pops_avaliable > 0-%}
                    <div onclick="fgwpopbundle()" class="product-form--atc-button main-atc-button mdc-ripple-surface mdc-ripple-upgraded" id="p-atc-agree-bundle">
                      <span class="atc-button--text"><span class="atc-plus">+</span> Add to cart</span>
                      <span class="atc-button--icon">{%- render 'icon-spinner' -%}</span>
                    </div>
                  {%- endif -%}

                    <style>
                      .product-form--atc #p-atc{display:none !important;}
                      .product-form--atc #p-atc-agree-bundle{max-width:350px; margin:0 10px 0 0 !important}
                      .warning-pop-freq-data .viewnotice{position: absolute; top:10px; right:10px;}


                      @media (min-width: 720px) and (max-width: 1172px){

                        .cart-buttons #p-atc-agree{
                          margin:0px 0 10px 0;
                          flex-basis:100%;
                        }
                      }
                      @media (max-width: 550px){
                        .cart-buttons #p-atc-agree{
                          margin:0px 0 10px 0;
                          flex-basis:100%;
                        }

                      }

                      @media (max-width: 719px) {
                        .warning-actions .agree-btn{margin-top:10px;}
                      }
                    </style>

                    <script>
                      jQuery(document).ready(function($){
                        if($('.fgwp-text-area-mainbundle').length > 0){
                          $( ".agree-freq").attr("onClick","agreecheckbundle(true)");
                        }

                        var totalpops = 0;
                        var warningtitles = [];
                        var warningbody = [];
                        var warningskus = [];
                        $( ".warningpop-text-freq-itemdata" ).each(function() {
                          var thissku = $( this ).find('.item-warning-sku').html();
                          var thiswarningtitle = $( this ).find('.item-warning-title').html();
                          var thiswarning = $( this ).find('.item-warning-body').html();

                          if(totalpops == 0){
                            warningskus.push(thissku);
                            warningtitles.push(thiswarningtitle);
                            warningbody.push(thiswarning);
                            totalpops++;
                          }else{
                            var addtoarr = 1;
                            warningtitles.forEach(function(element, index, array) {
                              if(thiswarningtitle != element ){
                              }else{
                                var newsku =  warningskus[index] + ", "+thissku;
                                warningskus[index] = newsku;
                                addtoarr = 0;
                              }
                            });
                            if(addtoarr == 1){
                              warningskus.push(thissku);
                              warningtitles.push(thiswarningtitle);
                              warningbody.push(thiswarning);
                              totalpops++;
                            }
                          }
                        });

                        if(totalpops > 0) {
                          //update popuptext
                          var popupHtml="";
                          if(totalpops == 1 ) {
                            popupHtml+='<div>';
                            popupHtml+='<h2 style="margin-bottom:0">'+warningtitles[0]+'</h2>';
                            popupHtml+='<div style="font-size:12px; margin-bottom:15px; ">Notice for '+warningskus[0]+'</div>';
                            popupHtml+='<div style="margin-bottom:10px; max-height:300px; overflow-y:scroll">'+warningbody[0]+'</div>';
                            popupHtml+='<div>';
                          }else if(totalpops > 1 ) {
                            popupHtml+='<div>';
                            popupHtml+='<h2 style="">Notices on Products</h2>';
                            warningtitles.forEach(function(element, index, array) {
                              popupHtml+='<div style="border-top:1px solid #ccc; position: relative; padding:5px">';
                              popupHtml+='<div style="font-size:16px; text-decoration:underline; marrgin-bottom:0">'+warningtitles[index]+'</div>';
                              popupHtml+='<div style="font-size:12px; margin-bottom:15px; ">Notice for '+warningskus[index]+'</div>';
                              popupHtml+='<div class="noticebody" style="margin-bottom:10px; max-height:300px; overflow-y:scroll; display:none;">'+warningbody[index]+'</div>';
                              popupHtml+='<div class="viewnotice" onclick="viewnotice(this)"><a><span class="viewtext">View Notice</span><span class="viewicon"> -></span></a></div>';
                              popupHtml+='</div>';
                            });
                            popupHtml+='</div>';
                          }
                          $(".warning-pop-freq-data").html(popupHtml);
                        }
                      });
                      function viewnotice(element){
                        var thisnotice = $(element).prev();
                        var viewnoticetext = $(element).find('.viewtext');
                        $(".noticebody").hide();
                        if(viewnoticetext.text() == "View Notice"){
                          $(".viewtext").text("View Notice");
                          viewnoticetext.text("Hide Notice");
                          thisnotice.show();
                        }else{
                          $(".viewtext").text("View Notice");
                        }
                      }
                      function warningpopbundle(){
                        $('.popup-container').removeClass('hidden');
                        $(".pop-grad").removeClass('hidden');
                        $( ".agree-freq").text("Agree");
                        var newhtml = $(".warningpop-text-freq").html();
                        $('.popup-container .content').html(newhtml);
                        $('.popup-container').addClass('widepop');
                      }


                      function fgwpopbundle(){
                        var counter = 0;
                        {%- comment -%} get number of popups and add data{%- endcomment -%}
                        $( ".bundle-warn-fgwp-pop" ).each(function() {

                            if ($(this).find(".freq-pops").length){
                              $(this).find('.freq-pops').attr('data-popnum', counter);
                              $(this).find('.fgwp-pop-content').attr('data-popnum', counter);
                              counter++;
                            }

                        });
                        {%- comment -%} pop first fgwp{%- endcomment -%}
                        $( ".bundle-warn-fgwp-pop" ).each(function() {

                            var poptotrigger = $(this).find(".freq-pops");
                            if (poptotrigger.length){
                              {%- comment -%}update closing button to clear out added fgwp{%- endcomment -%}

                              $(".popup-container .close-pop").attr("onclick","event.stopPropagation(); closechildPop('bund-pop-',true)");

                              poptotrigger.click();
                              return false;
                            }

                        });
                      }

                      function agreecheckbundle(morepop = false){
                        $('.warning-actions .agree-btn').html("Adding To the Cart....");

                        $( ".warningpop-text-freq-itemdata" ).each(function() {
                          var warningitem = $( this ).find('.item-warning-sku').text();
                          var atcwarningtitle = $( this ).find('.item-warning-title').html();
                          $('input[data-vissku="'+warningitem+'"]').attr('data-notification','Accepted '+atcwarningtitle);
                        });

                        if(morepop){
                          fgwpopbundle();
                        }else{
                          setTimeout(function() {
                            $('.product-form--atc #p-atc-agree-bundle').find('.atc-button--text').hide();
                            $('.product-form--atc #p-atc-agree-bundle').find('.atc-button--icon').css({"visibility": "visible", "opacity": "100"});
                            $('.product-form--atc #p-atc').click();
                            setTimeout(function() {
                              closechildPop('bund-pop-');
                            }, 1000);
                          }, 1000);
                        }
                      }

                    </script>
                  {%- endif -%}
                  {%- comment -%}end if warning pop -------------------------------------------------------------------------------{%- endcomment -%}




                  {%- if isBundle == true -%}
                  {%- assign bundleprice = product.metafields.plytix.bundle_pricing | plus: 0.00 -%}
                    {%- if bundleprice > 1000 -%}
                      <button class="product-form--finance-atc-button2 main-atc-button" onclick="window.location.href = '/pages/financing-options'" style="">Financing Available</button>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
              {% if pdiscontinued == false %}
                <div class="approve-contain"></div>
              {% endif %}
          {%- comment -%}end of bundle logic -----------------------------------------------------------------------------------{%- endcomment -%}
          {%- endif -%}

          {%- comment -%} shoppay finaincing link
          {% if product.metafields.plytix.hide_product != 'true' and pdiscontinued != true %}
          <form data-payment-terms-target class="shoppay-financing" style="display: none;"></form>
          {% endif %}
          {%- endcomment -%}
          {%- comment -%}  script for tier switching {%- endcomment -%}
          <script>
            $(document).ready(function() {
              $('.tierlevel ').on('click', function(e){
                var tierPrice = $(this).data('tierprice');
                var tierSaved = $(this).data('tiersaved');
                var tierNum = $(this).data('tiernum');
                var orgPrice = $('.tierlevel[data-tiernum="1"] ').data('tierprice');

                $('.tierlevel ').removeClass("selected");
                $(this).addClass("selected");
                $("#product-quantity-input").val(tierNum);
                $(".product-block--price .money").html(tierPrice);

                $(".updated-tier-compare,.updated-tier-strike").remove();
                if(tierSaved != "0"){
                  $(".product-block--price").prepend('<div class="updated-tier-strike price__compare-at-visible-2 strikethrough"><div class="strikeprice">'+orgPrice+'</div></div>');
                  $(".product-block--price .price__current ").append('<div class="updated-tier-compare price__compare-at-visible-2 var-specs var41986143289524"><div class="yousave">You Save: '+tierSaved+'</div></div>');
                }
              });

              $('.qtyminus, .qtyplus ').on('click', function(e){
                  qtyTierHighlight();
              });

              $('#product-quantity-input').on('input', function() {
                  qtyTierHighlight();
              });

              function qtyTierHighlight(){
                setTimeout(function() {
                  var orgPrice = $('.tierlevel[data-tiernum="1"] ').data('tierprice');
                  var currentQty = $("#product-quantity-input").val();
                  var validLevel = 1;
                  $('.tierlevel').each(function () {
                    var tierNum = $(this).data('tiernum');
                    if (currentQty >= tierNum){
                      validLevel = tierNum;
                    }


                  });
                  // alert("Valid level="+validLevel);
                  $('.tierlevel ').removeClass("selected");
                  var targetLevelElement = '.tierlevel[data-tiernum="'+validLevel+'"]';
                  $(targetLevelElement).addClass("selected");

                  var newPrice = $(targetLevelElement).data('tierprice');
                  var newSaved = $(targetLevelElement).data('tiersaved');
                  $(".product-block--price .money").html(newPrice);

                  $(".updated-tier-compare,.updated-tier-strike").remove();
                  if(newSaved != "0" && typeof newSaved !== 'undefined'){
                    $(".product-block--price").prepend('<div class="updated-tier-strike price__compare-at-visible-2 strikethrough"><div class="strikeprice">'+orgPrice+'</div></div>');
                    $(".product-block--price .price__current ").append('<div class="updated-tier-compare price__compare-at-visible-2 var-specs var41986143289524"><div class="yousave">You Save: '+newSaved+'</div></div>');
                  }


                }, 150);
              };

            });
          </script>