{%- comment -%}
  @param product {Product}
    The product object in question or false. Onboards if false or blank.

  @param select_first_available_variant {Boolean}
    Whether to auto-select first available variant

  @param aspect_ratio {string}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param thumbnail_position {string}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param image_crop {boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{%- endcomment -%}

{%- assign onboarding = false -%}
{%- if product == false or product == blank -%}
  {%- assign onboarding = true -%}
{%- endif -%}

{%- assign selected_variant = product.selected_or_first_available_variant -%}

{%- if select_first_available_variant -%}
  {%- assign selected_media = selected_variant.featured_media | default: product.featured_media -%}
{%- else -%}
  {%- assign selected_media = product.featured_media -%}
{%- endif -%}

<div
  class="
    product-gallery
    {% if gallery_hover_zoom != 'disabled' %}hover-zoom-enabled{% endif %}
    {% if gallery_click_to_zoom != 'disabled' and gallery_click_to_zoom != 'mobile' %}click-to-zoom-enabled{% endif %}
  "
  data-product-gallery
  {% if image_crop %}data-product-gallery-image-crop{% endif %}
  data-product-gallery-aspect-ratio="{{ aspect_ratio }}"
  data-product-gallery-thumbnails="{{ thumbnail_position }}"
>
  <div class="stickme">
  {%
    render 'product-gallery-viewer'
    product: product,
    selected_media: selected_media,
    aspect_ratio: aspect_ratio,
    image_crop: image_crop,
    gallery_hover_zoom: gallery_hover_zoom,
    onboarding: onboarding,
    gallery_click_to_zoom: gallery_click_to_zoom,
  %}



{% comment %}hot deal icon ----------------------------------------------------------{% endcomment %}
{%- if pdiscontinued != true -%}
    <div class="additional-deal-notification">
      {%- if product.selected_or_first_available_variant.compare_at_price -%}
        {%- if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price -%}
          {%- assign specialSavings = product.compare_at_price | minus: product.price -%}
          {%- assign endDate = product.selected_or_first_available_variant.metafields.plytix.special_enddate | date: '%s' -%}
          {%- assign startDate = product.selected_or_first_available_variant.metafields.plytix.special_startdate | date: '%s' -%}
          {%- assign nowTimestamp = 'now' | date: '%s' -%}

          {%- assign enddiffSeconds = endDate | minus: nowTimestamp -%}
          {%- assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 -%}

          {%- assign startdiffSeconds = startDate | minus: nowTimestamp -%}
          {%- assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 -%}

          {%- if enddiffDays >= -1 and  startdiffDays < 0 -%}
            {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                <a class="sale-icon-by-pic-link" href="/collections/current-sales">
                    <div class="sale-icon-by-pic">
                        <div class="sale-icon-by-pic-title">
                            <i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i><strong>Hot Deal</strong>
                        </div>
                        <div class="sale-icon-by-pic-text">
                            Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and <strong>Save {{ specialSavings | money }}</strong>
                        </div>
                    </div>
                </a>
            {%- else -%}
                <div class="sale-icon-by-pic">
                    <div class="sale-icon-by-pic-title">
                        <i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i><strong>Hot Deal</strong>
                    </div>
                    <div class="sale-icon-by-pic-text">
                        Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and <strong>Save {{ specialSavings | money }}</strong>
                    </div>
                </div>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
      {%- if product.metafields.plytix.custom_hot_deal_message -%}

        {%- assign endDate = product.selected_or_first_available_variant.metafields.plytix.custom_hot_deal_to_date | date: '%s' -%}
        {%- assign startDate = product.selected_or_first_available_variant.metafields.plytix.custom_hot_deal_from_date | date: '%s' -%}
        {%- assign nowTimestamp = 'now' | date: '%s' -%}
        {%- assign enddiffSeconds = endDate | minus: nowTimestamp -%}
        {%- assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 -%}

        {%- assign startdiffSeconds = startDate | minus: nowTimestamp -%}
        {%- assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 -%}

        {%- if enddiffDays >= -1 and  startdiffDays < 0 -%}
          {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
            <a class="sale-icon-by-pic-link" href="/collections/current-sales">
                <div class="sale-icon-by-pic">
                    <div class="sale-icon-by-pic-title">
                        {% if product.tags contains "BOGO Deal" %}
                            <img class="sm-bogo-icon" src="{{ 'bogo-icon.png' | file_img_url: '260x' }}" alt="BOGO Item" /><strong>Buy One, Get One</strong>
                        {%- else -%}
                            <i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i><strong>Hot Deal</strong>
                        {%- endif -%}
                    </div>
                    <div class="sale-icon-by-pic-text">
                        Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and {{ product.metafields.plytix.custom_hot_deal_message }}
                    </div>
                </div>
            </a>
          {%- endif -%}
        {%- endif -%}



      {%- endif -%}
      {%- if product.metafields.plytix.bundle_special_data -%}
        {%- assign bundle_spec_data_array = product.metafields.plytix.bundle_special_data |split: "," -%}
        {%- assign bundsavings = bundle_spec_data_array[0] | times: 100 -%}

        {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
            <a class="sale-icon-by-pic-link" href="/collections/current-sales">
                <div class="sale-icon-by-pic">
                    <div class="sale-icon-by-pic-title">
                        <i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i><strong>Hot Deal</strong>
                    </div>
                    <div class="sale-icon-by-pic-text">
                        Buy Before <strong>{{ bundle_spec_data_array[1] }}</strong> and <strong>Save {{ bundsavings | money }}</strong>
                    </div>
                </div>
            </a>
        {%- else -%}
            <div class="sale-icon-by-pic">
                <div class="sale-icon-by-pic-title">
                    <i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i><strong>Hot Deal</strong>
                </div>
                <div class="sale-icon-by-pic-text">
                    Buy Before <strong>{{ bundle_spec_data_array[1] }}</strong> and <strong>Save {{ bundsavings | money }}</strong>
                </div>
            </div>
        {%- endif -%}
      {%- endif -%}

    </div>
{%- endif -%}
    {% comment %}end of hot deal area -----------------------------------------------------------------------------------------{% endcomment %}
      {% comment %}Start of shipping restriction icon ----------------------------------------------------------{% endcomment %}
        {%- if product.metafields.plytix.shipping_exclusions -%}
            {% assign states = product.metafields.plytix.shipping_exclusions | remove: "[" | remove: "]"  | remove: '"' | replace: ",", ", " %}
          <div class="sale-icon-by-pic">
              <div class="sale-icon-by-pic-title">
                  <i class="fa-duotone fa-solid fa-location-pin-slash" style="--fa-primary-color: #EA4335; --fa-secondary-color: #EA4335; --fa-secondary-opacity: 1;"></i><strong>Shipping Restrictions</strong>
              </div>
              <div class="sale-icon-by-pic-text">
                  Can not be shipped to: {{ states | join: ', ' }}
              </div>
          </div>
        {%- endif -%}

      {% comment %}end of shipping restriction icon ----------------------------------------------------------{% endcomment %}

      {%
    render 'product-gallery-navigation'
    product: product,
    selected_media: selected_media,
    aspect_ratio: aspect_ratio,
    image_crop: image_crop
  %}

  {%- assign first_model = product.media | where: "media_type", "model" | first -%}
  {%- if selected_media.media_type == 'model' -%}
    {%- assign model = selected_media -%}
  {%- else -%}
    {%- assign model = first_model -%}
  {%- endif -%}
  {%- if model -%}
    <script>
      window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
    </script>
    <button
      class="product-gallery--viewinyourspace"
      data-default-model-id="{{ first_model.id }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ model.id }}"
      data-shopify-title="{{ product.title }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-library', id: 'icon-3D' %}
      {{ 'product.media.view_in_your_space' | t }}
    </button>
  {%- endif -%}
</div>
</div>
