{% comment %}
  @param product {Product}
    The product object in question

  @param selected_media {Media}
    The current selected media in the gallery

  @param aspect_ratio {string}
    The aspect ratio setting, which is either 'short', 'tall', or 'square'

  @param image_crop {boolean}
    Defines if the image should be cropped or not
{% endcomment %}
{% assign mediaSize = product.media | size  %}

<div class="nav-tabs" {% if mediaSize < 0 %}style="display:none;"{% endif %}>
  <div class="thumb-show imgs-thumbs active-tab">
    Images
  </div>
  <div class="thumb-show video-thumbs">
    Videos
  </div>
</div>

{% if product.media.size > 0 %}
  {% assign thumb_dimensions = 'x75' %}
  {% if image_crop %}
    {% case aspect_ratio %}
    {% when 'short' %}
      {% assign thumb_dimensions = '100x75' %}
    {% when 'tall' %}
      {% assign thumb_dimensions = '50x75' %}
    {% when 'square' %}
      {% assign thumb_dimensions = '75x75' %}
    {% endcase %}
  {% endif %}
{% comment %}turned off this class since I couldn't figure out what the empire theme was doing{% endcomment %}
  <div
    class="product-gallery--navigation-off product-gallery--navigation-slick loading"
    data-gallery-navigation
  >
    <div class="slickbuttons"></div>
    <button
      class="gallery-navigation--scroll-button scroll-left"
      aria-label="Scroll thumbnails left"
      data-gallery-scroll-button
    >
      <span>{% render 'icon-chevron-down' %}</span>
    </button>
    <button
      class="gallery-navigation--scroll-button scroll-right"
      aria-label="Scroll thumbnails right"
      data-gallery-scroll-button
    >
      <span>{% render 'icon-chevron-down' %}</span>
    </button>
    <div
      class="gallery-navigation--scroller gallery-navigation-horizontal-scroller-slick"
      data-gallery-scroller
    >
      {% assign orgCounter = 0  %}
      {% assign videoCounter = 0  %}
    {% for media in product.media %}
      {% if media.media_type == "video" %}
        {% assign videoCounter = videoCounter | plus: 1  %}
      {%- endif -%}
      <button
        class="
          product-gallery--media-thumbnail
          product-gallery--{{ media.media_type }}-thumbnail
        "
        type="button"
        tab-index="0"
        aria-label="{{ media.alt }} {{ 'general.accessibility.nav_product_thumbnail' | t }}"
        data-gallery-thumbnail
        data-gallery-index="{{ forloop.index0 }}"
        data-gallery-selected="{%- if selected_media.id == media.id -%}true{%- else -%}false{%- endif -%}"
        data-media="{{ media.id }}"
        data-media-type="{{ media.media_type }}"
        {% if mediaSize < 0 %} style="display:none;" {% endif %}
      >
        <span class="product-gallery--media-thumbnail-img-wrapper {{ media.media_type }}-type ">
          {% if media.media_type == 'video' or media.media_type == 'external_video' %}
            {% comment %}{% render 'icon-library', id: 'icon-play-thumb' %}{% endcomment %}
            <i class="icon-play-thumb cust fa-brands fa-youtube"></i>
          {% elsif media.media_type == 'model' %}
            {% render 'icon-library', id: 'icon-model-thumb' %}
          {% endif %}
          {%
            render 'rimg',
            class: 'product-gallery--media-thumbnail-img',
            img: media.preview_image,
            size: thumb_dimensions,
            crop: 'center',
          %}
        </span>
      </button>
      {% assign orgCounter = orgCounter | plus: 1  %}
    {% endfor %}





      {% comment %}local videos -------------------------------------------------------{% endcomment %}
      {% assign lvideo = product.metafields.plytix.local_video | split: ";" %}
      {% for vid in lvideo %}
        {% assign pyt = vid | split: "::" %}
        {% assign videoCounter = videoCounter | plus: 1  %}
        {% assign videoimg = 'video-thumbnail.png' | file_img_url %}

        {% comment %}http://img.youtube.com/vi/LFbhGEiFWk4/0.jpg{% endcomment %}
        <button
                class="
            product-gallery--media-thumbnail
            product-gallery--video-thumbnail
          "
                type="button"
                tab-index="0"
                aria-label="{{ pyt[1] }} {{ 'general.accessibility.nav_product_thumbnail' | t }}"
                data-gallery-thumbnail
                data-gallery-index="{{ orgCounter }}"
                data-gallery-selected="{%- if 1 == 1 -%}true{%- else -%}false{%- endif -%}"
                data-media="{{ orgCounter }}"
                data-media-type="video"
        >
          <span class="product-gallery--media-thumbnail-img-wrapper video-type">
              {% comment %}{% render 'icon-library', id: 'icon-play-thumb' %}{% endcomment %}
            <i class="icon-play-thumb cust fa-brands fa-youtube"></i>
            <img src="{{ videoimg }}" alt="Product Video {{ pyt[1] }}" data-rimg="" srcset="" class="product-gallery--media-thumbnail-img">
          </span>
        </button>
        {% assign orgCounter = orgCounter | plus: 1  %}
      {% endfor %}




      {% assign pvideo = product.metafields.plytix.product_video | split: ";" %}
      {% for vid in pvideo %}
        {% assign videoCounter = videoCounter | plus: 1  %}
        {% assign pyt = vid | split: "::" %}
        {% assign videoimg = "http://img.youtube.com/vi/" | append: pyt[0] | append: "/0.jpg" %}
        {% if pyt[0] contains "vimeo" %}
          {% assign videoimg = 'video-thumbnail.png' | file_img_url %}
        {% endif %}
        {% comment %}http://img.youtube.com/vi/LFbhGEiFWk4/0.jpg{% endcomment %}
        <button
                class="
            product-gallery--media-thumbnail
            product-gallery--video-thumbnail
          "

                type="button"
                tab-index="0"
                aria-label="{{ pyt[1] }} {{ 'general.accessibility.nav_product_thumbnail' | t }}"
                data-gallery-thumbnail
                data-gallery-index="{{ orgCounter }}"
                data-gallery-selected="{%- if 1 == 1 -%}true{%- else -%}false{%- endif -%}"
                data-media="{{ orgCounter }}"
                data-media-type="video"
        >
          <span class="product-gallery--media-thumbnail-img-wrapper video-type">
              {% comment %}{% render 'icon-library', id: 'icon-play-thumb' %}{% endcomment %}
            <i class="icon-play-thumb cust fa-brands fa-youtube"></i>
            <img src="{{ videoimg }}" alt="Youtube External Video {{ pyt[1] }}" data-rimg="" srcset="" class="product-gallery--media-thumbnail-img">
          </span>
        </button>
        {% assign orgCounter = orgCounter | plus: 1  %}
      {% endfor %}


    </div>
  </div>
{% endif %}

<div class="gall-placeholder" style="display:none"></div>
{% if videoCounter < 1  %}
<style>
  .product-gallery .nav-tabs .thumb-show.video-thumbs{
    display:none;
  }
  .product-gallery .nav-tabs .thumb-show.imgs-thumbs{
    border-top-right-radius:10px;
  }
</style>
{% endif %}

{% if mediaSize < 2 and videoCounter < 1  %}
  <style>
  .product-gallery .nav-tabs,
      product-gallery--navigation-off{
        display:none;
      }
  </style>
{% endif %}