
{%- assign product = product -%}
{%- assign pclearance = false -%}
{%- assign pdiscontinued = false -%}
{%- assign noreturn = false -%}
{%- for c in product.collections -%}
    {%- if c.handle == "clearance" -%}
        {%- assign pclearance = true -%}
    {%- elsif c.handle == "discontinued" -%}
        {%- assign pdiscontinued = true -%}
    {%- endif -%}
{%- endfor -%}

{% if product.tags contains "Not Returnable" %}
    <!-- Code for floor1 tag -->
    {%- assign noreturn = true -%}
{% endif %}
{%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
<div class="talk-2-us-area">
    <div class="t2u-contain">
       <div class="t2u-rep-img-col"><img class="img-responsive launch-t2u-side" src="{{ 'csr-shot-1.png' | file_url }}" alt="Here to help you" /></div>
        <div class="t2u-text-col">
            <div class="t2u-header launch-t2u-side">Need help finding the right product?</div>
            <div class="t2u-subtext launch-t2u-side">Experts ready and trained to help.</div>
            <div class="t2u-contact-info">
                <div class="t2u-phone"><i class="fa-regular fa-phone"></i><a class="phone" href="tel:{{ settings.phone_number }}" target="_blank" rel="noreferrer noopener">{{ settings.phone_number }}</a></div>
                <div class="t2u-chat"><i class="fa-regular fa-comment"></i><div data-id="eTfn5A8fCFQ" class="livechat_button"><a href="https://www.livechat.com/?utm_source=chat_button&utm_medium=referral&utm_campaign=lc_14667759"><span class="atc-button--text">Live Chat</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="product-icons-area">
    <div class="product-icons">
        <div class="ship-made">

            {%- assign current_variant_id = product.selected_or_first_available_variant.id -%}

            {%- for variant in product.variants -%}
                <div class="masterqty-container var-specs var{{ variant.id }}" {% if current_variant_id != variant.id %}style="display:none;"{% endif %}>
                    {%- if variant.metafields.plytix.clearance_overstock == 'true' -%}
                        {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                            <a href="/collections/clearance"><div class="sm-row">
                                    <div class="icon-wrap" style="font-size: 23px;">
                                        <i class="fa-sharp fa-solid fa-tags"></i>
                                    </div>
                                    <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                                        <span  class="sm-text" >View All <i class="fa-solid fa-arrow-right"></i></span>
                                        <span class="tooltip-desc sm-text">Buy now before they are gone!</span></div>
                                </div></a>
                        {%- else -%}
                            <div class="sm-row">
                                <div class="icon-wrap" style="font-size: 23px;">
                                    <i class="fa-sharp fa-solid fa-tags"></i>
                                </div>
                                <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                                    <span class="sm-text">Buy now before they are gone!</span></div>
                            </div>
                        {%- endif -%}
                    {%- endif -%}
                </div>
            {%- endfor -%}




            {%- if pdiscontinued == true -%}

                {%- if product.selected_or_first_available_variant.sku contains "-DEMO" -%}
                    {%- comment -%}on discontinued demos, replace wording with diff than normal discontinued{%- endcomment -%}
                    <div class="sm-row"><div class="icon-wrap" style="font-size: 22px;"><i class="fa-solid fa-ban"></i></div> <div class="sm-row-text"><span>Unavailable</span><br/><span class="sm-text">This Unit has Been Sold</span></div></div>
                {%- else -%}
                    <div class="sm-row"><div class="icon-wrap" style="font-size: 22px;"><i class="fa-solid fa-ban"></i></div> <div class="sm-row-text"><span>Discontinued</span><br/><span class="sm-text">This Product has Been Discontinued</span></div></div>
                {%- endif -%}
            {%- else -%}
                {% comment %} Moving to under icon
                {%- if product.selected_or_first_available_variant.compare_at_price -%}
                    {%- if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price -%}
                        {%- assign specialSavings = product.compare_at_price | minus: product.price -%}
                        {%- assign endDate = product.selected_or_first_available_variant.metafields.plytix.special_enddate | date: '%s' -%}
                        {%- assign startDate = product.selected_or_first_available_variant.metafields.plytix.special_startdate | date: '%s' -%}
                        {%- assign nowTimestamp = 'now' | date: '%s' -%}

                        {%- assign enddiffSeconds = endDate | minus: nowTimestamp -%}
                        {%- assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 -%}

                        {%- assign startdiffSeconds = startDate | minus: nowTimestamp -%}
                        {%- assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 -%}

                        {%- if enddiffDays >= -1 and  startdiffDays < 0 -%}
                            {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                                <a href="/collections/current-sales"><div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and <strong>Save {{ specialSavings | money }}</strong></span></div></div></a>
                            {%- else -%}
                                <div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and <strong>Save {{ specialSavings | money }}</strong></span></div></div>
                            {%- endif -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
                {%- if product.metafields.plytix.custom_hot_deal_message -%}

                    {%- assign endDate = product.selected_or_first_available_variant.metafields.plytix.custom_hot_deal_to_date | date: '%s' -%}
                    {%- assign startDate = product.selected_or_first_available_variant.metafields.plytix.custom_hot_deal_from_date | date: '%s' -%}
                    {%- assign nowTimestamp = 'now' | date: '%s' -%}
                    {%- assign enddiffSeconds = endDate | minus: nowTimestamp -%}
                    {%- assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 -%}

                    {%- assign startdiffSeconds = startDate | minus: nowTimestamp -%}
                    {%- assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 -%}

                    {%- if enddiffDays >= -1 and  startdiffDays < 0 -%}
                        {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                           {{ diffDays }} <a href="/collections/current-sales"><div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and {{ product.metafields.plytix.custom_hot_deal_message }}</span></div></div></a>
                        {%- endif -%}
                    {%- endif -%}



                {%- endif -%}
                {%- if product.metafields.plytix.bundle_special_data -%}
                    {%- assign bundle_spec_data_array = product.metafields.plytix.bundle_special_data |split: "," -%}
                    {%- assign bundsavings = bundle_spec_data_array[0] | times: 100 -%}

                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/current-sales"><div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ bundle_spec_data_array[1] }}</strong> and <strong>Save {{ bundsavings | money }}</strong></span></div></div></a>
                    {%- else -%}
                        <div class="sm-row sale-icon"><div class="icon-wrap" style="font-size: 23px;"><i class="fa-duotone fa-solid fa-fire" style="--fa-primary-color: #FFFF00; --fa-secondary-color: #FF8000; --fa-secondary-opacity: 1;"></i></div> <div class="sm-row-text"><span>Hot Deal</span><br/><span class="sm-text">Buy Before <strong>{{ bundle_spec_data_array[1] }}</strong> and <strong>Save {{ bundsavings | money }}</strong></span></div></div>
                    {%- endif -%}

                {%- endif -%}
                {% endcomment %}
                {%- if product.metafields.plytix.made_in_USA -%}
                    <a href="/collections/all?refinementList%5Btags%5D%5B0%5D=assembled%20in%20the%20USA "><div class="sm-row"><div class="icon-wrap" style="font-size: 23px"><img style="margin-left:-3px" width="25" height="25" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="Assembled in the United States"/></div> <div class="sm-row-text"><span>Assembled in USA</span><br/><span  class="sm-text" >View All <i class="fa-solid fa-arrow-right"></i></span><span class="tooltip-desc sm-text">Supporting American Workers</span></div></div></a>
                {%- endif -%}
                {%- if product.metafields.plytix.free_shipping -%}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/free-shipping"><div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-duotone fa-solid fa-truck-fast"></i></div> <div class="sm-row-text"><span>Free Shipping</span><br/><span  class="sm-text" >View All <i class="fa-solid fa-arrow-right"></i></span><span class="tooltip-desc sm-text">Anywhere in the continental US</span></div></div></a>
                    {%- else -%}
                        <a href="/collections/all?refinementList%5Btags%5D%5B0%5D=Free%20Shipping "><div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-duotone fa-solid fa-truck-fast"></i></div> <div class="sm-row-text"><span>Free Shipping</span><br/><span class="sm-text">Anywhere in the continental US</span></div></div></a>
                    {%- endif -%}
                {%- endif -%}
                {%- if product.metafields.plytix.custom_free_shipping -%}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        {%- assign endDate = product.selected_or_first_available_variant.metafields.plytix.custom_hot_deal_to_date | date: '%s' -%}
                        {%- assign startDate = product.selected_or_first_available_variant.metafields.plytix.custom_hot_deal_from_date | date: '%s' -%}
                        {%- assign nowTimestamp = 'now' | date: '%s' -%}

                        {%- assign enddiffSeconds = endDate | minus: nowTimestamp -%}
                        {%- assign enddiffDays = enddiffSeconds | divided_by: 3600 | divided_by: 24 -%}

                        {%- assign startdiffSeconds = startDate | minus: nowTimestamp -%}
                        {%- assign startdiffDays = startdiffSeconds | divided_by: 3600 | divided_by: 24 -%}

                         {%- if enddiffDays >= -1 and  startdiffDays < 0 -%}
                             <a href="/collections/all?refinementList[tags][0]=Free Shipping Special"><div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-duotone fa-solid fa-truck-fast"></i></div> <div class="sm-row-text"><span>Free Shipping Special</span><br/><span class="sm-text">Buy Before <strong>{{ endDate | date: '%m/%d' }}</strong> and get <strong>Free Shipping</strong></span></div></div></a>
                         {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
                {%- if product.metafields.plytix.eco_friendly -%}
                    <a href="/collections/all?refinementList%5Btags%5D%5B0%5D=Environmentally%20Responsible "><div class="sm-row">
                        <div class="icon-wrap" style="font-size: 20px;"><i style="color: #019a00" class="fa-solid fa-recycle"></i></div>
                        <div class="sm-row-text"><span>Environmentally Responsible</span><br/><span  class="sm-text" >View All <i class="fa-solid fa-arrow-right"></i></span><span class="tooltip-desc sm-text">Reduced impact on the environment</span></div>
                    </div></a>
                {%- endif -%}
                {%- if product.metafields.plytix.gold_medal_winner -%}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/gold-medal-winners"><div class="sm-row">
                            <div class="icon-wrap">
                                <i class="fa-duotone fa-solid fa-medal"></i>
                            </div>
                            <div class="sm-row-text"><span>Gold Medal Winner</span><br/><span  class="sm-text" >View All <i class="fa-solid fa-arrow-right"></i></span>
                                <span class="tooltip-desc sm-text">Reliable machines at affordable prices.</span></div>
                        </div></a>
                    {%- else -%}
                        <div class="sm-row">
                            <div class="icon-wrap">
                                <i class="fa-duotone fa-solid fa-medal"></i>
                            </div>
                            <div class="sm-row-text"><span>Gold Medal Winner</span><br/><span class="sm-text">Reliable machines at affordable prices.</span></div>
                        </div>
                    {%- endif -%}
                {%- endif -%}
                {%- if product.metafields.plytix.in_these_bundles -%}

                    {%- assign in_bundles_arr = product.metafields.plytix.in_these_bundles | split: ", " -%}
                    {%- assign counter = 0 -%}
                    {%- assign onlyhandle = "" -%}
                    {%- for bundlehandle in in_bundles_arr -%}
                        {%- if bundlehandle != "" and bundlehandle != "undefined" -%}
                            {%- assign counter = counter | plus: 1 -%}
                            {%- assign onlyhandle = bundlehandle -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {%- if counter > 0 -%}
                            <div class="sm-row bnd-pop {% if counter > 2 %}bnd-pop-2col{% endif %} {% if counter > 2 %}bnd-pop-extra{% endif %}" style="cursor:pointer" data-currhandle="{{ product.handle }}" data-bndhandle="{{ product.metafields.plytix.in_these_bundles }}">
                                <div class="icon-wrap" style="font-size: 23px;"><i style="color:#d48c00; margin-left:-5px;" class="fa-sharp fa-regular fa-box-open"></i></div>
                                <div class="sm-row-text"><span>Available in a Package</span><br/><span  class="sm-text" >View Packages <i class="fa-solid fa-arrow-right"></i></span><span class="tooltip-desc sm-text">Get everything you need with a starter package!</span></div>
                            </div>
                    {%- endif -%}

                {%- endif -%}

                {%- if noreturn == true -%}
                    <div class="sm-row nolink">
                        <div class="icon-wrap">
                            <img style="margin-left:-2px;" width="25" height="25" src="{{ 'not-returnable-icon.png' | file_img_url }}" alt="Not Returnable">
                        </div>
                        <div class="sm-row-text "><span>Not Returnable</span><br/>
                            <span class="sm-text">Due to the nature of this product, it cannot be returned.</span>
                        </div>
                    </div>

                {%- endif -%}

{%- comment -%}
                {% if product.metafields.plytix.clearance_overstock == 'true' or pclearance == true %}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/clearance"><div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                            <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                                <span class="sm-text">Buy now before they are gone!</span></div>
                            </div></a>
                    {%- else -%}
                        <div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                            <div class="sm-row-text"><span>Clearance / Overstock</span><br/>
                          <span class="sm-text">Buy now before they are gone!</span></div>
                        </div>
                    {% endif %}
                {% endif %}
                {%- endcomment -%}
                {%- if product.selected_or_first_available_variant.sku contains "-DEMO" or product.selected_or_first_available_variant.sku contains "-REFURB" -%}
                    {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com"-%}
                        <a href="/collections/demoed-refurbished-equipment"><div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-duotone fa-solid fa-screwdriver-wrench"></i>
                            </div>
                            <div class="sm-row-text"><span>Refurbished Model</span><br/>
                                <span  class="sm-text" >View All <i class="fa-solid fa-arrow-right"></i></span>
                                <span class="tooltip-desc sm-text">Tested & approved to be in good working order!</span>
                            </div>
                        </div></a>
                    {%- else -%}
                        <div class="sm-row">
                            <div class="icon-wrap" style="font-size: 23px;">
                                <i class="fa-duotone fa-solid fa-screwdriver-wrench"></i>
                            </div>
                            <div class="sm-row-text"><span>Refurbished Model</span><br/>
                                <span class="sm-text">Tested & approved to be in good working order!</span>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
            {% comment %}
            {%- if product.metafields.plytix.package_products == blank and pdiscontinued != true -%}
                {%- if product.metafields.plytix.hide_product != 'true' and product.metafields.plytix.hide_pricing != "Hide Button Only" and product.metafields.plytix.hide_pricing != "Hide Price and Button" -%}
                    {%- render 'hulkapps-wishlist-product-btn' -%}
                {%- endif -%}
            {%- endif -%}
            {% endcomment %}

        </div>
    </div>
    <div class="prod-promo-image">
        {%- assign today_date = 'now' | date: '%s' %}
        {%- assign bannerObj = shop.metaobjects.product_banner.values | sort: 'prioritystring'  -%}
        {%- for banner in bannerObj -%}
            {%- assign start = banner.startdate | date: '%s' -%}

            {%- comment -%}//add one day to the end date{%- endcomment -%}
            {%- assign date = banner.enddate | date: '%s' -%}
            {%- assign seconds = 1 | times: 24 | times: 60 | times: 60 -%}
            {%- assign end = date | date: "%s" | plus: seconds | date: "%s" -%}

                {%- comment -%}if not active, skip{%- endcomment -%}
            {%- if today_date < start or today_date > end -%}
                {% continue %}
            {%- endif -%}


            {%- assign showBanner = false -%}
            {%- comment -%}// check collections{%- endcomment -%}
            {%- for bannerColl in banner.collections.value  -%}
                {%- for collection in product.collections -%}
                    {%- if collection.id == bannerColl.id  -%}
                        {%- assign showBanner = true -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if showBanner == true -%}
                    {%- break -%}
                {%- endif -%}
            {%- endfor -%}

            {%- comment -%}// check products{%- endcomment -%}
            {%- if showBanner == false  %}
                {%- for bannerProd in banner.products.value  -%}
                    {%- if product.id == bannerProd.id  -%}
                        {%- assign showBanner = true -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
            {%- if showBanner == true -%}
                {%- if banner.linkurl  -%}
                    {%- if banner.promo_code  -%}
                        <a style="cursor:pointer;" title="Apply '{{ banner.promo_code }}' Promo" onclick="promoRedirect('{{ banner.promo_code }}','{{ banner.linkurl }}')" >{{ banner.banner | image_url: width: 300 | image_tag: class: 'img-responsive' }}</a>
                    {%- else -%}
                        <a href="{{ banner.linkurl }}">{{ banner.banner | image_url: width: 300 | image_tag: class: 'img-responsive' }}</a>
                    {%- endif -%}
                {%- else -%}
                    {{ banner.banner | image_url: width: 300 | image_tag: class: 'img-responsive' }}
                {%- endif -%}
                {%- comment -%}Name: {{ banner.name }}<br/>
                Link: {{ banner.linkurl }}<br/>
                Products: {{ banner.products }}<br/>
                Collections: {{ banner.collections }}<br/>
                Priority: {{ banner.prioritystring }}<br/>
                Start: {{ banner.startdate }}<br/>
                End: {{ banner.enddate }}<br/><br/><br/>{%- endcomment -%}
                {%- break -%}
            {%- endif -%}

        {%- endfor -%}
    </div>
    <div class="clearer"></div>
</div>