{%- comment -%}Made by Cleanfreak{%- endcomment -%}
{%- assign debugHelp = section.settings.debugme -%}
{%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" and debugHelp == true -%}
{% comment %}New Related Product Tabs:<br/>{% endcomment %}
{%- endif -%}
{%- assign maxproducts = 19 -%}
{%- assign maxproductscounter = 0 -%}
{%- assign maxhandleholder = "" -%}


{% comment %}do not show freq if main item is discontinued, or there is no valid product{% endcomment %}
{%- assign showfreq = true -%}
{%- for c in product.collections -%}
    {%- if c.handle == "discontinued" -%}
        {% assign showfreq = false -%}
    {%- endif -%}
{%- endfor -%}
{%- assign freqitemcount = 0 -%}
{%- assign freq_products_arr = product.metafields.plytix.freq_bought  | split: ", " -%}
{%- for freqproduct in freq_products_arr -%}
    {%- assign product_handle = freqproduct | strip -%}
    {%- if product_handle != 'undefined' and all_products[product_handle].title != '' -%}
        {%- assign freqitemcount = freqitemcount | plus: 1 -%}
    {%- endif -%}
{%- endfor -%}
{%- if freqitemcount < 1 -%}
    {% assign showfreq = false -%}
{%- endif -%}



<div class="rel-product-tabbed-area">
    <div class="container">
        <div class="tab-headers">
            {%- comment -%}tab area{%- endcomment -%}
            {%- assign firstBlockId = "" -%}
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'tabinfo' -%}
                        {%- if product.metafields.plytix[block.settings.tab_rel_id] != blank -%}

                            {% comment %}check for atleast 1 item{% endcomment %}
                            {%- assign prod_check_arr = product.metafields.plytix[block.settings.tab_rel_id] | split: ", " -%}
                            {% assign show = 0 %}
                            {%- for product in prod_check_arr -%}
                                {%- assign product_handle = product |  strip -%}
                                {%- assign discontinued = false -%}
                                {%- for c in all_products[product_handle].collections -%}
                                    {%- if c.handle == "discontinued" -%}
                                        {% assign discontinued = true -%}
                                    {%- endif -%}
                                {%- endfor -%}
                                {%- if product_handle != 'undefined' and all_products[product_handle].title != '' and discontinued == false -%}
                                    {%- assign show = 1 -%}
                                    {%- break -%}
                                {% endif %}
                            {% endfor %}
                            {%- if show == 0 -%}
                                {%- continue -%}
                            {% endif %}

                            {% comment %}hide freq if discontinued{% endcomment %}
                            {%- if block.settings.tab_rel_id == "freq_bought" and showfreq -%}
                                {%- if firstBlockId == "" -%}
                                    {%- assign firstBlockId = block.settings.tab_rel_id -%}
                                {%- endif -%}
                                <h2 id="tab-{{ block.settings.tab_rel_id }}-header" class="rel-product-tab-header {% if firstBlockId == block.settings.tab_rel_id %}active-tab{% endif %}">
                                    <span class="desktop">{{ block.settings.tab_name }}</span><span class="mobile">{{ block.settings.tab_name_sm }}</span>
                                </h2>
                            {%- elsif block.settings.tab_rel_id != "freq_bought" -%}
                                {%- if firstBlockId == "" -%}
                                    {%- assign firstBlockId = block.settings.tab_rel_id -%}
                                {%- endif -%}
                                <h2 id="tab-{{ block.settings.tab_rel_id }}-header" class="rel-product-tab-header {% if firstBlockId == block.settings.tab_rel_id %}active-tab{% endif %}">
                                    <span class="desktop">{{ block.settings.tab_name }}</span><span class="mobile">{{ block.settings.tab_name_sm }}</span>
                                </h2>
                            {%- endif -%}


                        {%- endif -%}
                {%- endcase -%}
            {%- endfor -%}
        </div>
    <div class="clearer"></div>

        {% comment %}FREQ AREA Needs to be split out due to the add to cart bug with sections or else js won't work{% endcomment %}

        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'tabinfo' -%}
                    {%- assign tab_rel_id = block.settings.tab_rel_id -%}
                    {%- assign tab_name = block.settings.tab_name -%}
                    {%- assign hideSliderDefault = true -%}
                    {%- if firstBlockId == tab_rel_id -%}
                        {%- assign hideSliderDefault = false -%}
                    {%- endif -%}


                    {% assign pstep = 1 %}
                    {% if product.metafields.plytix.product_step != blank %}
                        {% assign pstep = product.metafields.plytix.product_step %}
                    {% endif %}
                    {% comment %}Show slider as normal if freq_bought is on a bundle or a product with product increments > 1{% endcomment %}
                    {% comment %}Do not show as as freq_bought functionality if this is the case{% endcomment %}
                    {% comment %}hide freq if discontinued{% endcomment %}
                    {%- if tab_rel_id == "freq_bought" and product.metafields.plytix.package_products == blank and pstep < 2 and showfreq -%}
                        <div id="{{ tab_rel_id }}-slider" class="tabbed-rel-freq tabbed-rel-slider {% if hideSliderDefault %}sliderhidden{% endif %}" >
                            <div class="freq-bought-items">
                                {%- assign noProducts = true -%}
                                {%- if product.metafields.plytix[tab_rel_id] != blank -%}

                                    <div class="{{ tab_rel_id }}-rel-item rel-slider-item freq-item main-item" data-freqbundle-subproducts>
                                        {%-
                                                render 'product-slider-item-freq',
                                                main_loc: 'Product Page',
                                                item_loc: 'Frequently Bought Together',
                                                product: product
                                        -%}
                                    </div>
                                    <div class="freq-add">+</div>



                                    {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                    {% assign total = 1 %}
                                    {%- for product in rel_products_arr -%}

                                        {%- assign product_handle = product |  strip -%}

                                        {% comment %}check if under 20 and add to list to check{% endcomment %}
                                        {%- assign show = false -%}
                                        {%- if maxhandleholder contains product_handle -%}
                                            {%- assign show = true -%}
                                        {%- else -%}
                                            {%- if maxproductscounter < maxproducts -%}
                                                {%- assign maxproductscounter = maxproductscounter | plus: 1 -%}
                                                {%- assign maxhandleholder = maxhandleholder | append: product_handle | append: "," -%}
                                                {%- assign show = true -%}
                                            {%- else -%}
                                                {%- assign maxproductscounter = maxproductscounter | plus: 1 -%}
                                                <div class="crawlcheck crawlcheck-maxprod"><!-- check this for 20+ related/freq product calls (({{ product_handle }})) --></div>
                                            {%- endif -%}
                                        {%- endif -%}
                                        {%- if all_products[product_handle].metafields.plytix.package_products -%}
                                            {%- assign show = false -%}
                                        {%- endif -%}

                                        {% assign crawlcheck = false %}
                                        {% for c in all_products[product_handle].collections %}
                                            {% if c.handle == "discontinued" %}
                                                {% assign crawlcheck = true %}
                                                {%- assign show = false -%}
                                            {% endif %}
                                        {% endfor %}
                                        {% if crawlcheck == true %}
                                            <div class="crawlcheck crawlcheck-related"><!-- check product that is supposed to be here for discontinued or broken handle (({{ product_handle }})) --></div>
                                        {% endif %}

                                        {%- if show == true -%}
                                            {%- if product_handle != 'undefined' and all_products[product_handle].title != '' -%}
                                                {%- assign noProducts = false -%}
                                                {%- assign item = all_products[product_handle] -%}

                                                {%- assign has_variants = false -%}
                                                {%- unless item.has_only_default_variant -%}
                                                    {%- assign has_variants = true -%}
                                                {%- endunless -%}

                                                {%- assign showthisproduct = true -%}
                                                {%- for c in product.collections -%}
                                                    {%- if c.handle == "discontinued" -%}
                                                        {% assign showthisproduct = false -%}
                                                    {%- endif -%}
                                                {%- endfor -%}
                                                {%- if  showthisproduct == true and total < 4 -%}
                                                    {% assign total = total | plus: 1 %}
                                                    <div class="{{ tab_rel_id }}-rel-item rel-slider-item freq-item" data-freqbundle-subproducts>
                                                        {%-
                                                                render 'product-slider-item-freq',
                                                                main_loc: 'Product Page',
                                                                item_loc: 'Frequently Bought Together',
                                                                product: item
                                                        -%}
                                                    </div>
                                                    <div class="freq-add">+</div>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                            <div class="freq-sum-area">
                                <div class="freq-total-price">Total Price: <span class="freq-price">$<span>0.00</span></span></div>
                                <div class="freq-cart-button">
                                    {% comment %}Org Bundle cart
                                        <button class="product-form--atc-button" id="p-atc" type="submit" data-bundle-product-atc data-bundle="{{ product.handle }}">
                                    {% endcomment %}
                                    <button class="product-form--atc-button" id="p-atc-freq" type="submit" data-freqbundle-product-atc data-freqbundle="{{ product.handle }}">
                                            <span class="atc-button--text">
                                              <i class="fa-regular fa-cart-shopping"></i>
                                              Add Items to Cart
                                            </span>
                                        <span class="atc-button--icon">
                                              {%- render 'icon-spinner' -%}
                                            </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    {%- endif -%}
            {%- endcase -%}
        {%- endfor -%}


        {% assign product_limit = 10 %}
        {%- capture section_type -%}
            static-collection-slider
        {%- endcapture -%}
        {% comment %}This was all thrown together to get add to cart to work after we found out it broke on launch{% endcomment %}
        {% comment %}need to keep "data-section-type="static-product-recommendations" and sections or else the add to cart will break (line 45039 empire.js){% endcomment %}
        <script
                type="application/json"
                data-section-type="static-product-recommendations"
                data-section-id="{{ section.id }}"
                data-section-data
        >
            {
              "settings": {
                "limit": {{ product_limit }}
              },
                "productId": {{ product.id | json }},
                "sectionId": {{ section.id | json }}
            }
        </script>

        <script
                type="application/json"
                data-section-type="{{ section_type | strip }}"
                data-section-id="{{ section.id }}"
                data-section-data
        >

        </script>
        <section data-html data-product-recommendations id="rel-products">


            {%- comment -%}slider area{%- endcomment -%}
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'tabinfo' -%}
                        {%- assign tab_rel_id = block.settings.tab_rel_id -%}
                        {%- assign tab_name = block.settings.tab_name -%}
                        {%- assign hideSliderDefault = true -%}
                        {%- if firstBlockId == tab_rel_id -%}
                            {%- assign hideSliderDefault = false -%}
                        {%- endif -%}


                        {% assign pstep = 1 %}
                        {% if product.metafields.plytix.product_step != blank %}
                            {% assign pstep = product.metafields.plytix.product_step %}
                        {% endif %}
                        {% comment %}Show slider as normal if freq_bought is on a bundle or a product with product increments > 1{% endcomment %}
                        {% comment %}Do not show as as freq_bought functionality if this is the case{% endcomment %}
                        {%- if tab_rel_id == "part_items" or tab_rel_id == "part_used_on" -%}
                            <div id="{{ tab_rel_id }}-slider" class="tabbed-rel-slider {% if hideSliderDefault %}sliderhidden{% endif %}">
                                <div class="parts-data-area">
                                    <div class="loading-text">Loading.....</div>
                                    <table>
                                    {%- if product.metafields.plytix[tab_rel_id] != blank -%}
                                        {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                        {%- for product in rel_products_arr -%}
                                        <tr class="part-item" data-handle="{{ product }}">
                                        </tr>
                                        {%- endfor -%}
                                    {%- endif -%}
                                    </table>
                                </div>
                                <div class="parts-service-img">
                                    <img class="img-responsive" src="{{ 'superfreak-parts-area-banner.jpg' | file_url }}" alt="Need a part, call our service department!">
                                </div>
                            </div>
                        {%- elsif tab_rel_id != "freq_bought" -%}
                            <div id="{{ tab_rel_id }}-slider" class="tabbed-rel-slider {% if hideSliderDefault %}sliderhidden{% endif %}">
                                {%- if product.metafields.plytix[tab_rel_id] != blank -%}
                                    {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                    {%- for product in rel_products_arr -%}
                                        {%- assign product_handle = product |  strip -%}
                                        <div class="{{ tab_rel_id }}-rel-item rel-slider-item rel-slider-item-ajax " data-handle="{{ product_handle }}">
                                            {{ product_handle }}
                                        </div>
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                            {% comment %} Old way before Ajax loading
                            <div id="{{ tab_rel_id }}-slider" class="tabbed-rel-slider {% if hideSliderDefault %}sliderhidden{% endif %}">
                                    {%- assign noProducts = true -%}
                                    {%- if product.metafields.plytix[tab_rel_id] != blank -%}
                                        {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                        {%- for product in rel_products_arr -%}
                                            {%- assign product_handle = product |  strip -%}

                                            {% comment %}check if under 20 and add to list to check{% endcomment %}
                                            {%- assign show = false -%}
                                            {%- if maxhandleholder contains product_handle -%}
                                                {%- assign show = true -%}
                                            {%- else -%}
                                                {%- if maxproductscounter < maxproducts -%}
                                                    {%- assign maxproductscounter = maxproductscounter | plus: 1 -%}
                                                    {%- assign maxhandleholder = maxhandleholder | append: product_handle | append: "," -%}
                                                    {%- assign show = true -%}
                                                {%- else -%}
                                                    {%- assign maxproductscounter = maxproductscounter | plus: 1 -%}
                                                    <div class="crawlcheck crawlcheck-maxprod"><!-- check this for 20+ related/freq product calls (({{ product_handle }})) --></div>
                                                {%- endif -%}
                                            {%- endif -%}

                                            {% assign crawlcheck = false %}
                                            {% for c in all_products[product_handle].collections %}
                                                {% if c.handle == "discontinued" %}
                                                    {% assign crawlcheck = true %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if crawlcheck == true %}
                                                <div class="crawlcheck crawlcheck-related"><!-- check product that is supposed to be here for discontinued or broken handle ({{ product_handle }})--></div>
                                            {% endif %}

                                            {%- if show == true -%}
                                                {%- if product_handle != 'undefined' and all_products[product_handle].title != '' -%}
                                                    {%- assign noProducts = false -%}
                                                    {%- assign item = all_products[product_handle] -%}

                                                    {% comment %}filter discontinued{% endcomment %}
                                                    {%- assign showthisproduct = true -%}
                                                    {%- for c in item.collections -%}
                                                        {%- if c.handle == "discontinued" -%}
                                                            {% assign showthisproduct = false -%}
                                                        {%- endif -%}
                                                    {%- endfor -%}
                                                    {%- if  showthisproduct == true -%}
                                                        <div class="{{ tab_rel_id }}-rel-item rel-slider-item">
                                                            {%- assign location = 'NA' -%}
                                                            {%- if  tab_rel_id == 'related_products' -%}
                                                                {%- assign location = 'Related Products' -%}
                                                            {%- elsif  tab_rel_id == 'similar_items' -%}
                                                                {%- assign location = 'Similar Items' -%}
                                                            {%- endif -%}
                                                            {%-
                                                                    render 'product-slider-item',
                                                                    main_loc: 'Product Page',
                                                                    item_loc: location,
                                                                    product: item
                                                            -%}
                                                        </div>
                                                    {%- endif -%}
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- endif -%}
                            </div>{% endcomment %}
                        {%- endif -%}


                        <div id="{{ tab_rel_id }}-slider-arrows" class="round-arrows rel-slide-arrows {% if hideSliderDefault %}sliderhidden{% endif %}"></div>
                        <div id="{{ tab_rel_id }}-rel-item-slider-fade-r" class="related-fade-r slider-fade-r"></div>
                {%- endcase -%}
            {%- endfor -%}
        </section>
    </div>
</div>
</section>
{%- if maxproductscounter > maxproducts -%}
    <div data-allprodtotal="{{ maxproductscounter }}">----</div>
{%- endif -%}