{%- comment -%}Made by Cleanfreak{%- endcomment -%}
{%- assign debugHelp = section.settings.debugme -%}
{%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" and debugHelp == true -%}
{%- comment -%}New Related Product Tabs:<br/>{%- endcomment -%}
{%- endif -%}
{%- assign maxproducts = 19 -%}
{%- assign maxproductscounter = 0 -%}
{%- assign maxhandleholder = "" -%}
{%- assign today_date = 'now' | date: '%s' %}
{%- assign fgwp_Obj = shop.metaobjects.free_gift_with_product.values  -%}
{%- assign current_var_id = product.selected_or_first_available_variant.id %}
{%- comment -%}do not show freq if main item is discontinued, or there is no valid product{%- endcomment -%}
{%- assign showfreq = true -%}
{%- for c in product.collections -%}
    {%- if c.handle == "discontinued" -%}
        {% assign showfreq = false -%}
    {%- endif -%}
{%- endfor -%}
{%- assign freqitemcount = 0 -%}
{%- assign freq_products_arr = product.metafields.plytix.freq_bought  | split: ", " -%}
{%- for freqproduct in freq_products_arr -%}
    {%- assign product_handle = freqproduct | strip -%}
    {%- if product_handle != 'undefined' and all_products[product_handle].title != '' -%}
        {%- assign freqitemcount = freqitemcount | plus: 1 -%}
    {%- endif -%}
{%- endfor -%}
{%- if freqitemcount < 1 -%}
    {% assign showfreq = false -%}
{%- elsif product.metafields.plytix.package_products != blank or product.metafields.plytix.packaged_free_product != blank-%}
        {% assign showfreq = false -%}
{%- endif -%}

<div class="rel-product-tabbed-area tabbed-area">
    <div class="container">
        <div class="tab-headers">
            {%- comment -%}tab area{%- endcomment -%}
            {%- assign firstBlockId = "" -%}
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'tabinfo' -%}
                        {%- if product.metafields.plytix[block.settings.tab_rel_id] != blank -%}

                            {%- comment -%}check for atleast 1 item{%- endcomment -%}
                            {%- assign prod_check_arr = product.metafields.plytix[block.settings.tab_rel_id] | split: ", " -%}
                            {% assign show = 0 %}
                            {%- for product in prod_check_arr -%}
                                {%- assign product_handle = product |  strip -%}
                                {%- assign discontinued = false -%}
                                {%- for c in all_products[product_handle].collections -%}
                                    {%- if c.handle == "discontinued" -%}
                                        {% assign discontinued = true -%}
                                    {%- endif -%}
                                {%- endfor -%}
                                {%- if product_handle != 'undefined' and all_products[product_handle].title != '' and discontinued == false -%}
                                    {%- assign show = 1 -%}
                                    {%- break -%}
                                {%- endif -%}
                            {%- endfor -%}
                            {%- if show == 0 -%}
                                {%- continue -%}
                            {%- endif -%}

                            {%- comment -%}hide freq if discontinued{%- endcomment -%}
                            {%- if block.settings.tab_rel_id == "freq_bought" and showfreq -%}
                                {%- if firstBlockId == "" -%}
                                    {%- assign firstBlockId = block.settings.tab_rel_id -%}
                                {%- endif -%}
                                <h2 id="tab-{{ block.settings.tab_rel_id }}-header" class="rel-product-tab-header {% if firstBlockId == block.settings.tab_rel_id %}active-tab{% endif %}">
                                    <span class="desktop">{{ block.settings.tab_name }}</span><span class="mobile">{{ block.settings.tab_name_sm }}</span>
                                </h2>
                            {%- elsif block.settings.tab_rel_id != "freq_bought" -%}
                                {%- if firstBlockId == "" -%}
                                    {%- assign firstBlockId = block.settings.tab_rel_id -%}
                                {%- endif -%}
                                <h2 id="tab-{{ block.settings.tab_rel_id }}-header" class="rel-product-tab-header {% if firstBlockId == block.settings.tab_rel_id %}active-tab{% endif %}">
                                    <span class="desktop">{{ block.settings.tab_name }}</span><span class="mobile">{{ block.settings.tab_name_sm }}</span>
                                </h2>
                            {%- endif -%}


                        {%- endif -%}
                {%- endcase -%}
            {%- endfor -%}
        </div>
    <div class="clearer"></div>

        {%- comment -%}FREQ AREA Needs to be split out due to the add to cart bug with sections or else js won't work end{%- endcomment -%}

        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'tabinfo' -%}
                    {%- assign tab_rel_id = block.settings.tab_rel_id -%}
                    {%- assign tab_name = block.settings.tab_name -%}
                    {%- assign hideSliderDefault = true -%}
                    {%- if firstBlockId == tab_rel_id -%}
                        {%- assign hideSliderDefault = false -%}
                    {%- endif -%}
                    {%- assign pstep = 1 -%}
                    {%- if product.metafields.plytix.product_step != blank -%}
                        {%- assign pstep = product.metafields.plytix.product_step -%}
                    {%- endif -%}
                    {%- comment -%}Show slider as normal if freq_bought is on a bundle or a product with product increments > 1{%- endcomment -%}
                    {%- comment -%}Do not show as as freq_bought functionality if this is the case{%- endcomment -%}
                    {%- comment -%}hide freq if discontinued{%- endcomment -%}
                    {%- if tab_rel_id == "freq_bought" and product.metafields.plytix.package_products == blank and product.metafields.plytix.packaged_free_product == blank and pstep < 2 and showfreq -%}
                        <div id="{{ tab_rel_id }}-slider" class="tabbed-rel-freq tabbed-rel-slider {% if hideSliderDefault %}sliderhidden{% endif %}" >
                            <div class="freq-bought-items">
                                {%- assign noProducts = true -%}
                                {%- if product.metafields.plytix[tab_rel_id] != blank -%}
                                    {%- assign warning_pops_avaliable = 0 -%}
                                    {%- assign fgwp_pops_avaliable = 0 -%}
                                    <div class="{{ tab_rel_id }}-rel-item rel-slider-item freq-item main-item" data-freqbundle-subproducts>
                                        {%-
                                                render 'product-slider-item-freq',
                                                main_loc: 'Product Page',
                                                item_loc: 'Frequently Bought Together',
                                                product: product,
                                                typeofitem:'mainitem'
                                        -%}

                                        {%- for fgwp in fgwp_Obj -%}
                                            {%- assign show_fgwp = false -%}
                                            {%- assign start = fgwp.start_date | date: '%s' -%}
                                            {%- comment -%}//add one day to the end date{%- endcomment -%}
                                            {%- assign date = fgwp.end_date | date: '%s' -%}
                                            {%- assign seconds = 1 | times: 24 | times: 60 | times: 60 -%}
                                            {%- assign end = date | date: "%s" | plus: seconds | date: "%s" -%}

                                            {%- comment -%}if not active, skip{%- endcomment -%}
                                            {%- if today_date < start or today_date > end -%}
                                                {% continue %}
                                            {%- endif -%}

                                            {%- comment -%}find by product{%- endcomment -%}
                                            {%- for find_product in fgwp.buy_this_product.value -%}
                                                {% if find_product.url == product.url %}
                                                    {%- assign show_fgwp = true -%}
                                                {% endif %}
                                            {% endfor %}
                                            {%- comment -%}find by tag{%- endcomment -%}
                                            {%- for this_tag in fgwp.buy_product_tagged_as.value -%}
                                                {% if product.tags contains this_tag %}
                                                    {%- assign show_fgwp = true -%}
                                                {% endif %}
                                            {% endfor %}


                                            {%- if show_fgwp == true -%}
                                                {%- assign fgwp_pops_avaliable = fgwp_pops_avaliable | plus: 1 -%}
                                            {% endif %}
                                        {% endfor %}

                                        {% if product.metafields.plytix.warning_title %}
                                            {%- assign warning_pops_avaliable = warning_pops_avaliable | plus: 1 -%}
                                        {% endif %}

                                        {% capture freqvarid %}{{ product.variants.first.id }}freq{% endcapture %}
                                        {%
                                                render 'warning-pop',
                                                product: product,
                                                area:'mainfreq',
                                                varid: freqvarid
                                        %}


                                    </div>
                                    <div class="freq-add">+</div>

                                    {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                    {%- assign total = 1 -%}
                                    {%- for product in rel_products_arr -%}

                                        {%- assign product_handle = product |  strip -%}

                                        {%- comment -%}check if under 20 and add to list to check{%- endcomment -%}
                                        {%- assign show = false -%}
                                        {%- if maxhandleholder contains product_handle -%}
                                            {%- assign show = true -%}
                                        {%- else -%}
                                            {%- if maxproductscounter < maxproducts -%}
                                                {%- assign maxproductscounter = maxproductscounter | plus: 1 -%}
                                                {%- assign maxhandleholder = maxhandleholder | append: product_handle | append: "," -%}
                                                {%- assign show = true -%}
                                            {%- else -%}
                                                {%- assign maxproductscounter = maxproductscounter | plus: 1 -%}
                                                <div class="crawlcheck crawlcheck-maxprod"><!-- check this for 20+ related/freq product calls (({{ product_handle }})) --></div>
                                            {%- endif -%}
                                        {%- endif -%}
                                        {%- if all_products[product_handle].metafields.plytix.package_products or product.metafields.plytix.packaged_free_product -%}
                                            {%- assign show = false -%}
                                        {%- endif -%}

                                        {%- if all_products[product_handle].price <= 0 or all_products[product_handle].metafields.plytix.hide_pricing == 'Hide Price and Button'%}
                                            {%- assign show = false -%}
                                            {%- assign crawlcheck = true -%}
                                        {%- endif -%}

                                        {%- assign crawlcheck = false -%}
                                        {%- for c in all_products[product_handle].collections -%}
                                            {%- if c.handle == "discontinued" -%}
                                                {%- assign crawlcheck = true -%}
                                                {%- assign show = false -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                        {%- if crawlcheck == true -%}
                                            <div class="crawlcheck crawlcheck-related"><!-- check product that is supposed to be here for discontinued or broken handle (({{ product_handle }})) --></div>
                                        {%- endif -%}

                                        {%- if show == true -%}
                                            {%- if product_handle != 'undefined' and all_products[product_handle].title != '' -%}
                                                {%- assign noProducts = false -%}
                                                {%- assign item = all_products[product_handle] -%}

                                                {%- assign has_variants = false -%}
                                                {%- unless item.has_only_default_variant -%}
                                                    {%- assign has_variants = true -%}
                                                {%- endunless -%}

                                                {%- assign showthisproduct = true -%}
                                                {%- for c in product.collections -%}
                                                    {%- if c.handle == "discontinued" -%}
                                                        {%- assign showthisproduct = false -%}
                                                    {%- endif -%}
                                                {%- endfor -%}
                                                {%- if  showthisproduct == true and total < 4 -%}
                                                    {% assign total = total | plus: 1 %}
                                                    <div class="{{ tab_rel_id }}-rel-item rel-slider-item freq-item" data-freqbundle-subproducts>
                                                        {%-
                                                                render 'product-slider-item-freq',
                                                                main_loc: 'Product Page',
                                                                item_loc: 'Frequently Bought Together',
                                                                product: item,
                                                                typeofitem:'addon'
                                                        -%}

                                                        {%- for fgwp in fgwp_Obj -%}
                                                            {%- assign show_fgwp = false -%}
                                                            {%- assign start = fgwp.start_date | date: '%s' -%}
                                                            {%- comment -%}//add one day to the end date{%- endcomment -%}
                                                            {%- assign date = fgwp.end_date | date: '%s' -%}
                                                            {%- assign seconds = 1 | times: 24 | times: 60 | times: 60 -%}
                                                            {%- assign end = date | date: "%s" | plus: seconds | date: "%s" -%}

                                                            {%- comment -%}if not active, skip{%- endcomment -%}
                                                            {%- if today_date < start or today_date > end -%}
                                                                {% continue %}
                                                            {%- endif -%}

                                                            {%- comment -%}find by product{%- endcomment -%}
                                                            {%- for find_product in fgwp.buy_this_product.value -%}
                                                                {% if find_product.url == item.url %}
                                                                    {%- assign show_fgwp = true -%}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {%- comment -%}find by tag{%- endcomment -%}
                                                            {%- for this_tag in fgwp.buy_product_tagged_as.value -%}
                                                                {% if item.tags contains this_tag %}
                                                                    {%- assign show_fgwp = true -%}
                                                                {% endif %}
                                                            {% endfor %}

                                                            {%- if show_fgwp == true -%}
                                                                {%- assign fgwp_pops_avaliable = fgwp_pops_avaliable | plus: 1 -%}
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% if item.metafields.plytix.warning_title %}
                                                            {%- assign warning_pops_avaliable = warning_pops_avaliable | plus: 1 -%}
                                                        {% endif %}

                                                        {% capture freqvarid %}{{ item.variants.first.id }}freq{% endcapture %}
                                                        {%
                                                                render 'warning-pop',
                                                                product: item,
                                                                area:'mainfreq',
                                                                varid: freqvarid
                                                        %}
                                                    </div>
                                                    <div class="freq-add">+</div>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                            <div class="freq-sum-area">
                                <div class="freq-total-price">Total Price: <span class="freq-price">$<span>0.00</span></span></div>
                                <div class="freq-cart-button">
                                    {%- comment -%}Org Bundle cart
                                        <button class="product-form--atc-button" id="p-atc" type="submit" data-bundle-product-atc data-bundle="{{ product.handle }}">
                                    {%- endcomment -%}
                                    <button class="product-form--atc-button main-atc-button" id="p-atc-freq" type="submit" data-freqbundle-product-atc data-freqbundle="{{ product.handle }}">
                                            <span class="atc-button--text">
                                                <span class="atc-plus">+</span>
                                              Add Items to Cart
                                            </span>
                                        <span class="atc-button--icon">
                                              {%- render 'icon-spinner' -%}
                                            </span>
                                    </button>


                                    {%- comment -%}start if warning pop -------------------------------------------------------------------------------{%- endcomment -%}

                                    {%- if warning_pops_avaliable > 0 or fgwp_pops_avaliable > 0-%}
                                    {%- if warning_pops_avaliable > 0 -%}
                                        <div onclick="warningpopfreq()" class="product-form--atc-button main-atc-button mdc-ripple-surface mdc-ripple-upgraded" id="p-atc-agree-freq">
                                            <span class="atc-button--text"><span class="atc-plus">+</span> Add to cart</span>
                                            <span class="atc-button--icon"><svg aria-hidden="true" focusable="false" role="presentation" width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" /></span>
                                        </div>
                                        <div class="warningpop-text-freq" style="display:none;">
                                            <div class="warning-pop-freq-data"></div>
                                            <div class="warning-actions">
                                                <div style="margin-top:10px; text-align:center">
                                                    <div style="max-width:200px; margin:3px;" class="product-form--atc-button outlinebtn main-atc-button" onclick="event.stopPropagation(); closechildPop('bund-pop-')" >Cancel</div>
                                                    <div style="max-width:200px; margin:3px;" class="product-form--atc-button main-atc-button agree-btn agree-freq" onclick="agreecheckfreq()" >Agree</div>
                                                </div>
                                            </div>
                                        </div>
                                    {%- elsif fgwp_pops_avaliable > 0-%}
                                        <div onclick="fgwpopfreq()" class="product-form--atc-button main-atc-button mdc-ripple-surface mdc-ripple-upgraded" id="p-atc-agree-freq">
                                            <span class="atc-button--text"><span class="atc-plus">+</span> Add to cart</span>
                                            <span class="atc-button--icon"><svg aria-hidden="true" focusable="false" role="presentation" width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" /></span>
                                        </div>
                                    {%- endif -%}

                                        <style>
                                            .freq-cart-button #p-atc-freq{display:none !important;}
                                            .freq-cart-button #p-atc-agree-freq{min-width:200px;}
                                            .warning-pop-freq-data .viewnotice{position: absolute; top:10px; right:10px;}


                                            @media (min-width: 720px) and (max-width: 1172px){

                                                .cart-buttons #p-atc-agree{
                                                    margin:0px 0 10px 0;
                                                    flex-basis:100%;
                                                }
                                            }
                                            @media (max-width: 550px){
                                                .cart-buttons #p-atc-agree{
                                                    margin:0px 0 10px 0;
                                                    flex-basis:100%;
                                                }

                                            }

                                            @media (max-width: 719px) {
                                                .warning-actions .agree-btn{margin-top:10px;}
                                            }
                                        </style>

                                        <script>
                                            jQuery(document).ready(function($){
                                                if($('.fgwp-text-area-mainfreq').length > 0){
                                                    $( ".agree-freq").attr("onClick","agreecheckfreq(true)");
                                                }

                                                var totalpops = 0;
                                                var warningtitles = [];
                                                var warningbody = [];
                                                var warningskus = [];
                                                $( ".warningpop-text-freq-itemdata" ).each(function() {
                                                    var thissku = $( this ).find('.item-warning-sku').html();
                                                    var thiswarningtitle = $( this ).find('.item-warning-title').html();
                                                    var thiswarning = $( this ).find('.item-warning-body').html();

                                                    if(totalpops == 0){
                                                        warningskus.push(thissku);
                                                        warningtitles.push(thiswarningtitle);
                                                        warningbody.push(thiswarning);
                                                        totalpops++;
                                                    }else{
                                                        var addtoarr = 1;
                                                        warningtitles.forEach(function(element, index, array) {
                                                            if(thiswarningtitle != element ){
                                                            }else{
                                                                var newsku =  warningskus[index] + ", "+thissku;
                                                                warningskus[index] = newsku;
                                                                addtoarr = 0;
                                                            }
                                                        });
                                                        if(addtoarr == 1){
                                                            warningskus.push(thissku);
                                                            warningtitles.push(thiswarningtitle);
                                                            warningbody.push(thiswarning);
                                                            totalpops++;
                                                        }
                                                    }
                                                });

                                                if(totalpops > 0) {
                                                       //update popuptext
                                                    var popupHtml="";
                                                    if(totalpops == 1 ) {
                                                            popupHtml+='<div>';
                                                            popupHtml+='<h2 style="margin-bottom:0">'+warningtitles[0]+'</h2>';
                                                            popupHtml+='<div style="font-size:12px; margin-bottom:15px; ">Notice for '+warningskus[0]+'</div>';
                                                            popupHtml+='<div style="margin-bottom:10px; max-height:300px; overflow-y:scroll">'+warningbody[0]+'</div>';
                                                            popupHtml+='<div>';
                                                    }else if(totalpops > 1 ) {
                                                        popupHtml+='<div>';
                                                        popupHtml+='<h2 style="">Notices on Products</h2>';
                                                        warningtitles.forEach(function(element, index, array) {
                                                            popupHtml+='<div style="border-top:1px solid #ccc; position: relative; padding:5px">';
                                                            popupHtml+='<div style="font-size:16px; text-decoration:underline; marrgin-bottom:0">'+warningtitles[index]+'</div>';
                                                            popupHtml+='<div style="font-size:12px; margin-bottom:15px; ">Notice for '+warningskus[index]+'</div>';
                                                            popupHtml+='<div class="noticebody" style="margin-bottom:10px; max-height:300px; overflow-y:scroll; display:none;">'+warningbody[index]+'</div>';
                                                            popupHtml+='<div class="viewnotice" onclick="viewnotice(this)"><a><span class="viewtext">View Notice</span><span class="viewicon"> -></span></a></div>';
                                                            popupHtml+='</div>';
                                                        });
                                                        popupHtml+='</div>';
                                                    }
                                                    $(".warning-pop-freq-data").html(popupHtml);
                                                }
                                            });
                                            function viewnotice(element){
                                                var thisnotice = $(element).prev();
                                                var viewnoticetext = $(element).find('.viewtext');
                                                $(".noticebody").hide();
                                                if(viewnoticetext.text() == "View Notice"){
                                                    $(".viewtext").text("View Notice");
                                                    viewnoticetext.text("Hide Notice");
                                                    thisnotice.show();
                                                }else{
                                                    $(".viewtext").text("View Notice");
                                                }
                                            }
                                            function warningpopfreq(){
                                                $('.popup-container').removeClass('hidden');
                                                $(".pop-grad").removeClass('hidden');
                                                $( ".agree-freq").text("Agree");
                                                var newhtml = $(".warningpop-text-freq").html();
                                                $('.popup-container .content').html(newhtml);
                                                $('.popup-container').addClass('widepop');
                                            }


                                            function fgwpopfreq(){
                                                var counter = 0;
                                                {%- comment -%} get number of popups and add data{%- endcomment -%}
                                                $( ".freq_bought-rel-item" ).each(function() {
                                                    if($(this).find('.freq-check').is(':checked')) {
                                                        if ($(this).find(".freq-pops").length){
                                                            $(this).find('.freq-pops').attr('data-popnum', counter);
                                                            $(this).find('.fgwp-pop-content').attr('data-popnum', counter);
                                                            counter++;
                                                        }
                                                    }
                                                });
                                                {%- comment -%} pop first fgwp{%- endcomment -%}
                                                $( ".freq_bought-rel-item" ).each(function() {
                                                    if($(this).find('.freq-check').is(':checked')) {
                                                        var poptotrigger = $(this).find(".freq-pops");
                                                        if (poptotrigger.length){
                                                            {%- comment -%}update closing button to clear out added fgwp{%- endcomment -%}

                                                            $(".popup-container .close-pop").attr("onclick","event.stopPropagation(); closechildPop('bund-pop-',true)");

                                                            poptotrigger.click();
                                                            return false;
                                                        }
                                                    }
                                                });
                                            }

                                            function agreecheckfreq(morepop = false){
                                                $('.warning-actions .agree-btn').html("Adding To the Cart....");

                                                $( ".warningpop-text-freq-itemdata" ).each(function() {
                                                    var warningitem = $( this ).find('.item-warning-sku').text();
                                                    var atcwarningtitle = $( this ).find('.item-warning-title').html();
                                                    $('.freq-data[data-var_vissku="'+warningitem+'"]').attr('data-notification','Accepted '+atcwarningtitle);
                                                });

                                                if(morepop){
                                                    fgwpopfreq();
                                                }else{
                                                    setTimeout(function() {
                                                        $('#p-atc-agree-freq .atc-button--text').text('Adding...');
                                                        $('.freq-cart-button #p-atc-freq').click();
                                                        setTimeout(function() {
                                                            closechildPop('bund-pop-');
                                                        }, 1000);
                                                    }, 1000);
                                                }
                                            }

                                        </script>
                                    {%- endif -%}
                                    {%- comment -%}end if warning pop -------------------------------------------------------------------------------{%- endcomment -%}

                                </div>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    {%- endif -%}
            {%- endcase -%}
        {%- endfor -%}


        {%- assign product_limit = 10 -%}
        {%- capture section_type -%}
            static-collection-slider
        {%- endcapture -%}
        {%- comment -%}This was all thrown together to get add to cart to work after we found out it broke on launch{%- endcomment -%}
        {%- comment -%}need to keep "data-section-type="static-product-recommendations" and sections or else the add to cart will break (line 45039 empire.js){%- endcomment -%}
        <script
                type="application/json"
                data-section-type="static-product-recommendations"
                data-section-id="{{ section.id }}"
                data-section-data
        >
            {
              "settings": {
                "limit": {{ product_limit }}
              },
                "productId": {{ product.id | json }},
                "sectionId": {{ section.id | json }}
            }
        </script>

        <script
                type="application/json"
                data-section-type="{{ section_type | strip }}"
                data-section-id="{{ section.id }}"
                data-section-data
        >

        </script>
        <section data-html data-product-recommendations id="rel-products">


            {%- comment -%}slider area{%- endcomment -%}
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'tabinfo' -%}
                        {%- assign tab_rel_id = block.settings.tab_rel_id -%}
                        {%- assign tab_name = block.settings.tab_name -%}
                        {%- assign hideSliderDefault = true -%}
                        {%- if firstBlockId == tab_rel_id -%}
                            {%- assign hideSliderDefault = false -%}
                        {%- endif -%}


                        {%- assign pstep = 1 -%}
                        {%- if product.metafields.plytix.product_step != blank -%}
                            {%- assign pstep = product.metafields.plytix.product_step -%}
                        {%- endif -%}
                        {%- comment -%}Show slider as normal if freq_bought is on a bundle or a product with product increments > 1{%- endcomment -%}
                        {%- comment -%}Do not show as as freq_bought functionality if this is the case{%- endcomment -%}
                        {%- if tab_rel_id == "part_items" or tab_rel_id == "part_used_on" -%}
                            <div id="{{ tab_rel_id }}-slider" class="tabbed-rel-slider {% if hideSliderDefault %}sliderhidden{% endif %}">
                                <div class="parts-data-area">
                                    <div class="loading-text">Loading.....</div>
                                    <table>
                                    {%- if product.metafields.plytix[tab_rel_id] != blank -%}
                                        {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                        {%- for product in rel_products_arr -%}
                                        <tr class="part-item" data-handle="{{ product }}">
                                        </tr>
                                        {%- endfor -%}
                                    {%- endif -%}
                                    </table>
                                </div>
                                <div class="parts-service-img">
                                    <img class="img-responsive" src="{{ 'superfreak-parts-area-banner.jpg' | file_url }}" alt="Need a part, call our service department!">
                                </div>
                            </div>
                        {%- elsif tab_rel_id != "freq_bought" -%}


                            {% comment %}children var product{% endcomment %}
                                {%- assign showparent = true -%}
                                {%- for variant in product.variants -%}
                                    {%- assign showvar = false -%}

                                    {% comment %}show parent if no var related products are found{% endcomment %}
                                    {%- if current_var_id == variant.id and variant.metafields.plytix[tab_rel_id] != blank-%}
                                        {% if hideSliderDefault %}
                                            {%- assign showparent = false -%}
                                        {% else %}
                                            {%- assign showvar = true -%}
                                            {%- assign showparent = false -%}
                                        {% endif %}

                                    {%- endif -%}

                                    {%- if variant.metafields.plytix[tab_rel_id] != blank -%}
                                        <div id="{{ tab_rel_id }}-{{ variant.id }}-slider" data-varid="{{ variant.id }}" class=" tabbed-rel-slider {% if showvar == false %}sliderhidden{% endif %}">
                                                {%- assign rel_products_arr = variant.metafields.plytix[tab_rel_id] | split: ", " -%}
                                                {%- for relproduct in rel_products_arr -%}
                                                    {%- assign product_handle = relproduct |  strip -%}
                                                    {%- if product_handle != "undefined" -%}
                                                        <div class="{{ tab_rel_id }}-rel-item rel-slider-item rel-slider-item-ajax " data-handle="{{ product_handle }}">
                                                            {%- comment -%}{{ product_handle }}{%- endcomment -%}
                                                        </div>
                                                    {%- endif -%}
                                                {%- endfor -%}
                                        </div>

                                        <div id="{{ tab_rel_id }}-{{ variant.id }}-slider-arrows" class="round-arrows rel-slide-arrows {% if hideSliderDefault or hideSliderDefault %}sliderhidden{% endif %}"></div>
                                        <div id="{{ tab_rel_id }}-{{ variant.id }}-rel-item-slider-fade-r" class="related-fade-r slider-fade-r"></div>

                                    {%- endif -%}
                                {%- endfor -%}

                            {% comment %}main product{% endcomment %}
                            {%- if product.metafields.plytix[tab_rel_id] != blank -%}
                            <div id="{{ tab_rel_id }}-slider" data-varid="mainproduct" class="tabbed-rel-slider {% if showparent == false or hideSliderDefault %}sliderhidden{% endif %}">
                                    {%- assign rel_products_arr = product.metafields.plytix[tab_rel_id] | split: ", " -%}
                                    {%- for relproduct in rel_products_arr -%}
                                        {%- assign product_handle = relproduct |  strip -%}
                                        {%- if product_handle != "undefined" -%}
                                            <div class="{{ tab_rel_id }}-rel-item rel-slider-item rel-slider-item-ajax " data-handle="{{ product_handle }}">
                                                {%- comment -%}{{ product_handle }}{%- endcomment -%}
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                </div>
                            {%- endif -%}

                        {%- endif -%}

                        <div id="{{ tab_rel_id }}-slider-arrows" class="round-arrows rel-slide-arrows {% if hideSliderDefault %}sliderhidden{% endif %}"></div>
                        <div id="{{ tab_rel_id }}-rel-item-slider-fade-r" class="related-fade-r slider-fade-r"></div>
                {%- endcase -%}
            {%- endfor -%}





        </section>
    </div>
</div>
</section>
{%- if maxproductscounter > maxproducts -%}
    <div data-allprodtotal="{{ maxproductscounter }}">----</div>
{%- endif -%}