<ul class="site-header-actions" data-header-actions>
    {% if shop.customer_accounts_enabled %}
        {% unless customer %}
            <li class="site-header-actions__account-link account-log_in_out">
                <i class="fa-regular fa-user"></i>
                <a href="{{ routes.account_login_url }}" class="site-header_account-link-text">
                    {{ 'header.account.login' | t }}
                </a>
            </li>
        {% else %}


            {%- if shop.name contains "CleanFreak B2B"-%}

                {%- assign b2blinklanding = "/pages/product-list-quick-order" -%}
                <li class="site-header-actions__account-link account-log_in_out">
                    <i class="fa-regular fa-user"></i>
                    <span class="site-header__account-links">
                     <a href="{{ b2blinklanding }}" class="site-header__account-link--account">My Account</a>
                     <a href="{{ routes.account_logout_url }}" class="site-header__account-link--logout" data-no-instant style="display: none;">{{ 'header.account.logout' | t }}</a>
                    </span>
                </li>
            {% else %}
                <li class="site-header-actions__account-link account-log_in_out">
                    <i class="fa-regular fa-user"></i>
                    <span class="site-header__account-links">
                     <a href="{{ routes.account_url }}" class="site-header__account-link--account">{{ 'header.account.title' | t }}</a>
                     <a href="{{ routes.account_logout_url }}" class="site-header__account-link--logout" data-no-instant style="display: none;">{{ 'header.account.logout' | t }}</a>
                    </span>
                </li>
            {% endif %}
        {% endunless %}
    {% endif %}

    {%- comment -%}
    <li class="site-header-actions__account-link site-header-actions__wishlist">
    <span class="site-header__account-icon">
      {% render 'icon-library', id:'icon-heart' %}
    </span>
        <a href="/apps/advanced-wishlist" class="site-header__account-icon">Lists</a>
    </li>
    {%- endcomment -%}
    <li class="site-header-actions__site-header-cart">
        <a class="site-header-cart--button" href="{{ routes.cart_url }}">
        <span
                class="site-header-cart--count {% if cart.item_count > 0 %}visible{% endif %}"
                data-header-cart-count="{% if cart.item_count > 0 %}{{ cart.item_count }}{% endif %}">
        </span>
            <i class="fa-regular fa-cart-shopping"></i>
            <span class="cart-label">Cart</span>
        </a>
    </li>
</ul>
