{%- comment -%}Made by Cleanfreak{%- endcomment -%}
{%- if customer -%}
    {%- assign sf_customer = 0 -%}
    {% for tag in customer.tags %}
        {% if tag == "SuperFreak" or tag == "superfreak" %}
            {%- assign sf_customer = 1 -%}
        {% break %}
        {% endif %}
    {% endfor %}
    {%- if sf_customer == 1 -%}
        <div class="sf-account-area">
            <h2><img style="margin: 0 10px -9px 6px" src="{{ 'superfreak-logo-sm.jpg' | file_img_url  }}" alt="SuperFreak Link" />Welcome back, SuperFreak customer!</h2>


            {% comment %}Check orders for savings<br/>{% endcomment %}
            {%- assign totalSFSavings = 0 | plus: 0 -%}
        {% for order in customer.orders %}
            {% for line_item in order.line_items %}
                {% for discount_allocation in line_item.line_level_discount_allocations %}
                    {% if discount_allocation.discount_application.title == "SUPERFREAK" or discount_allocation.discount_application.title == "SUPERFREAK-1ST" or discount_allocation.discount_application.title == "SF-1ST" %}
                        {%- assign totalSFSavings = totalSFSavings | plus: discount_allocation.amount -%}
                        {% comment %}{{ order.name }}:{{ line_item.title }} -> {{ discount_allocation.discount_application.title }}(-<span class="money">{{ discount_allocation.amount | money }}</span>)<br/>{% endcomment %}
                        {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

        {% if totalSFSavings > 0 %}
            <div class="sf-total-savings">You have saved a total of <span class="savings">{{ totalSFSavings | money }}</span> by using your SuperFreak discount!</div>
        {% endif %}


            {%- assign sf_items = customer.metafields.custom.superfreak_items_long | split: "," -%}
            <div class="tbl-column">
                <table class="sf-account">
                    <tr><th>SuperFreak Item</th><th class="start" >Start Date</th><th>End Date</th></tr>
                    {% for sf_item in sf_items %}
                    {%- assign sf_item_arr = sf_item | split: "||" -%}
                    {% comment %}seconds in a year to give the user the end date{% endcomment %}
                    {% assign seconds = 31536000 %}
                    {%- assign buydate = sf_item_arr[1] -%}
                    {%- assign enddate = sf_item_arr[1] | date: "%s" | plus: seconds -%}
                    <tr><td>{{ sf_item_arr[0] }}</td><td class="start" >{{ buydate | date: "%m-%d-%Y" }}</td><td>{{ enddate | date: "%m-%d-%Y" }}</td>
                        {% endfor %}
                </table>
                <div class="sf-discount-reminder">Get 10% off of <a href="/collections/superfreak-discount-eligible">parts and accessories</a> using promo code <span>"SUPERFREAK"</span>.</div>

                {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/65112309972/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "cleanfreak-prod.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/62432706740/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "airmovers-dev.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/66576285978/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "airmovers-prod.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/62556602573/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "carpetextractors-dev1.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/66980970808/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "carpetextractors.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/62997594346/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "floorbuffers-dev.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/66368569623/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "floorbuffers-prod.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/66222620892/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "floorscrubbers-dev.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/66667315493/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- elsif shop.permanent_domain contains "floorscrubbers-prod.myshopify.com" -%}
                    {%- assign subscript-link = "https://shopify.com/62114103462/account/e/e85ad72a-1b9d-4038-8e07-a4d61164ed72" -%}
                {%- endif -%}

                <div class="subscription-link" >
                    <a href="{{ subscript-link }}">If you have a SuperFreak Subscription, you can manage your subscriptions <span>here</span>. <i style="font-size:14px;" class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>

            </div>

            <style>
                .sf-account-area{
                    border-bottom:1px solid #ccc;
                    padding-top:10px;
                    width: 1320px;
                    max-width: 90%;
                    margin: 0 auto 10px;
                    padding: 10px 0;
                }
                .sf-account-area h2{
                    font-size:34px;
                    margin-bottom:15px;
                    font-weight:bold;
                }
                .sf-account-area .sf-total-savings{
                    margin:0 0 10px 0;
                }
                .sf-account-area .sf-total-savings .savings{
                    color:{{ settings.color_button_secondary_background }};
                    font-weight:bold;
                }
                .sf-account{
                     border-collapse: collapse;
                     border-radius: 10px;
                     width:100%;
                 }
                .sf-account th:first-child{
                    border-radius: 10px 0 0 0;
                }
                .sf-account th:last-child{
                    border-radius: 0 10px 0 0;
                }
                .sf-account th{
                    background:#303e49;
                    padding:10px 15px;
                    color:#fff;
                }
                .sf-account td{
                    border-bottom:1px solid #ccc;
                    padding:5px 15px;
                    text-align:center;
                }
                .sf-discount-reminder{
                    padding:15px 0;
                    text-align: center;
                }
                @media screen and (max-width: 390px) {
                    .sf-account .start{display:none;}
                }
                .subscription-link{
                    text-align:center;
                    margin-bottom:6px;
                }
                .subscription-link a{
                    color:{{ settings.color_text }};
                    text-decoration: none;
                }
                .subscription-link a span{
                    color:{{ settings.color_links }};
                    text-decoration: underline;
                }
            </style>
        </div>

    {%- endif -%}

{%- endif -%}