
{% if product.metafields.plytix.package_products != blank %}

    {%- assign bproducts = product.metafields.plytix.package_products | split: "," %}

    <section class="bundled-products">
        <div class="container">
            <div class="row title-row">
                <h2 class="section-title">Bundle Details</h2>
            </div>
            {% for bproduct in bproducts %}
                {% assign attr = bproduct | split: "#" %}
                {%- assign bundlep = attr[0] | strip %}
                {% assign pkgqnty = attr[1] %}

                <div class="product-row" itemtype="https://schema.org/Product" itemscope>
                    <meta itemprop="mpn" content="{{ all_products[bundlep].metafields.plytix.erp_sku }}" />
                    <meta itemprop="name" content="{{ all_products[bundlep].title |  escape }}" />
                    <link itemprop="image" href="{{ all_products[bundlep].featured_image | img_url: '300x300' }}" />
                    <meta itemprop="description" content="{{ all_products[bundlep].metafields.plytix.short_description | escape }}" />
                    {% if all_products[bundlep].metafields.reviews.rating_count %}
                        <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
                            <meta itemprop="reviewCount" content="{{ all_products[bundlep].metafields.reviews.rating_count }}" />
                            <meta itemprop="ratingValue" content="{{ all_products[bundlep].metafields.reviews.rating.value }}" />
                        </div>

                    {% endif %}
                    <meta itemprop="sku" content="{{ all_products[bundlep].metafields.plytix.erp_sku }}" />
                    <div itemprop="offers" itemtype="https://schema.org/Offer" itemscope>
                        {%- if all_products[bundlep].price_min == all_products[bundlep].price_max -%}
                            <meta itemprop="price" content="{{ all_products[bundlep].price | money_without_currency | remove: ',' }}" />
                        {%- else -%}
                            <meta itemprop="lowPrice" content="{{ all_products[bundlep].price_min | money_without_currency | remove: ',' }}" />
                            <meta itemprop="highPrice" content="{{ all_products[bundlep].price_max | money_without_currency | remove: ',' }}" />
                        {%- endif -%}
                        <meta itemprop="priceCurrency" content="USD" />
                    </div>
                    <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                        <meta itemprop="name" content="{{ all_products[bundlep].vendor }}" />
                    </div>
                    <div class="pkg-info col">
                        <div class="inner-wrap">
                                    <p>Package Quantity {{ pkgqnty }}</p>
                        </div>
                    </div>
                    <div class="product-info-col">
                        <div class="prod-image col">

                            <div class="inner-wrap">
                                <div class="p-image" style="background-image: url({{ all_products[bundlep].featured_image | img_url: '300x300' }});cursor: pointer;"><a href="{{ all_products[bundlep].url }}"></a></div>
                            </div>

                        </div>
                        <div class="prod-info col">
                            <div class="inner-wrap">
                                <a class="p-title" href="{{ all_products[bundlep].url }}">{{ all_products[bundlep].title }}</a>
                                {% if all_products[bundlep].metafields.plytix.erp_sku != blank %}
                                    <div class="sku-row">
                                        SKU:<span>{{ all_products[bundlep].selected_or_first_available_variant.sku }}</span>
                                    </div>
                                {% endif %}

                                {% comment %}Get stock status for logging in order at time of order --------------------------------------------------------------------{% endcomment %}

                                {% assign stockStatusMain = "" %}
                                {% assign stockStatusSub = "" %}
                                {% assign fservice = all_products[bundlep].selected_or_first_available_variant.fulfillment_service %}
                                {% assign leadTime = all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sxerp_lead_time %}
                                {% assign inventoryQuantity = all_products[bundlep].selected_or_first_available_variant.inventory_quantity %}
                                {% assign inventoryQuantity = inventoryQuantity | plus: 0 %}
                                {% assign leadTime = leadTime | plus: 0 %}

                                {% if all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' and  inventoryQuantity <  1 %}
                                    {% assign stockStatusMain = "Ships Direct from Manufacturer" %}
                                    {% assign stockStatusSub = "May Have Extended Lead Times" %}
                                {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantity <  1 %}

                                    {% comment %}Look at po date instead of lead time{% endcomment %}
                                    {%- if all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sxerp_po_date -%}
                                        {% assign dateStart = all_products[bundlep].selected_or_first_available_variant.metafields.plytix.sxerp_po_date | date: '%s' %}
                                        {% assign nowTimestamp = 'now' | date: '%s' %}
                                        {% assign diffSeconds = dateStart | minus: nowTimestamp %}
                                        {% assign leadTime = diffSeconds | divided_by: 3600 | divided_by: 24 %}
                                    {%- endif -%}

                                    {% assign stockStatusMain = "Temporarily On Backorder" %}
                                    {% if leadTime < 22  %}
                                        {% assign stockStatusSub = "Estimated Ship Date 1 – 3 wks" %}
                                    {% elsif leadTime < 29 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 2 – 4 wks" %}
                                    {% elsif leadTime < 36 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 3 – 5 wks" %}
                                    {% elsif leadTime < 43 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 4 –6 wks" %}
                                    {% elsif leadTime < 50 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 5 – 7 wks" %}
                                    {% elsif leadTime < 57 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 6 – 8 wks" %}
                                    {% elsif leadTime < 64 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 7 – 9 wks" %}
                                    {% elsif leadTime < 71 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 8 – 10 wks" %}
                                    {% elsif leadTime < 78 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 9 – 11 wks" %}
                                    {% elsif leadTime < 85 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 10 – 12 wks" %}
                                    {% elsif leadTime < 121 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 3 – 4 mths" %}
                                    {% elsif leadTime < 151 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 4 – 5 mths" %}
                                    {% elsif leadTime < 181 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 5 – 6 mths" %}
                                    {% elsif leadTime < 211 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 6 – 7 mths" %}
                                    {% elsif leadTime < 1000 %}
                                        {% assign stockStatusSub = "Estimated Ship Date over 7 mths" %}
                                    {% endif %}
                                {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_management == nil and leadTime %}
                                    {% assign stockStatusMain = "Special Order Item" %}
                                    {% if leadTime < 22  %}
                                        {% assign stockStatusSub = "Expected to ship in 1 – 3 wks" %}
                                    {% elsif leadTime < 29 %}
                                        {% assign stockStatusSub = "Expected to ship in 2 – 4 wks" %}
                                    {% elsif leadTime < 36 %}
                                        {% assign stockStatusSub = "Expected to ship in 3 – 5 wks" %}
                                    {% elsif leadTime < 43 %}
                                        {% assign stockStatusSub = "Expected to ship in 4 – 6 wks" %}
                                    {% elsif leadTime < 50 %}
                                        {% assign stockStatusSub = "Expected to ship in 5 – 7 wks" %}
                                    {% elsif leadTime < 57 %}
                                        {% assign stockStatusSub = "Expected to ship in 6 – 8 wks" %}
                                    {% elsif leadTime < 64 %}
                                        {% assign stockStatusSub = "Expected to ship in 7 – 9 wks" %}
                                    {% elsif leadTime < 71 %}
                                        {% assign stockStatusSub = "Expected to ship in 8 – 10 wks" %}
                                    {% elsif leadTime < 78 %}
                                        {% assign stockStatusSub = "Expected to ship in 9 – 11 wks" %}
                                    {% elsif leadTime < 85 %}
                                        {% assign stockStatusSub = "Expected to ship in 10 – 12 wks" %}
                                    {% elsif leadTime < 121 %}
                                        {% assign stockStatusSub = "Expected to ship in 3 – 4 mths" %}
                                    {% elsif leadTime < 151 %}
                                        {% assign stockStatusSub = "Expected to ship in 4 – 5 mths" %}
                                    {% elsif leadTime < 181 %}
                                        {% assign stockStatusSub = "Expected to ship in 5 – 6 mths" %}
                                    {% elsif leadTime < 211 %}
                                        {% assign stockStatusSub = "Expected to ship in 6 – 7 mths" %}
                                    {% elsif leadTime < 1000 %}
                                        {% assign stockStatusSub = "Expected to ship in over 7 mths" %}
                                    {% endif %}
                                {% elsif all_products[bundlep].selected_or_first_available_variant.inventory_quantity > 0 %}
                                    {% assign stockStatusMain = "In Stock" %}
                                {% endif %}

                                {% if stockStatusSub != "" %}
                                    <span style="font-size:15px"><strong>{%- capture stockStatusNote -%}{{ stockStatusMain }}</strong></span><br/><span style="font-size:14px">({{ stockStatusSub }})</span>{%- endcapture -%}
                                {% else %}
                                    <span style="font-size:15px"><strong>{%- capture stockStatusNote -%}{{ stockStatusMain }}</strong></span>{%- endcapture -%}
                                {% endif %}
                                <div style="padding-top:5px;">{{ stockStatusNote }}</div>
                                {% comment %}End of stock status logic ----------------------------------------------------------------------------------------------- {% endcomment %}


                                {{ all_products[bundlep].metafields.plytix.short_description }}
                                <div class="general-details">
                                    {% if all_products[bundlep].metafields.plytix.made_in_USA %}
                                        <div class="sm-row"><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="Made in the United States"/></div> <span class="sm-row-text"><span>Made in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
                                    {% endif %}
                                    {% if all_products[bundlep].metafields.plytix.assembled_in_USA %}
                                        <div class="sm-row"><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'assembled-in-usa.png' | file_img_url }}" alt="Assembled in the United States"/></div> <span class="sm-row-text"><span>Assembled in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
                                    {% endif %}
                                    {% if all_products[bundlep].metafields.plytix.free_shipping %}
                                        <div class="sm-row"><div class="icon-wrap"><i class="fa-duotone fa-solid fa-truck-fast"></i></div> <span class="sm-row-text"><span>Free shipping</span> <span class="sm-text">Anywhere in the Continental US</span></span></div>
                                    {% endif %}
                                    {% if all_products[bundlep].metafields.plytix.gold_medal_winner %}
                                        <div class="gold-medal">
                                            <div class="gm-row">
                                                <div class="gm-img">
                                                    <i class="fa-duotone fa-solid fa-medal"></i>
                                                </div>
                                                <div class="gm-text">
                                                    Gold Medal Winner
                                                    <span>It's that Awesome!</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart col">
                            <div class="inner-wrap">
                                {% comment %}Start automatically added Judge.me widget{% endcomment %}
                                {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: all_products[bundlep] %}
                                {% comment %}End automatically added Judge.me widget{% endcomment %}
                                {% if all_products[bundlep].available %}
                                 <div class="stock" style="display: none">In Stock</div>
                                {% endif %}
                                <div class="price">
                                    {% assign pkgqnty = pkgqnty | plus: 0 %}
                                    {% if pkgqnty > 1 %}
                                    <div class="full-p">{{ all_products[bundlep].price | times: pkgqnty | money }}</div>
                                    {% else %}
                                        <div class="full-p">{{ all_products[bundlep].price | money }}</div>
                                    {% endif %}
                                </div>
                                <a class="add-to-cart-btn" href="{{ all_products[bundlep].url }}">VIEW PRODUCT</a>
                                <form method="post" action="/cart/add" class="atc-form" style="display: none;">
                                    <input type="hidden" name="id" value="{{ all_products[bundlep].variants.first.id }}" />
                                    <input type="hidden" class="pid" value="{{all_products[bundlep].id}}">
                                    <input type="hidden" class="ptitle" value="{{all_products[bundlep].title | remove: "'" | remove: '"'}}">
                                    <input type="hidden" class="pprice" value="{{all_products[bundlep].variants.first.price | times: 0.01}}">
                                    <input type="hidden" class="pbrand" value="{{all_products[bundlep].vendor | remove: "'" | remove: '"'}}">
                                    <input type="hidden" class="ptype" value="{{all_products[bundlep].type | remove: "'" | remove: '"'}}">
                                    <input type="hidden" class="pcategory_id" value="{{ all_products[bundlep].collections.first.id }}">
                                    <input type="hidden" class="pcategory_name" value="{{ all_products[bundlep].collections.first.title | remove: "'" | remove: '"' }}">
                                    <input type="hidden" class="pvtitle" value="{{ all_products[bundlep].variants.first.title | remove: "'" | remove: '"' }}">
                                    <input type="hidden" class="psku" value="{{ all_products[bundlep].variants.first.sku }}">
                                    <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                                    <input class="add-to-cart-btn" type="submit" value="ADD TO CART" class="btn" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-row-small">
                    <div class="top-d-row">
                                <p>Package Quantity {{ pkgqnty }}</p>
                    </div>
                    <div class="col-row">
                        <div class="l-col">
                            <div class="product-img" style="background-image: url({{ all_products[bundlep].featured_image | img_url: '300x300' }});cursor: pointer;"><a href="{{ all_products[bundlep].url }}"></a></div>
                            <a target="_blank" class="add-to-cart-btn" href="{{ all_products[bundlep].url }}">VIEW PRODUCT</a>
                            <form method="post" action="/cart/add" style="display: none;">
                                <input type="hidden" name="id" value="{{ all_products[bundlep].variants.first.id }}" />
                                <input type="hidden" class="pid" value="{{all_products[bundlep].id}}">
                                <input type="hidden" class="ptitle" value="{{all_products[bundlep].title | remove: "'" | remove: '"'}}">
                                <input type="hidden" class="pprice" value="{{all_products[bundlep].variants.first.price | times: 0.01}}">
                                <input type="hidden" class="pbrand" value="{{all_products[bundlep].vendor | remove: "'" | remove: '"'}}">
                                <input type="hidden" class="ptype" value="{{all_products[bundlep].type | remove: "'" | remove: '"'}}">
                                <input type="hidden" class="pcategory_id" value="{{ all_products[bundlep].collections.first.id }}">
                                <input type="hidden" class="pcategory_name" value="{{ all_products[bundlep].collections.first.title | remove: "'" | remove: '"' }}">
                                <input type="hidden" class="pvtitle" value="{{ all_products[bundlep].variants.first.title | remove: "'" | remove: '"' }}">
                                <input type="hidden" class="psku" value="{{ all_products[bundlep].variants.first.sku }}">
                                <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                                <input class="add-to-cart-btn" type="submit" value="ADD TO CART" class="btn" />
                            </form>
                        </div>
                        <div class="r-col">
                            <a class="p-title" href="{{ all_products[bundlep].url }}">{{ all_products[bundlep].title }}</a>
                            {% if all_products[bundlep].metafields.plytix.erp_sku != blank %}
                                <div class="sku-row">
                                    SKU:<span>{{ all_products[bundlep].selected_or_first_available_variant.sku }}</span>
                                </div>
                            {% endif %}
                            <div class="price">
                                {% if pkgqnty > 1 %}
                                    <div class="full-p">{{ all_products[bundlep].price | times: pkgqnty | money}}</div>
                                {% else %}
                                    <div class="full-p">{{ all_products[bundlep].price | money }}</div>
                                {% endif %}
                            </div>
                            {{ all_products[bundlep].metafields.plytix.short_description }}
                            <div class="general-details">
                                {% if all_products[freeproduct].metafields.plytix.assembled_in_USA %}
                                    <div class="sm-row"><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'assembled-in-usa.png' | file_img_url }}" alt="Assembled in the United States"/></div> <span class="sm-row-text"><span>Assembled in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
                                {% endif %}
                                {% if all_products[freeproduct].metafields.plytix.made_in_USA %}
                                    <div class="sm-row"><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="Made in the United States"/></div> <span class="sm-row-text"><span>Made in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
                                {% endif %}
                                {% if all_products[freeproduct].metafields.plytix.free_shipping %}
                                    <div class="sm-row"><div class="icon-wrap"><i class="fa-duotone fa-solid fa-truck-fast"></i></div> <span class="sm-row-text"><span>Free shipping</span> <span class="sm-text">Anywhere in the Continental US</span></span></div>
                                {% endif %}
                                {% if all_products[freeproduct].metafields.plytix.gold_medal_winner %}
                                    <div class="gold-medal">
                                        <div class="gm-row">
                                            <div class="gm-img">
                                                <i class="fa-duotone fa-solid fa-medal"></i>
                                            </div>
                                            <div class="gm-text">
                                                Gold Medal Winner
                                                <span>It's that Awesome!</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if all_products[bundlep].available %}
                                <div class="stock" style="display: none">In Stock</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {%- assign freeproducts = product.metafields.plytix.packaged_free_product | split: "," %}
            {% for freeprod in freeproducts %}
                {% assign attr = freeprod | split: "#" %}
                {%- assign freeproduct = attr[0] | strip %}
                {% assign fpkgqnty = attr[1] %}
                <div class="product-row freeproduct" itemtype="https://schema.org/Product" itemscope>
                    <meta itemprop="mpn" content="{{ all_products[freeproduct].metafields.plytix.erp_sku }}" />
                    <meta itemprop="name" content="{{ all_products[freeproduct].title |  escape }}" />
                    <link itemprop="image" href="{{ all_products[freeproduct].featured_image | img_url: '300x300' }}" />
                    <meta itemprop="description" content="{{ all_products[freeproduct].metafields.plytix.short_description | escape }}" />

                    {% if  all_products[freeproduct].metafields.reviews.rating_count %}
                    <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
                        <meta itemprop="reviewCount" content="{{ all_products[freeproduct].metafields.reviews.rating_count }}" />
                        <meta itemprop="ratingValue" content="{{ all_products[freeproduct].metafields.reviews.rating.value }}" />
                    </div>

                    {% endif %}


                    <meta itemprop="sku" content="{{ all_products[freeproduct].metafields.plytix.erp_sku }}" />

                    <div itemprop="offers" itemtype="https://schema.org/Offer" itemscope>
                        <meta itemprop="price" content="0" />
                        <meta itemprop="priceCurrency" content="USD" />

                    </div>


                    <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                        <meta itemprop="name" content="{{ all_products[freeproduct].vendor }}" />
                    </div>

                    <div class="pkg-info col">
                        <div class="inner-wrap">
                            <p class="ribbon">FREE</p>
                                    <p>Package Quantity {{ fpkgqnty }}</p>
                        </div>
                    </div>
                    <div class="product-info-col">
                        <div class="prod-image col">

                            <div class="inner-wrap">
                                <div class="p-image" style="background-image: url({{ all_products[freeproduct].featured_image | img_url: '300x300' }});"></div>
                            </div>

                        </div>
                        <div class="prod-info col">
                            <div class="inner-wrap">
                                <a class="p-title" href="{{ all_products[freeproduct].url }}">{{ all_products[freeproduct].title }}</a>
                                {% if all_products[freeproduct].metafields.plytix.erp_sku != blank %}
                                    <div class="sku-row">
                                        SKU:<span>{{ all_products[freeproduct].selected_or_first_available_variant.sku }}</span>
                                    </div>
                                {% endif %}

                                {% comment %}Get stock status for logging in order at time of order --------------------------------------------------------------------{% endcomment %}

                                {% assign stockStatusMain = "" %}
                                {% assign stockStatusSub = "" %}
                                {% assign fservice = all_products[freeproduct].selected_or_first_available_variant.fulfillment_service %}
                                {% assign leadTime = all_products[freeproduct].selected_or_first_available_variant.metafields.plytix.sxerp_lead_time %}
                                {% assign inventoryQuantity = all_products[freeproduct].selected_or_first_available_variant.inventory_quantity %}
                                {% assign inventoryQuantity = inventoryQuantity | plus: 0 %}
                                {% assign leadTime = leadTime | plus: 0 %}

                                {% if all_products[freeproduct].selected_or_first_available_variant.metafields.plytix.sx_erp_is_drop_ship == 'true' and  inventoryQuantity <  1 %}
                                    {% assign stockStatusMain = "Ships Direct from Manufacturer" %}
                                    {% assign stockStatusSub = "May Have Extended Lead Times" %}
                                {% elsif all_products[freeproduct].selected_or_first_available_variant.inventory_management == 'middleware-fulfillment' and  inventoryQuantity <  1 %}

                                    {% comment %}Look at po date instead of lead time{% endcomment %}
                                    {%- if all_products[freeproduct].selected_or_first_available_variant.metafields.plytix.sxerp_po_date -%}
                                        {% assign dateStart = all_products[freeproduct].selected_or_first_available_variant.metafields.plytix.sxerp_po_date | date: '%s' %}
                                        {% assign nowTimestamp = 'now' | date: '%s' %}
                                        {% assign diffSeconds = dateStart | minus: nowTimestamp %}
                                        {% assign leadTime = diffSeconds | divided_by: 3600 | divided_by: 24 %}
                                    {%- endif -%}

                                    {% assign stockStatusMain = "Temporarily On Backorder" %}
                                    {% if leadTime < 22  %}
                                        {% assign stockStatusSub = "Estimated Ship Date 1 – 3 wks" %}
                                    {% elsif leadTime < 29 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 2 – 4 wks" %}
                                    {% elsif leadTime < 36 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 3 – 5 wks" %}
                                    {% elsif leadTime < 43 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 4 –6 wks" %}
                                    {% elsif leadTime < 50 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 5 – 7 wks" %}
                                    {% elsif leadTime < 57 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 6 – 8 wks" %}
                                    {% elsif leadTime < 64 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 7 – 9 wks" %}
                                    {% elsif leadTime < 71 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 8 – 10 wks" %}
                                    {% elsif leadTime < 78 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 9 – 11 wks" %}
                                    {% elsif leadTime < 85 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 10 – 12 wks" %}
                                    {% elsif leadTime < 121 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 3 – 4 mths" %}
                                    {% elsif leadTime < 151 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 4 – 5 mths" %}
                                    {% elsif leadTime < 181 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 5 – 6 mths" %}
                                    {% elsif leadTime < 211 %}
                                        {% assign stockStatusSub = "Estimated Ship Date 6 – 7 mths" %}
                                    {% elsif leadTime < 1000 %}
                                        {% assign stockStatusSub = "Estimated Ship Date over 7 mths" %}
                                    {% endif %}
                                {% elsif all_products[freeproduct].selected_or_first_available_variant.inventory_management == nil and leadTime %}
                                    {% assign stockStatusMain = "Special Order Item" %}
                                    {% if leadTime < 22  %}
                                        {% assign stockStatusSub = "Expected to ship in 1 – 3 wks" %}
                                    {% elsif leadTime < 29 %}
                                        {% assign stockStatusSub = "Expected to ship in 2 – 4 wks" %}
                                    {% elsif leadTime < 36 %}
                                        {% assign stockStatusSub = "Expected to ship in 3 – 5 wks" %}
                                    {% elsif leadTime < 43 %}
                                        {% assign stockStatusSub = "Expected to ship in 4 – 6 wks" %}
                                    {% elsif leadTime < 50 %}
                                        {% assign stockStatusSub = "Expected to ship in 5 – 7 wks" %}
                                    {% elsif leadTime < 57 %}
                                        {% assign stockStatusSub = "Expected to ship in 6 – 8 wks" %}
                                    {% elsif leadTime < 64 %}
                                        {% assign stockStatusSub = "Expected to ship in 7 – 9 wks" %}
                                    {% elsif leadTime < 71 %}
                                        {% assign stockStatusSub = "Expected to ship in 8 – 10 wks" %}
                                    {% elsif leadTime < 78 %}
                                        {% assign stockStatusSub = "Expected to ship in 9 – 11 wks" %}
                                    {% elsif leadTime < 85 %}
                                        {% assign stockStatusSub = "Expected to ship in 10 – 12 wks" %}
                                    {% elsif leadTime < 121 %}
                                        {% assign stockStatusSub = "Expected to ship in 3 – 4 mths" %}
                                    {% elsif leadTime < 151 %}
                                        {% assign stockStatusSub = "Expected to ship in 4 – 5 mths" %}
                                    {% elsif leadTime < 181 %}
                                        {% assign stockStatusSub = "Expected to ship in 5 – 6 mths" %}
                                    {% elsif leadTime < 211 %}
                                        {% assign stockStatusSub = "Expected to ship in 6 – 7 mths" %}
                                    {% elsif leadTime < 1000 %}
                                        {% assign stockStatusSub = "Expected to ship in over 7 mths" %}
                                    {% endif %}
                                {% elsif all_products[freeproduct].selected_or_first_available_variant.inventory_quantity > 0 %}
                                    {% assign stockStatusMain = "In Stock" %}
                                {% endif %}

                                {% if stockStatusSub != "" %}
                                    <span style="font-size:15px"><strong>{%- capture stockStatusNote -%}{{ stockStatusMain }}</strong></span><br/><span style="font-size:14px">({{ stockStatusSub }})</span>{%- endcapture -%}
                                {% else %}
                                    <span style="font-size:15px"><strong>{%- capture stockStatusNote -%}{{ stockStatusMain }}</strong></span>{%- endcapture -%}
                                {% endif %}
                                <div style="padding-top:5px;">{{ stockStatusNote }}</div>
                                {% comment %}End of stock status logic ----------------------------------------------------------------------------------------------- {% endcomment %}

                                {{ all_products[freeproduct].metafields.plytix.short_description }}
                                <div class="general-details">
                                    {% if all_products[freeproduct].metafields.plytix.assembled_in_USA %}
                                        <div class="sm-row"><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'assembled-in-usa.png' | file_img_url }}" alt="Assembled in the United States"/></div> <span class="sm-row-text"><span>Assembled in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
                                    {% endif %}
                                    {% if all_products[freeproduct].metafields.plytix.made_in_USA %}
                                        <div class="sm-row"><div class="icon-wrap"><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="Made in the United States"/></div> <span class="sm-row-text"><span>Made in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
                                    {% endif %}
                                    {% if all_products[freeproduct].metafields.plytix.free_shipping %}
                                        <div class="sm-row"><div class="icon-wrap"><i class="fa-duotone fa-solid fa-truck-fast"></i></div> <span class="sm-row-text"><span>Free shipping</span> <span class="sm-text">Anywhere in the Continental US</span></span></div>
                                    {% endif %}
                                    {% if all_products[freeproduct].metafields.plytix.gold_medal_winner %}
                                        <div class="gold-medal">
                                            <div class="gm-row">
                                                <div class="gm-img">
                                                    <i class="fa-duotone fa-solid fa-medal"></i>
                                                </div>
                                                <div class="gm-text">
                                                    Gold Medal Winner
                                                    <span>It's that Awesome!</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart col">
                            <div class="inner-wrap">
                                {% comment %}Start automatically added Judge.me widget{% endcomment %}
                                {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: all_products[freeproduct] %}
                                {% comment %}End automatically added Judge.me widget{% endcomment %}
                                {% if all_products[freeproduct].available %}
                                    <div class="stock" style="display: none">In Stock</div>
                                {% endif %}
                                <div class="price">
                                    <p class="free">FREE</p>
                                    <div class="full-p">{{ all_products[freeproduct].price | times: fpkgqnty | money }}</div>
                                </div>
                                <a class="add-to-cart-btn" href="{{ all_products[freeproduct].url }}">VIEW PRODUCT</a>
                                <form method="post" action="/cart/add" class="atc-form" style="display: none;">
                                    <input type="hidden" name="id" value="{{ all_products[freeproduct].variants.first.id }}" />

                                    <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                                    <input class="add-to-cart-btn" type="submit" value="ADD TO CART" class="btn" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-row-small freeproduct">
                    <div class="top-d-row">
                                   <p>Package Quantity {{ fpkgqnty }}</p>
                        <p class="ribbon">FREE</p>
                    </div>
                    <div class="col-row">
                        <div class="l-col">
                            <div class="product-img" style="background-image: url({{ all_products[freeproduct].featured_image | img_url: '300x300' }});"></div>
                            <a target="_blank" class="add-to-cart-btn" href="{{ all_products[freeproduct].url }}">VIEW PRODUCT</a>
                            <form method="post" action="/cart/add" style="display: none;">
                                <input type="hidden" name="id" value="{{ all_products[freeproduct].variants.first.id }}" />
                                <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
                                <input class="add-to-cart-btn" type="submit" value="ADD TO CART" class="btn" />
                            </form>
                        </div>
                        <div class="r-col">
                            <a class="p-title" href="{{ all_products[freeproduct].url }}">{{ all_products[freeproduct].title }}</a>
                            {% if all_products[freeproduct].metafields.plytix.erp_sku != blank %}
                                <div class="sku-row">
                                    SKU:<span>{{ all_products[freeproduct].selected_or_first_available_variant.sku }}</span>
                                </div>
                            {% endif %}
                            <div class="price">
                                <p class="free">FREE</p>
                                <div class="full-p">{{ all_products[freeproduct].price | times: fpkgqnty | money }}</div>
                            </div>
                            {{ all_products[freeproduct].metafields.plytix.short_description }}
                            <div class="general-details">
                                {% if all_products[freeproduct].metafields.plytix.free_shipping %}
                                    <div><i class="fa-duotone fa-solid fa-truck-fast"></i> <span>Free</span> shipping for this product.</div>
                                {% endif %}
                                {% if all_products[freeproduct].metafields.plytix.assembled_in_USA %}
                                    <div><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'assembled-in-usa.png' | file_img_url }}" alt="Assembled in the United States"/> <span>Assembled in the USA</span></div>
                                {% endif %}
                                {% if all_products[freeproduct].metafields.plytix.made_in_USA %}
                                    <div><img style="margin-bottom:-3px" width="20" height="20" src="{{ 'made-in-usa-logo.png' | file_img_url }}" alt="made in the United States"/> <span>Made in the USA</span></div>
                                {% endif %}
                            </div>
                            {% if all_products[freeproduct].available %}
                                <div class="stock" style="display: none">In Stock</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
{% schema %}
{
    "name": "bundled-products",
    "class": "bundled-products--section",
    "settings":[
        {
            "type": "text",
            "label": "Section Heading",
            "id" : "sectionheading"
        }
    ],
    "presets": [
        {
            "category": "bundled-products-section",
            "name": "Bundled Products Display",
            "settings": {
            }
        }
    ]
}
{% endschema %}