{% style %}
	.f-cat-slider__content{
		--layout-container-max-width: {{ max_width | append: 'px' }};
		--layout-container-gutter: 10px;
		max-width: 1400px;
		padding-right: 10px;
		padding-left: 10px;
		margin-right: auto;
		margin-left: auto;
        overflow: hidden;
		position:relative;
		border-bottom: 1px solid #C0D3D8;
		padding-bottom: 20px;
	}
	.template-index .f-cat-slider__content{
	border: none;
	padding-bottom: 0;
	}
	.template-index .f-cat-slider__content{
		margin:20px auto 40px auto;
	}
	.f-cat-slider__content ul.slick-dots {
		float: left;
		padding-left: 0;
		margin-top: 30px;
	}

	.f-cat-slider__content .slick-dots li {
		float: left;
		list-style: none;
		border-radius: 2.4px;
		background-color: #C0D3D8;
		/* padding-left: 0; */
		height: 6px;
		width: 60px;
		margin-right: 10px;
	}

	.f-cat-slider__content .slick-dots li button {
		display: none;
	}

	.f-cat-slider__content .slick-dots .slick-active {
		background-color: #5B6770;
	}
	.f-cat-slider__content .productgrid--item{
		width:100%;
	}
	.f-cat-slider__content .rel-slider-item {
	width: 250px;
	min-width: 250px;
	padding: 8px;
	display: inline-block;
	height: inherit;
	}
	.f-cat-slider__content .slick-slider .rel-slider-item {
	display: flex;
	}

	.f-cat-slider__content .rel-slider-item .productitem {
	border-radius:15px;
	}
	.f-cat-slider__content .rel-slider-item .productitem:hover {
	box-shadow: none !important;
	}
	.f-cat-slider__content .rel-slider-item .productitem__container{
	Justify-content:start;
	padding-bottom:28px;
	}
	.f-cat-slider__content .rel-slider-item .productitem--title{
	font-size:16px;
	}
	.f-cat-slider__content .rel-slider-item .productitem--title,
	.f-cat-slider__content .rel-slider-item .product-detail-sku,
	.f-cat-slider__content .rel-slider-item .productitem__price,
	.f-cat-slider__content .rel-slider-item .var-specs,
	.f-cat-slider__content .rel-slider-item .productitem--action{
	margin-top:5px;
	margin-bottom:4px;
	padding:0;
	}
	.f-cat-slider__content .rel-slider-item .product-detail-sku{
	color: {{ settings.color_text_medium }};
	font-weight: 700;
	display: block;
	}
	.f-cat-slider__content .rel-slider-item .product-detail-sku span{
	color: {{ settings.color_text_medium }};
	font-weight: 400;
	display: inline-block;
	margin-left: 5px;
	}
	.f-cat-slider__content .status-area,
	.f-cat-slider__content .rel-slider-item .jdgm-widget.jdgm-widget{
	margin-bottom:0px;
	font-size:15px;
	float:left;
	}

	.f-cat-slider__content .rel-slider-item .jdgm-prev-badge__text{
		display:none !important;
	}
	.f-cat-slider__content .rel-slider-item .price__compare-at-visible-2{
	display:none;
	}
	.f-cat-slider__content .rel-slider-item .productitem--image{
	max-height:120px;
	}
	.f-cat-slider__content .rel-slider-item .jdgm-prev-badge[data-number-of-reviews="0"]{
		display:none !important;
	}
	.f-cat-slider__content .rel-slider-item .productitem--action-trigger{
	position:absolute;
	bottom:0;
	width:100%;
	}
	.f-cat-slider__content .rel-slider-item .viewproduct .productitem--action-trigger{
	bottom:-5px
	}
	.f-cat-wrapper .category-featured-slider{
        {% comment %}width: 100%;{% endcomment %}
        {% comment %}max-width: 1400px;{% endcomment %}
	{% comment %}margin:10px;{% endcomment %}
	{% comment %}display:flex;{% endcomment %}
    }
	.f-cat-wrapper .category-featured-slider .slick-list{
        overflow: visible;
    }
    .f-cat-wrapper .slide-arrows{
        display: flex;
		justify-content: end;
        margin-top: 20px;
    }
	.f-cat-wrapper .slide-arrows .slide-arrow{
		margin-top:-5px;
    }
	.f-cat-wrapper .slide-arrows .slide-arrow.prev-arrow{
        margin-right: 10px;
    }
	.f-cat-wrapper .isspecial{
		border:3px solid #fdb913;
		border-radius: 30px;
	}
	.f-cat-wrapper .isbogo{
	border:3px solid #2D3F4E;
	border-radius: 30px;
	}
	.f-cat-wrapper .deal-rib{
		position:absolute;
		top:-24px;
		left: -24px;
		width:100px;
		z-index:100;
	}
	.f-cat-wrapper .deal-rib.bogo{
		width:85px;
		left:-32px;
		top:-30px;
	}
	@media (max-width: 720px){
		.f-cat-wrapper .deal-rib{
		top:-20px;
		left: -20px;
		}
	}
	.f-cat-wrapper .slider-fade-r{
	 padding-top:25px;
	}

{% endstyle %}
{%- capture section_type -%}
	static-collection-slider
{%- endcapture -%}


<script
		type="application/json"
		data-section-type="{{ section_type | strip }}"
		data-section-id="{{ section.id }}"
		data-section-data
>

</script>
<section class="f-cat-wrapper" data-section-id="{{ section.id }}">
    <div class="f-cat-slider__content">
        <h2 class="featured-slider-title">{{ section.settings.cfpssectionheading }}</h2>
        <div class="category-featured-slider">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'slide' %}
						{% assign crawlcheck = false %}
						{% for c in block.settings.product.collections %}
							{% if c.handle == "discontinued" %}
								{% assign crawlcheck = true %}
							{% endif %}
						{% endfor %}
						{% if block.settings.product != "" %}
							{% if block.settings.product.title == nil %}
								{% assign crawlcheck = true %}
							{% endif %}
						{% endif %}
						{% if crawlcheck == true %}
							<div class="crawlcheck crawlcheck-slider"><!-- check product that is supposed to be here for discontinued or broken handle --></div>
						{% else %}
							<div class="rel-slider-item">
								{%-
										render 'product-slider-item',
										main_loc: 'Department Page',
										item_loc: 'Featured Products',
										product: block.settings.product
								-%}
							</div>
						{% endif %}
                {% endcase %}
            {% endfor %}
        </div>
        <div class="round-arrows slide-arrows"></div>
		<div class="slider-fade-r"></div>
    </div>
</section>
{% schema %}
{
    "name": "category-featured-slider",
    "class": "category-featured-slider--section",
    "settings":[
        {
            "type": "text",
            "label": "Section Heading",
            "id" : "cfpssectionheading"
        }
    ],
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "product"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "category-featured-slider",
            "name": "Category Featured Slider",
            "settings": {}
        }
    ]
}
{% endschema %}