{% if section.blocks.size > 0 %}


    {% assign heading = section.settings.block-title %}

    {% assign section_classes = "related-cat-types-v2" %}
    {%- assign base_name = base_name | default: 'related-cat-types-v2' -%}


    <section class="related-cat-types-v2" data-section-id="{{ section.id }}">
        <div class="category-links-section--wrapper">
            <div class="{{ base_name }}__container">
                <div class="{{ base_name }}__content">
                    {%- if heading != blank -%}
                        <div class="{{ base_name }}__content-wrapper {{ text_classes }}">
                            <h2 class="{{ base_name }}__heading">{{ heading | escape }}</h2>
                        </div>
                    {%- endif -%}
                </div>
                <div class="flex-row">
                    {% for block in section.blocks %}
                        {% assign image = block.settings.image %}
                        {% assign title = block.settings.title %}
                        {% assign url = block.settings.url %}
                            <div class="category-link-wrapper resource-{{ block.id }}">
                                <div class="category-link-border">
                                    <a class="category-link" href="{{ block.settings.url }}" title="{{ title }}">
                                        {%- if image != blank -%}
                                            {% assign alt = image.alt | default: heading %}
                                            {% capture image_classes %}{{ base_name }}__image{% endcapture %}
                                            {%
                                                    render 'rimg'
                                                    img: image,
                                                    alt: alt,
                                                    size: '150x',
                                                    lazy: true,
                                                    crop: 'center',
                                                    class: image_classes
                                            %}
                                        {%- else -%}
                                            {% capture placeholder_classes %}{{ base_name }}__image {{ base_name }}__placeholder{% endcapture %}
                                            {{ 'collection-1' | placeholder_svg_tag: placeholder_classes }}
                                        {%- endif -%}
                                        <div class="category-link-title">
                                            {{ title }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                    {%  endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}


{% schema %}
{
    "name": "Dept Related Cat Links",
    "class": "dept-related",
    "settings": [
        {
        "type": "header",
        "content": "Department Related Categories"
        },
        {
        "type": "text",
        "id": "block-title",
        "label": "Block Title",
        "default": "Related Categories"
        }
    ],
    "blocks": [
    {
        "type": "related_cat_link",
        "name": "Related Category Link",
        "settings": [
            {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
            },
            {
            "id":"title",
            "type":"text",
            "label":"Category Title"
            },
            {
            "id":"url",
            "type":"url",
            "label":"Category URL"
            }
        ]
    }
    ],
    "presets": [
    {
        "name": "Department Related Category Links",
        "category": "Layout",
        "settings": {

        }
    }
    ]
    }
{% endschema %}
