{% if section.blocks.size > 0 %}
    {% assign heading = section.settings.block-title %}
    {% assign section_classes = "category-types-v2" %}
    {%- assign base_name = base_name | default: 'category-types-v2' -%}
    <section class="category-types-v2" data-section-id="{{ section.id }}">
        <div class="category-links-section--wrapper">
            <div class="{{ base_name }}__container">
                <div class="{{ base_name }}__content">
                    {%- if heading != blank -%}
                        <div class="{{ base_name }}__content-wrapper {{ text_classes }}">
                            <h2 class="{{ base_name }}__heading">{{ heading | escape }}</h2>
                        </div>
                    {%- endif -%}
                </div>
                <div class="flex-row">
                    {% assign blockFill = 0 %}

                    {% for block in section.blocks %}
                        {% if blockFill == 4 %}
                            {% assign blockFill = 1 %}
                        {% else %}
                            {% assign blockFill = blockFill | plus: 1 %}
                        {% endif %}
                        {% assign image = block.settings.image %}
                        {% assign title = block.settings.title %}
                        {% assign url = block.settings.url %}
                            <div class="category-link-wrapper resource-{{ block.id }}">
                                <div class="category-link-border">
                                    <a class="category-link" href="{{ block.settings.url }}" title="{{ title }}">
                                        {%- if image != blank -%}
                                            {% assign alt = image.alt | default: heading %}
                                            {% capture image_classes %}{{ base_name }}__image{% endcapture %}
                                            {%
                                                    render 'rimg'
                                                    img: image,
                                                    alt: alt,
                                                    size: '600x',
                                                    lazy: true,
                                                    crop: 'center',
                                                    class: image_classes
                                            %}
                                        {%- else -%}
                                            {% capture placeholder_classes %}{{ base_name }}__image {{ base_name }}__placeholder{% endcapture %}
                                            {{ 'collection-1' | placeholder_svg_tag: placeholder_classes }}
                                        {%- endif -%}
                                        <div class="category-link-title">
                                            {%- if block.settings.url contains "/pages/" -%}
                                                {%- assign truePageHandle =  block.settings.url | replace: "/pages/","" -%}
                                                {%- if pages[truePageHandle].metafields.custom.short_title != blank -%}
                                                    <span class="cat-short-title">{{ pages[truePageHandle].metafields.custom.short_title }}</span>
                                                {%- elsif pages[truePageHandle].title != blank -%}
                                                    <span class="cat-page-title">{{ pages[truePageHandle].title }}</span>
                                                {%- else -%}
                                                    {{ title }}
                                                {%- endif -%}
                                            {%- elsif block.settings.url contains "/collections/" -%}
                                                {%- assign trueColHandle =  block.settings.url | replace: "/collections/","" -%}
                                                {%- if collections[trueColHandle].metafields.custom.short_title != blank -%}
                                                    <span class="cat-short-title">{{ collections[trueColHandle].metafields.custom.short_title }}</span>
                                                {%- elsif collections[trueColHandle].title != blank -%}
                                                    <span class="cat-col-title">{{ collections[trueColHandle].title }}</span>
                                                {%- else -%}
                                                    {{ title }}
                                                {%- endif -%}
                                            {%- else -%}
                                                {{ title }}
                                            {%- endif -%}
                                        </div>
                                    </a>
                                    {%- if block.settings.url contains "/collections/" -%}
                                        {%- assign trueColHandle =  block.settings.url | replace: "/collections/","" -%}
                                        {%- if collections[trueColHandle].metafields.custom.answer != blank -%}
                                            <div class="moreinfo-btn" data-info-target="{{ trueColHandle }}">More Info <i class="fa-sharp fa-solid fa-caret-right"></i></div>
                                            <div class="moreinfo-area closed" data-cat-info="{{ trueColHandle }}">
                                                <div class="answer-box">
                                                    <div class="topborder"></div>
                                                    <div class="close-info" data-info-target="{{ trueColHandle }}"><i class="fa-solid fa-xmark"></i></div>
                                                    <div class="answer-text">{{ collections[trueColHandle].metafields.custom.answer | metafield_tag }}</div>
                                                    <div class="view-products"><a href="{{ url }}">View Products <i class="fa-sharp fa-solid fa-caret-right"></i></a></div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- elsif block.settings.url contains "/pages/" -%}
                                        {%- assign truePageHandle =  block.settings.url | replace: "/pages/","" -%}
                                        {%- if pages[truePageHandle].metafields.custom.answer != blank -%}
                                            <div class="moreinfo-btn" data-info-target="{{ truePageHandle }}">More Info <i class="fa-sharp fa-solid fa-caret-right"></i></div>
                                            <div class="moreinfo-area closed" data-cat-info="{{ truePageHandle }}">
                                                <div class="answer-box">
                                                    <div class="topborder"></div>
                                                    <div class="close-info" data-info-target="{{ truePageHandle }}"><i class="fa-solid fa-xmark"></i></div>
                                                    <div class="answer-text">{{ pages[truePageHandle].metafields.custom.answer | metafield_tag }}</div>
                                                    <div class="view-products"><a href="{{ url }}">View Products <i class="fa-sharp fa-solid fa-caret-right"></i></a></div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endif -%}

                                </div>
                            </div>
                    {%  endfor %}


                    {%-  if blockFill != 4 and shop.name contains "CleanFreak" -%}
                        <div class="category-link-wrapper blockfill blockfill-{{ blockFill | plus: 1 }}">
                            <a href="/pages/superfreak">
                                <div class="blockfill-contain">
                                    <div class="blockfill-left">
                                        <img class="img-responsive" src="{{ shop.url }}/cdn/shop/files/superfreak-logo.png" alt="SuperFreak Logo" />
                                    </div>
                                    <div class="blockfill-right">
                                        <div class="blockfill-cf-title">Join Our SuperFreak Program!</div>
                                        <div class="blockfill-cf-notes">
                                            <div class="blockfill-cf-price"><img class="img-responsive" src="{{ shop.url }}/cdn/shop/files/sf-annual-price.png" alt="$99.99 Annual Price" /></div>
                                            <table class="cf-note-list">
                                                <tr>
                                                    <td> <img src="{{ shop.url }}/cdn/shop/files/sf-checkmark.jpg" alt="checkmark" /></td>
                                                    <td>Exclusive Offers</td>
                                                </tr>
                                                <tr>
                                                    <td> <img src="{{ shop.url }}/cdn/shop/files/sf-checkmark.jpg" alt="checkmark" /></td>
                                                    <td>10% Off All Parts & Consumables</td>
                                                </tr>
                                                <tr>
                                                    <td> <img src="{{ shop.url }}/cdn/shop/files/sf-checkmark.jpg" alt="checkmark" /></td>
                                                    <td>Unlimited support via phone and/or video</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </section>
{% endif %}

<script>
    jQuery('.moreinfo-btn').on( "click", function() {
        var target = jQuery(this).data("info-target");
        jQuery('.moreinfo-area[data-cat-info="'+target+'"]').addClass('open').removeClass('closed');
    } );

    jQuery('.close-info').on( "click", function() {
        var target = jQuery(this).data("info-target");
        jQuery('.moreinfo-area[data-cat-info="'+target+'"]').addClass('closed').removeClass('open');
    } );
</script>

{% schema %}
{
    "name": "Department Category Links",
    "class": "dept-category",
    "settings": [
        {
        "type": "header",
        "content": "Department Categories"
        },
        {
        "type": "text",
        "id": "block-title",
        "label": "Block Title",
        "default": "Categories"
        }
    ],
    "blocks": [
    {
        "type": "categorylink",
        "name": "Category Link",
        "settings": [
            {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
            },
            {
            "id":"title",
            "type":"text",
            "label":"Category Title"
            },
            {
            "id":"url",
            "type":"url",
            "label":"Category URL"
            }
        ]
    }
    ],
    "presets": [
    {
        "name": "Department Category Links",
        "category": "Layout",
        "settings": {

        }
    }
    ]
    }
{% endschema %}