{% style %}
    .form-store-info .container{
        width: 1250px;
        max-width: 90%;
        margin: auto;
        padding: 50px 0;
    }
	.form-store-info .container .grid{
		display: flex;
		column-gap: 50px;
    }
	.form-store-info .container .grid .one-half{
        width: 100%;
        display: flex;
    }
	.form-store-info .container .grid .one-half .inner.vertical-center{
        align-self: center;
    }
	.form-store-info .container .grid .one-half .info-row{
        margin-bottom: 20px;
        max-width: 80%;
    }
    .form-store-info .container .grid .one-half .info-row .social_links{
        display: block;
        margin: 30px 0 0 0;
        padding: 0;
        list-style-type: none;
    }
    .form-store-info .container .grid .one-half .info-row .social_links li{
        display: inline-block;
        margin-right: 20px;
    }
    .form-store-info .container .grid .one-half .info-row .social_links li a{
        color: {{ settings.color_icons }};
        transition: all 0.4s ease-in-out;
        font-size: 20px;
    }
    .form-store-info .container .grid .one-half .info-row .social_links li a:hover{
        color: {{ settings.color_icons | color_darken: 10 }};
    }
    .form-store-info .container h1, .form-store-info .container h3{
        font-weight: bold;
    }

	.form-store-info .container .grid .one-half .info-row p{
        margin-bottom: 0;
        margin-top: 0;
        line-height: 25px;
        color: #767676;
    }
	.form-store-info .container .grid .one-half .info-row p b{
        margin-bottom: 5px;
        color: #4A4A4A;
    }
    .form-store-info .container .grid .one-half .info-row p a{
        color: {{ settings.color_text }}
    }
	.form-store-info form{
        background-color: {{ setting.colors_section_secondary_background }};
        padding: 50px;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(00,00,00,0.2);
        border-radius: 20px;
        background-color: #fff;
    }
    .form-store-info .contact-form{
        display:none !important
    }
	.form-store-info .contact-form input{
        height: 50px;
        border: 1px solid #979797;
        color: #767676;
        padding: 0 10px;
        margin-bottom: 16px;
    }
	.form-store-info .contact-form textarea{
		border: 1px solid #979797;
		color: #767676;
	}
	.form-store-info .contact-form label{
		font-weight: 700;
		color: #767676;
        margin-bottom: 5px;
        display: block;
	}
	.form-store-info .contact-form .top-text{
        color: {{ setting.colors_text}};
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 7px;
        display: block;
    }
	.form-store-info .contact-form .form-action-row{
        text-align: right;
    }
	.form-store-info .contact-form button[type="submit"]{
        display: inline-block;
        text-transform: uppercase;
        color: #ffffff;
        background-color: {{ setting.color_button_background }};
        border: 1px solid {{ setting.color_button_background }};
        padding: 20px 10px;
        font-size: 17px;
        line-height: 1;
        border-radius: 15px;
        transition: all 0.4s ease-in-out;
        margin-left: 0;
        text-align: center;
        min-width: 200px;
        font-weight: 600;
    }
    .form-store-info .contact-form button[type="submit"]:hover{
        color: #ffffff;
        background-color: {{ setting.color_button_background | color_darken: 10 }};
        border: 1px solid {{ setting.color_button_background | color_darken: 10 }};
    }
    @media (max-width: 1100px){
        .form-store-info form{
            padding: 20px;
        }
    }
    @media (max-width: 800px){
        .form-store-info .container .grid{
            display: block;
        }
        .form-store-info .container .grid .one-half{
            margin-bottom: 40px;
        }
    }

{% endstyle %}
<section class="form-store-info">
    <div class="container">
        <div class="row">
            {% if section.settings.topheadingh1 %}
                <h1>Contact Us</h1>
            {% else %}
                <h3>Contact Us</h3>
            {% endif %}
        </div>
        <div class="grid">
            <div class="grid__item one-half">
                <div class="inner vertical-center">
                    {% if section.settings.storephone != blank %}
                    <div class="info-row">
                        <p><b>Phone Number</b></p>
                        <p><a href="tel:{{ section.settings.storephone }}">{{ section.settings.storephone }}</a></p>
                    </div>
                    {% endif %}
                    {% if section.settings.localphone != blank %}
                        <div class="info-row">
                            <p><b>Local Number</b></p>
                            <p><a href="tel:{{ section.settings.localphone }}">{{ section.settings.localphone }}</a></p>
                        </div>
                    {% endif %}
                    {% if section.settings.storeemail != blank %}
                        <div class="info-row">
                            <p><b>Email</b></p>
                            <p><a href="mailto:{{ section.settings.storeemail }}">{{ section.settings.storeemail }}</a></p>
                        </div>
                    {% endif %}
                    {% if section.settings.storeaddress != blank %}
                        <div class="info-row">
                            {% if section.settings.addressheading != blank %}
                                <p><b>{{ section.settings.addressheading }}</b></p>
                            {% else %}
                                <p><b>Our Address</b></p>
                            {% endif %}
                            <p>{{ section.settings.storeaddress }}</p>
                        </div>
                    {% endif %}
                    {% if section.settings.storeinfo != blank %}
                        <div class="info-row">
                            <p><b>Company Information</b></p>
                            <p>{{ section.settings.storeinfo }}</p>
                        </div>
                    {% endif %}
                    <div class="info-row">
                        {% if section.settings.dunsnum != blank %}
                            <p><b>DUNS # -</b> {{ section.settings.dunsnum }}</p>
                        {% endif %}
                        {% if section.settings.federalid != blank %}
                            <p><b>Federal ID # -</b> {{ section.settings.federalid }}</p>
                        {% endif %}
                        {% if section.settings.billingaddress != blank %}
                            <p><b>Billing & Accounting Department Address -</b></p>
                            <p>{{ section.settings.billingaddress }}</p>
                        {% endif %}
                    </div>
                    {% if section.settings.hidesocial %}

                    {% else %}
                        <div class="info-row">
                            <ul class="social_links">
                                {% for block in section.blocks %}
                                    {% case block.type %}
                                        {% when 'social_media' %}
                                            <li>
                                                <a href="{{ block.settings.social_link }}">
                                                    <i class="{{  block.settings.social_id }}"></i>
                                                </a>
                                            </li>
                                    {% endcase %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="grid__item one-half">
                {% comment %}Add this{% endcomment %}
                <style>
                    .form-store-info .container .grid .one-half{
                        display:block;
                    }
                    .form-store-info .container .grid .one-half .contact-us-tabs{
                        display:flex;
                    }
                    .form-store-info .container .grid .one-half .contact-us-tabs .form-tab{
                        border:1px solid #ccc;
                        padding:10px;
                        border-radius: 10px 10px 0 0;
                        background-color:gray;
                        color:white;
                        z-index:1;
                        margin-bottom:-2px;
                        cursor:pointer;
                    }
                    .form-store-info .container .grid .one-half .contact-us-tabs .form-tab.highlight{
                        border-bottom:0px solid #ccc;
                        background-color:white;
                        color:#303e48;
                        z-index:10;
                    }
                    .form-store-info form,
                    .form-store-info .container .grid .one-half .cu-custom-form,
                    .form-store-info .container .grid .one-half .problem-form{
                        background-color: {{ setting.colors_section_secondary_background }};
                        padding: 50px;
                        width: 100%;
                        box-shadow: none;
                        border:1px solid #ccc;
                        border-radius: 0 20px 20px 20px;
                        background-color: #fff;
                    }

                    .contact-form,
                    .cu-custom-form,
                    .problem-form{
                        position:absolute;
                        right: 20000px;
                    }
                    .contact-form.formshow,
                    .cu-custom-form.formshow,
                    .problem-form.formshow{
                        position:relative;
                        right: 0px;
                    }
                </style>
                <script>
                    jQuery(document).ready(function($){
                        $('.form-tab').on('click', function(){
                            $('.form-tab').removeClass('highlight');
                            $(this).addClass('highlight');
                            if($(this).hasClass('contact-tab')){
                                $('.cu-custom-form').addClass('formshow');
                                $('.problem-form').removeClass('formshow');
                            }else if($(this).hasClass('problem-tab')){
                                $('.cu-custom-form').removeClass('formshow');
                                $('.problem-form').addClass('formshow');
                            }
                        });

                        setTimeout(() => {
                            $('.cu-custom-form').addClass('formshow');
                            $('.problem-form').removeClass('formshow');
                        }, 600);

                    });
                </script>
                <div class="contact-us-tabs">
                    <div class="form-tab contact-tab highlight">Contact Us</div>
                    <div class="form-tab problem-tab">Problems</div>
                </div>

                {% form 'contact' %}
                    <div class="contact-form">
                        <span class="top-text">Send Us a Message</span>
                        {% assign has_message = false %}

                        {% if form.errors != blank %}
                            {% assign has_message = true %}
                            {% assign message_type = 'error' %}
                        {% endif %}

                        {% if form.posted_successfully? %}
                            {% assign has_message = true %}
                            {% assign message_type = 'success' %}
                        {% endif %}

                        {% if has_message %}
                            <div class="contact-message message--{{ message_type }}">
                                {% case message_type %}
                                    {% when 'success' %}
                                        <p>
                                            {{ 'contact.form.post_success' | t }}
                                        </p>
                                    {% when 'error' %}
                                        {{ form.errors | default_errors }}
                                {% endcase %}
                            </div>
                        {% endif %}
                        {% if form.posted_successfully? != true %}
                            <div class="form-field">
                                {% assign value = '' %}
                                {%- if form.fname -%}
                                    {% assign value = form.fname %}
                                {%- elsif customer -%}
                                    {% assign value = customer.fname %}
                                {%- endif -%}
                                <label class="" for="contact_fname">
                                    First Name
                                </label>
                                <input
                                        class="form-field-input form-field-text {% if form.errors contains 'name' %}form-field-error{% endif %}"
                                        id="contact_fname"
                                        name="contact[fname]"
                                        type="text"
                                        value="{{ value }}">
                            </div>
                            <div class="form-field">
                                {% assign value = '' %}
                                {%- if form.lname -%}
                                    {% assign value = form.lname %}
                                {%- elsif customer -%}
                                    {% assign value = customer.lname %}
                                {%- endif -%}
                                <label class="" for="contact_lname">
                                    Last Name
                                </label>
                                <input
                                        class="form-field-input form-field-text {% if form.errors contains 'name' %}form-field-error{% endif %}"
                                        id="contact_lname"
                                        name="contact[lname]"
                                        type="text"
                                        value="{{ value }}">

                            </div>
                            <div class="form-field">
                                {% assign value = '' %}
                                {%- if form.email -%}
                                    {% assign value = form.email %}
                                {%- elsif customer -%}
                                    {% assign value = customer.email %}
                                {%- endif -%}
                                <label class="" for="contact_email">
                                    Email
                                </label>
                                <input
                                        class="form-field-input form-field-text {% if form.errors contains 'email' %}form-field-error{% endif %}"
                                        id="contact_email"
                                        name="contact[email]"
                                        type="text"
                                        value="{{ value }}"
                                        autocorrect="off"
                                        autocapitalize="off">
                            </div>
                            <div class="form-field">
                                {% assign value = '' %}
                                {%- if form.phone -%}
                                    {% assign value = form.phone %}
                                {%- elsif customer -%}
                                    {% assign value = customer.phone %}
                                {%- endif -%}
                                <label class="" for="contact_phone">
                                    {{ 'contact.form.phone' | t }}
                                </label>
                                <input
                                        class="form-field-input form-field-text {% if form.errors contains 'phone' %}form-field-error{% endif %}"
                                        id="contact_phone"
                                        name="contact[phone]"
                                        type="tel"
                                        value="{{ value }}">
                            </div>

                            <div class="form-field">
                                {% assign value = '' %}
                                {%- if form.body -%}
                                    {% assign value = form.body %}
                                {%- endif -%}
                                <label class="" for="contact_message">
                                    Message
                                </label>
                                <textarea
                                        class="form-field-input form-field-textarea {% if form.errors contains 'body' %}form-field-error{% endif %}"
                                        id="contact_message"
                                        name="contact[message]">{{ value }}</textarea>
                            </div>

                            <div class="form-action-row">
                                <button class="button-primary contact-form-button" type="submit">
                                    {{ 'contact.form.send' | t }}
                                </button>
                            </div>

                        {% endif %}
                    </div>
                {% endform %}



                <div class="cu-custom-form formshow">
                    {%- assign websiteurl = shop.name -%}
                    {%- if websiteurl == 'CeanFreak.com' or websiteurl == 'CleanFreak - DEV' -%}
                        <div id="wufoo-ptkyh920e73pld"> Fill out my <a href="https://jbutchpti.wufoo.com/forms/ptkyh920e73pld">online form</a>. </div> <script type="text/javascript"> var ptkyh920e73pld; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'ptkyh920e73pld', 'autoResize':true, 'height':'782', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { ptkyh920e73pld = new WufooForm(); ptkyh920e73pld.initialize(options); ptkyh920e73pld.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                    {%- elsif websiteurl == 'AirMovers.com' or websiteurl == 'AirMovers - Dev' -%}
                        <div id="wufoo-pcx4f0ckomgo"> Fill out my <a href="https://jbutchpti.wufoo.com/forms/pcx4f0ckomgo">online form</a>. </div> <script type="text/javascript"> var pcx4f0ckomgo; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'pcx4f0ckomgo', 'autoResize':true, 'height':'663', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { pcx4f0ckomgo = new WufooForm(); pcx4f0ckomgo.initialize(options); pcx4f0ckomgo.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                    {%- elsif websiteurl == 'CarpetExtractors.com' or websiteurl == 'CarpetExtractors - Dev' -%}
                        <div id="wufoo-pm4vvvl0cv86lp"> Fill out my <a href="https://jbutchpti.wufoo.com/forms/pm4vvvl0cv86lp">online form</a>. </div> <script type="text/javascript"> var pm4vvvl0cv86lp; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'pm4vvvl0cv86lp', 'autoResize':true, 'height':'782', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { pm4vvvl0cv86lp = new WufooForm(); pm4vvvl0cv86lp.initialize(options); pm4vvvl0cv86lp.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                    {%- elsif websiteurl == 'FloorBuffers.com' or websiteurl == 'FloorBuffers - Dev' -%}
                        <div id="wufoo-p1qn26m20ub9gn9"> Fill out my <a href="https://jbutchpti.wufoo.com/forms/p1qn26m20ub9gn9">online form</a>. </div> <script type="text/javascript"> var p1qn26m20ub9gn9; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'p1qn26m20ub9gn9', 'autoResize':true, 'height':'782', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { p1qn26m20ub9gn9 = new WufooForm(); p1qn26m20ub9gn9.initialize(options); p1qn26m20ub9gn9.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                    {%- elsif websiteurl == 'FloorScrubbers.com' or websiteurl == 'FloorScrubbers - Dev' -%}
                        <div id="wufoo-p1d9s8up08cyrf9"> Fill out my <a href="https://jbutchpti.wufoo.com/forms/p1d9s8up08cyrf9">online form</a>. </div> <script type="text/javascript"> var p1d9s8up08cyrf9; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'p1d9s8up08cyrf9', 'autoResize':true, 'height':'782', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { p1d9s8up08cyrf9 = new WufooForm(); p1d9s8up08cyrf9.initialize(options); p1d9s8up08cyrf9.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                    {%- else -%}
                        <div id="wufoo-ptkyh920e73pld"> Fill out my <a href="https://jbutchpti.wufoo.com/forms/ptkyh920e73pld">online form</a>. </div> <script type="text/javascript"> var ptkyh920e73pld; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'ptkyh920e73pld', 'autoResize':true, 'height':'782', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { ptkyh920e73pld = new WufooForm(); ptkyh920e73pld.initialize(options); ptkyh920e73pld.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                    {%- endif -%}

                </div>
                <div class="problem-form">
                    <p>We’re sorry to hear you’ve bumped into a problem with your cleaning equipment. Fill out this form to request service support and watch your inbox for a confirmation email. Our technicians will follow up with your request within seven business days.</p>
                    <hr>
                    <div id="wufoo-w5g7bid0s8y07h">Fill out my <a href="https://jbutchpti.wufoo.com/forms/w5g7bid0s8y07h">online form</a>.</div>
                    <script type="text/javascript"> var w5g7bid0s8y07h; (function(d, t) { var s = d.createElement(t), options = { 'userName':'jbutchpti', 'formHash':'w5g7bid0s8y07h', 'autoResize':true, 'height':'1006', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { w5g7bid0s8y07h = new WufooForm(); w5g7bid0s8y07h.initialize(options); w5g7bid0s8y07h.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "form-with-store-info",
    "class": "form-with-store-info--section",
    "settings":[
        {
            "type": "checkbox",
            "id": "topheadingh1",
            "label": "Make top Heading an H1 tag",
            "default": false
        },
        {
            "type": "text",
            "label": "Store Phone Number",
            "id" : "storephone"
        },
        {
            "type": "text",
            "label": "Local Phone Number",
            "id" : "localphone"
        },
        {
            "type": "text",
            "label": "Store Email",
            "id" : "storeemail"
        },
        {
            "type": "text",
            "label": "Address Heading",
            "id" : "addressheading"
        },
        {
            "type" : "richtext",
            "label" : "Store Address",
            "id" : "storeaddress"
        },
        {
            "type" : "richtext",
            "label" : "Company Information",
            "id" : "storeinfo"
        },
        {
            "type": "text",
            "label": "DUNS#",
            "id" : "dunsnum"
        },
        {
            "type": "text",
            "label": "Federal ID",
            "id" : "federalid"
        },
        {
            "type" : "richtext",
            "label" : "Billing and Accounting Department Address",
            "id" : "billingaddress"
        },
        {
            "type": "checkbox",
            "id": "hidesocial",
            "label": "Hide Social Media Links",
            "default": false
        }
    ],
    "blocks": [
        {
            "name": "Social Media",
            "type": "social_media",
            "settings": [
                {
                    "type": "text",
                    "id": "social_id",
                    "label": "Font Awesome Icon Class"
                },
                {
                    "type": "text",
                    "id": "social_link",
                    "label": "Link Address"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "form-with-store-info-section",
            "name": "Form with store info",
            "settings": {
            }
        }
    ]
}
{% endschema %}
