

    {% if product.metafields.plytix.superfreak_tech_tip %}
        <section class="product-single-techtip">
            <div class="container">
                <div class="tech-text">
                    <h3><img style="margin: 0 10px -9px 6px" src="{{ 'superfreak-logo-sm.png' | file_img_url  }}" alt="SuperFreak Logo" />Tips from our SuperFreak Service Technicians</h3>
                    <p>
                        {{ product.metafields.plytix.superfreak_tech_tip }}
                    </p>
                </div>

                {% comment %}Pic should be 400px wide{% endcomment %}
                {% if product.metafields.plytix.superfreak_tech_tip_img == "test2" %}
                    {% comment %}{%- assign tech_img =  'tip-test-profile.png' -%}{% endcomment %}
                    {%- assign tech_img =  'test-tech-3-up.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {% elsif product.metafields.plytix.superfreak_tech_tip_img == "test" %}
                    {% comment %}{%- assign tech_img =  'default-tech-tip-2-png.png' -%}{% endcomment %}
                    {%- assign tech_img =  'test-tech-1.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {% else %}
                    {%- assign tech_img =  'default-tech-tip-service-tech.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {% endif %}
                <div class="tech-image">
                    <img src="{{ tech_img | file_url  }}" alt="{{ tech_img_alt }}" class="img-responsive" />
                </div>
                <div class="clearer"></div>
            </div>
        </section>
    {% endif %}


<section class="product-single-spec-manual">
    <div class="container">
        <div class="row {% if product.metafields.plytix.sds_file != blank or product.metafields.plytix.manual != blank or product.metafields.plytix.literature != blank %}space-between {% else %}centered-content{% endif %}">
            <div class="l">
                <h2>Product Information + Specs</h2>
                <div class="spec-table">
                    <div class="inner">
                        {% assign specs = product.metafields.plytix.specs | split: ";;" %}
                        {% assign brand = "" %}
                        {% for spec in specs %}
                            {% assign attr = spec | split: "::" %}
                            {% if attr[0] == 'Manufacturer' and attr[1] == brand %}
                            {% comment %}do not print{% endcomment %}
                            {% elsif attr[1] != "None" %}
                                {% if attr[0] == 'Brand' %}
                                    {% assign brand = attr[1] %}
                                {% endif %}
                                <div class="row">
                                    <div class="label">{{ attr[0] }}</div>
                                    {% assign attrVal = attr[1] | remove: "[" | remove: "]" |  remove : "'" %}
                                    {% if attrVal == 'false' or attrVal == 'False' %}
                                        <div class="value">No</div>
                                    {% else %}
                                        {% assign attrValfinal = attr[1] | replace: '&deg;' ,'°' | replace: '&sup2;' ,'²' | replace: '&#178;' ,'²' %}
                                        {% assign attrValfinal = attrValfinal | replace: '&amp;' ,'&' | replace: '&#38;' ,'&' %}
                                        {% assign attrValfinal = attrValfinal | replace: '&trade;' ,'™' | replace: '&reg;' ,'®' %}
                                        {% if attr[0] == 'Operating Weight' or attr[0] == 'Packaged Weight (lbs)' %}
                                            <div class="value">{{ attrValfinal | remove: "[" | remove: "]" | replace: ';', ', ' | newline_to_br }} lbs.</div>
                                        {% else %}
                                            <div class="value">{{ attrValfinal | remove: "[" | remove: "]" | replace: ';', ', ' | newline_to_br }}</div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if product.metafields.plytix.sds_file != blank or product.metafields.plytix.manual != blank or product.metafields.plytix.literature != blank %}
                {% assign pdf_names = product.metafields.plytix.pdf_file_names | split: "::"  %}
                {% assign pdf_titles = product.metafields.plytix.pdf_file_titles | split: "::"  %}
                <div class="r">
                    <h2>Safety, Warranty + User Manuals</h2>
                    <div class="data-sheets">
                        {% if product.metafields.plytix.sds_file != blank  %}
                            <div class="sheet-row">
                                <div class="sheet-label"><strong>Product Safety Data Sheet</strong></div>
                            </div>
                            {%- assign sdsheets = product.metafields.plytix.sds_file | split:"," -%}
                            {%- for sdsheet in sdsheets -%}
                                {%- assign basefilename = sdsheet | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {% if basefilename == file_name  %}
                                        {% if pdf_titles[indexofname]  %}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}
                                <div class="sheet-row sheet-name {% if pdftitlecheck == 0 %}orgfile{% endif %}">
                                        <a target="_blank" href="{{ basefilename | file_url }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                        {% comment %}<a target="_blank" href="{{ sdsheet }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>{% endcomment %}

                                </div>
                            {%- endfor -%}
                        {%- endif -%}
                        {% if product.metafields.plytix.manual != blank  %}
                            <div class="sheet-row">
                                <div class="sheet-label"><strong>Product Manual</strong></div>
                            </div>
                            {%- assign manuals = product.metafields.plytix.manual | split:"," -%}
                            {%- for manual in manuals -%}
                                {%- assign basefilename = manual | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {% if basefilename == file_name  %}
                                        {% if pdf_titles[indexofname] and pdf_titles[indexofname] != "" %}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}

                                <div class="sheet-row sheet-name {% if pdftitlecheck == 0 %}orgfile{% endif %}">
                                        <a target="_blank" href="{{ basefilename | file_url }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                        {% comment %}<a target="_blank" href="{{ manual }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>{% endcomment %}
                                </div>
                            {%- endfor -%}
                            {%- assign manualexternal = product.metafields.plytix.manual_plytix | split:"," -%}
                            {%- for manual in manualexternal -%}
                                {%- assign basefilename = manual | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {% if basefilename == file_name  %}
                                        {% if pdf_titles[indexofname]  %}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}

                                <div class="sheet-row sheet-name {% if pdftitlecheck == 0 %}orgfile{% endif %}">
                                    <a target="_blank" href="{{ manual }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                </div>
                            {%- endfor -%}

                        {%- endif -%}
                        {% if product.metafields.plytix.literature != blank  %}
                            <div class="sheet-row">
                                <div class="sheet-label"><strong>Product Literature</strong></div>
                            </div>
                            {%- assign literature = product.metafields.plytix.literature | split:"," -%}
                            {%- for lit in literature -%}
                                {%- assign basefilename = lit | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {% if basefilename == file_name  %}
                                        {% if pdf_titles[indexofname]  %}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                            {%- assign pdftitlecheck = 1 -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}
                                <div class="sheet-row sheet-name {%- if pdftitlecheck == 0 -%}orgfile{% endif %}">
                                        <a target="_blank" href="{{ basefilename | file_url }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                        {% comment %}<a target="_blank" href="{{ lit }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>{% endcomment %}
                                </div>
                            {%- endfor -%}
                        {%- endif -%}

                        {% if product.metafields.plytix.prop65_text != blank and product.metafields.plytix.prop65_category != blank %}
                            <div class="prop65">
                                <h2>Warnings</h2>
                                <div class="prop65-item">
                                    <div class="hazard-title">
                                        <i class="fa-regular fa-triangle-exclamation"></i> <strong>Proposition 65 Warning</strong>: {{ product.metafields.plytix.prop65_category }}
                                    </div>
                                    <div class="prop65-text">
                                        {{ product.metafields.plytix.prop65_text }} For more information go to <a href="https://www.P65Warnings.ca.gov" target="_blank">www.P65Warnings.ca.gov</a>.</div>
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                </div>

            {% else %}
            <div class="r">
                <div class="spec-default-img">
                    {{ images['spec-default-img.jpg'] | image_url: height: 300 | image_tag: class: 'img-responsive' }}
                </div>
            </div>
                <style>
                    .r .spec-default-img{
                        margin-top: 35px;
                        padding: 25px;
                    }
                </style>
            {% endif %}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "product-specs-info",
    "class": "product-specs-info--section",
    "presets": [
        {
            "category": "product-specs-info-section",
            "name": "Product Specs and Info",
            "settings": {
            }
        }
    ]
}
{% endschema %}