    {%- if product.metafields.plytix.superfreak_tech_tip -%}
        <section class="product-single-techtip">
            <div class="container">
                <div class="tech-text">
                    <h3><img style="margin: 0 10px -9px 6px" src="{{ 'superfreak-logo-sm.png' | file_img_url  }}" alt="SuperFreak Logo" />Tips from our SuperFreak Service Technicians</h3>
                    <p>
                        {{ product.metafields.plytix.superfreak_tech_tip }}
                    </p>
                </div>

                {% comment %}Pic should be 400px wide{% endcomment %}
                {%- if product.metafields.plytix.superfreak_tech_tip_img == "test2" -%}
                    {%- comment -%}{%- assign tech_img =  'tip-test-profile.png' -%}{%- endcomment -%}
                    {%- assign tech_img =  'test-tech-3-up.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {%- elsif product.metafields.plytix.superfreak_tech_tip_img == "test" -%}
                    {%- comment -%}{%- assign tech_img =  'default-tech-tip-2-png.png' -%}{%- endcomment -%}
                    {%- assign tech_img =  'test-tech-1.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {%- else -%}
                    {%- assign tech_img =  'default-tech-tip-service-tech.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {%- endif -%}
                <div class="tech-image">
                    <img src="{{ tech_img | file_url  }}" alt="{{ tech_img_alt }}" class="img-responsive" />
                </div>
                <div class="clearer"></div>
            </div>
        </section>
    {%- endif -%}


<section class="product-single-spec-manual">
    <div class="container">
        <div class="row space-between">
            <div class="l">
                <h2>Product Specs</h2>
                <div class="spec-table">
                    <div class="inner">
                        {%- assign specs = product.metafields.plytix.specs | split: ";;" -%}
                        {%- assign brand = "" -%}
                        {%- for spec in specs -%}
                            {%- assign attr = spec | split: "::" -%}
                            {%- if attr[0] == 'Manufacturer' and attr[1] == brand -%}
                            {%- comment -%}do not print{%- endcomment -%}
                            {%- elsif attr[1] != "None" -%}
                                {%- if attr[0] == 'Brand' -%}
                                    {%- assign brand = attr[1] -%}
                                {%- endif -%}
                                <div class="row">
                                    <div class="label">{{ attr[0] }}</div>
                                    {%- assign attrVal = attr[1] | remove: "[" | remove: "]" |  remove : "'" -%}
                                    {%- if attrVal == 'false' or attrVal == 'False' -%}
                                        <div class="value">No</div>
                                    {%- else -%}
                                        {%- assign attrValfinal = attr[1] | replace: '&deg;' ,'°' | replace: '&sup2;' ,'²' | replace: '&#178;' ,'²' -%}
                                        {%- assign attrValfinal = attrValfinal | replace: '&amp;' ,'&' | replace: '&#38;' ,'&' -%}
                                        {%- assign attrValfinal = attrValfinal | replace: '&trade;' ,'™' | replace: '&reg;' ,'®' -%}
                                        {%- if attr[0] == 'Operating Weight (lbs.)' or attr[0] == 'Packaged Weight (lbs.)' -%}

                                            {%- assign attrValfinal = attrValfinal | remove: "[" | remove: "]" | replace: ';', ', ' | newline_to_br -%}

                                            {% comment %}Remove Decimal if there isn't a value other than 0 in it{% endcomment %}
                                            {%- assign attrValfinalSplit = attrValfinal | split: "." -%}
                                            {%- if attrValfinalSplit.size > 1 -%}
                                                {%- assign decimalVal = attrValfinalSplit[1] | plus: 0 -%}
                                                {%- if decimalVal == 0 -%}
                                                    {%- assign attrValfinal =attrValfinalSplit[0] -%}
                                                {%- endif -%}
                                            {%- endif -%}

                                            <div class="value">{{ attrValfinal }}</div>


                                        {%- else -%}
                                            <div class="value">{{ attrValfinal | remove: "[" | remove: "]" | replace: ';', ', ' | newline_to_br }}</div>
                                        {%- endif -%}
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>


            {%
                    render 'docs_and_links',
                    product: product,
                    location: "productpage"
            %}

        </div>
    </div>
</section>
{% schema %}
{
    "name": "product-specs-info",
    "class": "product-specs-info--section",
    "presets": [
        {
            "category": "product-specs-info-section",
            "name": "Product Specs and Info",
            "settings": {
            }
        }
    ]
}
{% endschema %}