    {%- if product.metafields.plytix.superfreak_tech_tip -%}
        <section class="product-single-techtip">
            <div class="container">
                <div class="tech-text">
                    <h3><img style="margin: 0 10px -9px 6px" src="{{ 'superfreak-logo-sm.png' | file_img_url  }}" alt="SuperFreak Logo" />Tips from our SuperFreak Service Technicians</h3>
                    <p>
                        {{ product.metafields.plytix.superfreak_tech_tip }}
                    </p>
                </div>

                {% comment %}Pic should be 400px wide{% endcomment %}
                {%- if product.metafields.plytix.superfreak_tech_tip_img == "test2" -%}
                    {%- comment -%}{%- assign tech_img =  'tip-test-profile.png' -%}{%- endcomment -%}
                    {%- assign tech_img =  'test-tech-3-up.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {%- elsif product.metafields.plytix.superfreak_tech_tip_img == "test" -%}
                    {%- comment -%}{%- assign tech_img =  'default-tech-tip-2-png.png' -%}{%- endcomment -%}
                    {%- assign tech_img =  'test-tech-1.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {%- else -%}
                    {%- assign tech_img =  'default-tech-tip-service-tech.png' -%}
                    {%- assign tech_img_alt =  'SuperFreak Tech Tips' -%}
                {%- endif -%}
                <div class="tech-image">
                    <img src="{{ tech_img | file_url  }}" alt="{{ tech_img_alt }}" class="img-responsive" />
                </div>
                <div class="clearer"></div>
            </div>
        </section>
    {%- endif -%}


<section class="product-single-spec-manual">
    <div class="container">
        <div class="row space-between">
            <div class="l">
                <h2>Product Specs</h2>
                <div class="spec-table">
                    <div class="inner">
                        {%- assign specs = product.metafields.plytix.specs | split: ";;" -%}
                        {%- assign brand = "" -%}
                        {%- for spec in specs -%}
                            {%- assign attr = spec | split: "::" -%}
                            {%- if attr[0] == 'Manufacturer' and attr[1] == brand -%}
                            {%- comment -%}do not print{%- endcomment -%}
                            {%- elsif attr[1] != "None" -%}
                                {%- if attr[0] == 'Brand' -%}
                                    {%- assign brand = attr[1] -%}
                                {%- endif -%}
                                <div class="row">
                                    <div class="label">{{ attr[0] }}</div>
                                    {%- assign attrVal = attr[1] | remove: "[" | remove: "]" |  remove : "'" -%}
                                    {%- if attrVal == 'false' or attrVal == 'False' -%}
                                        <div class="value">No</div>
                                    {%- else -%}
                                        {%- assign attrValfinal = attr[1] | replace: '&deg;' ,'°' | replace: '&sup2;' ,'²' | replace: '&#178;' ,'²' -%}
                                        {%- assign attrValfinal = attrValfinal | replace: '&amp;' ,'&' | replace: '&#38;' ,'&' -%}
                                        {%- assign attrValfinal = attrValfinal | replace: '&trade;' ,'™' | replace: '&reg;' ,'®' -%}
                                        {%- if attr[0] == 'Operating Weight off' or attr[0] == 'Packaged Weight (lbs) off' -%}
                                            <div class="value">{{ attrValfinal | remove: "[" | remove: "]" | replace: ';', ', ' | newline_to_br }} lbs.</div>
                                        {%- else -%}
                                            <div class="value">{{ attrValfinal | remove: "[" | remove: "]" | replace: ';', ', ' | newline_to_br }}</div>
                                        {%- endif -%}
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>


            {%- assign blogsclean = product.metafields.plytix.related_blogs | remove: ", " | remove: "," | remove: "NA" -%}
            {%- assign blogscleansize = blogsclean | size -%}
            {%- if 1==1 or product.metafields.plytix.sds_file != blank or product.metafields.plytix.manual != blank or product.metafields.plytix.literature != blank or blogscleansize > 3 -%}
                {%- assign pdf_names = product.metafields.plytix.pdf_file_names | split: "::"  -%}
                {%- assign pdf_titles = product.metafields.plytix.pdf_file_titles | split: "::"  -%}
                {%- assign docCount = 0 -%}
                <div class="r">
                    <h2>Documents</h2>
                    <div class="data-sheets">
                        {%- if product.metafields.plytix.sds_file != blank  -%}
                            <div class="sheet-row">
                                <div class="sheet-label"><strong>Product Safety Data Sheet</strong></div>
                            </div>
                            {%- assign sdsheets = product.metafields.plytix.sds_file | split:"," -%}
                            {%- for sdsheet in sdsheets -%}
                                {%- assign basefilename = sdsheet | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {%- if basefilename == file_name  -%}
                                        {%- if pdf_titles[indexofname]  -%}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}

                                {%- assign docCount = docCount | plus: 1 -%}
                                <div class="sheet-row sheet-name {% if pdftitlecheck == 0 %}orgfile{% endif %}">
                                        <a target="_blank" href="{{ basefilename | file_url }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                        {% comment %}<a target="_blank" href="{{ sdsheet }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>{% endcomment %}

                                </div>
                            {%- endfor -%}
                        {%- endif -%}
                        {%- if product.metafields.plytix.manual != blank  -%}
                            <div class="sheet-row">
                                <div class="sheet-label"><strong>Product Manual</strong></div>
                            </div>
                            {%- assign manuals = product.metafields.plytix.manual | split:"," -%}
                            {%- for manual in manuals -%}
                                {%- assign basefilename = manual | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {%- if basefilename == file_name -%}
                                        {%- if pdf_titles[indexofname] and pdf_titles[indexofname] != "" -%}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}

                                {%- assign docCount = docCount | plus: 1 -%}
                                <div class="sheet-row sheet-name {% if pdftitlecheck == 0 %}orgfile{% endif %}">
                                        <a target="_blank" href="{{ basefilename | file_url }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                        {% comment %}<a target="_blank" href="{{ manual }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>{% endcomment %}
                                </div>
                            {%- endfor -%}
                            {%- assign manualexternal = product.metafields.plytix.manual_plytix | split:"," -%}
                            {%- for manual in manualexternal -%}
                                {%- assign basefilename = manual | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {%- if basefilename == file_name  -%}
                                        {%- if pdf_titles[indexofname]  -%}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}

                                {%- assign docCount = docCount | plus: 1 -%}
                                <div class="sheet-row sheet-name {% if pdftitlecheck == 0 %}orgfile{% endif %}">
                                    <a target="_blank" href="{{ manual }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                </div>
                            {%- endfor -%}

                        {%- endif -%}
                        {%- if product.metafields.plytix.literature != blank  -%}
                            <div class="sheet-row">
                                <div class="sheet-label"><strong>Product Literature</strong></div>
                            </div>
                            {%- assign literature = product.metafields.plytix.literature | split:"," -%}
                            {%- for lit in literature -%}
                                {%- assign basefilename = lit | split: '/' | last -%}
                                {%- assign filetitle = basefilename -%}
                                {%- assign indexofname = 0 -%}
                                {%- assign pdftitlecheck = 0 -%}
                                {%- for file_name in pdf_names -%}
                                    {%- if basefilename == file_name  -%}
                                        {%- if pdf_titles[indexofname]  -%}
                                            {%- assign filetitle = pdf_titles[indexofname] -%}
                                            {%- assign pdftitlecheck = 1 -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    {%- assign indexofname = indexofname | plus: 1 -%}
                                {%- endfor -%}
                                {%- assign docCount = docCount | plus: 1 -%}
                                <div class="sheet-row sheet-name {%- if pdftitlecheck == 0 -%}orgfile{% endif %}">
                                        <a target="_blank" href="{{ basefilename | file_url }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>
                                        {% comment %}<a target="_blank" href="{{ lit }}"><i class="fa-solid fa-file-pdf"></i> {{ filetitle }}</a>{% endcomment %}
                                </div>
                            {%- endfor -%}
                        {%- endif -%}

                        {%- if docCount == 0 -%}

                            <div class="sheet-row sheet-name"><i class="fa-solid fa-ban"></i> No documents found.</div>

                            {%- liquid
                                assign selected_variant = product.selected_variant
                                if product.variants.size == 1 or select_first_available_variant or product_form == false
                                    assign selected_variant = product.selected_or_first_available_variant
                                endif
                            -%}

                            <div class="sheet-row sheet-name document-inquiry" style="padding-left:21px; margin-top:-10px"> Are you looking for a specific document for this product?<br/><strong class="fake-link">Click here</strong> to make a request.</div>
                            {% assign full_url = request.host | append: request.path %}

                            <div class="document-inquiry-form" style="display:none;"><iframe height="722" title="Embedded Wufoo Form" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" sandbox="allow-popups-to-escape-sandbox allow-top-navigation allow-scripts allow-popups allow-forms allow-same-origin" src="https://jbutchpti.wufoo.com/embed/x17n92om0rqevnr/def/Field60={{ selected_variant.sku }}&Field63={{ product.title }}&Field62={{ full_url }}"> <a href="https://jbutchpti.wufoo.com/forms/x17n92om0rqevnr/">Fill out my Wufoo form!</a> </iframe></div>
                            <script>

                                jQuery(document).ready(function($) {
                                    $('.document-inquiry').on('click', function (e) {

                                        var formhtml = $('.document-inquiry-form').html();

                                        $('.popup-container .content').html(formhtml);
                                        $('.popup-container').addClass('rightpop');

                                        $('.popup-container').removeClass('hidden');
                                        $(".pop-grad").removeClass('hidden');

                                    });
                                });
                            </script>

                        {%- endif -%}
                    </div>


                    {%- assign blog_handles = product.metafields.plytix.related_blogs | split: "," -%}
                    {%- assign page_handles = product.metafields.plytix.related_pages | split: "," -%}
                    {%- assign blogcoutner = 0 -%}
                    {%- assign pagecoutner = 0 -%}
                    {%- for handle in blog_handles -%}
                        {% assign thishandle = handle | strip %}
                        {%- if thishandle != "NA" and thishandle !="" -%}
                            {%- assign blogcoutner = blogcoutner | plus: 1 -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {%- for handle in page_handles -%}
                        {% assign thishandle = handle | strip %}
                        {%- if thishandle != "NA" and thishandle !="" -%}
                            {%- assign pagecoutner = pagecoutner | plus: 1 -%}
                        {%- endif -%}
                    {%- endfor -%}


                    {%- if blogcoutner > 0 or pagecoutner > 0 -%}
                        <h2 style="margin-top:30px;" >Related Links</h2>
                        <div class="data-sheets">

                            {%- if blogcoutner > 0 -%}
                                <div class="sheet-row">
                                    <div id="blog-area" class="sheet-label"><strong>Related Blogs</strong></div>
                                </div>

                                {%- for handle in blog_handles -%}
                                    {%- assign thishandle = handle | strip -%}
                                    {%- if thishandle != "NA" and thishandle !="" -%}
                                        {% assign thisarticle = articles[thishandle] %}
                                        <div class="sheet-row sheet-name">
                                            <a target="_blank" href="/blogs/{{ thishandle }}"><i class="fa-solid fa-blog"></i> {{ thisarticle.title }}</a>
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endif -%}

                            {%- if pagecoutner > 0 -%}
                                <div class="sheet-row">
                                    <div id="blog-area" class="sheet-label"><strong>Related Pages</strong></div>
                                </div>

                                {%- for handle in page_handles -%}
                                    {%- assign thishandle = handle | strip -%}
                                    {%- if thishandle != "NA" and thishandle !="" -%}
                                        {% assign thisarticle = pages[thishandle] %}
                                        <div class="sheet-row sheet-name">
                                            <a target="_blank" href="/pages/{{ thishandle }}"><i class="fa-solid fa-link"></i> {{ thisarticle.title }}</a>
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endif -%}

                            {%- if product.metafields.plytix.prop65_text != blank and product.metafields.plytix.prop65_category != blank -%}
                                <div class="prop65">
                                    <h2>Warnings</h2>
                                    <div class="prop65-item">
                                        <div class="hazard-title">
                                            <i class="fa-regular fa-triangle-exclamation"></i> <strong>Proposition 65 Warning</strong>: {{ product.metafields.plytix.prop65_category }}
                                        </div>
                                        <div class="prop65-text">
                                            {{ product.metafields.plytix.prop65_text }} For more information go to <a href="https://www.P65Warnings.ca.gov" target="_blank">www.P65Warnings.ca.gov</a>.</div>
                                    </div>
                                </div>
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                </div>

            {%- else -%}
            <div class="r">
                <div class="spec-default-img">
                    {{ images['spec-default-img.jpg'] | image_url: height: 300 | image_tag: class: 'img-responsive' }}
                </div>
            </div>
                <style>
                    .r .spec-default-img{
                        margin-top: 35px;
                        padding: 25px;
                    }
                </style>
            {%- endif -%}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "product-specs-info",
    "class": "product-specs-info--section",
    "presets": [
        {
            "category": "product-specs-info-section",
            "name": "Product Specs and Info",
            "settings": {
            }
        }
    ]
}
{% endschema %}