{% if product.metafields.plytix.package_products != blank %}
<section class="product-single-desc bundle-specs" id="product-single-desc" style="padding-top: 0;">
    <div class="container" style="border: 0;">
{% else %}
        <section class="product-single-desc" id="product-single-desc">
            <div class="container">
{% endif %}

        {% comment %} Org Layout
        <div class="row">
            <div class="full">
                <h2>Product Description</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
        {% endcomment %}

        <div class="desc-col-1">
            <div class="description">
                <h2>Product Description</h2>
                <p>{{ product.description }}</p>
            </div>
            <div class="prod-additional">
                {%- if product.metafields.plytix.package_products != blank -%}
                    {%- assign bundle_product_arr = product.metafields.plytix.package_products | split: ", " -%}
                    <div class="bnd-prod-inc-contain">
                        <h2>Package Includes</h2>

                        {% for bundlehandle in bundle_product_arr %}
                            {% assign attrbp = bundlehandle | split: "#" %}
                            {% assign productbp = attrbp[0] | strip %}
                            {% assign productqtybp = attrbp[1] | strip %}
                            <div class="bnd-child-ea">
                                <div class="bnd-child" data-qty="{{ productqtybp }}" data-handle="{{ productbp }}"><div style="padding-left:10px">Loading...</div></div>
                            </div>
                        {% endfor %}

                        {% if product.metafields.plytix.packaged_free_product != blank %}
                            {%- assign free_products_arr = product.metafields.plytix.packaged_free_product | split: "," -%}
                            {% for freebundlehandle in free_products_arr %}
                                {% assign attr = freebundlehandle | split: "#" %}
                                {% assign productfg = attr[0] | strip %}
                                {% assign productqtyfg = attr[1] | strip %}
                                <div class="bnd-child-ea free-product">
                                    <div class="fg-header"><strong>FREE Products!</strong><strong class="{{ attr[0] }}-fg-value" style="float:right;"></strong></div>
                                    <div class="bnd-child" data-qty="{{ productqtyfg }}" data-handle="{{ productfg }}"><div style="padding-top:5px; padding-left:10px">Loading...</div></div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>

                    <style>
                        .bnd-prod-inc-contain .bnd-child-ea{
                            border-top:1px solid #ccc;
                            padding:10px 0;
                        }

                        .bnd-prod-inc-contain table{
                            padding:0 5px;
                        }
                        .bnd-prod-inc-contain .bnd-child-image img{
                            padding-right:10px;
                        }
                        .bnd-prod-inc-contain .bnd-child-title{
                            font-size: 18px;
                            padding:10px 0 5px 0;
                        }
                        .bnd-prod-inc-contain .bnd-child-qty{
                            margin:3px 0;
                        }
                        .bnd-prod-inc-contain .bnd-child-sku{
                            margin:0 0 3px 0;
                        }
                        .bnd-prod-inc-contain .bnd-child-price strong{
                            color:{{ settings.color_button_secondary_background }}
                        }
                        .bnd-prod-inc-contain .details{
                            font-size:17px;
                            font-weight: bold;
                            margin:3px 0;
                        }
                        .bnd-prod-inc-contain ul{
                            margin:3px;
                        }
                        .bnd-prod-inc-contain ul li{
                            margin:0;
                            line-height:20px;
                        }
                        .bnd-prod-inc-contain .bnd-child-ea.free-product{
                            border:3px solid {{ settings.color_button_secondary_background }};
                            border-radius: 10px;
                            padding:0 0 10px 0;
                        }
                        .bnd-prod-inc-contain .fg-header{
                            background: {{ settings.color_button_secondary_background }};
                            font-size:18px;
                            color:#fff;
                            padding:5px 10px;
                        }
                        .bnd-prod-inc-contain .bnd-child-ea.free-product .bnd-child-price .pricebold{
                            text-decoration: line-through;
                            font-weight:normal;
                            color:black;
                        }
                        @media (max-width: 479px){
                            .bnd-prod-inc-contain .fg-header{
                                font-size:15px;
                            }
                            .bnd-prod-inc-contain table,
                            .bnd-prod-inc-contain td{
                                display:block;
                                width:100%
                            }
                            .bnd-prod-inc-contain .bnd-child-image{
                                text-align:center;
                            }
                            .bnd-prod-inc-contain .bnd-child-image img{
                                padding:5px 0;
                            }
                            .bnd-prod-inc-contain table{
                                padding:0 10px;
                            }
                        }
                    </style>

                    <script>
                        $(document).ready(function($){
                            // bundle
                            $( ".bnd-prod-inc-contain .bnd-child" ).each(function() {
                                const childhandle = $(this).data('handle');
                                const childqty = parseFloat($(this).data('qty'));
                                const fetchUrl = `${window.Theme.routes.all_products_collection_url}/products/${childhandle}?view=bundle-child-notes`;
                                var stockhtml = $('.bnd-product-row[data-handle="'+childhandle+'"] .pop-stock').html();
                                $.get(fetchUrl).then(response => {
                                    if (response) {
                                        if(response.includes("data-child-title")){
                                            $(this).html(response);
                                            setTimeout(() => {
                                                var childprice = parseFloat($("."+childhandle+"-price").data('price'));
                                                var totalprice = childprice*childqty/100;
                                                $("."+childhandle+"-qty").html("<strong>Package Quantity:</strong> "+childqty);
                                                $(".bnd-child-ea.free-product ."+childhandle+"-price span").html("<strong> Free!</strong>");
                                                $("."+childhandle+"-stock").html(stockhtml);
                                                $("."+childhandle+"-fg-value").html("$"+totalprice.toFixed(2)+" Value!");
                                            }, 500);
                                        }
                                    }else{
                                        console.log('product not returned');
                                    }
                                })
                            });
                        });
                    </script>

                {%- endif -%}

                {% if product.metafields.plytix.in_these_bundles %}

                    <h2 class="inbundle-title" id="bundles">Starter Package<span>s</span></h2>
                    <div class="inbundle-block">
                        {%- assign in_bundles_arr = product.metafields.plytix.in_these_bundles | split: ", " -%}
                        {%- assign bnd_counter = 0 -%}
                        {% for bundlehandle in in_bundles_arr %}
                            {% if bundlehandle != "" and bundlehandle != "undefined" %}
                                <div class="inbundle" data-handle="{{ bundlehandle }}"></div>
                                {%- assign bnd_counter = bnd_counter | plus: 1 -%}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <style>
                        {%- if bnd_counter == 1 -%}
                        .inbundle-title span{display:none;}
                        {% endif %}
                        .inbundle{
                            margin-bottom:15px;
                            padding-bottom:15px;
                            border-bottom:1px solid #C0D3D8;
                        }
                        .inbundle:last-child{
                            border-bottom:none;
                            margin-bottom:10px;
                            padding-bottom:10px;
                        }
                        .inbundle-block .fgtotal{
                            color:red;
                        }
                        .inbundle-block .fgtotal span{
                            font-weight: bold;
                        }
                        .inbundle-block .inbundle-title{
                            padding-bottom:10px;
                        }
                        .inbundle-block table .inbundle-content{
                            padding-left: 15px;

                        }
                        .inbundle-block table .inbundle-image{
                            vertical-align: top;
                        }
                        @media screen and (max-width: 859px) {
                            .inbundle-block table td{
                                display:inline-block;
                                text-align:center;
                                width:100%;
                                padding:3px 0!important;
                                margin:0;
                            }
                            .inbundle-block .fgtotal{
                                display:block;
                                padding:5px 0;
                            }
                        }
                    </style>
                    <script>
                        $(document).ready(function($){
                        // bundle
                        $( ".inbundle-block .inbundle" ).each(function() {
                        const handle = $(this).data('handle');
                        const fetchUrl = `${window.Theme.routes.all_products_collection_url}/products/${handle}?view=bundle-paragraph`;
                        $.get(fetchUrl).then(response => {
                        if (response) {
                        if(response.includes("data-bundle-title")){
                        $(this).html(response);

                        }
                        }else{
                        console.log('product not returned');
                        }
                        })
                        });
                        });
                    </script>
                {% endif %}
                {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com" -%}
                    <div class="padcharacteristics">
                        {% if product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping  %}
                            <h2 class="prod-block-title">Pad Characteristics</h2>
                        {% endif %}


                        {% if product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping and product.has_only_default_variant %}
                            {%
                                    render 'pad-life',
                                    location: 'product',
                                    padtype: product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping,
                                    padsize: product.first_available_variant.metafields.plytix.brush_pad_diameter
                            %}
                        {% elsif product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping == "Black Diamond Pads" %}
                            {% assign padcolor = product.first_available_variant.metafields.plytix.color %}
                            {% assign diamondcat = "" %}
                            {% if padcolor == "White" or padcolor == "Yellow" or padcolor == "Green" %}
                                {% assign diamondcat = "diamondhilo" %}
                            {% elsif padcolor == "Red" %}
                                {% assign diamondcat = "diamondlo" %}
                            {% endif %}
                            {% if diamondcat != "" %}
                                {%
                                        render 'pad-life',
                                        location: 'product',
                                        padtype: diamondcat,
                                        padsize: ""
                                %}
                            {% endif %}
                        {% endif %}


                        {% if product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping and product.metafields.plytix.eco_friendly %}
                            {% assign case_qty = product.first_available_variant.metafields.plytix.qty_per_carton | times: 1 %}


                            {% if product.first_available_variant.metafields.plytix.brush_pad_diameter %}
                                <hr style="border:0; border-top:1px solid #eee;" />
                                {% assign padsize = product.first_available_variant.metafields.plytix.brush_pad_diameter | replace: " inches", "" %}
                                {%- assign bottleSavedLookup = "
                                    6.5:0.85;
                                    8:1.14;
                                    9.5:1.7;
                                    10:1.9;
                                    11:2.3;
                                    12:2.7;
                                    13:3.2;
                                    14:3.7;
                                    15:4.3;
                                    16:4.9;
                                    17:5.5;
                                    18:6.2;
                                    19:6.9;
                                    20:7.6;
                                    21:8.4;
                                    22:9.2;
                                    23:10.0;
                                    24:10.9;
                                    27:13.9;
                                    28:14.9
                                " | split: ";"%}
                                {%- assign found = false -%}
                                {% for sizeValue in bottleSavedLookup  %}
                                    {%- assign sizeValueArray = sizeValue | split: ":" -%}
                                    {%- assign sizeValueCheck = sizeValueArray[0] | strip -%}
                                    {% if padsize == sizeValueCheck and case_qty > 0 %}
                                        {%- assign bottlesSaved = sizeValueArray[1] | times: case_qty -%}
                                        {%- assign bottlesSaved = bottlesSaved | floor -%}
                                        <div style="display:flex">
                                            <div>
                                                <a href="/pages/environmental-savings-calculator"><img style="float:left; padding-right:15px; padding-top:3px; width:75px;" src="{{ 'recycle-bottles.jpg' | file_img_url }}" alt="Bottles Saved"/></a>
                                            </div>
                                            <div>
                                                <div style="font-weight:bold; font-size:12px;">Bottles Saved Estimate</div>
                                                <div style="font-size:12px; line-height:26px; padding:3px 2px 0px 0" datacase="{{ case_qty }}" datasaved="{{ sizeValueArray[1] }}" ><span style="color:#2a96d0; font-weight:bold; font-size:26px;"> {{ bottlesSaved }} Bottles</span> per Case</div>
                                                <div style="font-size:12px;">Calculate how many bottles you save when using this pad with our handy <a href="/pages/environmental-savings-calculator">savings calculator</a>.</div>
                                            </div>
                                        </div>
                                         {%- assign found = true -%}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}

                                {% if found == false %}
                                    <div style="display:flex">
                                        <div>
                                            <a href="/pages/environmental-savings-calculator"><img style="float:left; padding-right:15px; padding-top:3px; width:75px;" src="{{ 'recycle-bottles.jpg' | file_img_url }}" alt="Bottles Saved"/></a>
                                        </div>
                                        <div>
                                            <div style="font-size:26px; font-weight:bold; color:#2a96d0;"><a style="font-size:12px; color:{{ settings.color_text }}; text-decoration:none;" href="/pages/environmental-savings-calculator">Environmental Savings Calculator</a></div>
                                            <div style="font-size:12px;">Calculate how many bottles you save when using this pad with our handy <a href="/pages/environmental-savings-calculator">savings calculator</a>.</div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}



                            <hr style="border:0; border-top:1px solid #eee;" />
                            <div style="display:flex">
                                <div>
                                    <img style="padding-right:15px; width:75px; margin-top:1px" src="{{ 'green-seal-certified-logo.jpg' | file_img_url }}" alt="Green Seal Certified"/>
                                </div>
                                <div>
                                    <div style="font-weight:bold; font-size:12px;">Green Seal™ Standard</div>
                                    <div style="font-size:12px;">This product meets <em>Green Seal</em> Standard GS-20 for Environmental Innovation based on faster biodegradation in landfill conditions and 100% recycled content/natural fiber.<br/>Please see <a href="https://greenseal.org/splash/">GreenSeal.org</a> for more info.
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {%- assign padDriver = false -%}
                        {% for c in product.collections %}
                            {% if c.handle == "auto-scrubber-pad-drivers" or c.handle == "floor-buffer-pad-drivers" %}
                                {%- assign padDriver = true -%}
                            {% endif %}
                        {% endfor %}

                        {% if padDriver == true and product.first_available_variant.metafields.plytix.brush_pad_diameter != blank %}
                            {%- assign sizeQuery = "" -%}
                            {% if product.first_available_variant.metafields.plytix.brush_pad_diameter == "6.5 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '6.5"' -%}
                                {%- assign scrubbing = "pacific-6-inch-red-baseboard-buffing-pads,pacific-6-inch-green-baseboard-scrubbing-pads" -%}
                                {%- assign polishing = "pacific-6-inch-white-baseboard-buffing-pads" -%}
                                {%- assign stripping = "pacific-6-inch-black-baseboard-wax-stripping-pads" -%}
                                {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "8 inches" %}
                            {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '8"' -%}
                                {%- assign scrubbing = "motorscrubber-8-inch-red-floor-buffing-pads,motorscrubber-8-inch-blue-medium-duty-floor-scrubbing-pads,motorscrubber-8-inch-green-heavy-duty-floor-scrubbing-pads" -%}
                                {%- assign polishing = "motorscrubber-8-inch-white-floor-buffing-and-polishing-pads" -%}
                                {%- assign stripping = "motorscrubber-8-inch-black-floor-stripping-pads-case-of-10" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "10 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '10"' -%}
                                {%- assign scrubbing = "10-inch-red-scrubbing-floor-pads,blue-floor-scrubbing-10-inch-pads,10-inch-deep-scrubbing-green-floor-pads" -%}
                                {%- assign polishing = "10-inch-white-polishing-and-buffing-pads" -%}
                                {%- assign stripping = "10-inch-black-strip-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "12 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '12"' -%}
                                {%- assign scrubbing = "12-inch-red-floor-wax-buffing-pads,12-inch-blue-cleaning-pad,12-inch-green-top-layer-removal-pad" -%}
                                {%- assign polishing = "12-inch-white-floor-polish-buff-pads" -%}
                                {%- assign stripping = "12-inch-black-commercial-floor-strip-pad" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "13 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '13"' -%}
                                {%- assign scrubbing = "13-inch-red-commercial-floor-buffing-pad,13-inch-blue-floor-wax-cleaning-pad,13-inch-green-deep-scrubbing-pad" -%}
                                {%- assign polishing = "rotary-floor-machine-polishing-pad" -%}
                                {%- assign stripping = "13-inch-buffer-black-stripping-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "14 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '14"' -%}
                                {%- assign scrubbing = "14-inch-red-buffing-pad,14-inch-blue-floor-scrubbing-pad,14-inch-green-commercial-hd-scrub-pads" -%}
                                {%- assign polishing = "14-inch-white-scrub-polish-pads" -%}
                                {%- assign stripping = "14-inch-black-stripping-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "15 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '15"' -%}
                                {%- assign scrubbing = "15-inch-red-buffing-scrubbing-pads,15-inch-blue-floor-clean-scrub-pad,15-inch-175-rpm-green-scrubbing-pad" -%}
                                {%- assign polishing = "15-inch-175-rpm-floor-buffing-pads" -%}
                                {%- assign stripping = "15-inch-black-rotary-floor-stripping-pad" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "16 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '16"' -%}
                                {%- assign scrubbing = "16-inch-red-floor-scrubbing-pads,16-inch-blue-175-rpm-cleaning-pad,16-inch-green-deep-scrubbing-floor-pads" -%}
                                {%- assign polishing = "" -%}
                                {%- assign stripping = "16-inch-black-stripping-pad" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "17 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '17"' -%}
                                {%- assign scrubbing = "17-inch-red-floor-buffing-scrubbing-pads,17-inch-blue-cleaning-scrubbing-pads,17-inch-green-deep-scrubbing-buffer-pads" -%}
                                {%- assign polishing = "17-inch-white-commercial-floor-buff-pads" -%}
                                {%- assign stripping = "cleanfreak-17-inch-brown-wet-and-dry-floor-stripping-pads,17-inch-black-stripping-floor-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "18 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '18"' -%}
                                {%- assign scrubbing = "18-inch-red-light-duty-scrub-pads,18-inch-blue-auto-scrubber-floor-pads,18-inch-green-heavy-duty-floor-scrub-pad" -%}
                                {%- assign polishing = "18-inch-white-floor-maintenance-pad" -%}
                                {%- assign stripping = "18-inch-black-floor-stripping-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "20 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '20"' -%}
                                {%- assign scrubbing = "20-inch-red-floor-buffing-pad,20-inch-blue-floor-scrubbing-pads,20-inch-green-rotary-scrubbing-pad" -%}
                                {%- assign polishing = "20-inch-floor-scrubber-polishing-pads" -%}
                                {%- assign stripping = "cleanfreak-20-inch-brown-wet-and-dry-floor-stripping-pads,20-inch-black-floor-wax-stripping-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "21 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '21"' -%}
                                {%- assign scrubbing = "" -%}
                                {%- assign polishing = "21-inch-white-propane-floor-polishing-pads" -%}
                                {%- assign stripping = "" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "24 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '24"' -%}
                                {%- assign scrubbing = "" -%}
                                {%- assign polishing = "24-inch-white-propane-burnisher-floor-polishing-pads" -%}
                                {%- assign stripping = "24-inch-black-floor-stripping-pads" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "27 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '27"' -%}
                                {%- assign scrubbing = "" -%}
                                {%- assign polishing = "27-inch-white-high-speed-floor-burnishing-pads" -%}
                                {%- assign stripping = "" -%}
                            {% elsif product.first_available_variant.metafields.plytix.brush_pad_diameter == "28 inches" %}
                                {%- assign sizeQuery = product.first_available_variant.metafields.plytix.brush_pad_diameter -%}
                                {%- assign sizelable = '28"' -%}
                                {%- assign scrubbing = "" -%}
                                {%- assign polishing = "28-white-propane-floor-burnisher-pads" -%}
                                {%- assign stripping = "" -%}
                            {% endif %}
                            <style>
                                .pad-used-grp-title{
                                    margin-top:10px;
                                }
                                .pad-used-grp-title a{
                                    font-weight:bold;
                                    color:#303e48;
                                    text-decoration:none;
                                    font-size:16px;
                                }
                                .pad-used-grp-title a:hover{
                                    text-decoration:underline;
                                }
                                .prod-used-pads{
                                    border-collapse: collapse;
                                    width:100%;
                                }
                                .prod-used-pads a{
                                    color:#303e48;
                                    text-decoration:none;
                                }
                                .prod-used-pads tr{
                                    background:#F2F7FB;
                                }
                                .prod-used-pads tr:nth-child(odd){
                                    background:#DEF1F8;
                                }
                                .prod-used-pads tr:hover:nth-child(odd),
                                .prod-used-pads tr:hover{
                                    background:#ffffff;
                                }
                                .prod-used-pads tr:first-child{
                                    border-top:1px solid black;
                                }
                                .prod-used-pads tr:last-child{
                                    border-bottom:1px solid black;
                                }
                                .prod-used-pads td{
                                    padding:5px 5px;
                                    line-height:16px;
                                }
                                .prod-used-pads td.case-qty{
                                    width:70px;
                                    text-align:center;
                                }
                                .prod-used-pads td .padCase{
                                    font-weight:bold;
                                    color:#e64d25;
                                }
                                .prod-used-pads td .single-price{
                                    font-weight:bold;
                                }
                                .prod-used-pads td .perCase,
                                .prod-used-pads td.pad-desciption{
                                    font-size:14px;
                                    line-height:17px;
                                }
                                @media screen and (max-width: 1023px) {
                                    .prod-used-pads td{
                                        padding:7px;
                                    }
                                    .prod-used-pads a, .prod-used-pads td .single-price{
                                        font-size:13px !important;
                                    }
                                }
                                @media screen and (max-width: 479px) {
                                    .prod-additional{
                                        margin: 0 -20px 0 -20px;
                                    }
                                    .pad-price{
                                        display:none;
                                    }
                                }

                            </style>
                              {% if sizeQuery != "" %}
                                  {%- assign scrubbingArr = scrubbing | split: "," -%}
                                  {%- assign polishingArr = polishing | split: "," -%}
                                  {%- assign strippingArr = stripping | split: "," -%}
                                <h2 class="prod-block-title">Pad Capability</h2>
                                <hr style="border:0; border-top:1px solid #eee;">
                                <div class="prod-used-pads-block">
                                    {% if scrubbing != "" %}
                                        <div class="pad-used-grp-title"><a href="/collections/floor-scrubbing-pads?refinementList[meta.plytix.brush_pad_diameter][0]={{ sizeQuery }}">{{ sizelable }} Scrubbing Pads</a></div>
                                        <table class="prod-used-pads">
                                            <tbody>
                                                {% for scrubbingHandle in scrubbingArr %}
                                                    <tr class="pad-row" data-handle="{{ scrubbingHandle }}"><td>Loading...</td></tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    {% if polishing != "" %}
                                        <div class="pad-used-grp-title"><a href="/collections/floor-polishing-pads?refinementList[meta.plytix.brush_pad_diameter][0]={{ sizeQuery }}">{{ sizelable }} Polishing Pads</a></div>
                                        <table class="prod-used-pads">
                                            <tbody>
                                            {% for polishingHandle in polishingArr %}
                                                <tr class="pad-row" data-handle="{{ polishingHandle }}"><td>Loading...</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    {% if stripping != "" %}
                                    <div class="pad-used-grp-title"><a href="/collections/floor-stripping-pads?refinementList[meta.plytix.brush_pad_diameter][0]={{ sizeQuery }}">{{ sizelable }} Stripping Pads</a></div>
                                        <table class="prod-used-pads">
                                            <tbody>
                                            {% for strippingHandle in strippingArr %}
                                                <tr class="pad-row" data-handle="{{ strippingHandle }}"><td>Loading...</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                                  <script>
                                      $(document).ready(function($){
                                      // pad rows
                                          $( ".prod-used-pads-block .pad-row" ).each(function() {
                                              const handle = $(this).data('handle');
                                              const fetchUrl = `${window.Theme.routes.all_products_collection_url}/products/${handle}?view=padrow`;
                                              $.get(fetchUrl).then(response => {
                                                  if (response) {
                                                      if(response.includes("data-pad-title")){
                                                          $(this).html(response);

                                                      }
                                                  }else{
                                                      console.log('product not returned');
                                                  }
                                              })
                                          });
                                      });
                                  </script>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

                 {%- assign chem_guide = false -%}
                    {% for c in product.collections %}
                        {% comment %} if c.handle == "floor-buffers" or c.handle == "walk-behind-auto-scrubbers" or c.handle == "ride-on-auto-scrubbers" {% endcomment %}
                        {% if c.handle == "walk-behind-auto-scrubbers" or c.handle == "ride-on-auto-scrubbers" or c.handle == "floor-buffers" %}
                            {%- assign chem_guid = true -%}
                        {% endif %}
                    {% endfor %}

                    {% if chem_guid == true %}
                        <style>
                            .chemical-guide h3{
                                color: #303e48;
                            }
                            .chemical-guide h4{
                                margin: 20px 0 5px 0;
                                font-size:16px;
                                font-weight:bold;
                            }
                            .chemical-guide a{
                                color:#303e48;
                                text-decoration:none;
                            }

                            .chemical-guide table{
                                border-collapse: collapse;
                                width:100%;
                            }
                            .chemical-guide tr{
                                background:#F2F7FB;
                            }
                            .chemical-guide tr:nth-child(odd){
                                background:#DEF1F8;
                            }
                            .chemical-guide tr:first-child{
                                border-top:1px solid black;
                            }
                            .chemical-guide tr:last-child{
                                border-bottom:1px solid black;
                            }
                            .chemical-guide td{
                                padding: 10px;
                                font-size:14px;
                                line-height:17px;
                            }
                            .chemical-guide td strong{
                                font-size:17px;
                            }
                            .chemical-guide .chem-type{
                                width: 124px;
                            }
                            .chem-price .single-price{
                                font-weight: bold;
                            }

                            @media screen and (max-width: 1023px) {

                                .chemical-guide td{
                                    padding:7px;
                                }
                                .chemical-guide a, .chemical-guide td strong{
                                    font-size:13px !important;
                                }
                            }
                            @media screen and (max-width: 479px) {
                                .prod-additional {
                                    margin: 0 -20px 0 -20px;
                                }
                                .chem-price{
                                    display:none;
                                }

                            }
                        </style>


                        {%- assign chemicalsHand = "cleanfreak-neutral-clean-floor-cleaning-solution,cleanfreak-magnifico-lavender-scented-floor-cleaning-solution,cleanfreak-low-foam-floor-cleaning-degreaser,cleanfreak-eliminator-heavy-duty-floor-cleaning-degreaser" -%}
                        {%- assign chemicalsArr = chemicalsHand | split: "," -%}

                        <h2 class="prod-block-title">Chemical Recommendations</h2>
                        <div style="margin-top:17px;" class="chemical-guide">
                            <table>
                            {% for chemical in chemicalsArr %}
                                <tr class="chemical-guide-item" data-handle="{{ chemical }}"><td>Loading...</td></tr>
                            {% endfor %}
                            </table>
                        </div>
                              <script>
                                  $(document).ready(function($){
                                  // pad rows
                                      $( ".chemical-guide .chemical-guide-item" ).each(function() {
                                          const handle = $(this).data('handle');
                                          const fetchUrl = `${window.Theme.routes.all_products_collection_url}/products/${handle}?view=chemrow`;
                                          $.get(fetchUrl).then(response => {
                                              if (response) {
                                                  if(response.includes("data-chem-title")){
                                                      $(this).html(response);

                                                  }
                                              }else{
                                                  console.log('product not returned');
                                              }
                                          })
                                      });
                                  });
                              </script>
                        {% endif %}



            </div>
        </div>
        <div class="desc-col-2">
            <div class="short-description">
                <h2>Quick Overview</h2>
                {{ product.metafields.plytix.short_description }}
            </div>
            <div class="app-area">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when '@app' %}
                            <div class="app-block">
                                {% render block %}
                            </div>
                        {% when 'image' %}
                            <div class="image-block" style="padding-bottom:10px;">
                                <img class="img-responsive" src="{{ block.settings.sidebanner | img_url: '652x652' }}" alt="{{ block.settings.sidebanner.alt }}">
                            </div>
                        {% when 'custom_liquid' %}
                            <div class="cust-liquid-block">
                                {% if block.settings.title != blank %}
                                    <h2 class="custom-liquid-title">
                                        {{ block.settings.title | escape }}
                                    </h2>
                                {% endif %}
                                {% if block.settings.custom_liquid != blank %}
                                    <div class="custom-liquid-text">
                                        {{ block.settings.custom_liquid }}
                                    </div>
                                {% endif %}
                            <div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
        <div class="video-area-dynamic">
            {% if product.metafields.plytix.product_video != blank or product.metafields.plytix.local_video != blank%}
                <section class="product-video">
                    <div class="section-heading">
                        <h2>Videos</h2>
                    </div>
                    {% assign pvideo = product.metafields.plytix.product_video | split: ";" %}
                    {% assign lvideo = product.metafields.plytix.local_video | split: ";" %}
                    {% for vid in lvideo %}
                        {% assign pyt = vid | split: "::" %}
                        <div class="container">
                            <div class="video-wrap-local">
                                <video controls="controls" style="width: 100%; height: auto;">
                                    <source src="https://cdn.shopify.com/videos/c/o/v/{{ pyt[0] }}" type="video/mp4" />
                                    Your browser does not support our video.
                                </video>
                            </div>
                            {% if pyt[1] != "None" %}
                                <div class="info-wrap">
                                    {{ pyt[1] }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% for vid in pvideo %}
                        {% assign pyt = vid | split: "::" %}
                        <div class="container">
                            <div class="video-wrap">
                                {% if pyt[0] contains "vimeo" %}
                                    {% assign vimeoid = pyt[0] | replace: "vimeo-","" %}
                                    {% comment %}<iframe src="https://player.vimeo.com/video/474973525?h=9cd571a900&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>{% endcomment %}
                                     <iframe src="https://player.vimeo.com/video/{{ vimeoid }}?title=0&byline=0&portrait=0?loop=1&modestbranding=1" frameborder="0" title="{{ pyt[1] | escape }}"></iframe>
                                {% else %}
                                    <iframe src="https://www.youtube.com/embed/{{ pyt[0] }}?loop=1&modestbranding=1" frameborder="0" title="{{ pyt[1] | escape }}"></iframe>
                                {% endif %}
                            </div>
                            {% if pyt[1] != "None" %}
                                <div class="info-wrap">
                                    {{ pyt[1] }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </div>
</section>
        <div class="clearer"></div>
{% schema %}
{
    "name": "product-info-features",
    "class": "product-info-features--section",
    "presets": [
        {
            "category": "product-info-features-section",
            "name": "Product Info and Features",
            "settings": {
            }
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "custom_liquid",
            "name": "Custom Liquid",
            "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Custom Liquid",
                "default": "Custom Liquid"
            },
             {
                "type": "liquid",
                "id": "custom_liquid",
                "label": "Custom Liquid",
                "info": "Custom Liquid"
            }
            ]
        },
        {
            "type": "image",
            "name": "Image Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "sidebanner",
                    "label": "Product Side Banner",
                    "info": "Product Side Banner"
                }
            ]
        }
    ]
}
{% endschema %}