{% if product.metafields.plytix.package_products != blank %}
<section class="product-single-desc bundle-specs" id="product-single-desc" style="padding-top: 0;">
    <div class="container" style="border: 0;">
{% else %}
        <section class="product-single-desc" id="product-single-desc">
            <div class="container">
{% endif %}

        {% comment %} Org Layout
        <div class="row">
            <div class="full">
                <h2>Product Description</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
        {% endcomment %}

        <div class="desc-col-1">
            <div class="description">
                <h2>Product Description</h2>
                <p>{{ product.description }}</p>
            </div>
            <div class="prod-additional">
                {%- if shop.permanent_domain contains "cleanfreak-dev.myshopify.com" or shop.permanent_domain contains "cleanfreak-prod.myshopify.com" -%}

                    {% if product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping  %}
                        <h3 style="padding:10px 0 10px; margin-bottom:10px;" class="prod-block-title">Pad Characteristics</h3>
                    {% endif %}


                    {% if product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping and product.has_only_default_variant %}
                        {%
                                render 'pad-life',
                                location: 'product',
                                padtype: product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping,
                                padsize: product.first_available_variant.metafields.plytix.brush_pad_diameter
                        %}
                    {% elsif product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping == "Black Diamond Pads" %}
                        {% assign padcolor = product.first_available_variant.metafields.plytix.color %}
                        {% assign diamondcat = "" %}
                        {% if padcolor == "White" or padcolor == "Yellow" or padcolor == "Green" %}
                            {% assign diamondcat = "diamondhilo" %}
                        {% elsif padcolor == "Red" %}
                            {% assign diamondcat = "diamondlo" %}
                        {% endif %}
                        {% if diamondcat != "" %}
                            {%
                                    render 'pad-life',
                                    location: 'product',
                                    padtype: diamondcat,
                                    padsize: ""
                            %}
                        {% endif %}
                    {% endif %}


                    {% if product.first_available_variant.metafields.plytix.pad_life_expectancy_grouping and product.metafields.plytix.eco_friendly %}
                        {% assign case_qty = product.first_available_variant.metafields.plytix.qty_per_carton | times: 1 %}


                        {% if product.first_available_variant.metafields.plytix.brush_pad_diameter %}
                            <hr style="border:0; border-top:1px solid #eee;" />
                            {% assign padsize = product.first_available_variant.metafields.plytix.brush_pad_diameter | replace: " inches", "" %}
                            {%- assign bottleSavedLookup = "
                                6.5:0.85;
                                8:1.14;
                                9.5:1.7;
                                10:1.9;
                                11:2.3;
                                12:2.7;
                                13:3.2;
                                14:3.7;
                                15:4.3;
                                16:4.9;
                                17:5.5;
                                18:6.2;
                                19:6.9;
                                20:7.6;
                                21:8.4;
                                22:9.2;
                                23:10.0;
                                24:10.9;
                                27:13.9;
                                28:14.9
                            " | split: ";"%}
                            {%- assign found = false -%}
                            {% for sizeValue in bottleSavedLookup  %}
                                {%- assign sizeValueArray = sizeValue | split: ":" -%}
                                {%- assign sizeValueCheck = sizeValueArray[0] | strip -%}
                                {% if padsize == sizeValueCheck and case_qty > 0 %}
                                    {%- assign bottlesSaved = sizeValueArray[1] | times: case_qty -%}
                                    {%- assign bottlesSaved = bottlesSaved | floor -%}
                                    <div style="display:flex">
                                        <div>
                                            <a href="/docs/charts/savings-calculator.html"><img style="float:left; padding-right:15px; padding-top:3px; width:75px;" src="{{ 'recycle-bottles.jpg' | file_img_url }}" alt="Bottles Saved"/></a>
                                        </div>
                                        <div>
                                            <div style="font-weight:bold; font-size:12px;">Bottles Saved Estimate</div>
                                            <div style="font-size:12px; line-height:26px; padding:3px 2px 0px 0" datacase="{{ case_qty }}" datasaved="{{ sizeValueArray[1] }}" ><span style="color:#2a96d0; font-weight:bold; font-size:26px;"> {{ bottlesSaved }} Bottles</span> per Case</div>
                                            <div style="font-size:12px;">Calculate how many bottles you save when using this pad with our handy <a href="/pages/savings-calculator">savings calculator</a>.</div>
                                        </div>
                                    </div>
                                     {%- assign found = true -%}
                                    {% break %}
                                {% endif %}
                            {% endfor %}

                            {% if found == false %}
                                <div style="display:flex">
                                    <div>
                                        <a href="/docs/charts/savings-calculator.html"><img style="float:left; padding-right:15px; padding-top:3px; width:75px;" src="{{ 'recycle-bottles.jpg' | file_img_url }}" alt="Bottles Saved"/></a>
                                    </div>
                                    <div>
                                        <div style="font-size:26px; font-weight:bold; color:#2a96d0;"><a style="font-size:12px; color:{{ settings.color_text }}; text-decoration:none;" href="/pages/savings-calculator">Environmental Savings Calculator</a></div>
                                        <div style="font-size:12px;">Calculate how many bottles you save when using this pad with our handy <a href="/pages/savings-calculator">savings calculator</a>.</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}



                        <hr style="border:0; border-top:1px solid #eee;" />
                        <div style="display:flex">
                            <div>
                                <img style="padding-right:15px; width:75px; margin-top:1px" src="{{ 'green-seal-certified-logo.jpg' | file_img_url }}" alt="Green Seal Certified"/>
                            </div>
                            <div>
                                <div style="font-weight:bold; font-size:12px;">Green Seal™ Standard</div>
                                <div style="font-size:12px;">This product meets <em>Green Seal</em> Standard GS-20 for Environmental Innovation based on faster biodegradation in landfill conditions and 100% recycled content/natural fiber.<br/>Please see <a href="https://greenseal.org/splash/">GreenSeal.org</a> for more info.
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="desc-col-2">
            <div class="short-description">
                <h2>Quick Overview</h2>
                {{ product.metafields.plytix.short_description }}
            </div>
            <div class="app-area">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when '@app' %}
                            <div class="app-block">
                                {% render block %}
                            </div>
                        {% when 'image' %}
                            <div class="image-block" style="padding-bottom:10px;">
                                <img class="img-responsive" src="{{ block.settings.sidebanner | img_url: '652x652' }}" alt="{{ block.settings.sidebanner.alt }}">
                            </div>
                        {% when 'custom_liquid' %}
                            <div class="cust-liquid-block">
                                {% if block.settings.title != blank %}
                                    <h2 class="custom-liquid-title">
                                        {{ block.settings.title | escape }}
                                    </h2>
                                {% endif %}
                                {% if block.settings.custom_liquid != blank %}
                                    <div class="custom-liquid-text">
                                        {{ block.settings.custom_liquid }}
                                    </div>
                                {% endif %}
                            <div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
        <div class="video-area-dynamic">
            {% if product.metafields.plytix.product_video != blank %}
                <section class="product-video">
                    <div class="section-heading">
                        <h2>Videos</h2>
                    </div>
                    {% assign pvideo = product.metafields.plytix.product_video | split: ";" %}
                    {% for vid in pvideo %}
                        {% assign pyt = vid | split: "::" %}
                        <div class="container">
                            <div class="video-wrap">
                                <iframe src="https://www.youtube.com/embed/{{ pyt[0] }}?loop=1&modestbranding=1" frameborder="0"></iframe>
                            </div>
                            {% if pyt[1] != "None" %}
                                <div class="info-wrap">
                                    {{ pyt[1] }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </div>
</section>
        <div class="clearer"></div>
{% schema %}
{
    "name": "product-info-features",
    "class": "product-info-features--section",
    "presets": [
        {
            "category": "product-info-features-section",
            "name": "Product Info and Features",
            "settings": {
            }
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "custom_liquid",
            "name": "Custom Liquid",
            "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Custom Liquid",
                "default": "Custom Liquid"
            },
             {
                "type": "liquid",
                "id": "custom_liquid",
                "label": "Custom Liquid",
                "info": "Custom Liquid"
            }
            ]
        },
        {
            "type": "image",
            "name": "Image Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "sidebanner",
                    "label": "Product Side Banner",
                    "info": "Product Side Banner"
                }
            ]
        }
    ]
}
{% endschema %}