<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-footer">
</script>

<footer role="contentinfo" aria-label="Footer">
  <section class="site-footer-wrapper">

    {%- if shop.permanent_domain contains "cleanfreak" -%}
      <div class="t2u-slideout" style="display:none;">
        <div class="t2u-slideout-contain">
          <h2>Reach Out to Us!</h2>
          <div class="t2u-slideout-banner-contain"><img class="img-responsive t2u-slideout-banner" src="{{ 'typer-800x.jpg' | file_url }}" alt="Contact Us" /></div>
          <div class="t2u-slideout-text">
            At CleanFreak.com, our team of cleaning enthusiasts is trained to help you find the perfect product or tackle any cleaning conundrum.
            <br/><br/>
            Got questions? Chat with us for instant answers or call to talk to a real human who gets it. We’re here to make your day cleaner and brighter—one conversation at a time!
          </div>
          <div class="t2u-contact-info-slideout">
            <div class="t2u-phone"><i class="fa-regular fa-phone"></i><a class="phone" href="tel:{{ settings.phone_number }}" target="_blank" rel="noreferrer noopener">{{ settings.phone_number }}</a></div>
            <div class="t2u-chat"><i class="fa-regular fa-comment"></i><div data-id="eTgpvtKLfDF" class="livechat_button"><a href="https://www.livechat.com/?utm_source=chat_button&utm_medium=referral&utm_campaign=lc_14667759"><span class="atc-button--text">Live Chat</span></a></div>
            </div>
          </div>

        </div>
      </div>
      <script>

        jQuery(document).ready(function($) {
          $('.launch-t2u-side').on('click', function (e) {

            var formhtml = $('.t2u-slideout').html();

            $('.popup-container .content').html(formhtml);
            $('.popup-container').addClass('rightpop');

            $('.popup-container').removeClass('hidden');
            $(".pop-grad").removeClass('hidden');

          });
        });
      </script>
    {%- endif -%}

    {%- if shop.permanent_domain contains "cleanfreak" -%}
        <!-- TrustBox widget - Horizontal -->
        <div class="trustpilot-footer-contain trustpilot-horizontal">
          <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="48f26645000064000503cd0d" data-style-height="28px" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/www.cleanfreak.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
        </div>
        <!-- End TrustBox widget -->

        {% comment %}CleanFreak Contact Us area{% endcomment %}


        <div class="start-talk-area" id="start-talk-area" >
          <div class="start-talk-header-contain"><div class="start-talk-header"><h2>Talk with an Expert</h2></div></div>
          <div class="start-talk-footer-contain">
            <div class="talk-col talk-col-phone">
              <div class="talk-col-icon"><i class="fa-solid fa-phone"></i></div>
              <div class="talk-col-content">
                <div class="talk-col-heading">Give Us A Call</div>
                <div class="talk-col-text">Our team is available Mon-Fri,<br/>from 8AM - 5PM EST</div>
                <div class="talk-col-btn">
                  <a href="tel:8887225508" style="color:unset; text-decoration: none;" target="_blank" rel="noreferrer noopener"><button class="main-default-button thinbtn"><span class="atc-button--text">888-722-5508</span></button></a>
                </div>
              </div>
            </div>

            <div class="talk-col talk-col-messages">
              <div class="talk-col-icon"><i class="fa-regular fa-messages"></i></div>
              <div class="talk-col-content">
                <div class="talk-col-heading">Chat With Us</div>
                <div class="talk-col-text">Can't talk on the phone at the moment?<br/>We are also available to chat.</div>
                <div class="talk-col-btn">
                  {%- comment -%}<a href="XXXXXXXX" title="XXXXXXX"><button class="main-default-button thinbtn"><span class="atc-button--text">Chat Now</span></button></a>{%- endcomment -%}
                  <div data-id="eTfn5A8fCFQ" class="main-default-button thinbtn livechat_button"><a href="https://www.livechat.com/?utm_source=chat_button&utm_medium=referral&utm_campaign=lc_14667759"><span class="atc-button--text">live chat customer service</span></a></div>
                </div>
              </div>
            </div>

            <div class="talk-col talk-col-envelop">
              <div class="talk-col-icon"><i class="fa-solid fa-envelope"></i></div>
              <div class="talk-col-content">
                <div class="talk-col-heading">Submit A Question</div>
                <div class="talk-col-text">Not available to converse?<br/>Send us a question and we'll get back to you.</div>
                <div class="talk-col-btn">
                  <a href="/pages/contact" title="Contact Us"><button class="main-default-button thinbtn"><span class="atc-button--text">Submit Your Question</span></button></a>
                </div>
              </div>
            </div>

          </div>

        </div>
      {%- else -%}
        <div class="site-footer-item icon-bar">
          <div class="footer-icon-grid">
            <div class="footer-icon">
                <i class="fa-light fa-truck-fast"></i>
              <div class="footer-text">
                <strong>Flexible Shipping</strong><br/>
                Live cost calculator
              </div>
            </div>
            <div class="footer-icon">
              <i class="fa-light fa-box"></i>
              <div class="footer-text">
                <strong>Bundle + Save</strong><br/>
                Buying in bulk saves<br/> you time and money
              </div>
            </div>
            <div class="footer-icon">
              <i class="fa-light fa-tags"></i>
              <div class="footer-text">
                <strong>Amazing Value</strong><br/>
                We offer daily<br/> rotating sales
              </div>
            </div>
            <div class="footer-icon">
              <i class="fa-light fa-dollar-circle"></i>
              <div class="footer-text">
                <strong>Financing</strong><br/>
                Multiple payment<br/>methods available
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- if section.blocks.size -%}
      <div class="site-footer-item">
        <div class="site-footer-blocks column-count-{{ section.blocks.size }}">
          {%- for block in section.blocks -%}
                <div class="site-footer-block-item-wrapper">
                  {% render 'footer-block' with block as block %}
                </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <div class="site-footer-item">
      <div class="site-footer-information">
        <div class="site-footer-left">
          {%- comment -%}
          {% if linklists[section.settings.additional_menu].links != blank %}
            <nav
              class="site-footer-navigation"
              aria-label="{{ 'general.accessibility.nav_footer' | t }}"
            >
              {%
                render 'navlist',
                menu_list: linklists[section.settings.additional_menu].links,
                depth: 1,
                max_depth: 1,
                aria_expanded: true,
              %}
            </nav>
          {%- endif %}

          <p class="site-footer-credits">
            {% assign year = 'now' | date: '%Y' %}
            {{ 'footer.general.copyright_html' | t: year: year, shop_name: shop.name }}
          </p>

          <p class="site-footer-credits">
            {{ powered_by_link }}
          </p>
          {%- endcomment -%}
        </div>

        {%- assign country_selector = section.settings.show_currency_selector -%}
        {%- assign locale_selector = section.settings.show_locale_selector -%}

        {%- if section.settings.payment_icons or currency_selector or locale_selector -%}
          <div class="site-footer-right">
            {% comment %}Inject @pixelunion/shopify-cross-border/cross-border begin{% endcomment %}
            <div class="shopify-cross-border">
              {% if locale_selector and localization.available_languages.size > 1 %}
                {% comment %}Inject @pixelunion/shopify-cross-border/multi-language begin{% endcomment %}
                {% comment %} Generate a "random" number so ids are unique {% endcomment %}
                {% assign unique_id = "now" | date: "%N" | modulo: 1000 %}
                <noscript>
                  {%- form 'localization' -%}
                    <details class="disclosure">
                      <summary>
                        <span class="disclosure__toggle">
                          {{ form.current_locale.endonym_name | capitalize }}
                        </span>
                      </summary>
                      <div class="disclosure-list disclosure-list--visible">
                        {%- for locale in form.available_locales -%}
                          <div class="disclosure-list__item-wrapper disclosure-list__item">
                            <input
                              type="radio"
                              id="{{ locale.iso_code }}"
                              name="locale_code"
                              value="{{ locale.iso_code }}"
                              {% if locale.iso_code == form.current_locale.iso_code %}checked{% endif %}
                            >
                            <label class="disclosure-list__item--label" for="{{ locale.iso_code }}">{{ locale.endonym_name | capitalize }}</label>
                          </div>
                        {%- endfor -%}
                        <button class="disclosure__submit" type="submit">{{ 'general.language.submit_button_label' | t }}</button>
                      </div>
                    </details>
                  {%- endform -%}
                </noscript>

                {%- form 'localization' -%}
                  <div class="selectors-form__item selectors-form--no-js-hidden">
                    <div class="disclosure" data-disclosure-locale>
                      <h2 class="visually-hidden" id="lang-heading-{{ unique_id }}">
                        {{ 'general.language.dropdown_label' | t }}
                      </h2>

                      <button
                        type="button"
                        class="disclosure__toggle"
                        aria-expanded="false"
                        aria-controls="lang-list-{{ unique_id }}"
                        aria-describedby="lang-heading-{{ unique_id }}"
                        data-disclosure-toggle
                      >
                        {{ form.current_locale.endonym_name | capitalize }}
                      </button>
                      <ul id="lang-list-{{ unique_id }}" class="disclosure-list" data-disclosure-list>
                        {%- for locale in form.available_locales -%}
                          <li>
                            <a class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                              <span class="disclosure-list__option">{{ locale.endonym_name | capitalize }}</span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="locale_code" id="LocaleSelector-{{ unique_id }}" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                    </div>
                  </div>
                {%- endform -%}
                {% comment %}Inject @pixelunion/shopify-cross-border/multi-language end{% endcomment %}

              {%- endif -%}

              {%- if country_selector and localization.available_countries.size > 1 -%}
                {% comment %}Inject @pixelunion/shopify-cross-border/multi-country begin{% endcomment %}
                {% comment %} Generate a "random" number so ids are unique {% endcomment %}
                {%- assign unique_id = "now" | date: "%N" | modulo: 1000 -%}
                <noscript>
                  {%- form 'localization' -%}
                    <details class="disclosure">
                      <summary>
                        <span class="disclosure__toggle">
                          {{ localization.country.name }} ({{ localization.country.currency.iso_code }}{% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{% endif %})
                        </span>
                      </summary>
                      <div class="disclosure-list disclosure-list--visible">
                        {% for country in localization.available_countries %}
                          <div class="disclosure-list__item-wrapper disclosure-list__item">
                            <input
                              type="radio"
                              id="{{ country.iso_code }}"
                              name="country_code"
                              value="{{ country.iso_code }}"
                              {% if country.iso_code == localization.country.iso_code %}checked{% endif %}
                            >
                            <label class="disclosure-list__item--label" for="{{ country.iso_code }}">{{ country.name }} ({{ country.currency.iso_code }}{%- if country.currency.symbol -%} {{ country.currency.symbol }}{%- endif -%})</label>
                          </div>
                        {% endfor %}
                        <button class="disclosure__submit" type="submit">{{ 'general.country.submit_button_label' | t }}</button>
                      </div>
                    </details>
                  {%- endform -%}
                </noscript>

                {%- form 'localization' -%}
                  <div class="selectors-form__item selectors-form--no-js-hidden">
                    <div class="disclosure" data-disclosure-country>
                      <h2 class="visually-hidden" id="country-heading-{{ unique_id }}">
                        {{ 'general.country.dropdown_label' | t }}
                      </h2>

                      <button
                        type="button"
                        class="disclosure__toggle"
                        aria-expanded="false"
                        aria-controls="country-list-{{ unique_id }}"
                        aria-describedby="country-heading-{{ unique_id }}"
                        data-disclosure-toggle
                      >
                        {{ localization.country.name }}
                        <span class="disclosure-list__option-code">
                          ({{ localization.country.currency.iso_code }}
                          {% if localization.country.currency.symbol %} {{ localization.country.currency.symbol }}{% endif %})
                        </span>
                      </button>
                      <ul id="country-list-{{ unique_id }}" class="disclosure-list" data-disclosure-list>
                        {%- for country in localization.available_countries -%}
                          <li>
                            <a class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                              <span class="disclosure-list__option">{{ country.name }}</span>
                              <span class="disclosure-list__option-code">
                                ({{ country.currency.iso_code }}
                                {% if country.currency.symbol %} {{ country.currency.symbol }}{%- endif -%})
                              </span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="country_code" id="CountrySelector-{{ unique_id }}" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                    </div>
                  </div>
                {%- endform -%}
                {%- comment -%}Inject @pixelunion/shopify-cross-border/multi-country end{%- endcomment -%}

              {%- endif -%}
            </div>
            {%- comment -%}Inject @pixelunion/shopify-cross-border/cross-border end{%- endcomment -%}

            {% if section.settings.payment_icons and shop.enabled_payment_types.size > 0 %}
              <ul class="payment-icons">
                {% for type in shop.enabled_payment_types %}
                  <li class="payment-icons-item">
                    {{ type | payment_type_svg_tag }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {%- endif -%}
      </div>
    </div>
    <hr>
    <div class="display: block;text-align: center">
      <span class="copy" style="display: block;text-align: center;font-size: 15px;color: #303e48;">Copyright © {{ "now" | date: "%Y" }} {{ shop.name }}, All Rights Reserved.</span>
    </div>
  </section>
</footer>



<div class="popup-container hidden">
  <div class="close-pop" onclick="event.stopPropagation(); closechildPop('bund-pop-{{ all_products[bundlep].id }}')">{%- render 'icon-menu-close' -%}</div>
  <div class="content"></div>
</div>
<script>
  function closechildPop(el){
    jQuery(".popup-container").removeClass('widepop');
    jQuery(".popup-container").addClass('hidden');
    jQuery(".pop-grad").addClass('hidden');
    jQuery(".popup-container .content").html('');
    setTimeout(() => {
      jQuery(".close-pop.sf-off").removeClass('sf-off');
    }, "500");
  }

  {% comment %}add sf to notes on quick quotes when url has ?page=accept "{% endcomment %}
  {%- if canonical_url contains "/apps/request-quote" -%}
  $(document).ready(function() {

    if (window.location.href.indexOf("/apps/request-quote?page=request") > -1) {
      setTimeout(function(){
        if($('#cart-empty h2').text().indexOf('Your cart is empty') > -1 ){
          var emptyInstruction = '<div>';
          emptyInstruction += '<div>To get started on your quote:</div>';
          emptyInstruction += '<ul>';
          emptyInstruction += '<li>Step 1 - Add the items you are interested in to your cart.</li>';
          emptyInstruction += '<li>Step 2 - Scroll down to the footer of the cart and click the Request a Quote button.</li>';
          emptyInstruction += '</ul>';
          emptyInstruction += ' <img style="border: 1px solid #ccc; max-width: 1000px; width:100%" src="https://cdn.shopify.com/s/files/1/0624/3270/6740/files/quote-request.jpg?v=1729104851" alt="Request a Quote Location">';
          emptyInstruction += '</div>';


          $('#cart-empty').append(emptyInstruction);
        }
      }, 2000);
    }else if (window.location.href.indexOf("/apps/request-quote?page=accept&note=sf") > -1) {
      $('#pnlQuote').prepend("<div class='waitblock' style='border-bottom:1px solid #303e48; padding:5px 10px;'><i class='fa-solid fa-hourglass-start'></i> Please wait... </div>")

      setTimeout(function(){
        var note_box = $('#quote-txt-comment');
        var note_send = $('#send-comment');
        var quote_comments = $('#quote-comments p');
        var superfreak_note = "Please add SuperFreak to this quote.";
        var run_sf_add = 1;
        var show_confirm_note = 1;

        // check if superfreak note is there already
        quote_comments.each(function () {
          if ($(this).text() == superfreak_note) {
            run_sf_add = 0;
          }
        });

        // check if cf is in quote already
        $(".qq-product-col .item-title").each(function () {
          if($(this).text().indexOf('SuperFreak') > -1 ){
            show_confirm_note = 0;
          }
        });

        if(show_confirm_note == 1 && run_sf_add == 0){
          $('.waitblock').hide();
          $('#quote-bottom-buttons').hide();
          $('#pnlQuote').prepend("<div style='border-bottom:1px solid #303e48; padding:5px 10px;'><i class='fa-sharp fa-regular fa-notebook'></i> Thank you for your reply! A customer service representative will update your quote and notify you when it has been updated.</div>")
        }else if(run_sf_add == 1){
          // check for comment before adding comment
          note_box.val(superfreak_note);
          $('#send-comment').click();
          $('#quote-bottom-buttons').hide();

        }else{
          $('.waitblock').hide();
        }

      }, 2000);
    }
  });
  {%- endif -%}



</script>
<div class="pop-grad hidden"></div>
{%
        render 'finance-pop'
%}

{% style %}
  .footer-icon-grid {
    display: flex;
    justify-content: space-between;
    padding: 26px 37px;
    flex-wrap: wrap;
    border-radius: 65px;
    background: linear-gradient(298.47deg, #F3F6F9 0%, #E5E8EF 100%);
    margin-bottom: 30px;
    gap: 40px 20px;
    position: relative;
  }

  .footer-icon {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-icon svg {
    height: 40px;
    width: 50px;
    color: {{ settings.colors.icons }};
  }

  .footer-text {
    color: {{ settings.color_dark_gray }};
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 1024px){
    .footer-icon-grid:before {
      content: '';
      position: absolute;
      background: {{ settings.colors.section_background }};
      width: 1px;
      height: calc(100% - 20px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .footer-icon-grid:after {
      content: '';
      position: absolute;
      background: {{ settings.colors.section_background }};
      width: calc(100% - 20px);
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }
    .site-footer-block-social-accounts{
      text-align: center;
    }
  }
  @media (min-width: 1024px){
    .footer-icon-grid {
      display: flex;
      justify-content: space-between;
      padding: 26px 54px;
      border-radius: 65px;
      background: linear-gradient(298.47deg, #F3F6F9 0%, #E5E8EF 100%);
      margin-bottom: 65px;
    }

    .footer-icon {
      flex-basis: 22%;
      display: flex;
      gap: 20px;
      flex-direction: row;
      align-items: center;
    }

    .footer-icon svg {
      height: 40px;
      width: 50px;
      color:  {{ settings.colors.icons }};
    }

    .footer-text {
      color:  {{ settings.colors.text }};
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }

{% endstyle %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 7,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "payment_icons",
      "label": "t:sections.footer.payment_icons.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.footer.header_2.content",
      "info": "t:sections.footer.header_2.info"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.show_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.header_3.content",
      "info": "t:sections.footer.header_3.info"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.show_currency_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.header_4.content"
    },
    {
      "type": "link_list",
      "id": "additional_menu",
      "label": "t:sections.footer.additional_menu.label",
      "default": "footer",
      "info": "t:sections.footer.additional_menu.info"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.menu.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.menu.menu.label",
          "default": "main-menu",
          "info": "t:sections.footer.blocks.menu.menu.info"
        }
      ]
    },
    {
      "type": "rich_text",
      "name": "t:sections.footer.blocks.rich_text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.rich_text.title.label",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.rich_text.text.label",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ]
    },
    {
      "type": "social_accounts",
      "name": "t:sections.footer.blocks.social_accounts.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.social_accounts.paragraph_1.content"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.newsletter.title.label",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.newsletter.text.label",
          "default": "<p>Invite customers to join your mailing list.</p>"
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom Liquid",
      "limit": 1,
      "settings": [
      {
        "type": "liquid",
        "id": "custom_liquid",
        "label": "Custom Liquid",
        "info": "Custom Liquid"
      }
      ]
    }
  ],
  "default": {
    "settings": {
      "additional_menu": "footer"
    },
    "blocks": [
      {
        "type": "menu",
        "settings": {
        }
      },
      {
        "type": "newsletter",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}