<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-footer">
</script>

<footer role="contentinfo" aria-label="Footer">
  <section class="site-footer-wrapper">
    <div class="site-footer-item icon-bar">
      <div class="footer-icon-grid">
        <div class="footer-icon">
            <i class="fa-light fa-truck-fast"></i>
          <div class="footer-text">
            <strong>Flexible Shipping</strong><br/>
            Live cost calculator
          </div>
        </div>
        <div class="footer-icon">
          <i class="fa-light fa-box"></i>
          <div class="footer-text">
            <strong>Bundle + Save</strong><br/>
            Buying in bulk saves<br/> you time and money
          </div>
        </div>
        <div class="footer-icon">
          <i class="fa-light fa-tags"></i>
          <div class="footer-text">
            <strong>Amazing Value</strong><br/>
            We offer daily<br/> rotating sales
          </div>
        </div>
        <div class="footer-icon">
          <i class="fa-light fa-dollar-circle"></i>
          <div class="footer-text">
            <strong>Financing</strong><br/>
            Multiple payment<br/>methods available
          </div>
        </div>
      </div>
    </div>
    {%- if section.blocks.size -%}
      <div class="site-footer-item">
        <div class="site-footer-blocks column-count-{{ section.blocks.size }}">
          {%- for block in section.blocks -%}
                <div class="site-footer-block-item-wrapper">
                  {% render 'footer-block' with block as block %}
                </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <div class="site-footer-item">
      <div class="site-footer-information">
        <div class="site-footer-left">
          {%- comment -%}
          {% if linklists[section.settings.additional_menu].links != blank %}
            <nav
              class="site-footer-navigation"
              aria-label="{{ 'general.accessibility.nav_footer' | t }}"
            >
              {%
                render 'navlist',
                menu_list: linklists[section.settings.additional_menu].links,
                depth: 1,
                max_depth: 1,
                aria_expanded: true,
              %}
            </nav>
          {%- endif %}

          <p class="site-footer-credits">
            {% assign year = 'now' | date: '%Y' %}
            {{ 'footer.general.copyright_html' | t: year: year, shop_name: shop.name }}
          </p>

          <p class="site-footer-credits">
            {{ powered_by_link }}
          </p>
          {%- endcomment -%}
        </div>

        {%- assign country_selector = section.settings.show_currency_selector -%}
        {%- assign locale_selector = section.settings.show_locale_selector -%}

        {%- if section.settings.payment_icons or currency_selector or locale_selector -%}
          <div class="site-footer-right">
            {% comment %}Inject @pixelunion/shopify-cross-border/cross-border begin{% endcomment %}
            <div class="shopify-cross-border">
              {% if locale_selector and localization.available_languages.size > 1 %}
                {% comment %}Inject @pixelunion/shopify-cross-border/multi-language begin{% endcomment %}
                {% comment %} Generate a "random" number so ids are unique {% endcomment %}
                {% assign unique_id = "now" | date: "%N" | modulo: 1000 %}
                <noscript>
                  {%- form 'localization' -%}
                    <details class="disclosure">
                      <summary>
                        <span class="disclosure__toggle">
                          {{ form.current_locale.endonym_name | capitalize }}
                        </span>
                      </summary>
                      <div class="disclosure-list disclosure-list--visible">
                        {%- for locale in form.available_locales -%}
                          <div class="disclosure-list__item-wrapper disclosure-list__item">
                            <input
                              type="radio"
                              id="{{ locale.iso_code }}"
                              name="locale_code"
                              value="{{ locale.iso_code }}"
                              {% if locale.iso_code == form.current_locale.iso_code %}checked{% endif %}
                            >
                            <label class="disclosure-list__item--label" for="{{ locale.iso_code }}">{{ locale.endonym_name | capitalize }}</label>
                          </div>
                        {%- endfor -%}
                        <button class="disclosure__submit" type="submit">{{ 'general.language.submit_button_label' | t }}</button>
                      </div>
                    </details>
                  {%- endform -%}
                </noscript>

                {%- form 'localization' -%}
                  <div class="selectors-form__item selectors-form--no-js-hidden">
                    <div class="disclosure" data-disclosure-locale>
                      <h2 class="visually-hidden" id="lang-heading-{{ unique_id }}">
                        {{ 'general.language.dropdown_label' | t }}
                      </h2>

                      <button
                        type="button"
                        class="disclosure__toggle"
                        aria-expanded="false"
                        aria-controls="lang-list-{{ unique_id }}"
                        aria-describedby="lang-heading-{{ unique_id }}"
                        data-disclosure-toggle
                      >
                        {{ form.current_locale.endonym_name | capitalize }}
                      </button>
                      <ul id="lang-list-{{ unique_id }}" class="disclosure-list" data-disclosure-list>
                        {%- for locale in form.available_locales -%}
                          <li>
                            <a class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                              <span class="disclosure-list__option">{{ locale.endonym_name | capitalize }}</span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="locale_code" id="LocaleSelector-{{ unique_id }}" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                    </div>
                  </div>
                {%- endform -%}
                {% comment %}Inject @pixelunion/shopify-cross-border/multi-language end{% endcomment %}

              {%- endif -%}

              {%- if country_selector and localization.available_countries.size > 1 -%}
                {% comment %}Inject @pixelunion/shopify-cross-border/multi-country begin{% endcomment %}
                {% comment %} Generate a "random" number so ids are unique {% endcomment %}
                {%- assign unique_id = "now" | date: "%N" | modulo: 1000 -%}
                <noscript>
                  {%- form 'localization' -%}
                    <details class="disclosure">
                      <summary>
                        <span class="disclosure__toggle">
                          {{ localization.country.name }} ({{ localization.country.currency.iso_code }}{% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{% endif %})
                        </span>
                      </summary>
                      <div class="disclosure-list disclosure-list--visible">
                        {% for country in localization.available_countries %}
                          <div class="disclosure-list__item-wrapper disclosure-list__item">
                            <input
                              type="radio"
                              id="{{ country.iso_code }}"
                              name="country_code"
                              value="{{ country.iso_code }}"
                              {% if country.iso_code == localization.country.iso_code %}checked{% endif %}
                            >
                            <label class="disclosure-list__item--label" for="{{ country.iso_code }}">{{ country.name }} ({{ country.currency.iso_code }}{%- if country.currency.symbol -%} {{ country.currency.symbol }}{%- endif -%})</label>
                          </div>
                        {% endfor %}
                        <button class="disclosure__submit" type="submit">{{ 'general.country.submit_button_label' | t }}</button>
                      </div>
                    </details>
                  {%- endform -%}
                </noscript>

                {%- form 'localization' -%}
                  <div class="selectors-form__item selectors-form--no-js-hidden">
                    <div class="disclosure" data-disclosure-country>
                      <h2 class="visually-hidden" id="country-heading-{{ unique_id }}">
                        {{ 'general.country.dropdown_label' | t }}
                      </h2>

                      <button
                        type="button"
                        class="disclosure__toggle"
                        aria-expanded="false"
                        aria-controls="country-list-{{ unique_id }}"
                        aria-describedby="country-heading-{{ unique_id }}"
                        data-disclosure-toggle
                      >
                        {{ localization.country.name }}
                        <span class="disclosure-list__option-code">
                          ({{ localization.country.currency.iso_code }}
                          {% if localization.country.currency.symbol %} {{ localization.country.currency.symbol }}{% endif %})
                        </span>
                      </button>
                      <ul id="country-list-{{ unique_id }}" class="disclosure-list" data-disclosure-list>
                        {%- for country in localization.available_countries -%}
                          <li>
                            <a class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                              <span class="disclosure-list__option">{{ country.name }}</span>
                              <span class="disclosure-list__option-code">
                                ({{ country.currency.iso_code }}
                                {% if country.currency.symbol %} {{ country.currency.symbol }}{%- endif -%})
                              </span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <input type="hidden" name="country_code" id="CountrySelector-{{ unique_id }}" value="{{ localization.country.iso_code }}" data-disclosure-input/>
                    </div>
                  </div>
                {%- endform -%}
                {%- comment -%}Inject @pixelunion/shopify-cross-border/multi-country end{%- endcomment -%}

              {%- endif -%}
            </div>
            {%- comment -%}Inject @pixelunion/shopify-cross-border/cross-border end{%- endcomment -%}

            {% if section.settings.payment_icons and shop.enabled_payment_types.size > 0 %}
              <ul class="payment-icons">
                {% for type in shop.enabled_payment_types %}
                  <li class="payment-icons-item">
                    {{ type | payment_type_svg_tag }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {%- endif -%}
      </div>
    </div>
    <hr>
    <div class="display: block;text-align: center">
      <span class="copy" style="display: block;text-align: center;font-size: 15px;color: #303e48;">Copyright © {{ "now" | date: "%Y" }} {{ shop.name }}, All Rights Reserved.</span>
    </div>
  </section>
</footer>
<div class="popup-container hidden">
  <div class="close-pop" onclick="event.stopPropagation(); closechildPop('bund-pop-{{ all_products[bundlep].id }}')"><span></span></div>
  <div class="content"></div>
</div>
<script>
  function closechildPop(el){
    jQuery(".popup-container").removeClass('widepop');
    jQuery(".popup-container").addClass('hidden');
    jQuery(".pop-grad").addClass('hidden');
    jQuery(".popup-container .content").html('');
    setTimeout(() => {
      jQuery(".close-pop.sf-off").removeClass('sf-off');
    }, "500");
  }
</script>
<div class="pop-grad hidden"></div>
{%
        render 'finance-pop'
%}

{% style %}
  .footer-icon-grid {
    display: flex;
    justify-content: space-between;
    padding: 26px 37px;
    flex-wrap: wrap;
    border-radius: 65px;
    background: linear-gradient(298.47deg, #F3F6F9 0%, #E5E8EF 100%);
    margin-bottom: 30px;
    gap: 40px 20px;
    position: relative;
  }

  .footer-icon {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-icon svg {
    height: 40px;
    width: 50px;
    color: {{ settings.colors.icons }};
  }

  .footer-text {
    color: {{ settings.color_dark_gray }};
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 1024px){
    .footer-icon-grid:before {
      content: '';
      position: absolute;
      background: {{ settings.colors.section_background }};
      width: 1px;
      height: calc(100% - 20px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .footer-icon-grid:after {
      content: '';
      position: absolute;
      background: {{ settings.colors.section_background }};
      width: calc(100% - 20px);
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }
    .site-footer-block-social-accounts{
      text-align: center;
    }
  }
  @media (min-width: 1024px){
    .footer-icon-grid {
      display: flex;
      justify-content: space-between;
      padding: 26px 54px;
      border-radius: 65px;
      background: linear-gradient(298.47deg, #F3F6F9 0%, #E5E8EF 100%);
      margin-bottom: 65px;
    }

    .footer-icon {
      flex-basis: 22%;
      display: flex;
      gap: 20px;
      flex-direction: row;
      align-items: center;
    }

    .footer-icon svg {
      height: 40px;
      width: 50px;
      color:  {{ settings.colors.icons }};
    }

    .footer-text {
      color:  {{ settings.colors.text }};
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }

{% endstyle %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 7,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "payment_icons",
      "label": "t:sections.footer.payment_icons.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.footer.header_2.content",
      "info": "t:sections.footer.header_2.info"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.show_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.header_3.content",
      "info": "t:sections.footer.header_3.info"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.show_currency_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.header_4.content"
    },
    {
      "type": "link_list",
      "id": "additional_menu",
      "label": "t:sections.footer.additional_menu.label",
      "default": "footer",
      "info": "t:sections.footer.additional_menu.info"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.menu.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.menu.menu.label",
          "default": "main-menu",
          "info": "t:sections.footer.blocks.menu.menu.info"
        }
      ]
    },
    {
      "type": "rich_text",
      "name": "t:sections.footer.blocks.rich_text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.rich_text.title.label",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.rich_text.text.label",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ]
    },
    {
      "type": "social_accounts",
      "name": "t:sections.footer.blocks.social_accounts.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.social_accounts.paragraph_1.content"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.newsletter.title.label",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.newsletter.text.label",
          "default": "<p>Invite customers to join your mailing list.</p>"
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom Liquid",
      "limit": 1,
      "settings": [
      {
        "type": "liquid",
        "id": "custom_liquid",
        "label": "Custom Liquid",
        "info": "Custom Liquid"
      }
      ]
    }
  ],
  "default": {
    "settings": {
      "additional_menu": "footer"
    },
    "blocks": [
      {
        "type": "menu",
        "settings": {
        }
      },
      {
        "type": "newsletter",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}