{% if section.settings.show_product_recommendations %}
  {% assign product_limit = 10 %}

  <script
          type="application/json"
          data-section-type="static-product-recommendations"
          data-section-id="{{ section.id }}"
          data-section-data
  >
{
  "settings": {
    "limit": {{ product_limit }}
  },
    "productId": {{ product.id | json }},
    "sectionId": {{ section.id | json }}
}
  </script>
  {%- capture section_type -%}
    static-collection-slider
  {%- endcapture -%}


  <script
          type="application/json"
          data-section-type="{{ section_type | strip }}"
          data-section-id="{{ section.id }}"
          data-section-data
  >

  </script>
  <section
          {% comment %}
        class="product-section--container product-row--container product-recommendations--container"
        {% endcomment %}
          data-html
          data-product-recommendations
          id="similar-products"
  >
    <div class="container">
      <h2 class="product-section--title product-recommendations--title">
        {{ section.settings.product_recommendations_heading }}
      </h2>
      <div class="similar-p-slides" id="sim-slds">
        {% assign noProducts = true %}
        {% if product.metafields.plytix.related_products != blank %}
          {% assign related_products = product.metafields.plytix.related_products | split: "," %}
          {%- for product in  related_products -%}
            {%- assign product_handle = product |  strip -%}
            {%- if product_handle != 'undefined' and all_products[product_handle].title != '' %}
                            {% assign noProducts = false %}
                            {% assign item = all_products[product_handle] %}
                            {%
                                    render 'product-slider-item',
                                    product: item
                            %}
            {% endif %}
          {%- endfor -%}
        {% endif %}

        {% if noProducts == true %}
          {% comment %}
          {%- for product in recommendations.products -%}
                            {% assign item = all_products[product] %}
                            {%
                                    render 'product-slider-item',
                                    product: item
                            %}

          {%- endfor -%}
          {% endcomment %}
          {% comment %}CF: Load top 8 products in the all category if the product doesn't have any related{% endcomment %}
          {% assign products = collections.all.products  %}
          {% assign filtered_products = products %}
          {%- for item in  filtered_products limit: 8 -%}
            {%- assign item = all_products[item] -%}
                  {%
                        render 'product-slider-item',
                        product: item
                %}
          {%- endfor -%}
        {% endif %}
      </div>
      <div id="sim-slide-arrows"></div>
    </div>
  </section>

{% endif %}


{% schema %}
{
  "name": "t:sections.product_recommendations.name",
  "class": "product-recommendations--section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "t:sections.product_recommendations.show_product_recommendations.label",
      "info": "t:sections.product_recommendations.show_product_recommendations.info",
      "default": true
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "t:sections.product_recommendations.product_recommendations_heading.label",
      "default": "You may also like"
    }
  ]
}
{% endschema %}
