{% layout none %}
{% assign productObj =  all_products[product] %}
{% assign productFirstVar = product.first_available_variant %}
{% assign variations = 0 %}

{% for variant in product.variants %}
    {% assign variations = variations | plus: 1 %}
{% endfor %}


{% assign padDesciption = "" %}
{% assign padImg = "" %}

{% case productFirstVar.metafields.plytix.color %}
    {% when 'Red' %}
        {% assign padDesciption = "For light buffing to remove dirt, produces a high gloss shine." %}
        {% assign padImg = "pad-page-red.png" %}
    {% when 'Blue' %}
        {% assign padDesciption = "Removes dirt/scuff marks from heavily soiled floors." %}
        {% assign padImg = "pad-page-blue.png" %}
    {% when 'Green' %}
        {% assign padDesciption = "For heavy duty scrubbing or light stripping." %}
        {% assign padImg = "pad-page-green.png" %}
    {% when 'White' %}
        {% assign padDesciption = "Extra fine pad for polishing clean dry floors. For soft finishes and low traffic areas." %}
        {% assign padImg = "pad-page-white.png" %}
    {% when 'Brown' %}
        {% assign padDesciption = "Removes dirt and old finishes. For wet or dry stripping. Slightly less aggressive than black pads." %}
        {% assign padImg = "pad-page-brown.png" %}
    {% when 'Black' %}
        {% assign padDesciption = "Removes dirt and old finishes. For wet stripping only. More aggressive than brown pads." %}
        {% assign padImg = "pad-page-black.png" %}
{% endcase %}

<td class="pad-color">
    <a href="/products/{{ product.handle }}"><strong>{{ productFirstVar.metafields.plytix.color }}</strong></a>
</td>
<td class="pad-image" data-pad-title>
    <a href="/products/{{ product.handle }}">
        {{ product.featured_image | img_url: '40x40' | img_tag: product.featured_image.alt }}
        {% comment %}
        <img style="padding:2px 5px;" src="{{ padImg | file_img_url }}" alt=" {{ product.title | escape }}" ></a>
        {% endcomment %}
</td>
{% comment %}
<td class="case-qty">
    <a href="/products/{{ product.handle }}"><span class="padCase">{{ productFirstVar.metafields.plytix.qty_per_carton |  floor }}</span><br/><span class="perCase">per case</span></a>
</td>
{% endcomment %}
<td class="pad-desciption">
    <a href="/products/{{ product.handle }}">{{ padDesciption }}</a>
</td>
<td class="pad-price">
    {% if variations == 1 %}
    <a href="/products/{{ product.handle }}"><span class="single-price">{{ productFirstVar.price | money }}</span></a>
    {% endif %}
</td>
<td><a href="/products/{{ product.handle }}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
{% comment %}
<td class="pad-atc">
    <a href="/products/{{ product.handle }}"><button class="button-secondary">View Details</button></a>
</td>
{% endcomment %}


