{% layout none %}
{% assign productObj =  all_products[product] %}
{% assign productFirstVar = product.selected_or_first_available_variant %}
{% assign variations = 0 %}

{% assign crawlcheck = false %}
{% assign discontinued = false %}
{% for c in all_products[product.handle].collections %}
    {{ c.handle }}
    {% if c.handle == "discontinued" %}
        {% assign discontinued = true %}
        {% comment %}{% assign crawlcheck = true %}{% endcomment %}
    {% endif %}
{% endfor %}
{% if crawlcheck == true %}
    <tr style="display:none;" class="crawlcheck crawlcheck-related"><td><!-- check product that is supposed to be here for discontinued or broken handle ({{ product_handle }})--></td></tr>
{% endif %}
{% for variant in product.variants %}
    {% assign variations = variations | plus: 1 %}
{% endfor %}
<td>
    <a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')" >{{ productFirstVar.sku }}</a>
</td>
        <td class="chem-image" >
            <a href="/products/{{ product.handle }}">{{ product.featured_image | img_url: '40x40' | img_tag: product.featured_image.alt }}</a>
        </td>
{% if product.metafields.plytix.short_title %}
    <td class="parts-title" data-part-title ><a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')">{{ product.metafields.plytix.short_title }}</a></td>
{% else %}
        <td class="parts-title" data-part-title ><a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')">{{ product.title }}</a></td>
{% endif %}
        <td class="chem-price">
            {% if product.metafields.plytix.package_products %}
                 {% if product.metafields.plytix.bundle_pricing %}
                     <a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')"><span class="single-price">{{ product.metafields.plytix.bundle_pricing | times: 100 | money}}</span></a>
                 {% else %}
                     <a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')"><span class="single-price">View Product for Pricing</span></a>
                 {% endif %}
            {% else %}
                <a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')">
                    {% if discontinued == true %}
                        <span class="single-price">Discontinued</span></a>
                    {% else %}
                        <span class="single-price">{{ productFirstVar.price | money }}</span></a>
                    {% endif %}
            {% endif %}
        </td>
<td class="link-icon" ><a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
        {% comment %}<td class="chem-atc">{% endcomment %}
            {% comment %}<a href="/products/{{ product.handle }}"><button class="button-secondary">View Details</button></a>{% endcomment %}
        {% comment %}</td>{% endcomment %}



