{% layout none %}
{% assign productObj =  all_products[product] %}
{% assign productFirstVar = product.first_available_variant %}
{% assign variations = 0 %}
<table><tr>
    {% assign crawlcheck = false %}
    {% for c in all_products[product_handle].collections %}
        {% if c.handle == "discontinued" %}
            {% assign crawlcheck = true %}
        {% endif %}
    {% endfor %}
    {% if crawlcheck == true %}
        <div style="display:none;" class="crawlcheck crawlcheck-bundle-par"><!-- check product that is supposed to be here for discontinued or broken handle ({{ product_handle }})--></div>
    {% endif %}
    {% for variant in product.variants %}
        {% assign variations = variations | plus: 1 %}
    {% endfor %}


    <td class="inbundle-image">
        <a href="/products/{{ product.handle }}">{{ product.featured_image | img_url: '100x1000' | img_tag: product.featured_image.alt }}</a>
    </td>
    <td class="inbundle-content">

        <div class="inbundle-desc">
            {% if product.metafields.plytix.packaged_free_product %}
                {% assign fgtotal = 0 %}
                {%- assign freeproducts = product.metafields.plytix.packaged_free_product | split: "," %}
                {% for freeprod in freeproducts %}
                    {% assign attr = freeprod | split: "#" %}
                    {%- assign freeproduct = attr[0] | strip %}
                    {% assign fpkgqnty = attr[1] %}
                    {% comment %}{{ freeproduct }}/{{ fpkgqnty }}/{{ all_products[freeproduct].price | times: fpkgqnty | money }}<br/>{% endcomment %}
                    {% assign thisfgtotal = all_products[freeproduct].price | times: fpkgqnty %}
                    {% assign fgtotal = fgtotal | plus: thisfgtotal %}
                {% endfor %}
                {% capture fgtotaltext %}
                    <span class="fgtotal">Includes <span>{{ fgtotal | money }}</span> in Free Gifts!</span>
                {% endcapture %}
            {% endif %}

            {{ product.metafields.plytix.bundle_description }}<br/>{{ fgtotaltext }}
        </div>
        {% if product.metafields.plytix.short_title %}
            <div class="inbundle-title" data-bundle-title ><a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')">{{ product.metafields.plytix.short_title }}</a></div>
        {% else %}
            <div class="inbundle-title" data-bundle-title ><a href="/products/{{ product.handle }}" onclick="linkdl('Product Page','Parts','/products/{{ product.handle }}')">{{ product.title }}</a></div>
        {% endif %}
    </td>
    </tr></table>